[2021-12-16 10:35] MichZem commented on #2267
Seems  similar to  https://github.com/telepresenceio/telepresence/issues/1501 (MacOS Big Sur inject-tcp method does not work) but I dont find any workaround

My OS version is Mac Bis Sur 11.6.2

[2021-12-21 09:35] TsubasaEX commented on #1182
Same issue with a broken internet after telepresence connect. Can't curl google.com too.
The OS is ubuntu 18.04 and connecting to GKE.
Attached `connector.log` and `daenom.log`  with debug level here for reference.
[connector.log](https://github.com/telepresenceio/telepresence/files/7751183/connector.log)
[daemon.log](https://github.com/telepresenceio/telepresence/files/7751184/daemon.log)

[2021-12-21 20:09] JCzz opened #2270 "telepresence: error: remote volume mounts are disabled: sshfs is not installed on your local machine"
telepresence  arm64 MacOs 12.1 version
[code]

Mount not working
[code]

Tried installing MAcFusion
Manually from: https://osxfuse.github.io
brew:  brew install macFUSE

Do you know how to get this working?

Thanks - Telepresence is awesome

[2021-12-22 12:52] thallgren commented on #2270
You need to install `gromgit/fuse/sshfs-mac`. Take a look at our [troubleshooting guide](https://www.telepresence.io/docs/latest/troubleshooting/) under heading "Volume mounts are not working on macOS".

Feel free to reopen if that doesn't solve your problem.

[2021-12-22 12:52] #2270 closed, assigned to nobody

[2021-12-22 12:55] thallgren commented on #2264
@beyonderyue you made a mistake with the upload. The link to the logs just point right back to this ticket.

[2021-12-22 12:56] thallgren commented on #2264
How does navicat connect to mysql? What URL does it use?

[2021-12-22 13:02] thallgren commented on #2262
I can't see why it shouldn't be compatible. Have you tried using it?

This issue tracker intended for bug reports and feature requests. If you have questions about Telepresence, I recommend you to use our [Slack](https://a8r.io/slack).

[2021-12-22 13:02] #2262 closed, assigned to nobody

[2021-12-22 13:10] thallgren commented on #2258
Can you reach the service from your workstation using `curl api-gateway.art-flex-apps` when telepresence is connected but not intercepting?

[2021-12-23 08:48] TsubasaEX opened #2271 "telepresence: error: connection error: desc = "transport: error while dialing"
**Describe the bug**
telepresence: error: connection error: desc = "transport: error while dialing

**To Reproduce**
Steps to reproduce the behavior:
1. telepresence connect
2. telepresence status

**
Ububtu 18.04
Telepresence v2.4.9

[2021-12-23 11:34] sneko commented on #1705
Hi @rytswd ,

Did you manage Telepresence `v2` with Istio when mTLS communication is enabled? When doing some tests (like `curl -sSL -D - http://aaa.bbb/hello`) I directly get:
[code]

Having the team thoughts about Istio would be valuable (cc @khussey @thallgren @ark3 ). For now I think I will stick to the `v1` otherwise.

Thank you,

[2021-12-23 11:41] sneko commented on #1649
Just here to say I'm also concerned by this with `Telepresence v2.4.9` (mentioned this in an issue asking for Istio support https://github.com/telepresenceio/telepresence/issues/1705#issuecomment-1000243251).

Did someone find a work around since then?

Thank you,

[2021-12-23 11:46] sneko commented on #1945
@YamenSarah I'm also having mTLS enabled with Istio.

Did you give up Telepresence, or you managed that (if so, could we have the solution please)?

Thank you,

[2021-12-23 12:58] thallgren commented on #1705
Closing this because Telepresence has been proven to work just fine together with Istio. It's a misconseption that we're trying to do what Istio does. We don't have a conflict with an existing Istio installation.

[2021-12-23 12:58] #1705 closed

[2021-12-23 15:39] rytswd commented on #1705
@sneko
I have to admit that I haven't had the time to experiment this actually - but the error you got is exactly the concern I had. Also, having multiple sidecars for traffic routing seems to be asking for more trouble.

@thallgren
My apologies for not making my intention clear, but I was mainly asking to get some clarification on integration possibilities and potential conflicts with other Servi

[2021-12-23 16:55] thallgren commented on #1705
@rytswd No, that's not right.

You shouldn't need to update anything with Istio in order to use TP2, except for the namespace configuration if you choose to install the traffic manager in a namespace that hasn't been configured already, and if Istio is blocking port, you'll need to allow the pods to contact the traffic-manager on port 8081. The clients (the workstations) must be able to do port-fo

[2021-12-23 17:02] thallgren commented on #1705
@rytswd our sidecar does not aspire to be a service mesh. It's redirecting intercepted traffic to/from workstations based on a set of rules that vary depending on who's intercepting. It provides the workstation with a correct environment and also sets up an sftp server in the pod so that the workstation can mount file-systems exposed by the intercepted container. It ensures that DNS resolution ori

[2021-12-23 17:06] thallgren commented on #1705
Also worth noting. Apart from what goes on in our gRPC, we don't route traffic outside the pod at all. We route using ports on localhost.

[2021-12-23 18:02] rytswd commented on #1705
@thallgren
Thanks for the detailed info, those are great to know! Upon reading the blog post about v2 release and new architecture document, I originally got the impression that the v2 architecture was akin to Service Mesh solutions especially around intercepting traffic. With your explanations, I understand what role Telepresence sidecars play - SFTP server is certainly not a part of the picture

[2021-12-23 18:17] thallgren commented on #1705
Thanks. I agree that we need to provide more info on our architecture and how it works together with service meshes. I'll look into that.

[2021-12-24 06:03] TsubasaEX commented on #2271
Closed this, should be duplicated with #2247.

[2021-12-24 06:03] #2271 closed, assigned to nobody

[2021-12-24 12:04] pencilkill commented on #1795
+1

[2021-12-27 00:49] beyonderyue commented on #2264
I use the service IP address or internal domain name.

[2021-12-28 15:47] scottillogical opened #2272 "specifying --context to connect causes Cluster configuration changed error"
This bug concerns how telepresence handles reading the kubectl context

Currently our developers use the default kubectl context with telepresence - i.e. they set a global kubectl context - (kubectl config current-context) and run teleprensence without specifying a context. We are attempting to move to not using a default context and requiring an explicit context for everything via --context. Howe

[2021-12-29 08:25] saaryehudai commented on #2245
We've also experienced this behavior.

Some additional context about what happens after a network disconnection:
1. When invoking `telepresence status`, everything seems to be connected.
2. Invoking `telepresence list` shows all my intercepts as if they are active.
3. Connecting to services with fully-qualified names works (e.g. `<service>.<namespace>`)

[2022-01-02 22:42] thallgren commented on #1826
Closing this ticket since a solution has been provided. Please see [Install with Helm](https://www.telepresence.io/docs/latest/install/helm/) for more information about how to install with admin privileges and the use without such privileges.

[2022-01-02 22:42] #1826 closed, assigned to nobody

[2022-01-02 23:07] thallgren commented on #2132
@JuanRamino I'm not able to reproduce this on Windows with any of the versions. Can you please test with the latest version (2.4.9) and see if the problem persist?

[2022-01-03 06:44] thallgren commented on #2272
This looks like a duplicate of #2073.

For upgrading, have you tried using the [Helm chart approach](https://www.telepresence.io/docs/latest/install/helm/) to install telepresence? By using it, the version remains the same in the cluster regardless of what client versions that are used.

[2022-01-03 14:19] Gikkman opened #2274 "SSL handshake error when connecting to cluster ingress when telepresence is connected"
**Describe the bug**
When I connect to the cluster using Telepresence, I can no longer send requests to external ingresses of that cluster, due to failed SSL handshakes. We're using Openshift 4, with ingresses that has SSL configured using cluster-wide certificates (using Openshift annotations).

**To Reproduce**
 At first, this works just fine:
[code]

Then I connect with telepresence:
[code]

An

[2022-01-04 10:28] thallgren commented on #2274
@Gikkman a couple of questions:
1. The service that you are curling, is it using a workload that has a Telepresence traffic-agent installed? If that's the case, does a `telepresence uninstall --agent <workload name>` make a difference?
2. If that's not the case, does this affect all services in the cluster that uses TLS?
3. Are you logged in to telepresence when this happens?
4. Would it be possib

[2022-01-04 16:08] zopanix commented on #2076
Hey, I have the "same" request but will take the time to develop a bit more:

We're currently happily using telepresence at my company. The tool is great and works very well. Thank you for providing this :)

As a feature request, we have the following use case:

We want our developers to be ready ASAP when they join the company. We don't want them to necessarily have to suffer the learning curve o

[2022-01-04 19:28] hmaiabrex opened #2277 "Error when using telepresence"
Submitted by accident.

[2022-01-05 02:53] zhaobei commented on #2019
mee too
![image](https://user-images.githubusercontent.com/55879962/148153361-59f2ee54-0b14-4031-a182-6461c54f8238.png)

[2022-01-05 11:12] JuanRamino commented on #2132
Thanks @thallgren but is hard to reproduce again because happens randomly.
I think it happens when telepresence processes doesn't close properly. I remember there were more then 4. Kill process let telepresence works again.

[2022-01-05 11:12] #2132 closed, assigned to nobody

[2022-01-05 18:28] thallgren opened #2280 "Add test suite for the TUN device"
A test suite is needed that tests the functionality and performance of the TUN device and it's TCP stack. Perhaps partly based on https://github.com/google/packetdrill ?

[2022-01-05 21:22] miquella commented on #2169
## Solution

After spending some time digging through this today, I've been able to track down the issues that were preventing this from working.

1. In order to use `allow_root` ([here](https://github.com/telepresenceio/telepresence/blob/v2.4.9/pkg/client/connector/userd_trafficmgr/intercept.go#L494)), the `user_allow_other` setting has to be enabled in `/etc/fuse.conf` — my distro disables this

[2022-01-05 21:53] luminoso commented on #1658
I think I have this issue. I cannot uninstall the traffic agent.
If I try to intercept it starts the interception but there's no network traffic.

[code]
[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/7818018/telepresence_logs.zip)

[2022-01-06 09:04] #1422 closed

[2022-01-06 15:58] gh-axel-czarniak opened #2282 "Disk doesn't mount when using intercept on Windows due to path error on traffic-agent"
**Describe the bug**
When using Telepresence on Windows to intercept a pod inside a kubernetes cluster based on Linux, some volumes mount doesn't work due to a wrong path generation on the traffic-agent.

**To Reproduce**
Steps to reproduce the behavior:
1. telepresence connect
2. telepresence intercept {serviceName} --port 8080:80 --env-file {serviceName}.env
3. So I look at the traffic-agent ins

[2022-01-06 16:35] scottillogical commented on #2272
@thallgren  re: upgrades ill consider that, i shouldnt have mentioned the upgrade issues as they are tangental.

  re: duplicate, feel free to close if that makes sense to you.    this context issue sounds like an annoying symptom of the root issue but it can be worked around by always specifying the context with an alias `alias tp="telepresence —context=my-k8s-cluster"`

[2022-01-06 22:54] ksmiller-dispatch opened #2284 "context"
### What were you trying to do?

trying to swap a service to point to my local box.  the last. thing i did was add the '--context' option, before that it was gracefully exiting
### What did you expect to happen?

the service should have pointed to my machine

### What happened instead?
I got this stack trace back immediately.

(please tell us - the traceback is automatically included, see below.
u

[2022-01-07 01:03] beyonderyue commented on #2264
I create a service and endpoint is mysql outside, I use navicat to connect the svc,  maybe not the problem of tele2, so I close this issue.

[2022-01-07 01:03] #2264 closed, assigned to nobody

[2022-01-07 06:16] thallgren commented on #2169
We should add the information conveyed in this ticket to our troubleshooting guide.

[2022-01-07 08:23] thallgren commented on #2169
I created this #2285  to ensure that any output to `stderr` from `sshfs` and the `sftp-server` is logged as errors.

[2022-01-07 08:27] thallgren commented on #2272
Closing as duplicate of #2073

[2022-01-07 08:27] #2272 closed, assigned to nobody

[2022-01-07 08:33] thallgren commented on #2282
So, if I understand this correctly, the root cause of the failure is that backslashes are used for the `tel_app_mounts` in the traffic-agent when the intercept is initially made from a Windows box?

[2022-01-07 08:54] gh-axel-czarniak commented on #2282
Yes it seems so.

[2022-01-07 11:11] petermant commented on #1923
This is still causing us a problem - and is worse in 2.4.9. Please can --no-report (or some other option) ensure that no external reports are sent?

[2022-01-07 16:48] kamel1239 commented on #2247
having the exact same issue.

[2022-01-09 08:58] mmoron opened #2290 "error when trying to intercept a service"
**Describe the bug**
I'm trying to intercept a service using `telepresence intercept other --port 44328` but I'm getting an error: `telepresence: error: Failed to establish intercept: Deployment name="other" namespace="default": found no Service with a port that matches any container in this workload`.

`telepresence connect` is working fine and I'm able to access the service with `curl other.defa

[2022-01-09 11:43] fox-md opened #2291 "CentOS 8 volume mount not working"
**Describe the bug**
As per docs, I am using below command to locally mount volumes that are mounted to Pods.
`telepresence intercept nginx80 --port 9080:80 --mount=true`

However after executing command above, mount dir is empty
[code]

Deployment called nginx80 has below mounts

[code]

Additionally, if you are using Telepresence 2.4.4 and above, please use
`telepresence loglevel debug` to ensur

[2022-01-09 20:42] petr-buchin opened #2292 "Allow to specify container, from which env vars should be imported during intercept"
**Please describe your use case / problem.**
I have a pod that consisting from 2 containers - `nginx` and `php-frpm`.
I'd like to intercept calls to service behind this pod and have env variables from `php-fpm` container.
`php-fpm` container itself does not expose any ports (nginx and php are connected via unix-socket).

If I run `telepresence intercept my-php-service -- /bin/bash` and trying to p

[2022-01-10 06:16] JungnamKim-dev opened #2293 "jn-kim"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--new-deployment', 'frontend-local-cluster-

[2022-01-10 06:18] #2293 closed, assigned to nobody

[2022-01-10 06:49] JungnamKim-dev opened #2294 "jn-kim"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--new-deployment', 'frontend-local-cluster-

[2022-01-10 11:24] thallgren commented on #2290
Why is the `containerPort` set to 32001 when the `targetPort` is 44328? I would expect those two to match.

[2022-01-10 11:32] thallgren commented on #2291
Could this be related to the problems described in ticket #2169 ?

[2022-01-10 13:25] kamel1239 commented on #2251
I"m having the same issue with ubuntu 20.04
[code]

logs :

[code]

[2022-01-10 14:55] mmoron commented on #2290
That's a little embarassing to be honest 🤦‍♂️. I must have somehow change it trying other things. And since it is optional and not really required, everything else was still working so I didn't notice the problem.

After updating `containerPort` to 44328 `telepresence intercept other --port 44328` now works as expected. What's interesting is that it also works when I remove whole `ports` section f

[2022-01-10 21:22] #2290 closed, assigned to nobody

[2022-01-11 13:09] zrks commented on #2165
experiencing this same issue on `v2.4.9` - are there some workarounds/fixes for this?

[2022-01-12 10:58] sp0cket commented on #1649
It works fine,Thx

[2022-01-12 10:58] #1649 closed

[2022-01-12 14:02] Gikkman commented on #2274
1. The service doesn't have any traffic-agent installed.
2. I am not 100% sure what you mean here. I can still reach the cluster in general, say via `kubectl get projects` or by curling the cluster's API endpoint, even if they use TLS. It seems to be just the ingresses.
3. No. As far as I understand it, we're not using Ambassador Cloud on our cluster.
4. Sure, attaching the logs:

[telepresence_lo

[2022-01-14 09:02] doki23 commented on #2149
I met this problem too. Can any maintainers explain or fix it?

[2022-01-14 09:59] GrzegorzKowalik opened #2304 "Unable to connect to database via proxy, password authentication failed"
**Describe the bug**

I have a K8S cluster setup on EKS, and RDS database with public access disabled, DB can be connected only from the cluster.
Locally, the DB URL resolves to private IP, lets say 192.168.12.12.
I set up `also-proxy` in kubeconfig, like
[code]
Without this, `psql -h 192.168.12.12` fails with `psql: error: could not connect to server: No route to host`

When I try to connect to t

[2022-01-14 13:02] petermant opened #2305 "Report docker error in logs when docker image goes to ImagePullBackOff, instead of reporting it as a timeout connecting to traffic-manager"
**Use case / problem:**
When there are issues starting the traffic manager pod in kubernetes, the connector.log reports a timeout:

[code]
…repeated many times…
Then:
[code]

**Proposed solution**
The 'deployment is not ready' / '0 out of 1 pods are ready' line in the output above could be promoted to an error level instead of a debug level, and include an indication of why they aren't ready - i.e

[2022-01-15 00:01] Avi1235 commented on #1721
Having the same issue, where can i download 2.7.6 version?

[2022-01-15 14:18] thallgren commented on #1721
@Avi1235 the latest release of Telepresence is 2.4.10.

[2022-01-15 14:30] thallgren commented on #1721
@alan994 the only way I can see these port problems happening is if you edit the pod template or service manifest manually.

When telepresence intercepts a service where the service's `targetPort` is symbolic, it will:
1. Rename the container's `port` matching that port to "tm-xxx" (where "xxx") is the original name.
2. Install an agent with a port named "xxx".
3. Add annotations that describe wha

[2022-01-15 18:20] thallgren opened #2310 "Add WatchInterceptableWorkloads method to the traffic-manager"
The current `list` command is somewhat inefficient in that it needs to query for all interceptable workloads everytime that it is called. A `WatchInterceptableWorkloads` method on the cluster side `traffic-manager` could do this in a more efficient manner by keeping track of all workloads and send events to subscribers when the set changes. The method must take a list of namespaces as an argument

[2022-01-19 19:06] gadicohen opened #2313 "Telepresence bug"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--mount', '/tmp/known', '--swap-deployment'

[2022-01-20 04:20] LukeShu opened #2314 "Document+improve the `/etc/sudoers` situation"
**Please describe your use case / problem.**

It is a not-infrequent ask to be able to run Telepresence without it prompting you for your password.  While this is possible to configure, it is (1) undocumented, and (2) what you have to do isn't great.

When Flynn has asked me how to do this in the past, I have told him the simple and obvious thing: to stick this in his `/etc/sudoers`:
[code]
Unfort

[2022-01-20 10:09] thallgren commented on #2314
We're currently working on making the daemon processes long-running and installable as proper daemons. Once that's complete, this will no longer be an issue (telepresence will never start the root daemon).

With that in mind, I think getting the docs describing the current behavior out there is crucial (the real friction cause) but improving the implementation shouldn't be prioritized at this poin

[2022-01-21 14:32] flerpo commented on #2165
+1

[2022-01-22 16:37] mumayuan opened #2318 "multi port support"
**Please describe your use case / problem.**
In our product, we have a major component that have more than one ports open (one websocket and one http), which opens more than one port through load balancer. In order to use telepresense to allow local debugging, I will need to proxy both ports.  Currently I did not find a way to achieve that.

**Describe the solution you'd like**
Allow telepresence

[2022-01-25 18:05] macstevens-bread commented on #2318
Hey @mumayuan, I'm not on the telepresence team but it looks like this is a dup of https://github.com/telepresenceio/telepresence/issues/1607.

Please upvote this because I know a ton of telepresence users are in the exact same situation and are still stuck on telepresence 1.0. So hopefully we can get multi port support soon.

[2022-01-25 18:10] techiemac commented on #2318
@mumayuan while I'm not on the telepresence team, this looks like a dup of https://github.com/telepresenceio/telepresence/issues/1607. I know that a lot of telepresence users are stuck on 1.0 because of your exact issue (it's very common to have services with multiple ports, especially with event driven architectures). So please upvote it.

At one point I did try a hack to make this work but could

[2022-01-26 02:41] mumayuan commented on #2318
agreed!
it is a duplicate with issue #1607

Closing this and upvoting #1607

[2022-01-26 02:41] #2318 closed, assigned to nobody

[2022-01-26 02:45] mumayuan commented on #1607
I wrote a feature request #2318 for the same thing :)
(So I closed the other one when found out this)

It will be the key feature for adoption to our project !  Please let us know when this is scheduled for delivery!

[2022-01-26 11:06] zrks commented on #2165
just to report back - for me version `v2.4.10` doesn't break vpn, but now I have other issues

[2022-01-26 12:22] zrks commented on #2097
for me it helps to uninstall and reinstall telepresence

[2022-01-26 21:25] donnyyung commented on #2062
This has been resolved!

[2022-01-26 21:25] #2062 closed, assigned to donnyyung

[2022-01-26 22:30] rchenzheng commented on #2163
I'm having the same problems with `Client: v2.4.10 (api v3)`

[2022-01-26 22:39] techiemac commented on #1556
@brunobevilaqua, @richardscarrott, we are running into this exact issue and I suspect others are running into this. Like many, until telepresence supports multiple ports, we are stuck on V1.

When we find a solution, which is proving to be pretty elusive, we will post our findings. Unless either of you have additional info here.

[2022-01-27 08:01] alan994 commented on #1721
@thallgren you are probably right. In our case, we used [dapr](https://dapr.io/). Dapr also modifies `deployment` and I think that was the cause of my problem. We decided to ditch `dapr` and make some changes to our cluster. When this process finishes, I will try again and let you know if my problem is solved. Thanks again!

[2022-01-27 10:17] thallgren commented on #2163
It would be really helpful if someone having this problem with `v2.4.10` could follow @josecv's advice above and attach some logs here.

[2022-01-27 18:08] rchenzheng opened #2329 "traffic-manager cannot be installed as part of a subchart when namespaced mode"
**Describe the bug**
The issue is with the chart, when the chart is defined as a chart dependency, it fails to deploy as it's enforcing `Release.Name` to be traffic-manager https://github.com/telepresenceio/telepresence/blob/release/v2/charts/telepresence/templates/_helpers.tpl#L20-L29

* reproduce the error *

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. When I run `helm upgrade -

[2022-01-27 18:40] rchenzheng commented on #2329
Fix pending review https://github.com/telepresenceio/telepresence/pull/2330

[2022-01-27 21:38] richardscarrott commented on #1556
@techiemac we were able to move to telepresence 2 I'm afraid.

[2022-01-28 13:51] thallgren commented on #2163
I encountered [this issue](/kubernetes/minikube/issues/13370) when using `minikube` because the agent will indeed call the pod's own service. The problem went away when I started minikube with `--cni=bridge`.

[2022-01-28 13:53] rchenzheng commented on #2163
My issues went away after I forcefully uninstalled the agent and restarted the daemon in MacOS Monterey.

[2022-01-28 17:20] bskrishna60 opened #2333 "I want to be able to run kubectl commands to my GKE cluster directly from my local development CLI."
**Please describe your use case / problem.**

I have a GKE/kubernetes/k8s cluster in GCP. I have a bastion host (Compute Engine VM Instance) in GCP. I have allowlisted my bastion host's IP in the GKE cluster's  authorized networks section. Hence, in order to run kubectl commands to my GKE, I first need to SSH into my bastion host by running the gcloud beta compute ssh command; then I run the gclou

[2022-01-28 23:08] techiemac commented on #1556
Thanks for the response.
We are pretty deep into the weeds at this point and our current working theory is that is has to do with the differences in how the docker hyperkit.framework hosted framework runs on M1 vs intel, especially with how the docker bridge network works. Right away we are noticing some differences that may hopefully prove to be a fruitful path.
Again, when we figure this out, we

[2022-01-30 13:16] elig-salt commented on #1997
We did something similar in our own CLI (internal to the company) - I would have contributed this to the Telepresence CLI, but we just can't find the time.
Still - here is the code:
https://gist.github.com/elig-salt/fb63120ed3aa766e1d9053b6ae867517

[2022-01-30 13:27] elig-salt commented on #2165
For us - this was resolved by making sure the CIDR (IP Range) of pods on Kubernetes was not included / overlapping with CIDR pushed to our clients by VPN.

This just means that when developers run `telepresence intercept` - it will tell the machine to send all traffic directed at the namespace - to the daemon itself, which sends it's traffic in-turn into the traffic-manager in kubernetes.

If the

[2022-01-31 12:31] thallgren commented on #1939
Closing this due to lack of info and response.

[2022-01-31 12:31] #1939 closed, assigned to nobody

[2022-01-31 15:08] thallgren commented on #1916
Some of the problems described here are very likely caused by what's being described in #2314.

[2022-01-31 21:20] #2020 closed, assigned to thallgren

[2022-02-01 18:06] richardscarrott commented on #2244
I've experienced the same issue on a Macbook Pro M1 a few times. I come back to my computer after it's been asleep and service discovery starts to fail so I have to re-intercept but I'm unable to leave the existing one without quitting.

[code]

[code]

Not sure if it's just me, and I know this isn't a particularly useful comment, but having used telepresence 1 quite successfully for a few years,

[2022-02-02 22:15] techiemac commented on #1556
Just an update to add more information (in case someone searches for this). Our config is running several docker containers:
* The container that contains the telepresence executable
* The telepresence-local container
* A services container that runs our code
We've narrowed it down to how the telepresence-local container communicates back to the container containing the executable. Our working the

[2022-02-03 14:49] thallgren commented on #1556
@techiemac I'm currently working on #1607. Don't have an estimate yet, but I would advise against spending time on a PR for the 1.0 stuff.

[2022-02-03 20:24] Sabyasachi2k opened #2349 "Unable to intercept even though it says it was successful in creating the intercept"
**Describe the bug**
Unable to intercept service. The local environment is MACOS-Catalina

[code]

[code]
On the traffic agent side car logs I find this
[code]
The intercept is just not working. WOnder what needs to be done.

[2022-02-04 01:37] thallgren commented on #2349
Can you please describe what "not working" means in more detail?

The `telepresence list` command will only list your default namespace unless you give it a namespace argument. So try
[code]

[2022-02-04 02:23] Sabyasachi2k commented on #2349
My Bad,
Yes when I do the following command I do get the results.
[code]
I have my local application running on port 9082 as well as seen below
[code]
Now I am hitting the cluster URL but the traffic is not being redirected to the application running locally hence the updates are not being reflected. It seems that the intercept in spite of being created is not working or is unable to redirect the

[2022-02-04 02:27] Sabyasachi2k commented on #2349
And I put the log level at debug and I see the following for the logs for the traffic-agent side car

[code]

[2022-02-04 02:34] Sabyasachi2k commented on #2349
Also there is ISTIO installed and the required port exclusions are already there in the deployment file for ISTIO to ignore.
[code]

[2022-02-04 13:09] thallgren commented on #2349
What happens if you do:
[code]
(assuming the service is listening on port 80, if not add a port number)?

Also, take a look in telepresence log files, that might give you a clue. The `daemon.log` file will log all DNS lookups and connection attempts. If they don't make sense to you, you can try `telepresence gather-logs` and post them here.

[2022-02-04 14:19] Sabyasachi2k commented on #2349
Please find the logs attached.
[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8003715/telepresence_logs.zip)

[2022-02-04 14:51] tanersener commented on #2165
I still have this issue on `v2.4.10`.

@elig-salt I don't see any overlapping ranges in my routing table. I also don't understand how that can explain my `/etc/resolv.conf` file being overridden to its pre-VPN state.

[2022-02-04 16:55] thallgren commented on #2349
Those lookups of `macc02zv6ttmd6t.dev.svc.cluster.local` that fail are supposed to fail. They probably probes from your browser or similar and have no significance.

I don't find anything out of the ordinary in the logs. Everything seems to work just like it should. Did you try the curl I asked about?

[2022-02-04 18:45] Sabyasachi2k commented on #2349
Oops forgot to mention that.
Yes I did and it times out.

curl --location --request GET 'http://demo-app:9082/demoroute/showdemo/v1/hello?name=John'
curl: (6) Could not resolve host: demo-app

[2022-02-04 21:33] thallgren commented on #2349
Any particular reason why you're using `demo-app` instead of `demo-app-v1` ? What does the service manifest look like?

[2022-02-04 23:35] Sabyasachi2k commented on #2349
Here it is
[code]

[2022-02-07 10:42] sonicSW commented on #2349
do you use ArgoCD?
I had the same issue and all looked fine after I got confused in the debug logs about this string in the traffic-manager log
(telepresence loglevel debug -->  redeploy deployment --> telepresence gather-logs)

The app-6db9466646-.messaging-dev pod has not enabled traffic-agent container injection through "telepresence.getambassador.io/inject-traffic-agent" annotation; skipping
2

[2022-02-07 11:25] sonicSW opened #2356 "Sidecar Limits For HPA"
Dear community,
thank you for this fantastic tool! Loving it.

I was not able to find any annotations to define requests and limits for the sidecar.
The result is that the HPA is not starting for the given deployment

"the HPA was unable to compute the replica count: failed to get memory utilization: missing request for memory"

In Linkerd there are some annotation like
        config.linkerd.io/p

[2022-02-07 14:15] Sabyasachi2k commented on #2349
So,
I am not sure if this is the case for me. In my case I can see the traffic agent side car being injected and working. The annotation for ISTIO is also there. However when I add the annotation of
[code]
I see the PSP is preventing it from spinning up
[code]

[2022-02-07 14:36] sonicSW commented on #2349
Do you use GKE Autopilot? This has some build-in limitations and maybe this is one?
Or it come from ISTO itself?

https://medium.com/sakajunlabs/running-istio-on-gke-autopilot-707f6de2d43b

[2022-02-07 15:03] Sabyasachi2k commented on #2349
Nope,
No Autopilot. But yes ISTIO is there as OSS on the GKE cluster.
the logs for the traffic agent side car shows this

[code]

[2022-02-07 15:08] Sabyasachi2k commented on #2349
here is the containers running...
![2022-02-07_10-05-22](https://user-images.githubusercontent.com/20528163/152814645-c1116cbe-7ffb-4930-81a6-b2f51839d0bb.png)

[2022-02-07 15:55] Sabyasachi2k commented on #2349
OK ,
I disabled the istio injection for the pod and yet it will not connect to the local instance!! I have no idea!! there are no useful logs that would let me know what is happening.
![2022-02-07_10-54-29](https://user-images.githubusercontent.com/20528163/152823475-aac139db-4d2a-49f7-a1e0-3b62ea85f1ac.png)

[2022-02-07 20:09] Sabyasachi2k commented on #2349
OK,
I think I finally figured it out with ISTIO and all that stuff. Thanks to @sonicSW for pointing out that injection annotation might be needed in case of argocd deployments. but since the namespace was using a highly restricted PSP. the pods were not able to spin up. Removing the below annotation
[code]
the injection still worked nicely but somehow the network connection was not being made, in-

[2022-02-08 02:30] sonicSW commented on #2349
I did so via a Helm chart variable which has it in dev and stage enabled and disabled for production but I could start it if needed.

[2022-02-08 14:15] #2349 closed, assigned to nobody

[2022-02-10 17:59] miquella commented on #2169
@thallgren: Respectfully, I believe this is more than simply friction :slightly_smiling_face:

Although there was significant friction in debugging the issue (and thank you for addressing that!), there does still seem to be a bug in the way the `traffic-agent` container is injected into the pod when a `securityContext` is being used in the pod. It seems that the injected container would need to ad

[2022-02-10 21:38] thallgren commented on #1654
Closing this. In case you run into trouble with Fuse on macOS, please visit our [troubleshooting guide](https://www.telepresence.io/docs/latest/troubleshooting/#volume-mounts-are-not-working-on-macOS).

[2022-02-10 21:38] #1654 closed

[2022-02-11 12:40] Gikkman opened #2377 "User Daemon hangs on starts"
**Describe the bug**
When I run `telepresence connect`, the root daemon starts, but then the program hangs on creating the user daemon:
[code]

**Versions**
[code]
Laptop: MacOS 12.1 - Apple M1 Pro
Cluster: Openshift (Kubernetes 1.21.1, Openshift 4.8)

**Additional context**
The interesting thing is that it seems that everything works as it should. I can still run `curl` against services using the

[2022-02-11 12:57] oriser opened #2378 "Intercept stop working after some time and won't work until traffic-agent removed"
**Describe the bug**
I intercept a service, listen with netcat and call the service with cURL. After some cURL callings I get redirected to the service in the cluster, then back to my workstation and then again to the service on the cluster until it stops to redirect to my workstation at all. When it happens, `leave` and `intercept` again won't work anymore (the command is successful, but it alway

[2022-02-13 12:21] thallgren commented on #2377
One thing that I notice by looking at the lots is that your traffic manager is of version 2.4.6. In general, this _should_ work, but it might be a good idea to upgrade.

[2022-02-13 12:22] thallgren commented on #2377
Also, you might get some more info if you start with `telepresence loglevel debug`, before doing connect.

[2022-02-13 14:15] thallgren commented on #2378
The traffic-manager log shows calls from your local workstation to the `step-manager` agent at 10.51.252.32:8081 and then calls from that agent to the intercepted process in your local workstation at `127.0.0.1:8081`. This is is normal. Your curl call origins from your workstation, is routed by the traffic-manager to the agent. The agents react to the intercept and routes it back to your local wor

[2022-02-13 15:25] bhavitsharma opened #2389 "Telepresence breaks ec2 machine's internet"
**Describe the bug**

Hi, I am using telepresence to connect to my staging and CI EKS clusters via EC2 machines. Connecting to CI clusters works amazingly well, but connecting to staging clusters don't. Specifically, when I connect to telepresence via `sudo -E telepresence connect`, the root/user daemon starts but then it somehow interferes with my EC2's internet. Worst case is I am not able to SS

[2022-02-13 21:08] thallgren commented on #2389
First off, you should never run telepresence with `sudo`. Only the root daemon needs sudo. If you have problems with the daemon not starting, please look at our [troubleshooting guide](https://www.getambassador.io/docs/telepresence/latest/troubleshooting/#daemon-service-did-not-start).

The logs aren't that helpful unless you run `telepresence loglevel debug` before your reproduce the problem. So

[2022-02-13 21:17] thallgren commented on #2389
To answer the question regarding isolating telepresence. Yes, it can be done. You can run telepresence in a docker container. That will only modify the docker containers network and depending on how that network is setup, it can be either completely isolated or confined to a network only reachable from other docker containers. Doing so will of course mean that you won't be able to access the clust

[2022-02-14 08:17] thallgren commented on #2389
Thinking more about this, the logs from the traffic-manager pod would also be very interesting to see at the point when the ec2 machine's internet breaks.

[2022-02-14 08:51] oriser commented on #2378
Ah OK, I understood the logs from the agent to the local machine, thanks for the explanation.
I'll try to reproduce it with the service you are testing against and will write here the findings.

[2022-02-14 09:27] oriser commented on #2378
@thallgren I'm not able to reproduce it with the service you provided. The `step-manager` I'm testing is a microservice that basically has a gRPC server and I want to run it on my local machine.
I think the problem is not with the service (as nothing on the service should affect it, it should be transparent to it, no?), I think it may be related to the fact that our microservices deployments are m

[2022-02-14 09:45] thallgren commented on #2389
Another thing of interest is what agent that is installed on the pod that you're intercepting. It's easy to determine by looking at the very start of the log for that pod's `traffic-agent` container where it says "Sidecar version xxx" or "Traffic Agent xxx".

[2022-02-14 10:05] thallgren commented on #2378
First of all, there's the agent install. Assuming that the workload pod is created from a workload (Deployment, ReplicaSet, or StatefulSet) that doesn't have an annotation like "telepresence.getambassador.io/inject-traffic-agent" (and hence is auto-injected using a mutating webhook), the `traffic-agent` will be installed the very first time you intercept by modifying the workload, adding the conta

[2022-02-14 12:27] tanmaymishu commented on #2244
I have the exact same issue:

[code]

[code]

[2022-02-14 13:26] thallgren commented on #2244
@tanmaymishu two questions.
1. If you repeat `telepresence list` after you get that error, does it still show state `ACTIVE`?
2. Can you show the output of `kubectl logs -f <intercepted pod> traffic-agent`?

[2022-02-14 13:28] thallgren commented on #2244
@richardscarrott regarding dumping useful debug information. Try:
1. `telepresence loglevel debug`
2. Reproduce the problem
3. `telepresence gather-logs`

[2022-02-14 14:10] oriser commented on #2378
@thallgren Thanks a lot for taking the time to write it.
I think I understand the problem. Flux is overriding the `tm-` prefix from the port. I'll see how to overcome it and will update

[2022-02-14 15:56] tanmaymishu commented on #2244
@thallgren, yes, it does still show the ACTIVE state. This is the second time I have encountered the issue. Now on my M1 chip and a few hours ago on an Intel chip.

The output (I have redacted some keys and ids):

[code]

Note: Quitting telepresence with `telepresence quit` and running the `telepresence intercept` again does start to work again. The problem occurs when the Macbook goes to sleep mo

[2022-02-15 02:24] Joseph-Hong commented on #1501
It works for me as below under Big Sur 11.4
`telepresence --expose 8080 --method=vpn-tcp`

[2022-02-15 08:25] Gikkman commented on #2377
That's what I did when I collected these logs. It starts both daemons when I execute that command, and the user daemon still hangs

Can I really do that? Our entire company uses telepresence, and different devs might have different versions installed. If I upgrade the traffic manager, will it work with older version of telepresence? Or will they get a "please update" message when they try to conne

[2022-02-15 08:59] HerrInformatiker opened #2391 "traffic-agent container: sftp-server errors when deployment has pod security context"
**Describe the bug**
Intercepting a service that had the following pod security context defined in its deployment:
[code]
Generated the following errors in the traffic-agent container (See attached logs):
[code]

The interception itself, however, worked well.

**To Reproduce**
Steps to reproduce the behavior:
1. When I run `telepresence intercept pxlt-repo-setter --port 63278 --env-file ~/pixellot

[2022-02-15 14:15] richardscarrott opened #2395 "telepresence breaks the web if k8s namespace conflicts with TLD"
When telepresence is running (or maybe more accurately, when there's generated files in /etc/resolver) I cannot visit websites using 'dev' TLDs.

1. Create k8s namespace called 'dev'
2. Connect to telepresence
3. Go to `https://shopify.dev` in web browser
EXPECT: It to load the shopify.dev website
ACTUAL: It cannot resolve the domain

[code]

[code]

[2022-02-15 14:47] dpkemarsys opened #2396 "Telepresense failing on Apple M1 Processor"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/opt/homebrew/bin/telepresence', '--container-to-host', '9001', '--mount=/

[2022-02-15 14:55] thallgren commented on #2395
That's interesting. You have a namespace that collides with a top-level domain name. What happens is that telepresence redirects the lookup to be performed by the traffic-manager in the cluster, and there, the lookup fails. You can see this by doing:

[code]
Now go to `https:://shopify.dev` in your browser and you'll probably see `LookupHost` calls returning `NOT FOUND` in the traffic-manager's lo

[2022-02-15 15:15] thallgren opened #2397 "Add example with volume mounts to the "Manually injecting traffic agent" docs."
The documentation on how to manually inject a traffic-agent has no information about how to copy volume mounts from the intercepted container so that they can be mounted locally on the workstation. The docs must contain an example for that which covers the `_TEL_AGENT_APP_MOUNT` and `TELEPRESENCE_MOUNTS` environment and how the actual volume mounts are copied.

[2022-02-15 18:13] mennis commented on #1645
Note that the repo at https://packagecloud.io/datawireio/telepresence/ubuntu/ does not contain any arm packages.

[2022-02-15 18:16] techiemac commented on #2396
Hey @dpkemarsys this is the same as https://github.com/telepresenceio/telepresence/issues/1556. I have a fix pushed to our fork that I'm testing right now.

[2022-02-15 18:18] techiemac commented on #2396
FYI, the branch is here but this is very specific to us and still needs quite a bit of testing so fair warning 😉 https://github.com/getbread/telepresence/tree/TOOLS-333-implement-m-1-support-in-telepresence

Also, if you can, I highly recommend moving to v2. One of the big and soon to be upcoming features is multiport intercept support which the telepresence team is working on and I know it's hold

[2022-02-15 19:30] richardscarrott commented on #2395
Thanks for the reply, I'm actually unable to reproduce the issue now but I can confirm I can see `shopify.dev` being redirected to the cluster, however it successfully resolves the domain at the moment:

[code]

A number of colleagues have also experienced the same problem however, so we'll try to figure out the exact steps to reproduce; I'm wondering if it's related to coming back after my [lapto

[2022-02-15 20:09] richardscarrott commented on #2395
Ok I managed to "reproduce" the issue, but to do so I had to power off my computer while running tele which, upon turning it back on resulted in `/etc/resolver` sticking around while the telepresence daemon's are not running:

1. Create k8s namespace called 'dev'
2. Connect to telepresence
3. Turn computer off (pull the plug out)
4. Turn computer back on
5. Go to https://shopify.dev in web browser

[2022-02-16 11:53] oriser commented on #2378
Hi @thallgren, so indeed the problem was that flux edited the `tm-` prefix. Once disabling it the intercept is working as expected. Thanks again :)

[2022-02-16 11:53] #2378 closed, assigned to nobody

[2022-02-16 15:56] Gikkman commented on #2377
Some updates:

We updated out Traffic Manager to `2.4.10`. I did notice some messages in the logs of the Traffic Manager, might be of importance?

[code]

Attaching logs again. I tried starting the connection with `telepresence loglevel debug` but it tries to start connecting when I use that command. Same with `telepresence gather-logs`, it also tries to start connecting. So I zipped the logs manu

[2022-02-16 16:36] khoulyy commented on #1236
This is still an issue on Fedora 35.

[2022-02-16 22:49] patrick-steadman commented on #2225
I'm having the same issue, were you able to resolve or work around this issue @chongkai ?

[code]

[2022-02-16 22:50] ptsteadman commented on #2225
I'm having the same issue, were you able to resolve or work around this issue @chongkai ?

[code]

[2022-02-17 13:37] alanteriBW opened #2405 "Can't connect to telepresence"
### What were you trying to do?

televpn master

### What did you expect to happen?

connect to the VPN like usual

### What happened instead?

I got this error and could not connect

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepres

[2022-02-17 13:55] alanteriBW commented on #2405
My bad wrong aws secrets!

[2022-02-17 13:55] #2405 closed, assigned to nobody

[2022-02-17 14:29] maxlegault opened #2406 "Add support for Argo Rollout workloads"
**Please describe your use case / problem.**
Currently, workloads that can be intercepted are Deployments, ReplicaSets and StatefulSets. It would be great to also support Argo Rollouts for users that use these workload types to leverage rollout strategies like blue/green and canary.

As of now, for a service `foo` that points to Rollout controlled pods, the following error is printed:
[code]

**De

[2022-02-18 08:23] jaudiger opened #2408 "How to isolate completely a service intercepted?"
**Describe the bug**

I'm trying to use Telepresence to intercept a service deployed in a Kubernetes Cluster. Find below the interaction between the services.

[code]

In this scenario I want to intercept `Service1` and deploy it locally to debug with IDE:

[code]

I'm able to connect on the cluster with telepresence, to intercept a service, generate an env file and run it locally. And HTTP reques

[2022-02-18 18:18] seunggs opened #2412 "Intercept throws 404 on /api routes when local nginx container is used"
**Describe the bug**
Running a React/Express app using 3 local docker containers - frontend (port 3001), backend (port 4001), and nginx (which routes traffic from port 80 to frontend for path `/` and to backend for path `/api`. This setup works fine when running all containers locally and not using the intercept (i.e. all routes work fine).

When using the intercept, `/api` routes return 404. Here

[2022-02-19 03:53] amh4r opened #2417 "No Auth Provider found for name "gcp""
**Describe the bug**

`telepresence connect` fails:

[code]

I see this in the logs:

[code]

**Versions (please complete the following information):**

[code]

macOS 12.1 (M1 Max)

[code]

K8s cluster is running in GKE.

[2022-02-19 09:34] johanneskastl opened #2418 "No build target available to only build the client binary?"
I might be confused by the multiple Makefiles I found, but is there no way to only build the client binary?

https://github.com/telepresenceio/telepresence/blob/release/v2/Makefile
https://github.com/telepresenceio/telepresence/blob/release/v2/build-aux/main.mk

I tried multiple incantations of `go build` but it always ended with something like `pattern telepresence-chart.tgz: no matching files fo

[2022-02-19 10:55] thallgren commented on #2418
The client binary is built using `make build` and ends up under `build-output/bin`. The binary embeds the generated `telepresence-chart.tgz`, so that's part of what needs to be built.

[2022-02-19 11:00] thallgren commented on #2417
Can you connect to the cluster using `kubectl get pod` or similar?

[2022-02-19 11:03] thallgren commented on #2417
Also, it would be of interest to see what your logs look like, the `connector.log` especially. Can you try:
[code]

[2022-02-19 12:11] maxlegault commented on #2417
I reproduced the issue with a fresh GKE cluster, also on version 1.21.6-gke.1500. I'm able to list pods, so the auth looks good.
Here is my connector.log output:
[code]

[2022-02-19 12:18] maxlegault commented on #2417
This seems related: https://github.com/kubernetes/client-go/issues/839
With the suggested fix being to import the auth plugins: https://github.com/kubernetes/client-go/blob/master/examples/out-of-cluster-client-configuration/main.go#L33-L40

[2022-02-19 13:21] johanneskastl commented on #2418
Thanks for the fast reply! Looks like I need to supply all of the dependencies beforehand, I was hoping the client binary had less of them... :-)

[2022-02-19 13:40] amh4r commented on #2417
Yep! I'm connected to the cluster.

@maxlegault sorry, I'm a little confused. I'm just using the `telepresence` bin installed via `brew`, so I don't have any Go files at all

[2022-02-19 13:52] amh4r commented on #2417
I found these instructions and followed them just in case:

https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke

But the `telepresence` error persists

[2022-02-19 14:02] maxlegault commented on #2417
Thanks for the update @goodoldneon. I think I have a fix in #2419, we're planning a 2.5.1 release to fix this issue.

[2022-02-19 14:03] amh4r commented on #2417
Damn! You beat me to it. I was just about to post about that same change working for me! I made that change, built `telepresence`, and was able to connect. Thank you!

[2022-02-19 14:06] maxlegault commented on #2417
Great! Thanks for testing :)

[2022-02-19 16:19] maxlegault opened #2421 "User Daemon Version Mismatch"
**Describe the bug**
After upgrading from Telepresence 2.5.0 to 2.5.1, I get the following error:

[code]

After running `telepresence quit -u`, I get the same error again.

# To see all options, run the following command
telepresence gather-logs --help
[code]

[2022-02-19 16:23] maxlegault commented on #2421
As a workaround, manually deleting the `telepresence-pro` binary and then running `telepresence login` again will get the new pro daemon version and fix the issue.

For reference, the `telepresence-pro` binary is downloaded in the `<cache>/telepresence` directory, where `<cache>` is usually:
- `$XDG_CONFIG_HOME` or `~/.config` on linux
- `~/Library/Application\ Support` on mac
- `%AppData%` on win

[2022-02-19 16:26] thallgren commented on #2421
I'm working on a fix for this.

[2022-02-19 16:28] maxlegault commented on #2417
@goodoldneon Telepresence 2.5.1 is out. When you have the chance to test it, it would be great to hear back from you!

[2022-02-19 16:28] #2417 closed, assigned to maxlegault

[2022-02-19 17:22] amh4r commented on #2417
It works 😎. Thanks so much for the quick fix!

I'm really excited to play around with Telepresence. Our local dev story is... difficult. It'll be cool if Telepresence gets us to a low-friction cloud-based dev experience. Have a great weekend!

[2022-02-19 17:44] stevenbarlow commented on #2417
@goodoldneon Awesome, I am glad the fix addressed your issue.

I am the engineering manager for the team that works on Telepresence, and if you are willing, I would love to chat with you sometime about the challenges you have with your local dev story. It would be great feedback on the types of problems we are trying to address and would help me make sure we are thinking about different real-world

[2022-02-19 17:51] amh4r commented on #2417
We have a few big issues with local dev:
1. Resource usage for running our entire platform in Minikube.
2. AFAICT, there isn't a way to run BigQuery locally.
3. Keeping locally-running services up-to-date.

So ideally, we'd just run the whole platform in the cloud and engineers would only need to run services ad hoc locally (which Telepresence enables!). This approach also makes it easy to solve i

[2022-02-21 08:48] an-tex opened #2425 "multiple entries in KUBECONFIG broken since 2.5.0"
before 2.5.0 I could run e.g.:

`KUBECONFIG=.kube/prod.yaml:.kube/staging.yaml telepresence connect --context staging`

since 2.5.0 (including 2.5.1) I get:
`telepresence: error: connector.Connect: stat .kube/prod.yaml:.kube/staging.yaml: no such file or directory`

running it with a single entry like
`KUBECONFIG=.kube/staging.yaml telepresence connect --context staging`
or
`KUBECONFIG=.kube/prod.

[2022-02-21 08:48] thallgren commented on #2085
@suprita23 @treyhyde can you please try out the `telepresence test-vpn` command that we introduced in 2.4.8. It will help you to analyze the problem and can also suggest fixes for it.

[2022-02-21 10:14] thallgren commented on #2418
@johanneskastl  I'm closing this issue. Feel free to reopen if you have suggestions on how to improve the build process.

[2022-02-21 10:14] #2418 closed, assigned to nobody

[2022-02-21 10:43] thallgren commented on #2412
You write that "Telepresence seems to be working fine" and "I'm assuming nginx is the issue" so it's not clear to me what behavior that you want us to change. Please note that the 2.4.11 version of Telepresence isn't capable of routing based on paths. It never looks at them.

The current version of Telepresence (2.5.1) is capable of doing personal intercepts that are [limited by path](https://www.

[2022-02-21 10:54] thallgren commented on #2408
We do have a ticket requesting the ability to [stop the intercepted container](/telepresenceio/telepresence/issues/1646) during an intercept. I guess that's what you're looking for here. Doing that will however create problems in case other users are accessing the service. We've added the Telepresence [RestFUL API service](https://www.getambassador.io/docs/telepresence/latest/reference/restapi/) a

[2022-02-21 11:01] thallgren commented on #2395
Stray entries under `/etc/resolver` is something that we really try to avoid, but if the `telepresence daemon foreground` process is killed without a chance to clean-up, well, then they will be there. I'm closing this issue because I don't think there's much else we can do than clean up the next time telepresence is started.

[2022-02-21 11:01] #2395 closed, assigned to nobody

[2022-02-21 11:03] thallgren commented on #2389
@bhavitsharma can you please try this with the latest 2.5.1 version? I was able to reproduce your problem on an ec2 instance and 2.5.1 should resolve it. It would be great to get that verified.

[2022-02-21 11:07] thallgren commented on #2377
You seem to have many namespaces. Please try to limit the namespaces that Telepresence must create DNS entries for by using `telepresence connect --mapped-namespaces <comma separated list of namespaces>`.

[2022-02-21 11:13] thallgren commented on #2329
The traffic-manager must indeed be named "traffic-manager" or the CLI won't find it.

Installing one traffic-manager per namespace is possible. The process is [described here](https://www.getambassador.io/docs/telepresence/latest/install/helm/#installing-a-namespace-scoped-traffic-manager).

[2022-02-21 11:15] thallgren commented on #2314
Closing this since docs and bug-fix are merged into the 2.5.0 release.

[2022-02-21 11:15] #2314 closed, assigned to nobody

[2022-02-21 11:20] thallgren commented on #2310
Closed by #2319

[2022-02-21 11:20] #2310 closed, assigned to thallgren

[2022-02-21 11:23] thallgren commented on #2282
Closed by #2286

[2022-02-21 11:23] #2282 closed, assigned to nobody

[2022-02-21 11:27] thallgren commented on #2249
Perhaps somehow related to what we see in #2425 ?

[2022-02-21 11:29] thallgren commented on #2248
No longer an issue since #2273

[2022-02-21 11:29] #2248 closed, assigned to thallgren

[2022-02-21 14:02] bhavitsharma commented on #2389
Thanks for reaching out. I'll test this and get back to you ASAP.

[2022-02-21 15:31] rchenzheng commented on #2329
I need to define it as a chart dependency. When deploying as part of an app.

Maybe a refactor of the cli is an order? An alternative is to find the resources by labels rather than release names.

[2022-02-21 15:56] thallgren commented on #2329
Isn't it possible to create dependencies to something with the same name but in different namespaces? E.g. `traffic-manager.alpha` is different from `traffic-manager.bravo` ?

[2022-02-21 20:21] rchenzheng commented on #2329
It's not supported to be in a separate namespace.

My use case is for ephemeral applications and namespaces so ideally they'd go in the same namespace. This is also needed since the telepresence relies on RBAC from the same namespace.

[2022-02-21 20:35] thallgren commented on #2329
@rchenzheng not sure what you're saying here. Do you want to install more than one traffic-manager in the same namespace?

[2022-02-21 20:45] rchenzheng commented on #2329
No, one per application per namespace but in my case, I need the RBAC rules to be scoped per namespace.

[2022-02-21 21:17] thallgren commented on #2329
So you need [namespace scoped RBAC](https://www.getambassador.io/docs/telepresence/latest/install/helm/#namespace-scoped-user-permissions) for the traffic-manager? What is it that prevents you from doing that?

[2022-02-21 22:45] amh4r opened #2426 "Consul connect support"
**Please describe your use case / problem.**

Telepresence doesn't seem to support intercepting services that communicate via Consul connect (i.e. an Envoy sidecar proxy). The `traffic-agent` sidecar successfully attaches to pods, but no traffic is intercepted. I'm guessing this is because Telepresence works by modifying the K8s service endpoint, but Consul Connect doesn't care about the K8s servi

[2022-02-21 22:46] seunggs commented on #2412
Hi @thallgren - thanks for the response. I'm not sure if path-based routing is the solution for my use case though.

The problem is that Telepresence doesn't seem to respect the routing configurations of nginx. Nginx is running on port 80 and I'm intercepting at port 80 which means traffic should be forwarded to nginx, which should take care of routing to frontend container or backend container. B

[2022-02-22 02:30] thallgren commented on #2412
Telepresence has no knowledge of what it is that it's intercepting. It doesn't care if it's nginx or some other process. It just redirects the intercepted port to something that runs on your local workstation. It has no concept of "routing configurations in nginx". You need to explain more about your setup. Are you intercepting the nginx process? Do you have an nginx running on your local workstat

[2022-02-22 03:04] seunggs commented on #2412
Right - so I do have my nginx container running on my local workstation at port 80. And yes, I'm intercepting the nginx process (`telepresence intercept app-staging-svc --service app-staging-svc --port 80:80 --env-file .env.intercept`).

The nginx is set up to route the traffic based on path (`/` to frontend container at port 3001 and `/api` to backend container at port 4001).

But when I try to r

[2022-02-22 08:39] bhavitsharma commented on #2389
Hi @thallgren , I am still running into same issue. Here's what I did (v 2.5.1).
1. `eval $(some_script_to_auth_into_staging_cluster)`
2. `telepresence loglevel debug`
3. Now, the machine hangs.
4. I also tried `telepresence test-vpn` but it succeeded :/

The thing that stands out is I have to open a tty shell via ec2 serial console to kill the telepresence agent (because SSH stops working). Even

[2022-02-22 09:55] thallgren commented on #2412
Ok, so the nginx on your local machine makes an attempt to open `localhost:4001`. That's a port on your local workstation. Do you have anything listening on that port, or do you expect the request to be routed back to the pod? For the latter to happen, you must tell Telepresence to route that port on your local machine to your pod. You do that with `--to-pod <port>`.

[2022-02-22 10:00] Gikkman commented on #2377
Using `--mapped-namespaces` doesn't seem to have any effect on the User Daemon for me. It still hangs the command on startup.

[2022-02-22 10:11] thallgren commented on #2389
@bhavitsharma what does your `/etc/resolv.conf` look like? From the looks of it, your machine tries to send DNS queries to `172.31.0.2`, which is an address mapped by Telepresence (it's included in the pod subnet `172.31.0.0/18`). I'm trying to figure out where those requests come from. I don't see anything like that in my ec2 instance.

[2022-02-22 10:12] bhavitsharma commented on #2389
It looks like this:
[code]

[2022-02-22 10:21] thallgren commented on #2389
I think you have a `/.dockerenv` file present? That's usually only the case when running in docker. Is it significant for your workflow or would it be possible for you to remove it?

[2022-02-22 10:38] thallgren commented on #2389
My `/etc/resolv.conf` looks like this:
[code]
which seems to indicate that the `172.31.0.2` IP is the default DNS for an ec2 instance. It also means that on my machine, that IP address is re-routed using ip-tables. On your machine, the `127.0.0.53` is re-routed instead. So my guess is that whatever server you have on `127.0.0.53` forwards to `172.31.0.2`. That request is then routed to the cluster

[2022-02-22 10:50] thallgren commented on #2389
A qualified guess as to what's happening on your ec2-instance.

1. It is set up to use `systemd-resolved` (mine isn't). and hence uses `127.0.0.53` as an auto-generated entry in your `/etc/resolv.conf`
2. Telepresence will normally detect this and also use `systemd-resolved`, but the presence of `/.dockerenv` prevents this.
3. Telepresence then falls back to override whatever it finds in `/etc/res

[2022-02-22 15:00] thallgren commented on #2389
@bhavitsharma three outputs from your ec2 instance that would be of interest : `resolvectl dns`, `ip a`, and `ip r`.

[2022-02-22 16:33] mschmidt291 opened #2428 "[Question] Telepresence DNS problems under Linux with docker"
Hello. I'm running telepresence 2.5.1 under Arch Linux and got some DNS Problems in the docker container specified with --docker-run while intercepting a service.

When running the following command, the intercept happens and on my local machine I can reach the cluster services correctly. But in the docker container, the cluster services are not resolving
`telepresence intercept service-xy --docke

[2022-02-22 16:53] thallgren opened #2429 "Make telepresence discover that DNS IP is in conflict with a proxied subnet"
## Background
Users are experiencing loss of network after they do `telepresence connect`. This will happen if the DNS is configured to use a server IP that is mapped by a subnet in Telepresence's TUN-device.

A common scenario is an ec2 instance that uses a DNS server at `172.31.0.2` (common default nameserver). Typical output from `resolvectl dns`:
[code]

When Telepresence connects to an EKS cl

[2022-02-22 23:02] seunggs commented on #2412
Yes, on port 4001, I have an ExpressJs server running in a docker container listening on that port. But it doesn't seem to work. So I shouldn't need to set up anything with Telepresence? I assume Telepresence work is done when it intercepts traffic to nginx and nginx is responsible for routing to my 4001 container. But strangely, this setup works fine without Telepresence but 404 is thrown when I

[2022-02-23 03:39] emoyly commented on #2391
I am facing this issue as well.

It seems that this is related to (or the same really) #2169

[2022-02-23 05:04] rchenzheng commented on #2329
I actually needed so each ephemeral application had its own traffic manager and managed its own scope, I just find it weird that the release name had to be hardcoded hence the fix.

[2022-02-23 09:10] thallgren commented on #2169
@miquella to us, the friction label signifies that this is a problem that creates friction in the community and needs to be resolved a.s.a.p. because it inhibits adoption. So it's pretty serious. I can see how it can be perceived differently though.

I'm investigating the best way to solve this. A contributing factor is that OpenShift insist on assigning random UIDs, so we can't really specify a U

[2022-02-23 12:32] mruell opened #2430 "[2.5.1] Database Connection over also-proxied IP range failes after repeated attempts"
**Describe the bug**

We have a kubernetes cluster running on gardener with istio service mesh and mTLS activated.
`istio-injection` is enabled in all namespaces, including the `ambassador` namespace

I also tried running the `traffic-manager` without `istio-injection` with the same result.

On AWS we have a VPC for all our databases, they are in the range `10.0.0.0/16` which is in the kubeconf us

[2022-02-23 13:06] mruell commented on #2430
Just tested something:

The issue does also occur in telepresence `2.5.0` but *not* in `2.4.11`!

[2022-02-23 16:07] an-tex commented on #2430
I have similar issues using 2.5.1. Cassandra connections are failing consistently (all I see is `stream-to-conn loop ended because context canceled` in the traffic manager, but that happens with 2.4.11 too) when there's a certain request load. Using 2.4.11 all works fine. I had the exact same issue here https://github.com/telepresenceio/telepresence/issues/2092 which was fixed but seemed to have r

[2022-02-23 16:43] mruell commented on #2430
Yeah, for me the error messages also do appear on `2.4.11`, but as you said it still works there - probably in `2.4.11` it throws the old "broken" connection away and creates a new one and in `2.5.x` tries to reuse it or something?

[2022-02-23 17:25] miquella commented on #2169
Ah, I misunderstood :smile:

I actually wondered if OpenShift would cause an issue resolving this due to the security context. Happy to help test things, if needed (although I'm not sure if I can help much on the OpenShift side).

[2022-02-23 20:05] #2421 closed, assigned to thallgren

[2022-02-23 22:23] bhavitsharma commented on #2389
Thanks @thallgren, you were right. The EKS cluster to which I was able to connect didn't have its subnet's address prefix collision with my ec2 IP. Connecting to the cluster which does breaks my internet has its subnet colliding with my EC2. I manually  verified from our subnets configuration (and terraform configs).
Also saw that the DNS resolver was broken for some reason even if I was running t

[2022-02-23 22:32] bhavitsharma commented on #2389
`resolvectl dns`

[code]

[code]

[code]

[2022-02-23 23:40] bhavitsharma commented on #2389
So finally I was able to connect via SSH also! I added a default route for our VPN gateway the same way your `never-proxy` solution added a default route for 172.31.0.2. Everything worked after that!

I hope that we can get these features inside telepresence!

[2022-02-23 23:41] bhavitsharma commented on #2429
Thanks @thallgren for filing this. One more ask: Please default route entries for the VPN gateway. My SSH finally worked after this :)
More context in this [issue](https://github.com/telepresenceio/telepresence/issues/2389#issue-1136007943).

[2022-02-23 23:43] bhavitsharma commented on #2429
and thanks again for very prompt responses and finding the solution!

[2022-02-23 23:47] bhavitsharma commented on #2389
@thallgren My only question: Is there a way to specify some default-routes/never-proxy options in telepresence's config rather than kubeconfig?

[2022-02-24 02:29] amh4r commented on #1705
More documentation on service meshes would be very helpful. I haven't been able to get Telepresence to work with Consul Connect

[2022-02-24 05:13] vishalbhuva7 opened #2433 "Telepresence failureed"
### What were you trying to do?

run telepresence to map interceptor

### What did you expect to happen?

map local pod[image/code] to aws kubernates to test

### What happened instead?

Traceback (most recent call last):
  File "/usr/local/bin/telepresence/telepresence/cli.py", line 135, in crash_reporting
    yield
  File "/usr/local/bin/telepresence/telepresence/main.py", line 68, in main
    s

[2022-02-24 06:46] thallgren commented on #2389
@bhavitsharma glad to hear that you were able to get things working!

Telepresence will currently only support TCP and UDP. `ping` relies on ICMP so I wouldn't expect it to work.

To answer your question. No, the kubeconfig is the only place where this can be added.

[2022-02-24 06:47] thallgren commented on #2389
I'm closing this ticket in favor of #2429 which is more focused on the underlying problem.

[2022-02-24 06:47] #2389 closed, assigned to nobody

[2022-02-24 06:51] thallgren commented on #2429
@bhavitsharma you're more than welcome. Your input was very helpful in finding the root cause. And now you've also verified that the workaround indeed solves your problem. Thanks!

[2022-02-24 09:12] vishalbhuva7 opened #2434 "swap_deployment failed"
### What were you trying to do?

telepresence --expose 8888 --namespace app --swap-deployment appName --run ./start_debug.sh
##Start_debug.sh
#!/bin/bash

export GIN_MODE=debug
export LOG_LEVEL=debug
export DATABASECONFIG_CREDENTIALPATH=$TELEPRESENCE_ROOT/$DATABASECONFIG_CREDENTIALPATH
./appName
### What did you expect to happen?

interceptor should work seamlessly

### What happened instead?

(pl

[2022-02-24 14:26] thallgren commented on #2430
@mruell can you please provide the `daemon.log` entries at the time when this happens? It would also be very interesting to see the same logs from a `2.4.11` when it doesn't happen.

[2022-02-24 15:05] Gikkman commented on #2377
This seems to have been resolved with the latest telepresence release (2.5.2). After an upgrade, my user daemon starts as intended. Whatever you did, seems to have done the trick. Closing this ticket.

[2022-02-24 15:05] #2377 closed, assigned to nobody

[2022-02-24 16:58] suravikumar opened #2436 "[v2.5.1] Application not able to access DB Service during startup"
**Describe the bug**
We recently took the latest update of telepresence (v2.5.1) and tried it out with our cluster, but we are running into an issue when trying to launch our application locally. We have remote DBs running on Google Cloud SQL, and we have a kubernetes service that points to them. During our application startup, we are having environment properties that has the DB service endpoint,

[2022-02-24 17:24] suravikumar commented on #2436
Our team did some more debugging and we noticed the following:

We noticed this in the daemon logs:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/100324086/155574852-ad4fa298-9826-4a3a-bfaf-0a17f79621bd.png)

We then looked at the git history and noticed this change in tunnel/pool.go: https://github.com/telepresenceio/telepresence/commit/7cd3879aa02b431bd095ebc2b5323655f974927b

[2022-02-24 17:26] foleymic commented on #2430
We are seeing similar behavior, although it doesn't seem to be random.  I run `telepresence connect` to connect to a GCP cluster, then use mysql client to connect to the cloud sql DB (through an exposed service).  With `2.5.1`, I the first two mysql connections work fine, but the third times out - `Can't connect to MySQL server on 'mysql.default' (60)`.  If I use `.2.4.11` or earlier, it works eve

[2022-02-24 18:25] scottillogical commented on #2395
We had the same issue, resolved by changing the namespace name from dev to something else

[2022-02-24 20:45] thallgren commented on #2436
@suravikumar thanks for looking into this. Will you be able to try a nightly build if I prepare a fix?

[2022-02-24 21:28] foleymic commented on #2436
@thallgren  - I work with @suravikumar.  I can try a nightly build or build locally if you give me a commit to checkout.

[2022-02-24 21:29] thallgren commented on #2436
@foleymic excellent. I'm working on this now. I'll keep you posted.

[2022-02-25 00:27] thallgren commented on #2436
@foleymic you can try building from [this commit](/telepresenceio/telepresence/pull/2438/commits/8985dc39436e0250c7a12e090f9baeae63004fad). It's enough to build the client. The following should do the trick:
[code]
This should result in a binary under `telepresence` under `build-output/bin`. The v2.5.2 version isn't strictly correct (this is a variation), but using it will make the connect align w

[2022-02-25 00:47] foleymic commented on #2436
Thanks for the quick turnaround on this @thallgren.  This looks to be working - I now have 10 simultaneous connections with my mysql client test case.  I'll do a component test in a little bit and update you in a bit, but so far so good.  Thanks again!

[2022-02-25 12:28] foleymic commented on #2436
Component test is also working.  Thanks again @thallgren!

[2022-02-25 12:44] thallgren commented on #2436
@foleymic thanks so much for testing and validating! I hope we'll get a 2.5.3 release out with this fix today or perhaps Monday.

[2022-02-25 15:00] #2430 closed, assigned to nobody

[2022-02-25 15:00] #2436 closed, assigned to nobody

[2022-02-25 15:09] thatsk opened #2439 "telepresence in nomad"
is there way we can connect to nomad cluster?

[2022-02-25 16:12] wasd171 commented on #2428
We also experienced it

[2022-02-28 12:07] thallgren commented on #2439
I suggest you ask questions about Telepresence in our [slack channel](http://a8r.io/slack). Tickets should be used for bug reporting and feature requests.

[2022-02-28 12:07] #2439 closed, assigned to nobody

[2022-02-28 18:08] thatsk commented on #2439
This seems like feature requests  so it should be open ticket

[2022-03-02 08:26] PashCracken commented on #2425
Would be good to get a fix for this. I typically have a long list of config files in my KUBECONFIG variable

[2022-03-02 19:01] ableuler opened #2447 "quit/reconnect leads to failures on v2.5.x"
**Describe the bug**
After running `telepresence quit` and reconnecting through `telepresence connect`, telepresence is not functional. See for example the following command sequence. The same sequence works as expected when using version 2.4.11 of telepresence.
[code]
The logs generated by the above sequence can be found here: [telepresence_logs.zip](https://github.com/telepresenceio/telepresence

[2022-03-03 07:46] thallgren commented on #2447
The `https://kubernetes.default` should always give you status 401 (which it does. The first attempt is not a 403). Your second attempt uses a verbose output and the actual status code isn't visible. What does the actual JSON response look like in the second attempt?

[2022-03-03 14:47] ableuler commented on #2447
Sorry, I don't know why I typed 403, meant 401. I updated the description. On the second attempt I don't get any response, the request just hangs indefinitely.

[2022-03-04 02:05] thallgren commented on #2447
What type of cluster is it? Does it run in a virtual machine on your laptop? If that's the case, what kind of network configuration does that VM have?

[2022-03-04 07:43] ismart-yuxi opened #2450 "telepresence: error: requires at least 1 arg(s), only received 0 See logs for details (29 errors found): "C:\\Users\\Administrator\\AppData\\Local\\telepresence\\logs\\daemon.log""
![image](https://user-images.githubusercontent.com/7867513/156720583-0c999b48-b4c5-4215-9e6a-e0855f8a43ed.png)

[code]

[2022-03-04 07:57] ismart-yuxi commented on #2450
[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8184045/telepresence_logs.zip)

[2022-03-04 08:23] ismart-yuxi opened #2451 "The headless service dns cannot be mapped"
![J@L1Z@NW}2G}S2 )8N51CSB](https://user-images.githubusercontent.com/7867513/156726544-82a27773-7061-46d3-bf03-2783bdb60dc9.png)
![UXJN)7TRTJP B@_U`V$B3ZL](https://user-images.githubusercontent.com/7867513/156726558-11dfa361-0924-4bad-8f52-44def2659663.png)

[2022-03-04 10:11] thallgren commented on #2450
You'll need to provide the name of the workload that you want to intercept. The `-n` is optional and will specify the namespace, if different from the default. If your workload is `hollysys123`, then what you want is probably:
[code]
This will give you an intercept named `hollysys123`.

I'm leaving this ticket open though, because a usage error (missing argument) should not recommend the user to l

[2022-03-04 11:08] thallgren commented on #2451
@ismart-yuxi you'll need to describe your problem in more detail. Please take a look at the [issue template](https://github.com/telepresenceio/telepresence/issues/new?assignees=&labels=&template=Bug_report.md).

[2022-03-04 16:25] #2450 closed, assigned to nobody

[2022-03-06 07:24] seagle0128 commented on #2425
Same issue with 2.5.3.

[2022-03-07 15:19] stevengibbszions opened #2456 "Cannot Connect from inside VSCode DevContainer"
**Describe the bug**
Given that I am running `telepresence connect` from inside my [VSCode devcontainer](https://code.visualstudio.com/docs/remote/containers) telepresence fails to connect.

**To Reproduce**
Steps to reproduce the behavior:
1. When I run 'telepresence connect'
2. I see
[code]
4. So I look at 'connector.log and daemon.log'
5. See logs below

**connector.log**

[code]
**daemon.log**

[2022-03-07 17:04] ableuler commented on #2447
It's an rke (v1.3.0) cluster (v1.20.13) which ships with calico (v3.17.2) as networking plugin.

[2022-03-08 03:00] rrva opened #2457 "Multiple files in KUBECONFIG not supported"
**Describe the bug**

Multiple files in KUBECONFIG not supported

**To Reproduce**

Steps to reproduce the behavior:
1. Set the environment variable KUBECONFIG to point to multiple files:

export KUBECONFIG=$HOME/.kube/foo:$HOME/.kube/bar

2. Run telepresence connect

```connector.Connect: stat /Users/myuser/.kube/foo:/Users/myuser/.kube/bar: no such file or directory```

**Expected behavior**

Pi

[2022-03-08 15:26] AlexBrohshtut opened #2459 "Requests to traffic manager are throttled allowing only one requests per 100ms per URL"
**Describe the bug**
Requests to `traffic-manager` are throttled.

We tried different scenarios, and it seems like this:
* Requests to the same URL made within **LESS THAN** 100ms window are throttled and processed every 5 seconds
* Requests to the same URL made within **MORE THAN** 100ms window are not throttled and working good
* Requests to the different URLs are not being throttled despite bei

[2022-03-09 22:46] qtruong-brex opened #2462 "Running telepresence on a cluster with a lot of namespaces"
Hi, I'm trying to use telepresence (the `intercept` command in particular) in a cluster that has about 50 or more namespaces. Each namespace has about 20 or so deployments and services. I only work on one namespace and would only like to use telepresence there. I'm using the `--namespace` in my `intercept` command but I notice that telepresence generates a lot of files in `/etc/resolver`:

[code]

[2022-03-09 22:54] qtruong-brex commented on #2462
Also log file with debug level mode enabled:
[daemon.log](https://github.com/telepresenceio/telepresence/files/8218898/daemon.log)
[connector.log](https://github.com/telepresenceio/telepresence/files/8218905/connector.log)

The error message from the command line:
[code]

When I do `telepresence quit -r -u` and reconnect again, it works sometimes. The log in that case:
[connector-working.log](http

[2022-03-10 16:28] thallgren commented on #2459
I'm not able to reproduce this. The first sample gives me the following outout:
[code]
So all requests are sent within 180 ms.

@AlexBrohshtut  can you please provide the daemon.log and if possible the log from the traffic-manager that covers a run of the first sample? You must use `telepresence loglevel debug` prior to the run.

[2022-03-10 16:52] AlexBrohshtut commented on #2459
Here is the [daemon.log](https://github.com/telepresenceio/telepresence/files/8225400/daemon.log)
Unfortunately, I don't have traffic-manager logs. Where they are at the pod?

[2022-03-11 00:57] thallgren commented on #2459
The logs of the traffic-manager can be obtained using `telepresence gather-logs` (it will actually collect all logs), or specificly using `kubectl -n ambassador logs traffic-manager-xxxx` (where xxxx is the generated part of the pod's name).

I'm looking at your `daemon.log` though, and from what I can see, the requests aren't serialized by Telepresence. They arrive that way, and with 9 seconds ap

[2022-03-11 05:56] AlexBrohshtut commented on #2459
I ran:

[code]

Then the results are as following:
[code]

Then I tried to run it on the IP instead of URL, using `await axios.get('http://172.20.84.176:9250/')` and it is actually worked good:
[code]

Log files:
[connector.log](https://github.com/telepresenceio/telepresence/files/8229515/connector.log)
[daemon.log](https://github.com/telepresenceio/telepresence/files/8229520/daemon.log)
[traffic-

[2022-03-11 08:55] thallgren commented on #2459
The fact that everything works well when using the IP confirms my suspicion. I also don't see anything that would cause these problems in the traffic-manager log.

Do you have any other software installed on your workstation that adds a DNS resolver? If you do `ls /etc/resolver` at a time when Telepresence is not connected, what files do you see?

[2022-03-11 09:04] thallgren commented on #2462
Try using `telepresence connect --mapped-namespaces ...`. More [info in the docs](https://www.getambassador.io/docs/telepresence/latest/howtos/outbound/#controlling-outbound-connectivity).

[2022-03-11 09:07] thallgren commented on #2457
Closing as duplicate of #2425

[2022-03-11 09:07] #2457 closed, assigned to nobody

[2022-03-11 09:11] thallgren commented on #2456
Perhaps [this documentation](https://www.getambassador.io/docs/telepresence/latest/reference/inside-container/#running-telepresence-inside-a-container) can help?

[2022-03-11 09:11] thallgren commented on #2451
Closing, as no more info was provided.

[2022-03-11 09:11] #2451 closed, assigned to nobody

[2022-03-11 14:12] darthzyklus opened #2465 "Equivalent command"
Hi there!

Hey I have a question, I don't know how to use the following command, in the version v2:

TELEPRESENCE_USE_DEPLOYMENT=1 telepresence --namespace SOME_NAMESPACE --also-proxy SOME_URL

Can you help me with this?

[2022-03-11 16:02] AlexBrohshtut commented on #2459
[code]

[2022-03-11 22:04] oojikoo opened #2466 "please bring "--swap-deployment" back"
**Please describe your use case / problem.**
A clear and concise description of your use case / problem. The "why" is really valuable to us. For example, "I have a set of services whose clients have long-lived connections."

I've been using telepresence since v1.  our infra use api gateway at front and all micro-services are connected via message broker(such as redis, nats and stuffs) so no ports

[2022-03-11 22:33] qtruong-brex commented on #2462
Thank you! Works great for me.

[2022-03-12 01:01] stevengibbszions commented on #2456
Yes!  I missed that.  Installing iptables and running with the added docker arguments helped the process progress further.

Now I see the following error:

*daemon.log*

[code]

*connector.log*

[code]

Any ideas on that error?

[2022-03-12 07:10] thallgren commented on #2466
Intercepting without logging in or by using `--http-header=all` will intercept all requests to the pod, but it will not stop the containers from running (and hence consume messages from message queues etc.). Would a solution where you could actually stop the intercepted container solve your use-case?

[2022-03-12 07:13] thallgren commented on #2465
Please use our [OSS-forum](http://a8r.io/slack) for questions. Tickets are for bug-reports or feature requests.

[2022-03-12 07:13] #2465 closed, assigned to nobody

[2022-03-12 07:14] #2462 closed, assigned to nobody

[2022-03-12 07:18] thallgren commented on #2459
Are you seeing those files when telepresence is _not_ connected? If so, please remove all files with the `telepresence.` prefix (the cat output doesn't look right. All telepresence files should redirect to the same port).

[2022-03-12 07:28] thallgren commented on #2456
Looks like the iptables doesn't get setup correctly. This
[code]
shouldn't happen. Are you running with `--cap-add=NET_ADMIN`?

[2022-03-12 09:40] AlexBrohshtut commented on #2459
I've removed all files
Connected again, seen that there are file-per-namespace in `/etc/resolvers/telepresence.<NAMESPACE>.local`
Content was:
[code]

Ran script - result was the same, with 5sec delay
Disconnected from tele and all files were removed.

[traffic-manager-c6cf5bdff-2zbh6.ambassador.log](https://github.com/telepresenceio/telepresence/files/8237384/traffic-manager-c6cf5bdff-2zbh6.ambas

[2022-03-12 13:55] stevengibbszions commented on #2456
@thallgren - Yes, here is my full docker command:

`docker run --sig-proxy=false -a STDOUT -a STDERR --mount type=volume,src=vscode,dst=/vscode --mount type=bind,src=/var/run/docker.sock,dst=/var/run/docker-host.sock -l vsch.local.folder=/app/git/ibadmin -l vsch.quality=stable -l vsch.remote.devPort=0 --cap-add=NET_ADMIN --device=/dev/net/tun:/dev/net/tun --network=host --entrypoint /bin/sh vsc-ib

[2022-03-12 14:32] stevengibbszions commented on #2456
Found what might be the issue.  Seems like an API compatibility issue in nf_tables (Debian version of iptables).  Discussed here: https://github.com/tailscale/tailscale/issues/401

Unfortunate workaround 😢... 😁

[code]

Seems like there might be some other syntax for that command that could be made to work with the new iptables (nf_tables) but not sure exactly how.

[2022-03-13 09:16] AlexBrohshtut commented on #2459
We tried with and without VPN - the result is the same.

[2022-03-13 09:16] AlexBrohshtut commented on #2459
We tried with and without VPN - the result is the same.

[2022-03-13 13:24] AlexBrohshtut commented on #2459
We did a couple of more experiments:
* The issue happens only on something that is DNS resolved from the k8s cluster (this we already knew) - e.g. google.com is resolves instantly
* The issue doesn't reproduce on Ubuntu 20.04
* It does seem to be related to the DNS

Do you have any ideas about what this could be?

[2022-03-13 21:42] oojikoo commented on #2466
we are using nats(http://nats.io/) as our message queue. It seems that containers still consume messages after using
[code]

am I doing anything wrong?

[2022-03-13 23:20] thallgren commented on #2466
@oojikoo no, you're not doing anything wrong. But as I wrote, that option will not actually stop the container. Hence my question.

[2022-03-13 23:26] thallgren commented on #2456
Oh, that's interesting (and valuable) information. Thanks for conveying your findings here. We'll need to look into this.

[2022-03-14 11:01] PetrSilar opened #2467 "Version 2.5.3 on WSL2 (Ubuntu 21.10) failed to intercept"
**Describe the bug**
Telepresence 2.5.3 failed to start intercept on WSL2 with Ubuntu 21.10. Kuberntes cluster is on local Docker Desktop.

**To Reproduce**
Steps to reproduce the behavior:
1. When I run ```telepresence intercept echo --namespace test -p 50051 -- bash```
2. I see
[code]
3. IMO relevant lines of ```daemon.log```:
[code]
4. Full logs attached.

**Expected behavior**
Obviously, to in

[2022-03-14 21:21] darthzyklus commented on #2465
Thanks  I will!

[2022-03-15 01:00] oojikoo commented on #2466
oh.. stopping the intercepted container actually solved my case! thanks. there gotta be a better solution(maybe auto deploy and undeploy?)

[2022-03-16 03:16] oojikoo commented on #2466
I will close this issue! but there gotta be some option to stop(or scale to 0) existing deployment while intercepting

[2022-03-16 12:49] Gikkman commented on #2447
I've experienced the same, using 2.5.3 on a M1 Mac, against an Openshift cluster managed by our internal IT team.

The first connect after a reboot works just fine, but if I quit and reconnect, subsequent requests doesn't work and just hangs indefinitely.

[2022-03-17 01:24] #2466 closed, assigned to nobody

[2022-03-17 06:24] AlexBrohshtut commented on #2459
@thallgren is there anything more we can check? The issue is still present. Do we have some way to make logs of Telepresence more verbose to understand where the delay is?

[2022-03-17 08:31] #1832 closed, assigned to nobody

[2022-03-18 08:41] thallgren commented on #2459
Can you verify that this happens on all macOS workstations, or is it just one?
Did you run `telepresence test-vpn`?

[2022-03-18 08:50] thallgren commented on #2467
@PetrSilar the logs aren't produced with loglevel debug, so they don't contain any info that will help trace network issues.

I suspect that your problem is that the cluster have access to your host's network and DNS. So things that it doesn't resolve get routed back to the host and back into the Telepresence TUN-device, which of course routes it to the cluster, and an endless recursion is a fact.

[2022-03-18 09:12] AlexBrohshtut commented on #2459
This happens on all macOS workstations in the company.

`test-vpn` results:
[code]

[2022-03-18 14:48] PetrSilar commented on #2467
Thank you for your answer.

My bad, attaching new logs.

Does it mean that failure in setting of iptables' rule because of invalid arguments is not a problem? (See log part bellow 3. in the original post).
Also it worked for me with some older version (still 2.x) of telepresence. Unfortunately I don't know which one.
It also works in Windows (i.e. the same machine but intercepting from Windows ins

[2022-03-18 17:36] thallgren commented on #2467
@PetrSilar, please take a look at https://github.com/telepresenceio/telepresence/issues/2456#issuecomment-1065893583 regarding the `iptables` problem.

[2022-03-21 12:46] 0x2C6 opened #2479 "telepresence uninstall --agent removes it from all agents"
**Describe the bug**
According to documentation, telepresence uninstall can accept
`--agent`
`--all-agents`
`--everything`

If single-agent name passed, it should remove traffic-agent from a specific workload. When you use uninstall --agent on cluster side it behave expected, however on local it removes all workload access and requires re-intercepting workloads.

**To Reproduce**
Steps to reproduc

[2022-03-21 21:02] suravikumar commented on #2428
My team is also experiencing this issue. We are using an ubuntu and debian based VMs that are intercepting our components. Both are able to intercept and resolve services as expected, but when we are trying to take a DB dump within a mysql container, we are not able to resolve our DB service.

[2022-03-21 21:24] suravikumar opened #2480 "v2.4.7 - v2.5.3 - DNS resolution failures in containers running in Linux VMs (Debian and Ubuntu)"
Some members of my team are using telepresence for debugging our components on a linux based VM, and when debugging, we sometimes want our component to point to a locally running mysql container as our datasource in the same VM. Through telepresence, we want to not only intercept our component, but we want to use our DB service to get a dump of the data and import it into our mysql container. Howe

[2022-03-21 21:25] suravikumar commented on #2480
It looks like this developer is running into the same issue as well: https://github.com/telepresenceio/telepresence/issues/2428

[2022-03-22 10:03] JuanRamino opened #2482 "Intercept does not work anymore migrating from 2.4.8 to 2.5.3"
**Describe the bug**

When using telepresence with a remote cluster  I can no more start an intercept with telepresence version 2.5.3
Using version 2.4.8 works as expected.
Using telepresence with a local cluster works fine with both versions.

**To Reproduce**
Steps to reproduce the behavior:
1. When I run 'telepresence intercept...'
2. I see 'telepresence: error: Failed to establish intercept: t

[2022-03-22 10:36] JuanRamino commented on #2329
Hi,

we have the same use case but we do not put the traffic-manager in the same chart of the application.
So, we deploy the application and then we deploy the traffic-manager in the same namespace.

I Hope it helps!

[2022-03-22 14:30] thallgren commented on #2329
@rchenzheng one reason to hardcode the name of the traffic-manager is that it will allow for stricter RBAC rules. An RBAC rule can be constrained to a resource name but it cannot be constrained to label selection.

[2022-03-22 14:34] thallgren commented on #2482
I'm afraid the logs are all just log-level info, which isn't very helpful when trying to isolate a problem like this. Can you please run `telepresence loglevel debug` and then try the `telepresence intercept`? Ideally, remove all logs before you do that to get rid of all logs that are of no interest.

[2022-03-22 15:57] PetrSilar commented on #2467
Yes, that helped. Thank you.
I.e. the problem is that telepresence does not consider nf_tables.
This issue may be marked as duplicate of #2456.

[2022-03-23 08:49] JuanRamino commented on #2482
Hello,

Thanks for quick reply!

Here are new clean debug logs

[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8331385/telepresence_logs.zip)

[2022-03-23 18:07] cyrus-mc opened #2484 "Incorrect path(s) for mutating webhook certificate and key file"
Traffic manager is coded to expect the mutating webhook certificate and key file to be mounted at /var/run/secrets/tls/crt.pem and /var/run/secrets/tls/key.pem.

This breaks with convention used by Kubernetes when creating TLS secrets, which set the key(s) to tls.crt and tls.key (certificate manager follows this convention).

Therefore in order to use certificate manager with Telepresence you need

[2022-03-23 20:34] cyrus-mc opened #2486 "Use `objectSelector` capability to limit what objects get sent to mutating webhook"
MutatingWebhooks can be defined with an `objectSelector`:

[code]

Currently the agent injector mutating code handles this exclusion itself by searching for a specific `annotation`. This code can be removed and use the capabilities provided by Kubernetes itself to handle this filter.

[2022-03-24 03:03] thallgren commented on #2486
We cannot revert the choice of using an annotation for this. Such a change would not be backwards compatible.

[2022-03-24 15:54] cyrus-mc commented on #2486
I get the backwards compatibility but you could have a deprecation period in which the label and annotation are required and then at one point remove it all together.

Reason why this approach is beneficial is that if you choose to have the `failurePolicy` set to Fail then anytime traffic-manager restarts PODs will never start because the admission hook will fail.

[2022-03-25 11:24] fragpit opened #2489 "multiple port deployment and no service deployment"
**Please describe your use case / problem.**
Hi guys, I haven't found a solution for this cases:
1. I have a deployment, that creates container with multiple ports. And one service for both ports. I split service on two, but no luck.
[code]

2. Is it possible to start interception on the deployment which has no services?

**Describe the solution you'd like**
1. It would be nice to have an option t

[2022-03-25 12:00] xavidop opened #2490 "Version 2.4.9 grpc size config is not working"
**Describe the bug**
We are using the mutating webhook to inject the traffic agent into our pods. We usually have around 100 pods with the agent injects.

At a certain point, when we added more pods, the telepresence interception stop working. Why? I saw these logs on the connector.log file:

[code]

I saw on the documentation that there is a config on the client-side to increase the default size

[2022-03-28 13:57] DoneSpeak opened #2492 "telepresence: error: connector.Connect: failed to ensure traffic manager: the helm operation timed out."
I have never success to run `telepresenc connect` in my macbook pro.

![image](https://user-images.githubusercontent.com/16522248/160413207-68477986-e445-45ef-89ac-c816fa0d7ef1.png)

telepresence version
[code]

The k8s cluster is start with [microk8s](https://microk8s.io/)

The log files:
[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8363368/telepresence_logs.zip)

[2022-03-30 14:54] #2490 closed, assigned to nobody

[2022-03-30 20:41] JuanRamino commented on #2482
I see many errors in connector.log like

`
2022-03-23 09:45:42.5250 error   connector/session/agent-watcher : manager.WatchAgents recv: rpc error: code = NotFound desc = session "1f795113-4c41-4d2a-922b-eef03ed86c16" not found
`
`
2022-03-23 09:45:42.5250 error   connector/session/intercept-port-forward : reading port-forwards from manager: manager.WatchIntercepts recv: rpc error: code = NotFound

[2022-03-31 18:28] s1apped opened #2498 "Set resource limits on traffic-agent"
**Please describe your use case / problem.**
Hi.

Is it possible to set resource limits on traffic-agent? In our setup we are using Flux and Resource Quotas policy and once I enable traffic-agent through annotation pod will not get up as the sidecar is missing resource limits.

Best Regards.

[2022-04-01 09:00] #2498 closed, assigned to nobody

[2022-04-01 12:58] mschmidt291 commented on #2492
@DoneSpeak According to your log it says `Unable to connect to TrafficManager: failed to ensure traffic manager: the helm operation timed out.  The current timeout 30s can be configured as "timeouts.helm" in "/Users/ygr/Library/Application Support/telepresence/config.yml"` . Can you try setting the timeout higher? Alternatively you could check your microk8s instance if there are issues with the co

[2022-04-01 14:23] thallgren opened #2499 "The telepresence gather-logs command must take mapped-namespaces into account"
The `telepresence gather-logs` command might leak information from namespaces that the user doesn't have access to, and also scale very poorly for customers that have a high number of namespaces and users that are confined to one (or very few) of those namespaces.

The command must only gather logs from namespaces that the user is able to access and it should not ask the `traffic-manager` to provi

[2022-04-02 11:10] lixajh commented on #1795
same

[2022-04-03 23:16] vl-shopback commented on #2033
is there any update

[2022-04-05 00:20] dtmirizzi commented on #2425
Recently upgraded to 2.5.4 and seeing this issue as well. Any reason why we will not support this going forward?

[2022-04-05 02:43] rajetta opened #2502 "unable to get route for never-proxied subnet <kube-api-server-ip>"
**Describe the bug**

I see this error message in daemon log:
  unable to get route for never-proxied subnet 130.35.146.1/32. If this is your kubernetes API server you may want to open an issue, since telepresence may not work if it falls within the CIDR for pods/services.

I can resolve the service by name after I do `telepresence connect`, however I can't connect to it.

**To Reproduce**
Steps t

[2022-04-05 07:58] nidyaonur opened #2504 "Agent Install timeout"
**Describe the bug**
telepresence: error: Failed to establish intercept: the agent install timed out.

**To Reproduce**
Steps to reproduce the behavior:
1. When I run
[code]

2. I see
[code]
4. So I look at connector.log and daemon.log
5. See error
[connector.log](https://github.com/telepresenceio/telepresence/files/8416162/connector.log)
[daemon.log](https://github.com/telepresenceio/telepresence

[2022-04-05 10:52] thallgren commented on #2499
Closed by #2500

[2022-04-05 10:52] #2499 closed, assigned to thallgren

[2022-04-05 10:54] thallgren commented on #2502
This is probably fixed in #2505 so please try our nightly once that PR has been merged.

[2022-04-05 10:57] yuyuvn opened #2507 "Can't intercept when agent from another namespace is not consistent"
**Describe the bug**
The traffic agent consistent check is not filtered by namespace.

**To Reproduce**
Steps to reproduce the behavior:
1. When I run intercept for namespace1
[code]
2. Then I switch to another namespace and another telepresence version then run intercept.
[code]
3. I see
[code]

**Expected behavior**
It should intercept without problem because each namespace should be isolated.

[2022-04-05 13:23] petergardfjall commented on #2169
I had the same volume mount issue running Telepresence `v2.5.4` on Ubuntu 20.04 and @miquella's solution of enabling `user_allow_other` in `/etc/fuse.conf` was also needed for me to get volume mounts to work. I think the documentation needs some updating. (unless a validation step can be added to the code that automatically detects the absence of this setting)

[2022-04-05 13:55] petergardfjall commented on #1646
This is a deal-breaker for us for Telepresence v2 unfortunately. We have a number of services that rely on job queue semantics, where an incoming request gets placed in a job queue later to be picked up by an available worker. This worked perfectly with Telepresence v1, which entirely swapped out the deployment for the local process. With v2, it's a fifty-fifty chance that a job gets handled by th

[2022-04-06 00:43] #1944 closed, assigned to nobody

[2022-04-06 05:38] petergardfjall commented on #1646
I think this relates to #1608

[2022-04-06 07:42] petergardfjall commented on #1608
Wanted to pitch in that the current design of Telepresence v2 does not work well for the large class of applications that operate with work queue semantics.

For example where incoming requests get placed in a job queue later to be picked up by an available worker. This worked perfectly with Telepresence v1, which entirely swapped out the deployment for the local process. With v2, it's a fifty-fif

[2022-04-07 10:39] thallgren commented on #1608
@petergardfjall there's a ticket requesting the ability to actually stop the running container #1646 and we're well aware that it would be helpful in a lot of use-cases where the  that level of intrusion doesn't matter (e.g. the whole cluster or namespace is used for testing only).

We've also done some work to allow less intrusive intercepts while still being able to handle message queues correct

[2022-04-07 11:21] petergardfjall commented on #1608
@thallgren Good to hear that you are looking at this (from different angles). To me, I would be very happy if it would just be possible to replicate the behavior of `v1` where the in-cluster workload (deployment/replicaset containers) could be replaced.

How difficult would it be to support the equivalent of a `--swap-deployment` flag to `telepresence intercept` (`telepresence intercept --replace`

[2022-04-07 11:31] thallgren commented on #1608
@petergardfjall that sounds about right, but we must consider corner cases like: "what if someone wants to do a normal intercept after a `--replace`? Should that then re-inject the container into the pod, or is the `--replace` a permanent change? If it's the latter, isn't that something that should be configured on the workload (perhaps using an annotation)?

[2022-04-07 11:38] petergardfjall commented on #1608
I see. Could one make use of kubernetes rollbacks for that?

Edit: I mean to use rollbacks for `telepresence leave` on a (`--replace`)intercepted workload (and force a `leave` if a new `intercept` is done).

[2022-04-08 00:37] deod opened #2512 "Readiness probe failed: stat: can't stat '/tmp/agent/ready'"
**Describe the bug**
I am trying to execute the following command with my local kubernetes cluster:
`telepresence intercept MYSERVICE -- bash`

but I get the following error in my daemon.log:

[code]

The intercept command seems to be spinning up a replicate pod with a new traffic-agent container but encounters the following error :
[code]
Since the replicate pod with traffic-agent container isnt

[2022-04-08 15:22] akarokr commented on #2097
I'm having this problem also. I've installed telepresence (locally and from cluster) and didn't work. The first time I connect, everything seems to work, but if I quit and connect againg, it returns the error:

`2022-04-08 12:19:17.1933 error   connector/session/remain : rpc error: code = NotFound desc = Session "a71767fc-d210-49b4-aa8f-7fef9f806698" not found
2022-04-08 12:19:17.1933 error   conn

[2022-04-08 16:14] akarokr opened #2516 "Intermittent connection"
**Describe the bug**
The connection seems to be very inconsistent, when I first installed, it was working, but when I connect again, connector returns me following error:

`2022-04-08 13:04:53.3625 error   connector/session/agent-watcher : manager.WatchAgents recv: rpc error: code = NotFound desc = session "202c506a-cac5-482c-ac00-b27521cc3ad6" not found
2022-04-08 13:04:53.5062 error   connector/

[2022-04-11 05:28] ilovechai opened #2518 "Openshift: Telepresence 2 pod security context CreateContainerConfigError issue"
**Please describe your use case / problem.**
I have installed traffic-manager on namespace A where all my deployments/services reside.
``` helm install traffic-manager --namespace A datawire/telepresence --set securityContext=null```

telepresence connect works fine

So, I tried intercepting my service, but I get the following error
[code]
Looking at the pods it shows CreateContainerConfigError er

[2022-04-11 11:13] lmarschall opened #2519 "Telepresence on Oracle K3S Cluster"
Hey Community,

at the moment, I'm trying to improve my development experience on my oracle k3s cluster by connecting my local development server with the k3s cluster over telepresence connect. I Installed the k3s cluster with the following command: `curl -sfL https://get.k3s.io | sh -s - --docker --write-kubeconfig-mode 644 --tls-san PUBLIC IP`
I copied the k3s.yaml from `/etc/rancher/k3s` and pa

[2022-04-11 11:40] boehb-efs opened #2520 "Bypass crossorigin"
**Please describe your use case / problem.**
When developing and testing a frontend locally, the backend must provide certain crossorigin rules (allow localhost).

**Describe the solution you'd like**
Is it possible to run the backend "locally" with telepresence *without* connecting the cluster to the ambassador cloud?

**Describe alternatives you've considered**
CrossOrigin-Rules in every backend

[2022-04-11 15:12] selenaanguyenn opened #2521 "Namespace-scoped traffic manager install creates ClusterRole and ClusterRoleBinding"
**Describe the bug**

Using the namespaced install of the traffic manager shouldn't require cluster-level permissions. However, when installing the traffic manager this way, it actually tries to create a `ClusterRole` and `ClusterRoleBinding`. This won't work for a user who doesn't have cluster-wide permissions.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a Helm `values.yaml` fil

[2022-04-11 21:32] suravikumar opened #2522 "v2.4.11 - Intermittently not able to access services"
**Describe the bug**
My team and I are running into an issue where we are able to connect to my cluster through telepresence, but after some time, we get errors when trying to access our services. For context, whenever I finish development when using telepresence, I leave the intercept, and when I want to use it again, I am able to create it again successfully. However after I make the new interce

[2022-04-12 07:17] vanlongme commented on #2165
have same issue at v2.5

[2022-04-12 08:25] thallgren commented on #2165
This is surprising. AFAIK, Telepresence doesn't do anything to modify the /etc/resolv.conf file. @tanersener is your system using `systemd-resolved`?

[2022-04-12 08:46] thallgren commented on #2165
@vanlongme are you also seeing modifications to the `/etc/resolv.conf` file? What 2.5 version are you using, and on what platform? What does `telepresence test-vpn` tell you?

[2022-04-12 08:50] thallgren commented on #2522
Does it make any difference if you do a `telepresence quit` before you change the network?

[2022-04-12 09:08] tanersener commented on #2165
@thallgren Yeah, I'm on `Ubuntu 20.04`. It has `systemd-resolved` running. I can try disabling it if that's causing this issue.

[2022-04-12 14:50] tmododragon opened #2523 "Upgraded to Client: v2.5.5 (api v3) and now telepresence connect can't find the kubeconfig"
**Describe the bug**
Upgraded to Client: v2.5.5 (api v3) and now `telepresence connect` can't find the kubeconfig

[code]
This worked with my previous version 2.4.10

**To Reproduce**
Steps to reproduce the behavior:
1. When I run 'telepresence connect'
2. I see:
[code]

**Expected behavior**
I expected telepresence to connect successfully

[telepresence_logs.zip](https://github.com/telepresenceio

[2022-04-12 15:04] tmododragon commented on #2523
I think the root cause is that telepresence is no longer able to handle multiple kubeconfigs. When I removed the config I was not currently using from `KUBECONFIG` env var the issue was resolved.

[2022-04-12 16:06] suravikumar commented on #2522
I tried that out, but I am still getting the same behavior.

[2022-04-12 16:09] thallgren commented on #2512
Can you please tell us a bit more about your environment. What type of cluster are you using and what version? Do you have any special security constraints on your pods? Are there any service meshes involved? Also, if you do:
[code]
does that reveal some more info (you should typically see some debug logging from the agent).

[2022-04-12 19:10] okruga opened #2524 "custom UIDs. Permission denied"
**Describe the bug**
Mount /var/run/secrets/kubernetes.io is not created when intercepted deployment configured to use non-default securityContext (custom UID).
traffic-agent init container logs:
[code]

So, our deployments are using custom UIDs:
[code]

 After running `telepresence intercept "deployment with custom UID"` it installs traffic-agent and seems connected:
[code]

But `ls /var/folders/

[2022-04-12 21:49] #2519 closed, assigned to nobody

[2022-04-13 03:54] thallgren commented on #2524
The logs shows this:
[code]
Not sure why that is. Does this affect just the `var` folder or do you see it for other mounts as well?

[2022-04-13 03:56] thallgren commented on #2523
Closing as duplicate of #2425

[2022-04-13 03:56] #2523 closed, assigned to nobody

[2022-04-13 04:08] thallgren commented on #2518
Doesn't OpenShift always assign a random, non-root UID when it runs the pod? Or do you have some specific UID ranges assigned? https://cloud.redhat.com/blog/a-guide-to-openshift-and-uids

[2022-04-13 04:11] thallgren commented on #2504
What does the logs from the intercepted pod show? Can you view the logs from its `traffic-agent` container?

[2022-04-13 07:08] okruga commented on #2524
It seems like in version 2.5.5 it effects `var` folder only, since I can see one other mount.
When I was using version 2.5.3 there were no any mounts available at all.

[2022-04-13 07:12] #2507 closed, assigned to nobody

[2022-04-13 12:42] s1apped opened #2526 "Unable to connect local environment to Minikube"
**Describe the bug**
Unable to connect local environment using IntelliJ and EnvFile plugin to pod deployed on Minikube.

Based on below commands everything seems to be intercepted properly but when I start application in IntelliJ it fails to start.
Im running consul and application fails to connect:
`Connect to consul-server.product-pricing.svc.cluster.local:8500 [consul-server.myns.svc.cluster.lo

[2022-04-13 16:57] gersp commented on #1607
+1
My service has two ports GRPC and HTTP and I need to intercept both of them

[2022-04-13 17:41] sarumont commented on #1814
Dusting this issue off, as it still seems to be present. I was just issued a new machine, and I am left without my crutch of Telepresence 1 to fall back on. :)

[code]

[code]

`❯ kubectl get service -o yaml gateway`

[code]

`❯ kubectl get deployment gateway -o yaml`

[code]

[code]

From what I can tell, everything matches up. All the labels previously mentioned in this issue are there. But Tele

[2022-04-14 00:11] damianesteban opened #2528 "telepresence: error: Failed to establish intercept: intercept in error state NO_AGENT"
**Describe the bug**

After updating to the most recent version of Telepresence 2 I'm having an issue creating an intercept. I uninstalled the previously installed agents and created a new one just in case.

**To Reproduce**

Steps to reproduce the behavior:

run `telepresence intercept my-service --port 3000:1688 --mount=true --namespace=staging`

**Expected behavior**

The intercept should be cr

[2022-04-14 11:39] lkoniecz opened #2529 "telepresence ignores include-suffixes setting"
**Describe the bug**

Added following snippet to my kube config
[code]
telepresence status does not reflect that change and show empty include-suffixes

[code]

**Expected behavior**
Include suffixes includes domain suffixes

**Versions (please complete the following information):**

[code]

```Linux INV-13762 5.13.0-39-generic #44~20.04.1-Ubuntu SMP Thu Mar 24 16:43:35 UTC 2022 x86_64 x86_64 x86_

[2022-04-16 09:05] ilovechai commented on #2518
@thallgren By default, it does assign random UIDs, but I installed the traffic manager `--set securityContext=null`(which is needed in openshift), without the `securityContext=null` the traffic manager does not install on the env.

[2022-04-18 08:50] Crow0687 opened #2536 "telepresence: error: connector.Connect: failed to ensure traffic manager: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "MutatingWebhookConfiguration" in version "admissionregistration.k8s.io/v1"
**Describe the bug**
A clear and concise description of what the bug is.

Additionally, if you are using Telepresence 2.4.4 and above, please use
`telepresence loglevel debug` to ensure we have the most helpful logs,
reproduce the error, and then run `telepresence gather-logs` to create a
zip file of all logs for Telepresence's components (root and user daemons,
traffic-manager, and traffic-agents

[2022-04-19 02:14] a123993930 opened #2537 "telepresence: error: connector.Connect:failed to ensure traffic manager: error validating "": error validating data: [unknown object type "nil" in Secret.data.ca.pem, unknown object type "nil" in Secret.data.crt.pem, unknown object type "nil" in Secret.data.key.pem]"
**Describe the bug**
telepresence: error: connector.Connect: failed to ensure traffic manager: error validating "": error validating data: [unknown object type "nil" in Secret.data.ca.pem, unknown object type "nil" in Secret.data.crt.pem, unknown object type "nil" in Secret.data.key.pem]
[code]

[2022-04-19 12:27] JuanRamino commented on #2482
Hi,

I close the issue because it seems resolved with latest version, v2.5.6

Thanks

[2022-04-19 12:27] #2482 closed, assigned to nobody

[2022-04-20 10:19] lkoniecz opened #2540 "Cannot leave intercept - not found"
**Describe the bug**
Cannot leave intercepted service

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Telepresence leaves intercept

**Versions (please complete the following information):**
 - Output of `telepresence version`
[code]
 - Operating system of workstation running `telepresence` commands
[code]
 - Kubernetes environment and Version [e.g. Minikube, bare

[2022-04-21 14:32] xavidop commented on #2490
@thallgren @njayp hi everyone! We just updated it to 2.5.4 version and this is still happening. The grpc config property is not working

[2022-04-21 14:33] thallgren commented on #2490
@xavidop May I ask why you'd update to 2.5.4 and not 2.5.6?

[2022-04-21 14:34] xavidop commented on #2490
@thallgren we updated 2 weeks ago when 2.5.4 was released because this fix was supposed to be in that version

[2022-04-21 14:38] thallgren commented on #2490
@xavidop Then please update again. The problem is fixed in 2.5.6. See #2527 and #2525.

[2022-04-21 16:23] xavidop commented on #2490
@thallgren I will upgrade that tomorrow, do you recommend using the --mapped-namespaces parameter while running the telepresence connect command?

[2022-04-21 16:27] thallgren commented on #2490
@xavidop Yes, if you have a large number of namespaces in the cluster that you don't expect that your intercepted processes will connect to, then it will be a good idea to use `--mapped-namespaces`. All namespaces become DNS top level domains and that puts an extra load on the DNS-resolver.

[2022-04-21 16:34] xavidop commented on #2490
perfect, good to know! I will let you know tomorrow then! thanks for the help!

[2022-04-21 20:07] #2521 closed, assigned to nobody

[2022-04-22 04:59] thallgren commented on #2537
Looks like the nightly used here was broken. Please upgrade your traffic-manager to the now released 2.5.6.

[2022-04-22 04:59] #2537 closed, assigned to nobody

[2022-04-22 05:02] thallgren commented on #2536
What version of Kubernetes are you running?

Also, please don't just paste an error into the title of the bug-report. The template is there for a reason.

[2022-04-22 05:21] thallgren commented on #2529
I'm not able to reproduce this. A copy/paste of your example works just fine (".svc" shows up in the status output). Did you quit/connect after the change was made?

Bug 1943 uses incorrect indentation. The `extensions` must be indented to the same level as the cluster's `server`.

[2022-04-22 05:24] thallgren commented on #2528
`NO_AGENT` generally means that there's no pod running for the workflow that you're trying to intercept. Please check how many pods that are running. A `kubectl describe replicaset xxx` is sometimes helpful to check what went wrong.

[2022-04-22 05:28] thallgren commented on #2526
Please run `telepresence loglevel debug`, then reproduce the problem. After that, run `telepresence gather-logs`. You can post your logs here or examine them yourself, they might give you a clue.

[2022-04-22 06:17] lkoniecz commented on #2529
Yes, I did all that, including workstation restart.

[2022-04-22 08:46] XiNiHa commented on #2492
I'm having the same issue while trying to connect to AWS EKS (even with increased timeouts). The error changes to `telepresence: error: connector.Connect: the traffic manager gRPC API timed out.` if I [install traffic manager by myself](https://www.telepresence.io/docs/latest/install/helm). Connecting to `minikube` works without any problem. I'm also on M1 Macbook Air with macOS 12.3.

(+ timeouts

[2022-04-22 11:13] thallgren commented on #2529
Then I don't know what to say. The extension mechanism works as intended. Can you add other properties to it such as `also-proxy`?

[2022-04-22 13:39] lkoniecz opened #2544 "Telerepresence does not intercept service"
**Describe the bug**

After connecting to the cluster and starting an intercept original requests still target real pod.

**To Reproduce**
[code]

my intercept
[code]

service
[code]

deployment
[code]

my app running on the local workstation

[code]

**Expected behavior**
traffic is forwarded to my pod

**Versions (please complete the following information):**
[code]

**Additional context**
I don

[2022-04-22 13:40] lkoniecz commented on #2529
I will try that and let you know.

[2022-04-22 15:08] Yamakaky commented on #2314
Could you point me to where it is mentioned in the doc? I couldn't find it at https://www.telepresence.io/docs/latest/quick-start/...

[2022-04-22 18:23] #2480 closed, assigned to nobody

[2022-04-22 18:24] suravikumar commented on #2480
Confirmed that --network=host is required for our use case in a linux environment.

[2022-04-23 21:46] prpa commented on #2522
[](url)I'm also having these intermittent DNS issues as well.

I'm using telepresence v2.5.6 in a Windows 10 box.

[code]

I've captured network traffic with wireshark, and noticed that when valid host names can't be resolved by telepresence DNS is when responses from other DNS servers arrive before telepresence DNS responds.

**Example 1 - Unsuccessful name resolution by telepresence DNS**

1. ho

[2022-04-24 11:33] Crow0687 commented on #2536
Sorry,
Kubernetes Server Version: v1.14.0
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.5", GitCommit:"5c99e2ac2ff9a3c549d9ca665e7bc05a3e18f07e", GitTreeState:"clean", BuildDate:"2021-12-16T08:38:33Z", GoVersion:"go1.16.12", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99

[2022-04-24 15:28] thallgren commented on #2536
Telepresence supports Kubernetes versions >= 1.17.

[2022-04-24 15:32] thallgren commented on #2522
@prpa, I think your problem is solved by #2541.

[2022-04-24 22:03] prpa commented on #2522
@thallgren, thanks a lot! I've downloaded the `release/v2` branch with the fixes, and it worked! I mean, the intermmitment DNS issues are not happening anymore. And I could confirm it quite easily by analyzing the captured traffic with wireshark.

I think #2541 may also fix @suravikumar issue, and a few other ones related to dns that are currently sitting as open in the backlog.

[2022-04-25 02:03] Crow0687 commented on #2536
OK, Thanks very match

[2022-04-25 04:35] thallgren commented on #2522
@prpa thanks for confirming! It helps us a lot.

[2022-04-25 08:38] XiNiHa commented on #753
I tried to build an image for ARM64 by myself (since the targeting PR is somewhat outdated) but didn't get it working. (my knowledge about Docker and all the build system stuff is kinda limited) Can we expect any support here? Since the `traffic` binary itself looks working on Linux ARM64 without any problem, I guess it'll not require that much work to add support for this. The previous PR was stu

[2022-04-25 09:00] lkoniecz commented on #2544
Additional info - tryin to uninstall the agent
[code]

[2022-04-25 09:03] thallgren commented on #2544
When that happens, something has modified the deployment after telepresence did its modification. Telepresence is then no longer able to rollback its own modification.

[2022-04-25 11:02] lkoniecz commented on #2544
@thallgren

I can't recall what I've been doing with the cluster but after reinstalling everything from scratch it started to work.

deployment now has 2 ports
[code]

for the original image and
[code]
for sidecar

service routes traffic to sidecar which is what I want
[code]

can be closed
thanks!

[2022-04-25 11:02] #2544 closed, assigned to nobody

[2022-04-25 14:13] #2536 closed, assigned to nobody

[2022-04-25 14:17] thallgren commented on #2540
Did a long time pass between the last `list` and the attempt to `remove`?
Can you provide the `connector.log` for that time-span?
Is this an intermittent problem, or something that you can reproduce every time?

[2022-04-25 14:18] thallgren commented on #2529
@lkoniecz any further input on this?

[2022-04-25 16:52] KatieLo commented on #2522
@thallgren awesome stuff. Can we close this one as resolved?

[2022-04-25 18:40] cakuros commented on #2522
The fix posted looks windows specific, are we sure the fix @thallgren sent will also resolve the top issue?

[2022-04-25 19:41] thallgren commented on #2522
@cakuros, @KatieLo  it doesn't solve the top issue. That happens on a macOS. and is a different issue altogether.

[2022-04-25 19:51] KatieLo commented on #2522
correct - I misread the windows-only part of the PR - apologies. We'll still need a a macOS fix, got it.

[2022-04-26 06:24] lkoniecz commented on #2540
I dont really remember. I no longer have access to connector.log as this happened on a different workstation that I have no longer access to.

Rather an intermittent case rather than permanent problem.

Wasn't git by it since then.

[2022-04-26 06:25] lkoniecz commented on #2529
Not from my side as I did not have a chance to test it. Do you want to close it soon? I will retest it by tomorrow.

[2022-04-26 08:02] thallgren commented on #2540
I'm closing this, as I cannot reproduce it and we don't have anything to act on. Feel free to reopen if it happens again and you can provide some logs.

[2022-04-26 08:02] #2540 closed, assigned to nobody

[2022-04-26 08:04] thallgren commented on #2529
I don't want tickets around that we cannot reproduce. Especially if the logic is proven to work (as in this case). So yes, I'd like to close this soon.

[2022-04-26 08:23] lkoniecz commented on #2529
the root cause was telepresence inability to resolve namespace.svc adresses - https://github.com/telepresenceio/telepresence/issues/1722

I have a workaround: https://github.com/telepresenceio/telepresence/issues/1722#issuecomment-939293783 but before modifying charts I tried more telepresence native solution.

anyways I can no longer reproduce it here

[code]

please close it

[2022-04-26 09:00] thallgren commented on #2516
In versions < 2.5.7, the "NotFound desc = Session "202c506a-cac5-482c-ac00-b27521cc3ad6" not found" message is displayed after the client loses connection with the traffic-manager for a duration longer than 15 seconds. The connection loss can be due to flakey network or that the user closes the lid on the laptop. In any case, was fixed in #2545, so I'm closing this ticket.

[2022-04-26 09:00] #2516 closed, assigned to nobody

[2022-04-26 20:18] ghost opened #2549 "Telepresence log-in fails when folder does not exist"
**Describe the bug**
When folder `${HOME}/.config/telepresence` does not exist, logging-in fails with the following error:

[code]

Folder `/home/andres/.config/telepresence` was created by telepresence, but for some reason log-in failed.

If I rerun the same command, it does succeed
[code]

**To Reproduce**
Run
[code]

**Expected behavior**
Log-in succeeds after installing on a clean machine

**V

[2022-04-26 22:43] emoyly opened #2550 "DNS resolution stopped working after updating"
**Describe the bug**
DNS resolution stopped for all k8s "domains" after updating from like ~~2.3 or so~~ 2.4.11 to 2.5.7.
Curl for example, just spits out a `Could not resolve host` error, and for example with Node.JS it says `getaddrinfo ENOTFOUND`. No matter what i try, it just doesn't seem to work. I haven't changed anything else, apart from updating the version.

**Versions (please complete th

[2022-04-26 22:48] slavick commented on #1658
﻿I managed to solve this issue today. My specific error message was:

[code]

It reads this `tm-http` from the namespace annotations in the deployment yaml. In my case, I confirmed there was no `tm-http` port specified, but there was `http`.

Steps:
1. `kubectl -n <ns> edit deploy/<service>` and replace `tm-http` with `http` in the annotation
2. Save the file, quit the editor, and confirm the term

[2022-04-27 03:39] caochong1004 opened #2551 "timeouts.trafficManagerAPI"
2022-04-27 11:21:09.4296 info    connector/session : Connecting to k8s cluster...
2022-04-27 11:21:09.6326 info    connector/session : Server version v1.20.7
2022-04-27 11:21:09.6326 info    connector/session : Context: kubernetes
2022-04-27 11:21:09.6326 info    connector/session : Server: https://1.1.1.1:6443
2022-04-27 11:21:09.6328 info    connector/session : Connected to context kubernetes (h

[2022-04-27 15:44] #2549 closed, assigned to nobody

[2022-04-28 11:47] sebasb21 opened #2554 "No mounts on telepresence local container"
Hi, we have been trying to migrate from Telepresence Legacy to v2 since we got new M1 Macs.

We usually intercepted (swapped deployments) with a local container and everything was good. But with v2 everything seems to work except the mounts, so we do not have secrets etc etc...

I see an error log in `Logs/telepresence/connector.log`

[code]

The message seems pretty clear but i have failed to wal

[2022-04-28 14:38] sebasb21 commented on #2554
Upgraded to a beta of macFUSE 4.3.0 now the intercept fails to load, no error logs but some other logs:

[code]

[2022-04-29 07:27] klerick commented on #2225
I have this problem too.
[code]

I get it randomly. When try to get some data from external service such us db or http service.

[2022-04-29 11:30] lkoniecz opened #2555 "Add support for intercepting multiple ports"
**Please describe your use case / problem.**
Deployement has 2 or more business ports. Currently only one can be intercepted which prevents me from testing both endpoints simultaneously.

**Describe the solution you'd like**
Add an option for repeated --port argument

**Describe alternatives you've considered**
None

**Versions (please complete the following information)**
[code]

**Additional con

[2022-04-29 16:00] josecv commented on #2201
hi @jiezhang0917 could you retry this with the latest version of telepresence? We've put in some fixes to make it more resilient to network interruptions that can happen when you leave an intercept open overnight

[2022-04-29 20:31] rajetta commented on #2502
@thallgren  with 2.5.8, I  no longer see errors when I run `telepresece connect` or `test-vpn` command.  However, DNS is still broken - I am not able to resolve the service name. We can close the issue as original reporter bug is fixed

[2022-04-29 20:31] #2502 closed, assigned to nobody

[2022-04-30 05:33] thallgren commented on #2555
Duplicate of #1607

[2022-04-30 05:33] #2555 closed, assigned to nobody

[2022-04-30 05:34] #2529 closed, assigned to nobody

[2022-04-30 05:50] thallgren commented on #2550
The only DNS lookup I see in the logs (since the 2.5.7 install) is the one for "authbackend.strairecloud.svc.cluster.local". The client routes that request to the cluster and the the DNS resolver in the cluster fails to resolve it. So telepresence does what I'd expect it to do.

The logs of interest here is the `daemon.log` and the `traffic-manager.log`. In the `daemon.log` you'll see if the reque

[2022-04-30 22:50] emoyly commented on #2550
The bare-metal cluster is running as multiple VMs on a Proxmox server. The development machine (the one running the Telepresence client) is also a VM on that Proxmox server. So there should be no way for the networks to collide.
Accessing a k8s service through just the service IP seems to work fine. Downgrading to 2.4.11 makes the DNS work.
![Code_PyoiTSbUfd](https://user-images.githubusercontent.

[2022-05-01 04:27] #1607 closed

[2022-05-01 04:27] #2489 closed, assigned to nobody

[2022-05-01 07:56] thallgren commented on #2550
What does the first curl call show? Is `10.110.32.152` the known IP of the authbackend service?
Did you try any other 2.5.x version and found all to fail, or did you try directly with 2.4.11 (I'm trying to pinpoint what it could be that makes a difference for you)?

[2022-05-01 07:58] thallgren commented on #2550
Also, are you sure that the different VMs on the Proxmox server are running on different isolated networks?

[2022-05-01 20:29] emoyly commented on #2550
Yes, sorry, I forgot to mention. That is the authbackend service IP.

I only tried the latest 2.5.7 and the 2.4.11 so far.

The VMs all are connected to each other on a local network (through a pfSense VM), as the proxmox machine only has one external IP.

[2022-05-02 03:48] thallgren commented on #2551
Did you try increasing the timeout as the error message suggests? `The current timeout 30s can be configured as "timeouts.trafficManagerAPI" in "/root/.config/telepresence/config.yml"`

[2022-05-02 03:53] thallgren commented on #2554
The "umount" is there as a precaution, in case the sshfs doesn't umount correctly. The fact that it fails is usually OK. The fact that forwards are terminating just 0.1 second after the mount is not normal though. Can you see any other log output that can explain why that happens?

[2022-05-02 03:57] thallgren commented on #2520
Please redirect questions to our [OSS-forum](http://a8r.io/slack). Tickets are for feature requests and bug reports.

[2022-05-02 03:57] #2520 closed, assigned to nobody

[2022-05-02 03:59] thallgren commented on #2512
Closing this as no further info was provided.

[2022-05-02 03:59] #2512 closed, assigned to nobody

[2022-05-02 17:51] sarumont commented on #1814
OK, for whatever reason, this is now working just fine for me. Closing...

[2022-05-02 17:51] #1814 closed, assigned to nobody

[2022-05-03 08:14] sebasb21 commented on #2554
Sorry my second comment was not a very good one, more accuretaly there is NO ADDITIONAL logs, the problem still manifest as the first comment: So with the new version of macfuse the logs go like this:

[code]

And the intercept ends, with the previous version the intercept would run, local container would run but mounts wont be there. Here it doesn't even starts.

So my guess is that the error log

[2022-05-03 10:17] thallgren commented on #2554
Did you try the workaround that we recommend in our troubleshooting guide?
https://www.getambassador.io/docs/telepresence/latest/troubleshooting/#volume-mounts-are-not-working-on-macos

[2022-05-03 12:08] sebasb21 commented on #2554
Same result, except now with the "old" macfuse the intercept starts, but the dir is empty

[code]

The intercept ends in the logs because i quit the shell in the container.....

[2022-05-03 14:24] thallgren commented on #2554
Are you using `sudo` or doing anything else that would affect the UID of the telepresence connector daemon?

[2022-05-03 15:36] thallgren opened #2557 "Never forward requests to "wpad""
When automatic proxy detection is enabled, the system will issue requests to "wpad" which then reaches the Telepresence DNS resolver in the form of "wpad.cluster.local". Such requests must not be passed on to the cluster.

[2022-05-03 21:03] sebasb21 commented on #2554
No we don't, but when running the command we get asked for root privileges:

[code]

I don't think we do anything deliberate, but maybe there is some environment setup on our laptop that has

[2022-05-03 21:07] thallgren commented on #2554
Yes, that's normal. The root daemon is responsible network tunneling and DNS. It's not the one that mounts the filesystem. Can you see anything out of the ordinary in the logs of the traffic-agent container in the intercepted pod?

Tip, try `telepresence loglevel debug` before you do the intercept. That'll give you more verbose logging everywhere.

[2022-05-03 21:23] sebasb21 commented on #2554
i don't see anything significant:

[code]

[2022-05-03 21:43] sebasb21 commented on #2554
this logs from the traffic-agent

[code]

[2022-05-04 08:48] thallgren commented on #2554
There's nothing out of the ordinary in the logs. I have tried to reproduce the problem with different macOS versions (now on Monterey 12.3.1) and versions of macFUSE ranging from 4.2.5 to 4.3.1. Plenty of reboots and permission granting involved in those installs, but in the end the mounts always works for me.

I guess you've tried using an explicit mount point? I.e. `telepresence intercept --moun

[2022-05-04 08:58] thallgren commented on #2550
Telepresence seems to route the DNS queries to the cluster correctly. Then the lookup performed in the cluster fails. The traffic-manager's log show this:
[code]
which means that not even the traffic-manager is able to resolve that name. Would it be possible for you to run a curl command from a pod in the traffic-manager's namespace ("ambassador" unless you've changed it)?

[2022-05-04 10:20] sebasb21 commented on #2554
we dont use the --mount flag, the tempdir gets created, so i guess it would have complete access to it if it is creating it with no issue..... might the "device" be the issue?

[2022-05-04 10:46] sebasb21 commented on #2554
So we are running in Monterey 12.3.1 Apple M1 pro if anyone is interested,

[2022-05-04 10:52] thallgren commented on #2178
A normal invocation using `--docker-run` should not be followed by a `telepresence leave` or `telepresence quit`. It ends when the container run ends. A `telepresence leave` (presumably from another terminal?) will leave the docker container running. This is consistent with how telepresence handles any other local process that acts as an interceptor.

Example:
This command will intercept `myscv` a

[2022-05-04 13:00] thallgren commented on #2178
I can see two improvements that would help with this issue.
1. Improve the documentation. Add an example that shows how to use <ctrl>-C
2. Ensure that the error exit doesn't prompt the user to look in the daemon and connector log files.

[2022-05-04 20:36] hannaballantine commented on #2524
I reproduced the issue using the Quote service through the following steps:
1. Apply the YAML for the quote service and confirm that `telepresence intercept quote --port 8080` creates an intercept.
Confirm that the logs appear normal and `ls /var/folders/hm/l48yqgms3h58dnr2qrktyznw0000gp/T/telfs-229917217` shows the var folder.
2. Edit the Quote deployment, modifying the securityContext such that

[2022-05-04 23:13] emoyly commented on #2550
Works through just a test container i deployed using the ubuntu Docker image

[code]

[2022-05-05 13:28] sebasb21 commented on #2554
@thallgren did you tested this in an M1 Mac? just to confirm, so we can shift into trying to understand what is it that we do on our setups to generate this......

[2022-05-05 15:11] thallgren commented on #2524
Thanks @hannaballantine. I can reproduce the error and a fix is in the making.

[2022-05-06 22:42] suravikumar commented on #2522
I tested v2.5.8 for majority of this week, and I still run into the same issue, but less frequently. I gathered the logs, and I am attaching it to this comment. When looking at the logs, I am seeing that I am able to resolve the service properly, but intermittently, it is thinking my local machine is a service in the cluster and tries to resolve it. Since it is not a service, the DNS resolution is

[2022-05-07 13:04] mgj opened #2564 "Volumes/Secrets not mounting correctly on Windows"
**Describe the bug**
I am running a kubernetes cluster with minikube on windows, and can successfully create an intercept using Telepresence. I can also successfully get Telepresence to export environment variables to an environments file. With VSCode I can use the Telepresence intercept to hit debug breakpoints in my code.

However, even though the intercept appears to be created correctly, no vo

[2022-05-08 06:44] jiangxiaoqiang commented on #1682
same issue in:

[code]

M1 chip.

[2022-05-09 09:46] ferdinan97 opened #2566 "When Running Telepresence Got Error : "while loading shared libraries: libtinfo.so.5: cannot open shared object file: No such file or directory""
Hello there i'm new in telepresence, so when i tried execute :
`telepresence --namespace=testing --swap-deployment=testing --docker-run -it -v $(pwd):/go/src/myapp  -v $GOPATH/pkg:/go/pkg/ -v $GOPATH/bin:/go/bin/ testing`

This is the response that i got :
[code]

Im using telepresence v. 0.109 and in my case upgrading telepresence version is not an option right now

can someone tell me what did i

[2022-05-09 11:04] DanielYWoo opened #2568 "Better Document: explain root daemon and user daemon"
**Please describe your use case / problem.**
The README says we can quit with -r or -u, but never explains what they are.

**Describe the solution you'd like**
A clear and concise description of what they are in README

**Describe alternatives you've considered**
N/A

**Versions (please complete the following information)**
N/A

**Additional context**
N/A

[2022-05-09 11:12] thallgren commented on #2568
You'll find a better description [in our documentation](https://www.getambassador.io/docs/telepresence/latest/reference/architecture/).

[2022-05-09 21:00] #2524 closed, assigned to thallgren

[2022-05-09 21:38] #2178 closed, assigned to thallgren

[2022-05-10 06:16] caedo960 opened #2570 "How to use multi-port intercept"
How can I use multi-port intercept (https://github.com/telepresenceio/telepresence/pull/2483) using the latest nightly build `Client: v2.6.0-nightly-d76f7e87 (api v3)` ?

The description of the intercept command only shows how to intercept one port from a service which has multiple ports:

                                  port>:<container port>:<svcPortIdentifier>. (default "8080")

And when usin

[2022-05-10 13:59] josecv opened #2573 "Telepresence connect should not reinstall existing traffic manager"
**Please describe your use case / problem.**
If I set up Telerpesence via `telepresence connect` it'll install a traffic manager. I can do the same via `helm` at which point `telepresence connect` will not touch the existing traffic manager installed by helm. However, if I install the helm chart's resources via ArgoCD, or otherwise set up a traffic manager, Telepresence will behave as though there

[2022-05-10 19:17] zquintana opened #2575 "Unable to reach services in cluster"
**Describe the bug**
I'm unable to get reach any services through the proxy. Started telepresence with connect an intercept, I also added the config for `also-proxy` like so:

[code]
DNS is resolving properly to IP addresses in the cluster. Example `nslookup service_name` yield the expected IP addresses. Still actually trying to `curl` them I get:

[code]

**To Reproduce**
Steps to reproduce the b

[2022-05-11 04:25] thallgren commented on #2570
The `--port` cannot be repeated. Doing so would mean that the repetition must be grouped with `--service`. Also, different ports in a Deployment may use different containers, which in turn may have different sets of environments and volume mounts. So the grouping would also need to include `--mount` and `--env-file`.

Instead of grouping, you'll need to create several intercepts. One for each serv

[2022-05-11 08:15] an-tex commented on #2425
I really would like to update. Still stuck on `Client: v2.4.11 (api v3)` :( Can you point me by any chance to a commit / code where this issue arises @thallgren ? Then I could try my luck with a PR. Unfortunately all by myself I'm lost here

[2022-05-11 08:16] mariussoutier commented on #2425
Same issue here.

[2022-05-11 08:22] caedo960 commented on #2570
Thank you for the explanation.

I tried to create several intercepts one for each service/port combination like this:

[code]
However it fails to an error:

`telepresence: error: Failed to establish intercept: intercept in error state AGENT_ERROR: Conflicts with the currently-served intercept "31e8ad5d-c625-4326-8d2b-570914667600:test-test"`

Traffic-agent logs:

[code]

Traffic-manager logs:

[co

[2022-05-11 12:00] thallgren commented on #2570
No, you're not doing anything wrong. You're hitting a limitation in the OSS-agent. It is only capable of doing one intercept at a time.

[2022-05-12 05:29] caedo960 commented on #2570
Okay, by next release do you mean 2.6?

[2022-05-12 06:17] chaunceyjiang commented on #2554
I have the same problem.

[2022-05-12 06:19] chaunceyjiang commented on #2554
<img width="1013" alt="image" src="https://user-images.githubusercontent.com/17962021/168004445-91778d8b-ac99-49fe-98fc-4570e53c6177.png">

<img width="463" alt="image" src="https://user-images.githubusercontent.com/17962021/168004590-a10cc502-5bd5-4a3a-9760-66b32c416e74.png">

[2022-05-12 06:23] chaunceyjiang commented on #2554
MacBook Pro (13-inch, 2020, Two Thunderbolt 3 ports)
os version 12.3.1

[2022-05-12 08:04] SunPj commented on #2575
I have similar issue when using AWS EKS. nslookup successfully resolves IP, but curl fails

Ip address of web services is 172.20.98.4

[code]

It has been resolved correctly

[code]

But curl doesn't connect

[code]

The same issue when I try to connect to Redis service.

[code]

daemon.log

[code]

connector.log

[code]

traffic-manager pod logs
[code]

I think there is something with AWS securit

[2022-05-12 09:33] sebasb21 commented on #2554
@chaunceyjiang do you have any logs for that? any error in the logs?

[2022-05-12 21:33] TomAdmz commented on #2554
Getting a similar issue on MacOS Monterey 12.3.1 . The intercept starts but the only dir that gets mounted is $TELEPRESENCE_ROOT/var/scratch, we have multiple other mounts in the pod which do not appear.

running command:
`telepresence intercept {service_name} --mount=/tmp/{service_name}/known --namespace={namespace} --context={context} --port {port} --service {service_name} -- bash`

don't see an

[2022-05-13 01:32] chaunceyjiang commented on #2554
i don't see any errors .

[2022-05-13 06:16] thallgren commented on #2244
This problem was due to loss of session information and was fixed by in #2545.

[2022-05-13 06:16] #2244 closed, assigned to nobody

[2022-05-13 06:17] thallgren commented on #2245
Fixed by #2545.

[2022-05-13 06:17] #2245 closed, assigned to nobody

[2022-05-13 21:54] cindymullins-dw commented on #2575
Adding AWS Security Groups doc page for reference: https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html

[2022-05-16 02:23] suzaku commented on #1682
Getting the same error with v2.6.0.

[code]

[2022-05-16 02:38] suzaku commented on #1682
Successfully connected after setting `timeouts.helm` to `1m`.

[2022-05-16 03:06] mostafizurhimself opened #2580 "Telepresence is not intercepting"
When I try to intercept, I get and error:
`telepresence: error: PANIC: assignment to entry in nil map`

My intercept command is :
`telepresence intercept dashboard-depl --service dashboard-svc --port 3000:3000 --http-header=name=shakil `

[2022-05-16 03:24] suzaku commented on #1682
I managed to `connect` with a larger `timeouts.helm` but still I can't `intercept` because of the error `unable to get APIKey: GetAPIKey: not logged in`.
I see a lot of errors on the traffic-manager complaining that no API key is provided:

[code]

[2022-05-16 06:45] jceb commented on #2428
Same here. Using `--network host` as a docker parameter solves the issue.

[2022-05-16 08:06] thallgren commented on #2580
What version of Telepresence are you using?
Where do you see the panic message? Is it in the logs? If so, is there a stack-trace?

[2022-05-16 10:37] mruell opened #2582 "[2.6.0] TLS error: WRONG_VERSION_NUMBER"
**Describe the bug**

Starting with Telepresence 2.6.0 intercepting does result in a tls error when connecting over the internet to the intercepted pod.
**We are using Istio** in non-restrictive mTLS mode - Already tried injecting the istio proxy into the traffic manager pod, but that did not work either

With telepresence `2.5.8` everything is working perfectly fine

From the debug log
[code]

**

[2022-05-16 11:46] thallgren commented on #2582
I notice these two lines in the output:
[code]
which begs the question, did you try `telepresence login`? If not, then Telepresence will use the OSS-image and it's not doing anything with TLS (it operates on layer 4), which in essence means that the docker image will receive encrypted traffic. That behavior didn't change in 2.6.0.

One thing that would be interesting is the output of `kubectl desc

[2022-05-16 11:55] thallgren commented on #2570
It will work correctly in 2.6.0 provided that you do `telepresence login` first. That too will change in the near future.

[2022-05-16 11:58] mruell commented on #2582
Hi @thallgren

thanks for the answer!

No, we do not use `telepresence login` AFAIK telepresence 2 should also work without issue even if not using the ambassador cloud, or did I miss something here?

My understanding:

- Istio as ingress gets the traffic and decrypts the TLS
- instead of now sending that traffic over mTLS to the service, telepresence intercepts the traffic (since its non-restrict

[2022-05-16 12:30] thallgren commented on #2582
Yes, the configmap was introduced in the latest version.

[2022-05-16 12:34] thallgren commented on #2582
If you upgrade and try again, it would be helpful if you could do:
[code]
and check if you find anything relevant in the logs from the traffic-manager, the traffic-agent, or the connector or daemon logs. You can also try using the `--anonymize` option and check if you think the logs are anonymous enough to post here.

[2022-05-16 12:36] mruell commented on #2582
Here the output of `kubectl describe configmap telepresence-agents`

[code]

The port 80 does run apache, where we expect _unencrypted_ traffic

The apache logs say this
[code]

(Yes, 3 entries, for a single call)

Tested via
[code]

[2022-05-16 12:52] thallgren commented on #2582
So the telepresence agent is definitely using service port 80 and container port 80, and TCP. I can't think of anything that changes between 2.5.8 and 2.6.0 that would affect that.
Does your service also have a 443 port? Your https connects to port 443.
[code]
Where is the TLS expected to terminate and be routed to port 80 as unencrypted?

[2022-05-16 12:54] thallgren commented on #2582
Would it be possible for you to show what the service and deployment manifests look like? I'm mostly interested in the port definition of both the service and the containers.

[2022-05-16 12:55] mruell commented on #2582
Currently anonimizing the logs, will post after that

the pod does only have port 80
the TLS termination happens in the istio ingress

Then istio wraps the unencrypted traffic in mTLS
in the pod there is the `istio-proxy` sidecar which does receive the mTLS and then sends the original unencrypted traffic to the main container on port 80

If it didn't work at all I could imagine that this sidecar c

[2022-05-16 13:17] thallgren commented on #2582
Oh, I think I know what must be happening. The service port has no name, so the routing is done by connecting port numbers. In Telepresence < 2.6.0, we would "fix" that by actually patching the service so that it would route to the traffic-agent instead of the normal container. In 2.6.0, we fix that by injecting an init-container into the pod which supposedly takes care of that routing by modifyin

[2022-05-16 13:22] thallgren commented on #2582
Hmm, there's one exception where the workaround won't work, and that's if the service is headless, i.e. has `spec.clusterIP: None`.

[2022-05-16 13:28] thallgren commented on #2582
In any case, it would be very helpful if you could please provide enough info for us to set up a replicator. As I mentioned before, the port configurations of the service and containers are of interest. And of course the Istio config you're using. For the agent, it would also be good to know if you're using any specific `securityContext` (since that may affect the functionality of the `iptables` c

[2022-05-16 13:50] mruell commented on #2582
Oh, very good hint!

Will try ASAP and update then again
Will write down/copy&paste everything you asked for to reproduce teh issue

We do not run any specific `securityContext`, but the containers are not running as root - could this be the issue?

Nope, AFAIK not port 80 - I am not even sure whether its a static port
The istio service mesh injects the istio-proxies to all pods, so it also does m

[2022-05-16 14:06] mruell commented on #2582
Using a symbolic port `http` did work! Thanks a lot :)

So you need:
- istio config
- service manifest
- deployment manifest

Is that correct?

Since istio is injecting the other stuff I'll also add the generated pod manifest, since one can't see istio in the deployment or service

[2022-05-16 14:24] thallgren commented on #2582
That'd be great. Thanks. Given that, I'll set up a reproducer and hopefully find the cause.

[2022-05-16 14:58] mruell commented on #2582
istio.yaml (install via istioctl) - version `1.13.2`

[code]

svc.yaml

[code]

deployment.yaml

[code]

ns.yaml (important is the `istio-injection` flag, which tells it to inject the pods with the istio-proxy (aka envoy))

[code]

gateway.yaml

[code]

virtualservice.yaml

[code]

generated pod with telepresence 2.6.0 active (where the error occured)

[code]

[2022-05-16 16:01] zquintana commented on #2575
It's definitely not an SG issue. Working on this a bit with your team, we discovered that in EKS the traffic was making it's way to the service in the cluster and the service was responding. However the traffic wasn't making their way back down to the local machine.

[2022-05-16 16:51] mruell commented on #2582
And thanks again @thallgren for the quick help!
Very much appreciated :)

[2022-05-16 17:30] #2425 closed, assigned to thallgren

[2022-05-16 18:24] #2580 closed, assigned to nobody

[2022-05-16 21:50] burrsutter opened #2585 "the server has asked for the client to provide credentials"
**Describe the bug**
Attempting to use the setup_dev_env.sh or telepresence connect seems to result in the same error
"the server has asked for the client to provide credentials"
https://www.screencast.com/t/PhJG25BjgzTg
https://www.screencast.com/t/MUOtAHSCa

[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8703665/telepresence_logs.zip)

**To Reproduce**
See screensho

[2022-05-17 06:59] thallgren commented on #2585
I see this in the `connector.log`:
[code]
That's likely caused by the fact that the Telepresence connector daemon wasn't started in the same directory as that kubeconfig was downloaded to. This can be caused by two things:
1. You started telepresence somewhere else originally so the daemon was already up and running.
2. You didn't start `setup_dev_env.sh` from the directory where it resides, which

[2022-05-17 07:07] an-tex commented on #1572
There's actually a workaround using `dns/include-suffixes` as documented here https://www.telepresence.io/docs/latest/reference/config/ . I guess it'd still be nice to not have it manually defined but automatically included as in t1

[2022-05-17 07:20] an-tex commented on #2425
thanks a lot @thallgren ! I've just upgraded to 2.6.1 and it works like a charm :)

[2022-05-17 07:21] thallgren commented on #2425
Good to hear!

[2022-05-17 17:31] ajcolaizzi-decentrix opened #2591 "unable to get APIKey: GetAPIKey: not logged in"
Failing to intercept when I run `telepresence intercept`.

I upgraded today using `brew upgrade`

Here are the current versions:

`Client: v2.6.2 (api v3)
Root Daemon: v2.6.2 (api v3)
User Daemon: v2.6.2 (api v3)`

The logs I get for the issue (complete logs with debugging turned on are attached)

[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8710408/telepresence_log

[2022-05-17 19:57] thallgren commented on #2591
The `unable to get APIKey` is actually not an error. It's just an indication that you're not logged in. We'll need to change that log output. It ought to be log-level "info".

What error do you get when you run `telepresence intercept`?

[2022-05-17 20:11] ajcolaizzi-decentrix commented on #2591
@thallgren  Sorry for just seeing this. That's good information!

Let me get you the specific error

[2022-05-17 20:18] ajcolaizzi-decentrix commented on #2591
It's now working and not throwing an error, let me do some local testing before closing

[2022-05-18 17:11] #2591 closed, assigned to nobody

[2022-05-18 17:12] ajcolaizzi-decentrix commented on #2591
I think this happened after I ran `brew uprade` and didn't stop the dameon and client. All appears to be well now.

[2022-05-19 08:08] DanielLiu1123 opened #2595 "what permission do I need for using telepresence"
I am using EKS, k8s version is `v1.21.9`.
telepresence version is `v2.6.2`.

run `telepresence connect`, here is the result
[code]

logs in `connector.log`
[code]

I saw `cannot list resource "secrets" in API group "" in the namespace "ambassador"`,
I'm guessing I don't have enough permission ?

So what permission do I need for using telepresence ?

[2022-05-19 10:12] s1apped commented on #2526
@thallgren was able to make it work. I had to set --cni=bridge.

[2022-05-19 10:12] #2526 closed, assigned to nobody

[2022-05-19 12:32] thallgren commented on #2526
@s1apped Can you please tell us where you set that? The reason I ask is that this might be a good item to include in our troubleshooting guide.

[2022-05-19 12:43] s1apped commented on #2526
@thallgren it's one of the options available when starting minikube and by default it's set to `auto`
`minikube start --driver=hyperkit  --cni=bridge`

[2022-05-19 14:59] ventsislav-georgiev opened #2596 "v2.6.x crashes on tel-agent-init container start"
Using telepresence in k3s cluster which is setup using [colima](https://github.com/abiosoft/colima) on Mac with arm processor.

Colima uses [alpine-lima](https://github.com/abiosoft/alpine-lima) for VM and k3s for kubernetes cluster.
[code]
Adds the `traffic-manager` which starts normally.
The target deployment is also updated to contain `tel-agent-init` and `traffic-agent`.

Then `tel-agent-init`

[2022-05-19 20:35] brownz11 opened #2599 "Telepresence on Clusters Without A kube-dns.kube-system Service Does Not Proxy Outgoing Laptop Traffic"
**Describe the bug**

On clusters without a `kube-dns.kube-system` service Telepresence fails to proxy outgoing traffic on the laptop to the cluster. (No routes are created on the laptop, and all DNS lookups for K8s services fail)

**To Reproduce**
Steps to reproduce the behavior:
1. When I run "telepresence connect" against a cluster without kube-dns.kube-system
2. I see `curl -ik https://kuberne

[2022-05-20 08:46] ventsislav-georgiev commented on #2596
FYI v2.5.8 seems to work properly without issues:
[code]

[2022-05-20 09:40] thallgren commented on #2596
The reason 2.5.8 works is probably that it modifies the actual service to appoint the traffic-agent's port instead of the intercepted container's port. In 2.6.x, we no longer modify services and deployments. Instead, we always use the mutating webhook injector. Since the service then cannot be modified, we instead inject an init container to alter the iptables. Which should work, but obviously doe

[2022-05-20 09:42] thallgren commented on #2596
Depending on use-case, a workaround until this is fixed may be to use a symbolic `targetPort` in the service ports instead of a numeric one. This is not possible for a headless service though.

[2022-05-20 15:27] #2130 closed, assigned to nobody

[2022-05-21 17:45] Martin-4Spaces opened #2605 "Migrating from legacy telepresence 1 to 2: Unable to connect to google cloud sql private ip"
I have been using telepresence 1 for some time now. Very helpful! Thank you.
I'm now trying to migrate to telepresence 2.
I'm using docker on local machine.

My old command is
`export TELEPRESENCE_USE_DEPLOYMENT=1 && telepresence --namespace <namespace name> --swap-deployment <deployment name> --expose 80 --docker-run --rm -v$(pwd):/var/www/html <local docker container name>`

New command is
`tele

[2022-05-22 10:03] intxcc commented on #2605
Hi @Martin-4Spaces

with telepresence 2 not all outgoing traffic is routed through the VPC.

Did you try to add the IP (range) to also-proxy in telepresence 2?

https://www.telepresence.io/docs/latest/reference/config/#alsoproxy

[2022-05-23 11:30] Martin-4Spaces commented on #2605
@intxcc
I did not know about this. Thank you!
It works now - after adding the ip to "also-proxy".

[2022-05-23 11:30] #2605 closed, assigned to nobody

[2022-05-23 12:12] Martin-4Spaces opened #2607 "Slow dns lookup in telepresence 2"
I'm migrating from legacy telepresence to telepresence 2 and i'm encountering a significant performance decrease.
It seems to be related to dns lookups.

Here is an example showing nslookup of another service running in remote cluster.

Telepresence V1
[code]

Telepresence V2
[code]

0,4 sec vs 15 sec is significant. What can be the cause of this?

This is the command used to intercept
`telepresen

[2022-05-23 12:14] thallgren commented on #2607
Where is your cluster running? Is there any chance it may have access to your workstations network?

[2022-05-23 12:15] Martin-4Spaces commented on #2607
Google Cloud Kubernetes (GKE).
No, only connection between remote cluster and workstation is telepresence.

[2022-05-23 12:57] thallgren commented on #2596
I'm able to reproduce this on my M1, but not on any other platform.

[2022-05-24 05:20] thallgren commented on #2607
Which version of Telepersence 2 are you running? Does the logs say anything? Try:
[code]

[2022-05-24 05:49] Martin-4Spaces commented on #2607
[code]
[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8759815/telepresence_logs.zip)

I started the session at 07:31:58 and performed three wgets to a remote service (auth.martin.svc.cluster.local -> 10.16.0.90).
At 07:32:48, 07:33:10, 07:33:26 (CEST).
The response was approx. 15 seconds every time.
I have studied the logs but without finding an answer to the latency.

[2022-05-24 05:54] Martin-4Spaces commented on #2607
Updating to 2.6.4 did not solve it.

[2022-05-24 07:24] carlos19960601 commented on #2225
same issue

[2022-05-24 08:18] thallgren commented on #2607
I see that the Telepresence DNS server receives the request, sends it to the cluster, and then returns the IP. It takes about 40ms. Then, for some reason, it takes an additional 15 seconds before the TUN device receives a connect request for the returned IP. This makes me suspect there's something going on outside of Telepresence that affects the resolution somehow. What platform are you running t

[2022-05-24 08:26] Martin-4Spaces commented on #2607
It sounds like progress. Thank you for your time so far!
The client runs on macOS 12.4. Its a mainstream development computer with Docker, IDE and browser and nothing else speciel installed. No VPN used during the test session. No custom DNS servers or proxies configured.
Telepresence is installed with brew.
I could try to install the same setup on another MacBook. It will take a couple of hours.

[2022-05-24 08:35] thallgren commented on #2607
When telepresence is disconnected, do you have any files under `/etc/resolver` ?

[2022-05-24 08:36] Martin-4Spaces commented on #2607
[code]

[2022-05-24 08:48] thallgren commented on #2607
Spinning up another machine might help track things down. I don't think we have a generic problem with slow DNS and GKE or anything like that, so it's not unlikely that another machine would work just fine.

[2022-05-24 08:50] Martin-4Spaces commented on #2607
I'll set it in motion and get back to you.

[2022-05-24 09:46] thallgren commented on #2599
That's an interesting name `rke-coredns-rke-coredns`, why is it repeated like that?

Telepresence will currently look for the following:
[code]
but there seems to be no end to how different implementations choose to name this. I guess we'll need to make it configurable.

[2022-05-24 10:04] Martin-4Spaces commented on #2607
The results..
I performed the same test (wget auth.martin.svc.cluster.local -> 10.16.0.90).
At 09.45.04, 09.45.12, 09.45.18, 09.45.24.
[telepresence_logs 2.zip](https://github.com/telepresenceio/telepresence/files/8761576/telepresence_logs.2.zip)
The response time is 5-6 seconds.
The two test devices used
- MacBook Pro 2,3 GHz Quad-Core Intel Core i7, 32 GB 3733 (Result: 15 sec)
- MacBook 1,3 GHz

[2022-05-24 10:27] thallgren commented on #2607
I agree that five seconds is a very long time, and the symptoms are very similar. The DNS lookup is really fast (50ms here) and the there's a 5 second wait until the connect arrives. Telepresence seems to do absolutely nothing between those events.

[2022-05-24 10:36] thallgren commented on #2607
4 pods are deleted from the cluster during the wait between DNS resolution and actual connect (statistics, portal, product, and menu), not sure if that's significant.

[2022-05-24 10:39] Martin-4Spaces commented on #2607
The mentioned services are running kubernetes jobs every minute. It could just be the scheduled pods spinning up and down.
Do you see the same behaviour in all four tests?

I'm working on testing against another cluster (not GKE).

[2022-05-24 10:45] thallgren commented on #2607
I see a similar behavior in the traffic-manager logs. It receives a `LookupHost` which it responds to fairly quicky. It's always followed by a sequence of CREATE/DELETE events from the mutating webhook (noops since intercepts aren't active). But it could definitely be a coincidence.

[2022-05-24 11:15] Martin-4Spaces commented on #2607
@thallgren
Here I did a test from the original computer and a cluster located at Elastx.
[elastx test.zip](https://github.com/telepresenceio/telepresence/files/8762100/elastx.test.zip)
11:11:18, 11:11:20, 11:11:21.
No delay at all!

[2022-05-24 11:23] Martin-4Spaces commented on #2607
I might have something here.
I cannot use ".svc.cluster.local" in the Elastx cluster. I dont know why. But I can reach deployments without.
So I tried to do the same with the GKE cluster.
![TradingPlatform-Portal_–_package_json](https://user-images.githubusercontent.com/9819124/170023471-29d31cb0-2965-4a60-b711-3c6af41bccc8.png)
[gke.zip](https://github.com/telepresenceio/telepresence/files/876216

[2022-05-24 11:41] thallgren commented on #2607
That's interesting. I'm sure it makes sense, just can't figure it out :-)

Not all clusters use `.cluster.local` as their suffix. From the looks of it, your Elastx cluster uses `klartboard-cluster1.local`, so you should be able to use `.svc.klartboard-cluster1.local` instead. Would be interesting to see if you see the same difference there.

In case you're wondering, the actual cluster domain is l

[2022-05-24 11:54] Martin-4Spaces commented on #2607
Thank you for explaining.
Actually I cant get `.svc.klartboard-cluster1.local` to work.

[code]

But it doesn't matter - I think. :)

I can tweak my application to escape the cluster suffix.
But it would be nice to find the actual cause of this. Is there anything else I can do in my end to provide more info?

[2022-05-24 12:41] thallgren commented on #2607
I'm surprised that doesn't work. That's a bug in itself.
I'm running some more tests on my Powerbook and see if I can reproduce anything similar to what you're experiencing. Thanks for being so helpful with info and logs. Much appreciated.

[2022-05-24 12:50] Martin-4Spaces opened #2611 "Unable to reach services with non-standard cluster naming (svc.cluster.local)"
My kubernetes provider has renamed `cluster.local` to something else, ex. `customer1.local`.
I can resolve dns without issues when working inside the cluster without telepresence.
But when using telepresence (v2), I cannot resolve the host when `customer1.local` is suffixed.

[2022-05-24 12:52] Martin-4Spaces commented on #2607
Agreed. I tried from inside the cluster with the exact same host (suffix klartboard-cluster1.local) and it works fine.
Created a separate issue for this https://github.com/telepresenceio/telepresence/issues/2611.

[2022-05-24 13:48] brownz11 commented on #2599
It looks like it's repeated due to the way the CoreDNS chart is written (it concats the Release Name and the Chart Name for the service name).

It would be nice to have a configuration option. Another approach, and I'm not sure if it's viable, is to look for a service with the label `k8s-app = kube-dns`. Ideally anything based on CoreDNS should have the label, but I'm sure there's something out th

[2022-05-24 13:53] thallgren commented on #2599
The problem is that in order to find services using labels, the traffic-manager must have permissions to list services, probably cluster-wide. In many situations the traffic-manager install needs its RBAC to be confined to a specific namespace. What we want is the actual IP of the DNS, and we can find that by doing a simple LookupIP with \<service\>.\<namespace\>.

[2022-05-24 19:29] boogi76 commented on #2595
Any updates on this one?

[2022-05-24 20:21] kavinaravind commented on #2596
I also have a similar issue with M1 silicon:

[code]

[2022-05-25 01:07] NingGelin opened #2612 "Telepresence fails to connect with no error in logs"
Note：Translate via Google
Hi，first of all thank you for taking your time to help me with the problem，The connection error timeout on win7, there is no log, the same operation process is successful on win10.

os：win7
version：v2.6.4
network：no network

![image](https://user-images.githubusercontent.com/42860920/170157105-c4f03d49-ee1a-47f7-9f9e-d5b73130c32b.png)

[2022-05-25 02:42] NingGelin commented on #2612
It seems to be because there is no network。

[2022-05-25 20:06] Rylab opened #2613 "--context flag reported as deprecated and ignored, but still listed in -h for commands and expected to work"
**Describe the bug**
The --context kubernetes flag is still listed in the -h for most commands, yet is being ignored with the error:

use of global flag '--context' is deprecated and its value is ignored

**To Reproduce**
Steps to reproduce the behavior:
0. Have multiple kubernetes contexts setup (e.g. remote-dev-cluster and local-cluster)
1. When I run 'telepresence list --context=local-cluster'

[2022-05-26 14:07] yuyuvn opened #2615 "Can not run pro version"
**Describe the bug**
I'm install with helm by this commands

[code]

with values.yaml:
[code]

and a secret in the same namespace:
[code]

But when run traffic-manger, it show this errors:
[code]

In the deployment manifests, it is mounting license secret:
[code]

User don't have permission to edit ambassador namespace so they can't touch manifests generated from helm.

We can't intercept http:
[c

[2022-05-26 14:44] thallgren commented on #2615
This problem should normally go away if you do `telepresence login` prior to intercepting.

[2022-05-26 14:48] thallgren commented on #2613
Some commands, like the `telepresence connect` list the `--context` flag, and also acts on it. It used to be a global flag, and the most common use was to repeat it for all commands in a script. Rather than breaking that, we decided to deprecate the flag for the commands where it no longer makes sense to have it.

If you want to do a `telepresence list` with a specific context, then do a `telepres

[2022-05-26 15:08] DpoBoceka opened #2616 "existing Traffic Manager (helm) not found when connecting via cli"
**Describe the bug**
I'm on Apple Silicon, and `telepresence connect` doesn't see `traffic-manager` installed by `helm` and attempts to install it itself.

[code]
Values of a helm chart (installed 2.6.4 via ArgoCD):
[code]
Connector log:
[code]
After an attempt it strips these labels from Deployment:
[code]

In traffic-manager pod logs only spamming of these:
[code]

We basically use telepresence

[2022-05-27 01:40] #2225 closed, assigned to nobody

[2022-05-27 01:56] thallgren commented on #2612
Our Windows binaries are for Windows 10 and up. We don't build binaries for Windows 7 and that's unlikely to change, given that Microsoft ended the support for it in January 2020.

[2022-05-27 01:56] #2612 closed, assigned to nobody

[2022-05-27 02:12] thallgren commented on #2595
The permission to list secrets isn't necessary. It is just used for locating an existing Helm release. What is necessary though, is this:
[code]
You can read more about the needed permissions in our [RBAC documentation](https://www.getambassador.io/docs/telepresence/latest/reference/rbac/#cluster-wide-telepresence-user-access).

[2022-05-27 05:25] yuyuvn commented on #2615
I see, so key is sent from client, not traffic-manager :eyes:
I already do `telepresence login` before intercept but it is still not working.
Do I need to run `telepresence quit` or uninstall agent before retry intercept?

[2022-05-27 08:46] Lxrdknows77 opened #2619 "Permission denied problem during execute on Ubunu"
**Describe the bug**
When i try to run telepresence on my Ubuntu 18.06 i got Permission denied error.

1. When I run ./bin/telepresence connect
2. I get error

[code]

**Expected behavior**
Telepresence runs as expected.

**Versions (please complete the following information):**
 - Client: v2.6.4 (api v3)
 - Ubuntu 18.04.6 LTS
 - kind v0.12.0 go1.17.8 linux/amd64
 - Client Version: version.Info{Ma

[2022-05-30 13:43] MisterTimn commented on #2615
I was running Telepresence with nodejs, following along with https://www.telepresence.io/docs/latest/quick-start/qs-node/?os=gnu-linux but with our own nodejs application. All was workings as intended but wanted to checkout the preview URL functionality and we ran into the same issue.

I disconnected the daemon and tried again with the same result:
[code]

[2022-05-30 16:36] thallgren commented on #2619
I don't think this is a telepresence problem given that it's a simple command exec that fails on a permission denied. How did you install telepresence on your vagrant client?

[2022-05-30 16:38] thallgren commented on #2616
What exact Helm command did you use to install the traffic-manager? In particular, did you specify `--namespace ambassador`?

[2022-05-30 16:41] DpoBoceka commented on #2616
We use ArgoCD (GitOps tool) to deal with installation, here's the manifest:
[code]

`.destination.namespace` is set to `ambassador` and I can confirm it is indeed installed in that namespace

[2022-05-30 19:32] #2613 closed, assigned to nobody

[2022-05-30 19:42] Rylab commented on #2613
That makes sense, thank you.

[2022-05-30 21:29] thallgren commented on #2616
I'm trying to figure out why Telepresence would log the message "No existing Traffic Manager found in namespace ambassador". It does that when the embedded helm cannot find it. So, if you, from the same console as you issue `telepresence connect` would do `helm -n ambassador list`, it shows you something like this?

[code]
and you can verify that the pod is up an running? If so, what's the log out

[2022-05-31 09:06] JJRdec opened #2623 "Telepresence 2.6.x support for Istio (proxies)"
**Please describe your use case / problem.**
Telepresence: 2.6.3
Spring: 2.6.x
Istio:
[code]

After updating to Telepresence 2.6.x interception doesn't work on my deployed applications.
I use Telepresence 2.5.8 which works. However, there is new features in 2.6.x I would like to use.

**Describe the solution you'd like**
Telepresence 2.6.x support for Istio proxies

**Additional context**
Related

[2022-05-31 09:32] DpoBoceka commented on #2616
Interesting, it doesn't list anything for me.

My guess is when another client (on linux, x86) did `telepresence connect` it **removed** some labels from the deployment, namely:
[code]

Which even more interesting, now if try to override those labels via ArgoCD (it is considered like a re-deployment, hence pre-hooks are triggered), the `upgrade-legacy` job is failing with these in logs:

[code]

[2022-05-31 09:34] DpoBoceka commented on #2616
Perhaps, [related](https://github.com/telepresenceio/telepresence/issues/2573)

So, if you deploy the app via helm and the do `telepresence connect`, would that strip some labels, too?

[2022-05-31 12:36] Gikkman commented on #2274
This seems to have been solved when moving to 2.6.X so I'll close this issue

[2022-05-31 12:36] #2274 closed, assigned to nobody

[2022-05-31 12:57] thallgren commented on #2616
Yes, that ticket looks like a duplicate, @josecv?

[2022-05-31 13:29] Gikkman commented on #2623
I can chime in and say I also experience a problem with intercepts after we installed istio on the cluster. It used to work just fine, but now we're receiving the following when we try to set up intercepts:

[code]

[2022-05-31 13:57] thallgren commented on #2623
As always, logs would be very helpful. For instance @Gikkman, apparently the traffic-agent isn't installed or fails to start. What does the logs for the intercepted pod say? Does the traffic-manager logs give any hint on why the injection failed?

[2022-05-31 14:42] jack1902 opened #2624 "using /consume-here results in a panic"
**Describe the bug**

When i hit the traffic-agent on `/consume-here` it results in a panic:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a cluster in "air-gap" mode (basically provide a license upfront to remove communication with the cloud from the cluster)
2. Deploy the pieces mentioned within this demo: https://github.com/datawire/tp-api-demo
3. Hop onto the `consumer` and

[2022-05-31 14:43] Gikkman commented on #2623
Right, sorry. Here's a log dump using `loglevel debug`

[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8806096/telepresence_logs.zip)

I'm not sure what to make of the traffic-manager logs. It sure does look like something is off, but I don't know really what to look for. Here are some logs:
[code]

[2022-06-01 01:23] DanielLiu1123 commented on #2595
thx

[2022-06-01 01:23] #2595 closed, assigned to nobody

[2022-06-01 10:22] wnke opened #2625 "unable to get Ambassador Cloud preferred agent image"
**Describe the bug**
`telepresence intercept ` fails with a timeout. And no agent is ever added to the pod.

Additionally looking into the traffic-manager logs:
[code]

This started happening since updating to 2.6.4, previously using 2.5.8. And seems to be related with
``` No default image in the Helm chart ``` on release 2.6.0 and the fact that the traffic-manager is unable to get the image to us

[2022-06-01 16:08] thallgren commented on #2611
I finally found some time to test this on my macOS powerbook. I cannot reproduce it. Using none standard cluster domain names works OK for me.

Would it be possible for you to convey the logs from the root daemon and the traffic-manager during the time when the lookup fails? Preferably after invoking `telepresence loglevel debug`.

[2022-06-03 14:05] onmomo commented on #2616
We also try to install the telepresence helm chart (2.6.4) and try to connect to it with the same issue.
I noticed that the helm chart adds fewer annotations than the built-in telepresence one it seems.
for example, the `telepresence-agents` CM, is missing the `labels:` completely
* https://artifacthub.io/packages/helm/datawire/telepresence?modal=template&template=agent-configmap.yaml

Based on wh

[2022-06-03 17:52] jef commented on #538
Since we're using cobra, could we leverage https://github.com/spf13/cobra/blob/master/shell_completions.md?

[2022-06-03 18:29] Rylab commented on #2615
You need to quit both the user and root daemons so it'll start up properly from the pro one:
Try `telepresence quit -ur` and then `telepresence connect`

Also, if any of your services had old agents installed, it sometimes helps to uninstall those first, too: `telepresence uninstall -e`

Then, the new intercepts should work as expected.

[2022-06-04 00:16] screenvidio opened #2634 "GKE Autopilot Issue?"
**Describe the bug**
I was going through the exercise in https://cloud.google.com/community/tutorials/telepresence-and-gke for telepresence.
From what I can tell, a Standard GKE cluster worked fine but an Autopilot one did not.

The couple of times I tried this I got the following sort of message.
`telepresence: error: connector.Connect: failed to ensure traffic manager: the helm operation timed o

[2022-06-04 00:19] screenvidio commented on #2634
[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/8836269/telepresence_logs.zip)
Here is the log file I generated to try to help get info for your crew.

[2022-06-04 12:46] Lxrdknows77 commented on #2619
@thallgren thanks for the answer, i installed it like this:
[code]

[2022-06-04 13:11] thallgren commented on #2619
Please try:
[code]
I.e. without an additional `,telepresence` in the URL.

What is `$(GOBIN)` and `$(GOHOSTOS)` set to? And what is the current directory when you run `./bin/telepresence connect` ?
I'm just trying to figure out what it could be that causes the permission denied. Seems you have a bad executable somewhere that gets picked over the one that you start (which is odd, it should really b

[2022-06-04 13:31] Lxrdknows77 commented on #2619
@thallgren yes, sorry there is no one more telepresence in curl, only one as you mentioned above.
`curl -fL https://app.getambassador.io/download/tel2/${GOHOSTOS}/amd64/latest/telepresence -o $(GOBIN)/telepresence`

Where
[code]
ls -all
[code]
And also works good
[code]

But when i want connect
[code]

I got this error as above.

[2022-06-04 13:38] thallgren commented on #2619
Do you get the same error if you do
[code]
?

[2022-06-04 13:40] Lxrdknows77 commented on #2619
@thallgren  Yep

[2022-06-04 13:43] thallgren commented on #2619
Can you please try moving the `telepresence` binary to some other directory (`/tmp` perhaps?) and try executing it from there? I suspect that the filesystem somehow imposes an exec restriction.

[2022-06-05 07:46] Lxrdknows77 commented on #2619
@thallgren Interesting, but in tmp i got this one:

`telepresence: error: connector.Connect: failed to ensure traffic manager: the helm operation timed out.  The current timeout 30s can be configured as "timeouts.helm" in "/home/vagrant/.config/telepresence/config.yml"`

[2022-06-05 09:52] thallgren commented on #2619
Then there's some restrictions on the other folder that prevents a process from doing fork/exec on itself.

The helm timeout can be configured in the file that is mentioned in the error message. Add something like:
[code]

[2022-06-05 11:54] alon7 commented on #2634
From my experience telepresence doesn't work on GKE Autopilot because it doesn't have the NET_ADMIN capability.
https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview#linux_workload_limitations

Although I didn't see the exact same error I think it might be the same reason.

[2022-06-05 12:14] thallgren commented on #2634
@alon7 There are two things in Telepresence that will require `NET_ADMIN` privileges. I don't think @screenvidio encounters any of them:
1. The telepresence root daemon (running in the client) must have `NET_ADMIN` privileges to configure the VIF (the TUN device). Judging from the logs, there's no problem with that.
2. A telepresence init container may be inserted into an intercepted pod under cer

[2022-06-05 12:29] alon7 commented on #2634
@thallgren thanks for the explanation. So there should be no issue running telepresence on GKE Autopilot?
I can try to re-create the issue I've seen and share.

[2022-06-05 15:53] thallgren commented on #2634
@alon7 please do. We will try and figure it out and, if possible, solve the problem.

[2022-06-08 03:46] jeremyw-dobeu opened #2637 "Having issues with connecting"
**Describe the bug**
A clear and concise description of what the bug is.

Additionally, if you are using Telepresence 2.4.4 and above, please use
`telepresence loglevel debug` to ensure we have the most helpful logs,
reproduce the error, and then run `telepresence gather-logs` to create a
zip file of all logs for Telepresence's components (root and user daemons,
traffic-manager, and traffic-agents

[2022-06-08 07:06] thallgren commented on #2637
@jeremyw-dobeu may I suggest that instead of just including the template, you actually follow its instructions? I'm closing this tiecket because it contains absolutely nothing that we can act on. Try following the suggestion in the error message. If that doesn't work, file a proper ticket.

[2022-06-08 07:06] #2637 closed, assigned to nobody

[2022-06-08 07:15] thallgren commented on #2625
The problem i very likely fixed in 2.6.5.

To answer your question. There are ways to set the default image. Which way to use depends on how you install the traffic-manager into your cluster. If you rely on the auto-install (where the Telepresence installs it the first time you connect), then you can specify the image in your `config.yml` as:
[code]
and if you are using Helm to install, then you c

[2022-06-08 13:44] screenvidio commented on #2634
I created another Autopilot cluster to try this.
I tried connecting after it failed again and this time I see the services for Telepresence installed.
However, now, with the Go sample app running and all, when I try to do the intercept I get the following.

`❯ telepresence intercept dataprocessingservice --port 3000
telepresence: error: rpc error: code = DeadlineExceeded desc = request timed out w

[2022-06-09 10:11] #2624 closed, assigned to thallgren

[2022-06-09 11:51] thallgren commented on #2073
Fixed in 2.5.0.

[2022-06-09 11:51] #2073 closed, assigned to nobody

[2022-06-09 12:47] mindw opened #2641 "Support specifying allow-cidr and deny-cidr via command line"
**Please describe your use case / problem.**
Support specifying allow-cidr and deny-cidr via command line.  Patching kubeconfig is hard:
1. Which kubeconfig? the default? one the ones specified KUBECONFIG?
2. Kubeconfig may be autogenerated needing re-patching every time.
3. patching YAML is hard - even with tools like yq

**Describe the solution you'd like**
Add `--allow-cidr` and `--deny-cidr` c

[2022-06-09 13:01] thallgren commented on #2641
I can see how we could add these flags to the `telepresence connect` command. @mindw  Is that what you're envisioning?

[2022-06-09 13:05] thallgren commented on #2634
Seems you entered that key verbatim as `timeouts.helm`. It's a hierarchical name and you need to reflect that:
[code]

[2022-06-09 13:59] mindw commented on #2641
@thallgren indeed it is. Tx!

[2022-06-10 15:45] maelvls commented on #1647
~This limitation makes me stay on Telepresence v1~. As you mentioned, I wish we could skip having to create a service resource when developing Kubernetes controllers. I expand on my use-case in [Use-case: Telepresence 1 + mitmproxy for debugging cert-manager](https://github.com/maelvls/kubectl-incluster#use-case-telepresence-1--mitmproxy-for-debugging-cert-manager).

**Update 1 June 2023:** The co

[2022-06-10 18:07] stevenbarlow commented on #2522
@suravikumar I wanted to give you an update since there has not been activity on this ticket for awhile. We finally managed to setup a test environment where we can reproduce what we think you are seeing. Now we are trying to figure out what is going on.

[2022-06-13 02:44] #2566 closed, assigned to nobody

[2022-06-13 17:31] norru opened #2643 "invalid apiVersion "client.authentication.k8s.io/v1alpha1"
I'm following the getting started guide at https://www.telepresence.io/docs/latest/howtos/intercepts/

**Describe the bug**
Telepresence setup fails with

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
A clear and concise description of what you expected to happen.

I expect the command to succeed and `telepresence connect` proce

**Gathering logs**
[code]

[code]

**Versions (pl

[2022-06-13 17:52] norru commented on #2643
Related issue: https://github.com/aws/aws-cli/issues/6920 (see downgrade of `kubectl to 1.24.0`

[2022-06-13 18:05] norru commented on #2643
Removing aws-cli, reinstalling latest version, and re-running `aws eks update-kubeconfig` fixes the issue. Unfortunately this cannot be done by using `apt` or `dpkg` as version `2.7.7` of awscli is only available as a zip package.

[code]

[2022-06-13 18:07] #2643 closed, assigned to nobody

[2022-06-15 06:15] dehypnosis commented on #1658
I am manually deleting agents every time for now by editing Deploment specification.
Is this issue still being investigated???

[2022-06-15 09:32] Messhias commented on #2163
It's not a solution, it's a workaround. I'm on OSX too, in theory, we should not be forced to uninstall everything, restart services e, etc...

Sounds like we're dealing with a windows default software.

[2022-06-15 12:21] DpoBoceka commented on #2616
any updates on this issue?

[2022-06-15 12:43] thallgren commented on #2163
@Messhias you're dealing with a fairly new technology that is evolving rapidly and we try our best to prioritise to meet our users needs. There's no doubt room for improvement in the area of updating, and we will address that. Meanwhile, I'd like to point out that "windows default software" rarely is open source that you can use, free of charge, _and_ contribute to. So if you think there are areas

[2022-06-15 16:16] sgreene570 commented on #538
This feature would be greatly appreciated, and has already been implemented in `kubectl` and `oc`. IMO telepresence should have full feature parity with `kubectl` and `oc`'s bash completions (e.g. tab complete service names).

Is there anything I could hack on or look into to help this effort?

[2022-06-15 18:40] liyihuang commented on #2582
from I can see from 2.6.6 telepresense starts to insert the iptable rule to hijack the traffic even before the istio iptable rules, and it will cause the issue for istio. Hope this can be addressed properly in 2.6

[2022-06-15 20:01] liyihuang commented on #2582
@thallgren  I'm using a 2.6.6 with istio. I have tried a sample httpbin with right service name(https://raw.githubusercontent.com/istio/istio/master/samples/httpbin/httpbin.yaml) but still run into issue. I can see telepresence has inserted a iptable rule hijack the traffic before the istio's rules.

Here is my current IPtable in 2.6.6
[code]

[2022-06-15 20:35] thallgren commented on #2582
@liyihuang we're working on a solution for this. The problem is that there's no proper way to ensure that our init container executes after the istio init container, and when it doesn't, Istio will just insert it's rules before ours.

The problem occurs when your service is using a numeric `targetPort`. There's no need to do that unless the service is headless (explicitly declares `ClusterIP: None

[2022-06-15 22:00] liyihuang commented on #2582
@thallgren thanks for the quick reply. I didn't know I can do a symbolic port number on the target port. to be honest, I don't think that's a common practice at least from my experience. I'm not sure if the non-root user container environment will cause more challenges using symbolic ports(I assume symbolic target port will need the app container to use the known port like 80/443)?

if you have th

[2022-06-16 04:47] thallgren commented on #2582
@liyihuang using symbolic ports is a very common practice. The reason I recommend using it, is not to determine the application protocol in this case. It's so that Telepresence can use another strategy than an init-container that manipulates `iptables` to intercept the port, and thereby avoid the rules conflict with Istio.

If the `targetPort` is a name, then Telepresence's mutating webhook will d

[2022-06-16 08:19] GuyCarmy opened #2645 "Conflicts with the currently-served intercept"
**Describe the bug**
Getting ```elepresence: error: Failed to establish intercept: intercept in error state AGENT_ERROR: Conflicts with the currently-served intercept "44db34b9-2267-4663-80f8-7b3b3b396759:deployment-name"``` often.

*logs were provided and examined by @thallgren already

**To Reproduce**
Steps to reproduce the behavior:
1. Running an intercept
2. losing connectivity (shutting down

[2022-06-16 10:25] thallgren commented on #2582
To answer your last question. In versions prior to 2.6.0, Telepresence would actually modify your service to use a symbolic name and redeploy it. It would also modify your workload (deployment, replicaset, or statefulset) and redeploy that too. That's a fairly intrusive approach that doesn't play well with several use-case scenarios. CI-buils using ArgoCD to name one. Modifying services and deploy

[2022-06-16 13:25] liyihuang commented on #2582
@thallgren thanks for answering that.

[2022-06-16 22:30] sambrex commented on #2645
@GuyCarmy how did you kill the traffic managers pod? I'm running into the same issue

[2022-06-17 04:23] thallgren commented on #538
@sgreene570 if you'd like to contribute, I believe you should start looking at our cobra command structure: https://github.com/telepresenceio/telepresence/tree/release/v2/pkg/client/cli

[2022-06-17 04:27] thallgren commented on #1658
This is no longer an issue in telepresence versions >= 2.6.0. Telepresence no longer modify the services and deployments.

[2022-06-17 04:27] #1658 closed

[2022-06-17 07:12] dehypnosis commented on #2582
Thank you for the explanations...
So for now, should i set all the services container port number as 80 (http)?
Did i get understand correctly?

[2022-06-17 07:43] thallgren commented on #2582
@dehypnosis, no that doesn't sound correct. What I recommend is that you ensure that your service `targetPort` is a name instead of a number, and that the name matches the name of the containers `containerPort`. That's all there's to it. What name to use is up to you.

[2022-06-17 08:13] dehypnosis commented on #2582
@thallgren ah, Sorry for deletion. I understood exactly and that seems resonable.

[2022-06-18 03:15] #2645 closed, assigned to thallgren

[2022-06-18 12:53] GuyCarmy commented on #2645
Just deleted the pod

[2022-06-19 15:57] alon7 commented on #2634
Hi @thallgren I just noticed the GKE Autopilot error happened again.
![Screen Shot 2022-06-19 at 18 56 36](https://user-images.githubusercontent.com/176762/174489745-4e4b38b2-87df-4cd6-9476-496f3e151c12.png)

It happened when I tried to `telepresence connect` and it failed.

Let me know if there's anything else that I can attach that'll be helpful

[2022-06-19 23:55] AlexisDucastel commented on #2599
Hi !

This is indeed a problem for Rancher RKE2 cluster that use a custom DNS deployment for coredns.

An easy workaround is to create the following service in `kube-system` namespace to have a more standard DNS discovery functionnality, thus compatible with telepresence and others. Of course, it would be better to be able to customize DNS service discovery in telepresence helm values.

Here is th

[2022-06-20 05:39] novvoo opened #2651 "istio smartDNS unsupport"
- istio smartDNS:
[code]

- command1:
[code]
- command2:
[code]

[2022-06-21 03:59] YourTechBud commented on #691
Any progress on this. I'm facing a similar issue

[2022-06-21 10:55] richardscarrott commented on #2645
I got this, had to kill traffic manager

[code]

[2022-06-21 16:53] njayp commented on #2651
Hi. We don't currently automatically detect istio networking. However, I think there is a workaround that will give you the functionality that you want. Could you try extending your kubeconfig with the `include-suffixes` option? By adding `.internal` to `include-suffixes`, all requests with that suffix will be proxied.

[code]

docs https://www.getambassador.io/docs/telepresence/latest/reference/c

[2022-06-22 09:01] iyezhou opened #2654 "telepresence intercept timed out [v2.6.6]"
hi, I follow this page: https://www.getambassador.io/resources/easy-debugging-of-spring-boot-microservices/

but got timed out error

[code]

[2022-06-22 14:02] thallgren commented on #2625
Closing this a fixed. Please reopen if you still experience these problems.

[2022-06-22 14:02] #2625 closed, assigned to nobody

[2022-06-22 14:06] thallgren commented on #2634
@alon7 are you using numeric ports, but not on headless services? If so, [this section](https://www.getambassador.io/docs/telepresence/latest/troubleshooting/#injected-init-container-doesnt-function-properly) in the docs might be helpful.

[2022-06-22 14:08] thallgren commented on #2623
Please see [this section](https://www.getambassador.io/docs/telepresence/latest/troubleshooting/#injected-init-container-doesnt-function-properly) in our troubleshooting guide. I think it might be helpful for the problem you're experiencing.

[2022-06-22 14:11] jiangxiaoqiang opened #2656 "the telepresence connect cluster timeout"
When I am using this command in macOS 12.4 to connect the cluster:

`telepresence connect -n ambassador
`

show error:

[code]

the telepresence version `2.6.6`:

[code]

[2022-06-22 14:18] jiangxiaoqiang opened #2657 "is it possible to let the telepresence output verbose information"
When I using this command to connect the remote cluster, is it possible to make the telepresence output the verbose information?

`telepresence connect verbose
`

[2022-06-22 14:23] jiangxiaoqiang opened #2658 "is it possible to make the telepresence compatible for each verison"
every time upgrade the telepresence, it will make some breaking changes!! Is it possible to make the telepresence compatible for each version? or compatible for most of the features. do not make it break after upgrade please.

[2022-06-22 14:30] thallgren commented on #2658
There has been one breaking change, in one direction, and it is well explained in our documentation.
Traffic managers >= 2.6.0 will not accept clients older than 2.6.0. That's about it.

What breaking changes besides that are you experiencing?

[2022-06-22 14:35] thallgren commented on #2657
We don't have a specific `verbose` flag but we do log a log of information, and it easily avaliable. You can view it using a command like this (log file location is different on different platforms, see docs for more info):
[code]
and control the verbosity with:
[code]
You may also use kubectl to log what's happening in the traffic-manager and the intercepted pod.

[2022-06-22 18:50] #2557 closed, assigned to thallgren

[2022-06-22 20:41] kolorful commented on #2596
We've seen a similar issue with ubuntu

[code]

Does the init container need to run as root?

[2022-06-23 03:59] maynardflies opened #2661 "Telepresence is unable to inject pods without volumes"
**Describe the bug**
Telepresence does not take `automountServiceAccountToken` into account, and fails when there is no volumes entry in the spec

* reproduce the error *

telepresence gather-logs --output-file /tmp/telepresence_logs.zip

[code]

[2022-06-23 04:55] #2657 closed, assigned to nobody

[2022-06-23 04:56] #2658 closed, assigned to nobody

[2022-06-23 10:35] thallgren commented on #2596
Unless you are using headless services, it's likely that there's a way around this. There's often no need for an init-container. Please read [Injected init-container doesn't function properly](https://www.getambassador.io/docs/telepresence/latest/troubleshooting/#injected-init-container-doesnt-function-properly) in our Troubleshooting guide.

[2022-06-23 13:15] njayp commented on #2654
can you run `telepresence gather-logs` and post the zip folder here?

[2022-06-23 13:18] njayp commented on #2656
can you run kubectl commands like `kubectl get pod`?