[2021-04-15 14:16] sichapman commented on #1664
I am getting a similar error. After a little more testing it seems like the logic is broken in some way.

When the ambassador namespace doesn't exist (or I don't have access to it), instead of trying to create it, it thinks it is available and tries to get the services list, which fails as above

When the ambassador namespace is there (and I do have access to it), it fails with user cannot create

[2021-04-15 15:43] LukeShu commented on #1658
With 2.1.5 there _is_ an issue with removing agents installed by older versions (https://github.com/telepresenceio/telepresence/issues/1666 / https://github.com/telepresenceio/telepresence/pull/1667), but otherwise, the upgrade is a red herring.

The issue is that something else overwrote what Telepresence did, and so it's in a weird half-installed state.

One container says
[code]
and the other c

[2021-04-15 16:07] #993 closed

[2021-04-15 16:12] LukeShu opened #1669 "[v2] Telepresence gets confused when something else edits a workload"
This is an offshoot of https://github.com/telepresenceio/telepresence/issues/1658

Telepresence doesn't (can't?) quite know how to undo injecting the traffic-agent sidecar to a Deployment if something else has since edited the Deployment in a conflicting way.  To resolve #1658, we're working on improving diagnostic messages and documentation, but aren't addressing the underlying issue; that is wha

[2021-04-15 18:12] nishanksogani commented on #1654
+1
I'm facing the same error on running `brew install datawire/blackbird/telepresence` in BigSure 11.2.3.
I tried reinstalling MacFuse twice and restarting the system after allowing the application in system preferences but it did not help.

[2021-04-15 22:30] AntonBlomstrom commented on #1622
I've been running Telepresence fine in a container. But only on rebuilds. If I leave the intercept active in the container when I exit vscode, then try to reopen the folder in the container again, I get this:

`telepresence: error: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial unix /tmp/telepresence-connector.socket: connect: connection refused"

[2021-04-16 01:50] langxiaopiao030 commented on #1654
Catalina10.15.7    +1

[2021-04-16 05:22] #994 closed

[2021-04-16 12:14] #986 closed

[2021-04-16 12:21] nishanksogani commented on #1654
Installing from Source worked on my system and I'm able run telepresence. I guess the issue is with Homebrew.

[2021-04-16 15:08] Tetragramato opened #1671 "[v2] intercept a service which have internal dependencies"
Hello,

I have a question about intercepting a service with internal dependencies like a DB.

I have a service which can access to a mongoDB via the URI inside the cluster (with the service name), and when i intercept it and run locally the service with the right env file, i have some Exceptions due to Connection reset.

When i make a portforward of the Mongo service on my computer and make the ch

[2021-04-17 13:46] jokerZhou commented on #1654
Mojave 10.14.4 +1

[2021-04-17 20:26] #998 closed

[2021-04-18 13:50] #799 closed

[2021-04-18 18:49] sathishavm commented on #1654
same here unable to install with error `sshfs has been disabled because it requires FUSE!` for catalina 10.15.7

[2021-04-19 03:11] jokerZhou commented on #1654
I solved the problem,follow these step:
1. install the  Release of FUSE for macOS 3.11.2 from https://osxfuse.github.io/2020/10/05/OSXFUSE-3.11.2.html
2. execute brew command  in  terminal:   brew install datawire/blackbird/telepresence --ignore-dependencies

[2021-04-19 15:26] Ibn-coulibaly opened #1674 "redhat"

[2021-04-19 15:26] #1674 closed

[2021-04-19 15:32] Ibn-coulibaly opened #1675 "Failed to install telepresence on my redhat 7.9"
Hello,

By trying to install telepresence using the [installation from source](https://www.telepresence.io/reference/install) method, I got this error when running this command with the install.sh script :

**sudo env PREFIX=/usr/local ./install.sh**
Installing Telepresence in /usr/local
python3: can't open file 'packaging/build-telepresence.py': [Errno 2] No such file or directory

my python vers

[2021-04-19 19:59] khussey commented on #1666
This is fixed in the 2.2.0 release, which is now available.

[2021-04-19 19:59] #1666 closed

[2021-04-19 22:37] #992 closed

[2021-04-20 05:07] a502270682 commented on #1651
same problem +1

[2021-04-20 08:34] #1664 closed

[2021-04-20 08:40] pankrator opened #1677 "[v2] Unable to build telepresence binary for OSX"
I am trying to build telepresence on my Mac with the following command:

[code]

The result is as follows
[code]

I have search for the header file, but did not find anything that would help. Any sugesstions would be helpful?

[2021-04-20 16:18] maxlegault opened #1678 "[v2] Connecting to a cluster should not try to create ambassador namespace if already present"
I am running in an issue with Telepresence 2.2.0 when trying to connect to a cluster in which an `ambassador` namespace exists, but the `traffic-manager` deployment and services have been removed (from a `telepresence uninstall --everything`).

When running `telepresence connect` in that configuration, I get the following error:
[code]

I am admin in the `ambassador` namespace, but not in the whol

[2021-04-20 19:57] donnyyung commented on #1597
Hey @mauricionr ,

Could you maybe give us some more information on the deployment you are using and the command you are running? I tried to reproduce this error with yaml similar to what you've given:
[code]
`telepresence intercept echo-easy --port 3000` works as expected.

It'd also be helpful to know the telepresence intercept command you are using.

For example, if you are using `telepresence

[2021-04-20 23:42] kodeninja opened #1680 "[v2] Telepresence2: Unable to SSH"
Gave telepresence2 a spin. Can't get it to work with my local minikube (with the `virtualbox` driver).

Steps followed: https://github.com/telepresenceio/telepresence/tree/release/v2#walkthrough

[code]

[code]

Telepresence Logs:

[connector.log](https://github.com/telepresenceio/telepresence/files/6347160/connector.log)
[daemon.log](https://github.com/telepresenceio/telepresence/files/6347161/da

[2021-04-22 05:28] evandrix commented on #1654
[code]

[2021-04-22 05:40] evandrix commented on #1654
https://github.com/libfuse/libfuse/issues/204

[2021-04-22 12:36] #1004 closed

[2021-04-22 13:44] donnyyung commented on #1678
This was fixed in https://github.com/telepresenceio/telepresence/pull/1679 and will be in the next release of telepresence :)

[2021-04-22 16:05] scottillogical opened #1681 "[v2] DNS resolution failing when using vault go binary"
Reproduced on TP 2.1.2 and 2.2.0 and vault 1.0.0 and 1.7.1.  This previously worked on tp v1.
[code]
Steps to reproduce:
1. Install vault into your namespace via helm  helm -n $namespace install --wait --create-namespace vault-$namespace hashicorp/vault
2. boot up telepresence 2 via tp connect (--mapped-namepaces didnt help)
3. Install vault locally and attempt to to connect to the deployed vault

[2021-04-22 20:09] scottillogical commented on #1681
I resolved this by using a version of vault built with CGO_ENABLED=1

[2021-04-22 20:09] #1681 closed

[2021-04-22 20:14] scottillogical commented on #1681
reference to underlying vault issue for posterity https://github.com/hashicorp/vault/issues/1159

[2021-04-22 20:58] justinfiore opened #1682 "[v2] telepresence connect fails connecting to the traffic-manager"
Telepresence Version: `Client v2.2.0 (api v3)`
OS: `Mac OS 10.14.6`
Kubernetes: `AWS EKS`
kubectl Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"darwin/amd64"}
K8S Server Version: version.Info{Major:"1", Minor:"15+",

[2021-04-23 10:18] mauricionr commented on #1597
here's mine before changed the `name`

[code]

so when i got the service output i could figure out that name was missing and to solve my problem i had to put the name.

[code]

[2021-04-23 10:18] mauricionr commented on #1597
I was following the [docs](https://www.getambassador.io/docs/telepresence/latest/howtos/intercepts/), in the [docs](https://www.getambassador.io/docs/telepresence/latest/howtos/intercepts/) we have this example:

[code]

[code]

[2021-04-23 13:14] d7561985 opened #1683 "instalation on M1: An unsatisfied requirement failed this build."
OS: MacOS BigSur 11.2.3 (20D91)
CPU: ARM m1

unable to instal telepresence

`➜  ~ brew install datawire/blackbird/telepresence -d
/opt/homebrew/Library/Homebrew/brew.rb (Formulary::TapLoader): loading /opt/homebrew/Library/Taps/datawire/homebrew-blackbird/Formula/telepresence.rb
==> Installing telepresence from datawire/blackbird
/opt/homebrew/Library/Homebrew/brew.rb (Formulary::AliasLoader): loa

[2021-04-23 16:15] MasseGuillaume opened #1684 "DNS is messing up *.googleapis.com"
After doing telepresence into google cloud kubernetes my dns record points to a private ip address. Now if I load stackoverflow or any website that uses ajax.googleapis.com or fonts.googleapis.com it hangs forever.

[code]

[2021-04-23 17:00] MasseGuillaume commented on #1684
Hum we created a dns managed zone for *.googleapis.com pointing to 172.21.1.1

`--also-proxy 172.21.1.1` exposes that private IP  and solves the problem.

[2021-04-23 17:00] #1684 closed

[2021-04-24 21:11] #1011 closed

[2021-04-26 14:05] iangregsondev opened #1688 "Brew (macos bigsur - intel) install, returns linux unsatisifed libfuse"
Hi,

I have upgraded brew and installed osx fuse as per instructions i.e.

[code]

and now trying

[code]

and get

[code]

Anybody managed to do this ?

I don't think I am missing a step?

Thanks

[2021-04-26 17:42] peteroneilljr opened #1689 "[v2] traffic-manager auto upgrade/downgrade causes connection issues for teams"
Telepresence connections are interrupted when multiple team members run `telepresence connect` to the same cluster when using different versions of telepresence. The member with the newest version of telepresence will upgrade the traffic-manager to the latest version, but once the next member joins with a previous version of telepresence, the traffic-manager is forced to downgrade disrupting any e

[2021-04-26 18:04] jackybh commented on #1689
Thank Peter for raising this.  We were experiencing disconnecting issue in the past 3 weeks (see https://github.com/telepresenceio/telepresence/issues/1652), and last week I found the root cause was related to this. Everytime when a client with different version tried to connect to the `traffic-manager`,  an update was triggered on `traffic-manager` and `ScalingReplicaSet` event was fired (See bel

[2021-04-26 22:37] donnyyung commented on #1597
Hey there,

Yes but in the docs the service port is listed as such:
[code]
so we can use `--port 8080:http` since we have that port name listed in the service. Since the service you showed us in the initial comment doesn't have a port, you should only use `--port <portLocalServiceRunningOn`.

[2021-04-27 01:40] rooflz commented on #1688
I'm on bigsur + intel as well and am seeing the same issue.

[2021-04-27 06:26] vals-productions commented on #1688
I'm on Catalina 10.15.7 with the latest updates and also see this issue.

[code]

and then:

[code]

[2021-04-27 07:46] timirnich commented on #1688
Same issue here, on BigSur. Installing lates update now to rule out that it has something to do with that (doubt it though).

[2021-04-27 08:53] markthebault commented on #1688
Same issue here

[2021-04-27 11:51] tigranbs commented on #1688
Found a workaround with `brew install datawire/blackbird/telepresence --ignore-dependencies`, everything seems to be working except when I do `--method inject-tcp` it crashes with this error.
_not 100% sure if that's related_ 🤷‍♂️

[code]

[2021-04-27 19:57] peteroneilljr opened #1691 "[v2] specify alternative repository for traffic-manager"
Support cluster security configuration where access to Dockerhub is not allowed.

And a flag or configuration file options should be provided to specify the new repository.

Flag approach.
[code]

configuration file `config.yaml`
[code]

[2021-04-27 22:57] Tom-E commented on #1652
@jackybh figured this out in #1689, closing. Thank you

[2021-04-27 22:57] #1652 closed

[2021-04-28 06:06] Arttuv commented on #1688
Same issue here, macOS Big Sur 11.3, intel.

[2021-04-28 14:35] scottillogical opened #1692 "[v2] Can't connect to a new namespace until telepresence connect is restarted"
I often destroy & recreate namespaces and observed that I frequently need to quit & reconnect telepresence to route requests to a new namespace.

To reproduce:
1. Start `telepresence connect`
2. Deploy a new namespace  (e.g. sandbox-scott) and deploy something there (e..g. postgres)  `helm -n sandbox-scott1 install  --create-namespace redis  bitnami/redis `
3. Observe that you cannot route via tel

[2021-04-28 18:00] freebrowser1 commented on #1654
Does this also work when I have macFUSE 4.1.0 installed ?

[2021-04-28 19:47] d7561985 commented on #1683
Fix:

[2021-04-28 19:52] #1683 closed

[2021-04-28 20:22] scottillogical commented on #1689
I think this is a duplicate of #1617

[2021-04-28 20:24] scottillogical commented on #1617
I worked around this issue by installing a kyverno policy that globally locks us to a specific telepresence version (credit @MattSurabian for the idea)
[code]

[2021-04-29 02:35] #1015 closed

[2021-04-29 03:35] #1018 closed

[2021-04-29 08:45] HawkerOH commented on #1688
Same issue here too, Catalina 10.15.7, Intel

[2021-04-29 16:09] khussey commented on #1678
This is fixed in the 2.2.1 release, which is now available.

[2021-04-29 16:09] #1678 closed

[2021-04-29 20:38] tschmidt64-SC commented on #1688
+1, Big Sur 11.3, Intel

[2021-04-30 02:22] #1020 closed

[2021-04-30 03:43] lvchangqi commented on #1654
@freebrowser1 hey,  I install this dependency, but it didn't work when I use it
[code]

[2021-04-30 04:05] kodeninja commented on #1680
Any insights on this?

[2021-04-30 09:47] Xeno365 commented on #1654
Hello, I tried the different solutions of this forum but I still have the error message : "Error: sshfs has been disabled because it requires FUSE!".

This was when I tried to install sshfs with homebrew. I tried installing fuse with homebrew and by downloading it, but I got the error message with both. However, macFUSE is install on my system preferences and I gave him access, so I don't know why

[2021-04-30 09:49] betterphp opened #1696 "Cluster type incorrectly detected as OpenShift"
When running a telepresence command we get the following error even though we are not using OpenShift.
[code]

After a bit of investigation it seems that the check for OpenShift/kubectl looks for "openshift.io" in the output of `kubectl api-versions`, here https://github.com/telepresenceio/telepresence/blob/master/telepresence/startup.py#L173

For our setup the output of this command is
[code]

`r

[2021-04-30 10:23] mpruefer commented on #1654
Installing macFUSE 4.1.0 and SSHFS 2.5.0 from https://osxfuse.github.io/ worked out fine for me.

macOS Big Sur 11.3

[2021-04-30 11:17] freebrowser1 commented on #1654
Weird, I do have 4.1.0 on Big Sur 11.2 and have sshfs

           sshfs --version
          SSHFS version 2.10
          FUSE library version: 2.9.9
          fuse: no mount point

But updating from brew issues that error "sshfs has been disabled because it requires FUSE!" .

![Screenshot 2021-04-30 at 13 15 19](https://user-images.githubusercontent.com/26625141/116687873-25e77580-a9b6-11eb-9f39-7

[2021-04-30 12:31] magnusja commented on #1688
Yeah same problem, Mojave....

[2021-04-30 13:26] xavidop opened #1697 "[v2] intercept not woking with --namespace"
Hello,

I have notices that when we have the same helm chart deployed in multiple namespaces when I try to intercept a service of one namespace using the --namespace, the intercept works but the env variables inject is from the same service/deployment but from a different namespace.

I tried with the --namespace and --mapped-namespaces with the same result. The services from the other namespaces h

[2021-04-30 13:54] xavidop commented on #1697
Adding more information to this issue, when I try to uninstall the agent in one service that has that strange behaviour I get this error:
[code]

I just run `telepresence uninstall -d <workload> -n <namespace>`. It seems like the traffic agents are in bad state.

[2021-04-30 16:48] donnyyung opened #1698 "[v2] Intercepts not resilient to pod restarts"
When a service is intercepted, if pod(s) of the intercepted service are killed or restarted, telepresence list will still say the intercept is active, but traffic to the new pod actually goes to the pod instead of to the intercept on the local machine.  However, the intercept isn't completely dead bc if you have have **n** pods in your intercepted service and only one is killed, traffic goes to th

[2021-04-30 19:06] satishnaidu opened #1699 "TELEPRESENCE_REGISTRY flag is not working for pulling docker.io/datawire/ambassador-telepresence-agent:1.5.1"
Hi Team,

Even after setting the TELEPRESENCE_REGISTRY to the custom repository, the traffic-agent sidecar is generated with public docker registry url docker.io/datawire/ambassador-telepresence-agent:1.5.1

export TELEPRESENCE_REGISTRY=<<private_docker_registry>>

telepresence intercept <<service>>  --port 8080:http --mount=true  --namespace  test --env-json env.json --preview-url=false --http-ma

[2021-04-30 19:44] #1021 closed

[2021-04-30 19:55] davidfloresv commented on #1688
Updating Xcode tools and macFuse didn't work neither

[2021-04-30 20:44] #1016 closed

[2021-04-30 21:14] satishnaidu commented on #1699
Perfect @donnyyung

After setting the TELEPRESENCE_AGENT_IMAGE value with complete telepresnce agent image, it started pulling from custom registry

export TELEPRESENCE_AGENT_IMAGE=private-docker-registry/css-devops/datawire/ambassador-telepresence-agent:1.5.1

`
Normal  Pulling    5s    kubelet            Pulling image "private-docker-registry/datawire/ambassador-telepresence-agent:1.5.1"
Normal

[2021-05-01 00:01] rdcox commented on #1688
Reposting this response from #1654 because it got me unblocked:

https://github.com/telepresenceio/telepresence/issues/1654#issuecomment-829998470

Running Big Sur 11.2.3 I did the above and then `brew install datawire/blackbird/telepresence --ignore-dependencies` and things were working after that.

[2021-05-01 04:04] #1017 closed

[2021-05-01 15:17] #1699 closed

[2021-05-01 19:39] frankgu968 commented on #1697
Should link the pull request: https://github.com/telepresenceio/telepresence/pull/1700

[2021-05-03 07:03] sashaaKr opened #1701 "Install Amazon Linux 2 AMI"
Hey there,
We are developing on Amazon linux 2 machines, and would like to use telepresence,
Do you have any plans to support out of the box installation for this distribution?
As far us I understand from [documentation](https://www.telepresence.io/reference/install) only option we have now is install from source, am I right?

[2021-05-03 14:26] samthehai opened #1703 "app crash"
### What were you trying to do?

telepresence-swap-local: ## [TELEPRESENCE] Replace the existing deployment with the Telepresence proxy for local process. Example: `make telepresence-swap-local BIN=user PORT=3000 DEPLOYMENT=***`
	go build -o cmd/$(BIN)/$(BIN) cmd/$(BIN)/main.go
	telepresence \
	--namespace lengames \
	--swap-deployment $(DEPLOYMENT) \
	--expose 3000 \
	--run ./cmd/$(BIN)/$(BIN) \

[2021-05-03 23:46] rytswd opened #1705 "[v2] Integration with Istio"
From the [v2 blog post](https://blog.getambassador.io/whats-new-in-telepresence-2-dbdff62b82d5), I could see how Telepresence tries to achieve fast development cycle by using proxy, just like Service Mesh. In fact, the traffic manager and traffic agent are very similar to Istio's control plane (istiod) and data plane (envoy proxy sidecar). If I'm not mistaken, Telepresence v2 sounds like it would

[2021-05-04 23:22] indrasvat commented on #1680
Per the suggestion from [@cindy](https://datawire-oss.slack.com/archives/CAUBBJSQZ/p1619820055127300?thread_ts=1619801996.126300&cid=CAUBBJSQZ), I tried the `--mapped-namespaces` flag. Now, it seems the SSH command works, and I'm able to list pods etc, but I'm still not able to hit the `hello` service via `curl`.

The only difference from the tutorial is that the `hello` service is deployed in the

[2021-05-05 05:43] thallgren commented on #1594
We provided some improvements especially targeted at Minkube in version 2.1.3. @cujo, can you please try the latest (2.2.1) and see if this problem persist?

[2021-05-05 06:33] thallgren opened #1708 "[parity] Add functionality similar to TP1's --to-pod flag."
TP1 has a `--to-pod <port>` option that maps a specific port on `localhost` to an intercepted pod. This is useful when intercepting a container that communicates with other containers in the same pod using fixed `localhost` port numbers. Similarly, a `--from-pod <port>` will map all calls to `localhost` on that port number in the pod to the client.

A `--to-pod <port>` is simple to achieve (telepr

[2021-05-05 23:02] LukeShu opened #1709 "[v2] `status` dies if the connector needs upgraded"
@esmet reports that he sees this
[code]
@donnyyung notes that the `UserNotifications` gRPC call was added to the connector in 1.2.4.  So the issue is clearly that John has an old connector running, and needs to `telepresence quit` or otherwise signal it to shut down.

So there are two things here:
 1. We need to make sure the auto-upgrade-the-connector logic works.
 2. But `status` should be tryin

[2021-05-06 11:50] thallgren commented on #1701
Perhaps [Telepresence Version 2](https://www.getambassador.io/products/telepresence/) can help? It's a single binary and I believe it would run fine on Amazon Linux 2.

[2021-05-06 11:56] thallgren commented on #1692
The DNS is different on different platforms and versions of telepresence. Can you please convey info about what OS you're running on and what version of Telepresence you're using?

[2021-05-06 11:59] thallgren commented on #1691
Great idea. We should add that. Meanwhile, as a workaround, you can use the environment variable `TELEPRESENCE_REGISTRY=<your registry>`.

[2021-05-06 12:19] thallgren commented on #1682
My guess is that this is related to how we use `pfctl` to add routes to the firewall. We will replace that code entirely in the near future. Meanwhile, instead of doing a full reboot, you might want to try `sudo pfctl -F all`.

[2021-05-06 12:30] thallgren commented on #1680
It's really odd that curl reports `* Connected to hello.hello (10.97.229.172) port 80 (#0)` and then times out. A log from the hello pod's traffic-agent container would be interesting to look at.

[2021-05-06 12:35] scottillogical commented on #1692
@thallgren  OSX.  I also frequently use a cisco VPN

[2021-05-06 12:37] thallgren commented on #1677
We're building Telepresence on MacOS everyday, so this is surprising. Not sure how to figure out what's causing the error. What version of MacOS are you on? Are you using Xcode command line tools? Do you have an up-to-date `brew` install?

[2021-05-06 12:43] thallgren commented on #1671
Please see this section about [External Dependencies](https://www.getambassador.io/docs/telepresence/latest/howtos/outbound/#external-dependencies-formerly---also-proxy) for a good work-around until we implement `--also-proxy`.

[2021-05-06 12:50] thallgren commented on #1649
Can you please try with the latest Telepresence and see if this problem persists? And if it does, can you please provide the connector.log and daemon.log from the failing session. You'll find the logs under `~/Library/Logs/telepresence`

[2021-05-06 12:54] thallgren commented on #1646
Perhaps this is also the solution needed to implement the T1 option `--from-pod <port>`? Not sure what happens if we simply override ports that the main container is listening to though. I think it must be stopped to avoid conflicts.

[2021-05-06 12:55] thallgren commented on #1646
Relates to #1708.

[2021-05-06 13:00] thallgren commented on #1638
Please try again with the latest version of Telepresence. We've made some improvements to DNS. If it still fails, then please provide the ~/.cache/telepresence/logs/daemon.log file from the failing session.

[2021-05-06 14:57] thallgren commented on #1692
Ok. We know that we have some issues when VPNs are in use. Is there an easy way for you to check if it works without the VPN?

[2021-05-06 15:05] liuquanhao opened #1710 "[v2] connect refused"
virtualbox+ubuntu20.04+k3s

**.cache/telepresence/logs/daemon.log**
vagrant@ubuntu-focal:~/.cache/telepresence/logs$ cat daemon.log
2021/05/06 14:56:39 daemon ---
2021/05/06 14:56:39 daemon Telepresence daemon v2.2.1 (api v3) starting...
2021/05/06 14:56:39 daemon PID is 4957
2021/05/06 14:56:39 daemon
2021/05/06 14:56:39 daemon/firewall-to-socks initial rlimit: {1024 1048576}
2021/05/06 14:56:39

[2021-05-06 15:10] donnyyung opened #1711 "[v2] telepresence should be able to be installed via brew"
telepresence 1 could be installed via brew so tp2 should be able to as well.

[2021-05-06 15:14] donnyyung opened #1712 "[v2] telepresence should be able to be installed via packagecloud"
Telepresence 1 could do this so tp2 should as well

[2021-05-06 15:16] thallgren commented on #1710
Do you see any errors in the traffic-manager logs?

[2021-05-06 15:18] donnyyung opened #1713 "[v2] Telepresence 1 -> 2 Migration Doc"
I don't think this will be a super complicated doc, but I think we should at least have something that says, "Hey there, here's how you go from tp1 to tp2, here are the major differences between the two, etc." I think we can mostly link to other documentation, but having a tl;dr would be nice for when we make tp2 the default.

[2021-05-06 15:27] scottillogical commented on #1692
I tried to reproduce this and was not able to this time on or off vpn.  Closing for now will reopen or open a new issue if I have more clarity on whats happening, sorry!

[2021-05-06 15:27] #1692 closed

[2021-05-06 15:51] liuquanhao commented on #1710
yes, has fail.

agrant@ubuntu-focal:~/.cache/telepresence/logs$ kubectl logs -n ambassador traffic-manager-9cc7fd595-7dtvq
time="2021-05-06 15:48:25" level=debug msg="Logging at this level (LOG_LEVEL=\"debug\")"
time="2021-05-06 15:48:25" level=info msg="Traffic Manager v2.2.1 [pid:1]"
time="2021-05-06 15:48:25" level=info msg="[pid:13] started command []string{\"/usr/sbin/sshd\", \"-De\", \"-p\",

[2021-05-06 16:02] liuquanhao commented on #1710
time1:
vagrant@ubuntu-focal:~/.cache/telepresence/logs$ kubectl get pods -A -o wide
NAMESPACE     NAME                                      READY   STATUS      RESTARTS   AGE     IP          NODE           NOMINATED NODE   READINESS GATES
kube-system   helm-install-traefik-6kdss                0/1     Completed   0          15m     10.42.0.3   ubuntu-focal   <none>           <none>
kube-system   s

[2021-05-06 18:01] indrasvat commented on #1680
@thallgren, I only see the `echoserver` container 🤷🏼‍♂️

[code]

UPDATE:

I'm not at the _intercept_ stage yet. Not able to get past https://github.com/telepresenceio/telepresence/tree/release/v2#establish-a-connection-to--the-cluster-outbound-traffic.

[2021-05-07 03:22] Achieve777 commented on #1688
it's work well after I upgrade my mac into 11.3.1

[2021-05-07 03:44] liuquanhao opened #1715 "[v2]k3s traffic-manager failed"
https://gist.github.com/liuquanhao/e9fc75342de994884521e4776e6eb8f8

[2021-05-07 05:46] thallgren commented on #1715
This seems very similar to #1710 that your reported before. The traffic-manager isn't allowed to connect to anything and you get lots of errors related to traefik. Can you please provide some info of your setup? How can we reproduce this?

[2021-05-07 08:03] liuquanhao commented on #1715
Here.
https://gist.github.com/liuquanhao/9320072eee11185c4554fbe1f4acbb32

[2021-05-07 09:07] thallgren commented on #1715
How do you install `helm` and `traefik`? A plain `get.k3s.io` install just gets me this:
[code]

[2021-05-07 10:51] thallgren commented on #1715
Thanks. I'm able to reproduce the problem. Will continue and investigate.

[2021-05-07 11:53] thallgren commented on #1715
This is related to how we configure `iptables` on Linux. From the looks of it, our configuration somehow clashes with k3s so that k3s attempts to use our routing rules to connect to things in the cluster. The problem goes away when using a TUN-device to do the routing (hence the dependency on #1653).

[2021-05-07 11:56] thallgren commented on #1710
I consider this a duplicate of #1715. @liuquanhao, feel free to reopen with an explanation if you don't agree.

[2021-05-07 11:56] #1710 closed, assigned to nobody

[2021-05-07 11:59] thallgren opened #1716 "Make telepresence uninstall --everything remove legacy components."
The `telepresence uninstall --everything` should really remove everything including telepresence related things installed by `edgectl`.

[2021-05-07 12:03] thallgren opened #1717 "Write migration docs for edgectl -> telepresence."
A doc section should be written that explains everything there is to know about moving from `edgectl` to `telepresence` with respect to telepresence related things.

[2021-05-07 13:49] donnyyung opened #1718 "Merge release/v2 into master"
This is mostly a tracking ticket for when we merge release/v2 into master, and convert the telepresence.io docs to reference telepresence 2.

[2021-05-07 14:28] magnusja commented on #1688
See comment above, manually installing fuse and sshfs is essential.

[2021-05-08 16:24] bts-verta opened #1719 "telepresence failed to launch when replacing an "Init:Error" pod"
### What were you trying to do?

launch telepresence (pod that was to be replaced was in 'Init:Error' state)

### What did you expect to happen?

successful launch.

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)
telepresence failed to launch, and telepresence pod was stuck in "init:

[2021-05-10 07:10] ChristianCiach commented on #1236
This is still an issue on Fedora 34.

[2021-05-10 13:59] ronanknob commented on #1688
Thanks, worked here in Big Sur 11.3.1 too!

[2021-05-10 16:08] thallgren commented on #1715
Actually, I misspoke. The problem does not go away when using the TUN-device. I don't think Telepresence can be used this way, on the same host as the CNI for the pods. For now, I'd recommend running k3s as a docker container instead of installing it directly on the same host.

[2021-05-10 20:29] andrei-dascalu opened #1720 "[v2] Faulty creation of env file"
I am intercepting a service as such

[code]

which also dumps the env of the pods serviced by that service.
However, in my case I have a value as follows

RABBITMQ_PASS=9HKCNJY8$cGSanrbJLD7X!ky

In the pod, the value is set as follows

RABBITMQ_PASS="9HKCNJY8\$cGSanrbJLD7X!ky"

since the $ is a special shell character. However Telepresence dumps it as-is, without quotes and without escaping it whi

[2021-05-10 20:47] thallgren commented on #1720
This is the intended and documented behavior. We're using the same format as Docker Compose: https://www.getambassador.io/docs/telepresence/latest/reference/environment/

Also see https://docs.docker.com/compose/env-file/ where you'll find the following text: "There is no special handling of quotation marks. This means that they are part of the VAL."

How are you using the env file?

[2021-05-11 05:12] msenmurugan commented on #1374
@wasd171 @ark3 @ptemmer any luck in fixing this issue?

[2021-05-11 06:23] andrei-dascalu commented on #1720
Hi,

Quotation marks have nothing to do with that, they don't appear in the value as it reaches the pod, I just had to use them when defining the secrets it gets the value from.

In env files, to be able to read the $ correctly, it just needs to be escaped.

The var file is sourced into the environment where my local application runs.

[2021-05-11 07:22] thallgren commented on #1720
The Docker Compose format knows nothing about escaping so If you need a file that you can source into your environment, then you will need to create a proper shell script that contains the variables. I.e. you need to perform the escaping so that the intended shell reads the values correctly. Here's an example in python that does that. It assumes `--env-json <file>` output.

[code]

[2021-05-11 08:36] andrei-dascalu commented on #1720
Hello,

I'm not sure to what extend Docker Compose "knows nothing about escaping". Docker Compose doesn't use any particular formatting of .env files that's different than regular .env.

A .env file is just a set of key/value pairs that can be sourced. But Docker Compose clearly doesn't just source a .env file plainly because any $ in a .env value will get correctly loaded in a container environme

[2021-05-11 10:18] thallgren commented on #1720
Docker treats what's right of the equal sign verbatim, e.g.
[code]
is to Docker what
[code]
is to a shell.

The reason I used json in the example is that  a) json has a canonical way of representing the strings (no discussion around Docker or shell syntax), and b) it is extremely easy to parse into a dictionary. And yes, telepresence will create a json file if you use `--env-json` instead of `--en

[2021-05-11 10:40] thallgren commented on #1720
I found this blog entry which might bring some more clarity: https://dev.to/tvanantwerp/don-t-quote-environment-variables-in-docker-268h

[2021-05-11 11:01] andrei-dascalu opened #1721 "[v2] Unable to intercept service"
Hello,

I'm having a really strange problem with t2 in a cluster in that even though I am intercepting a service and t2 says it's all good, requests going to the service don't reach my local environment and still go to the actual service in the cluster.

How it goes:

[code]
-> connects to traffic manager, successfully using my current kubectl context
-> I am able to `curl` service in the cluster

[2021-05-11 11:07] thallgren commented on #1721
Do you get the same error if you use a symbolic port, e.g. `targetPort: http` in the service and `name: http` on the container's `ports/containerPort`?

[2021-05-11 11:09] andrei-dascalu commented on #1720
Ah, I see the point now - thanks for your patience.

My 2 cents are that if I'm expected to use the dumped .env file with a locally running service, then it would be most useful to fully support the use case (as a service running on localhost will read/source by default the file as in a shell).

I respect that t2 may not want to presume how those values will be loaded but if the advertised use cas

[2021-05-11 11:14] andrei-dascalu commented on #1721
This is my service spec:

[code]

and the port configuration as per deployment (which reflects in the pods themselves)

[code]

this is the traffic agent that was added under the current situation

[code]

I'm not using a symbolic name to target the port, just the exact values, but I can try using one. It would be strange to make a different, wouldn't it ?

[2021-05-11 11:15] thallgren commented on #1721
Regarding macFUSE, yes, we're aware of it: #1651 and will hopefully have a fix for it soon.

[2021-05-11 11:17] thallgren commented on #1721
Your setup should work using port numbers only. I just wanted to narrow down the cause of the problem.

[2021-05-11 11:22] thallgren commented on #1720
I agree. Perhaps we should add a `--env-shell` in addition to `--env-file` and `--env-json`?

I'm actually tempted to also rename `--env-file` to `--env-docker` to avoid confusion (and keep `--env-file` as a deprecated option for backward compatibility).

[2021-05-11 11:26] andrei-dascalu commented on #1721
I've switched to using a symbolic name for the port, but seems it doesn't make a difference

[2021-05-11 11:30] thallgren commented on #1721
Ok. Thanks for trying that.

[2021-05-11 11:43] KhaledSakr commented on #1638
Unfortunately the issue still happens on v2.2.1.

Here's a gist with the log file content (with some service and pod names redacted): https://gist.github.com/KhaledSakr/d215621928cdbfbcab15bfcb32532de5

[2021-05-11 11:45] andrei-dascalu commented on #1721
I have some additional info, though no explanation for what I saw.

Even after doing in order:
- telepresence leave <my intercept>  -> which has no output to confirm success
- telepresence quit

I had two deployments that were left with telepresence managedFields entry and with sidecar. The kicker is that one of them has values for telepresence 2.2.0 and the other for 2.2.1 (the second one is the

[2021-05-11 12:04] thallgren commented on #1638
The problem is most likely this (from the daemon.log): `kubernetes.default.svc.cluster.local. -> 10.0.0.1`. It is the same address that we use for the TUN-device where we attach our DNS-resolver. We have a solution for that but it's in the making still.

[2021-05-11 12:11] thallgren commented on #1721
That sounds like a bug for sure. Would it be possible for you to convey that deployment manifest?

[2021-05-11 12:26] andrei-dascalu commented on #1721
uhm, in the meantime I performed a manual cleanup, then reinstalled everything after looking not to have leftovers traffic managers or annotations.

I did everything from scratch, including the targeted deployment (except the cluster itself) but I still have the issue.

Now I wanted to uninstall again, but I have:

[code]

[code]

However, the agent has no port "tm-appport", what it has is

[code]

[2021-05-11 12:55] andrei-dascalu commented on #1721
Yaml as it seems to have been left hanging by 2.2.0
I edited out some potentially sensitive information. Seems just the volume and the agent was left by the previous version and 2.2.1 picks it up as already installed (though missing annotations and managed fields - it has just volumes and the agent sidecar) and won't remove it or upgrade it.

[code]

[2021-05-11 13:16] andrei-dascalu commented on #1721
Ok, so I got it working!!!

I'm going to leave a few observations, not sure if any/all/none may be linked to why it didn't work - or whether they are problematic overall.

1. The deployment stuck with a 2.2.0 sidecar isn't the one I was trying to work with, it would be weird if this was the cause
2. My attempts to manually cleanup this deployment were undermined by the fact that I was restarting t

[2021-05-11 13:41] andrei-dascalu commented on #1721
Now when I try to `uninstall --everything`, I keep getting

`telepresence: error: Service name="my-service" namespace="my-ns": unable to find target port "tx-8080"`

For no apparent reason, after I was successfully working with it
Did  `leave` then `uninstall --everything` and got this error. Now it's back to not working at all when I try to intercept.

[2021-05-11 14:43] andrei-dascalu commented on #1720
`--env-shell` makes sense, as well as the rename definitely clears up the use cases!

[2021-05-11 14:48] andrei-dascalu commented on #1721
The usage pattern I now see is this:

- freshly setup T2 and traffic-manager in cluster
- intercept service
- play around, it works
- stop the local service, start it again - usually `leave` and `intercept` again work, but after a couple of time it just doesn't work, has no more effect
- `uninstall --everything` shows the error about `unable to find port` even though the port seems to exist

[code

[2021-05-11 16:49] peteroneilljr opened #1722 "[v2] Support Kakfa DNS `pod_name.serivce_name.namespace.svc`"
Requesting support for Kafka DNS naming structure `kafka-kafka-0.kafka-kafka-brokers.appnamespace.svc`

After starting an intercept Telepresence is unable to resolve DNS names that end in `.svc` this is needed to fully support development workflows that involve Kafka services.

Happy to repro this or create a demo if needed.

Thanks,
Peter

[2021-05-12 08:46] thallgren opened #1723 "Handle lingering sockets better."
This error message pops up from time to time when attempting to connect:
[code]
It is caused by ungraceful termination of the user daemon process which leaves a lingering socket with no listener. This should be handled more gracefully. If no connector is listening, the socket should be removed and the connector restarted.

[2021-05-12 09:18] mkmik opened #1724 "Cannot run --method inject-tcp in macos bigsur"
### What were you trying to do?

[code]

### What did you expect to happen?

it to work

### What happened instead?

it failed, see automatically included information below

### Extra info

I ran `brew install torsocks` because it a previous run of telepresence told me that that was a dependency.

With `--method vpn-tcp` it works, but I was trying to use `inject-tcp` in the hope it would let me co

[2021-05-12 11:58] JoonasSa opened #1725 "Ignore this"

[2021-05-12 11:58] #1725 closed, assigned to nobody

[2021-05-12 13:34] Pavel-Durov opened #1726 "getting started - first time installed and running telepresence error"
### What were you trying to do?

trying out telepresence :)

### What did you expect to happen?

to run telepresence as described in Get started section: https://www.telepresence.io/

### What happened instead?
Im reporting this bug (I hope that Automatically included information is useful)

### Automatically included information

Command line: `['/usr/bin/telepresence']`
Version: `0.109`
Python v

[2021-05-12 15:33] donnyyung commented on #1726
Hey @Pavel-Durov , we've actually open-sourced a new version of Telepresence. Have you had a chance to give it a shot? You can find the docs for it here: https://www.getambassador.io/docs/telepresence/latest/quick-start/ and we're working on getting the docs on telepresence.io soon so that it's more apparent that this is the version one should try.

[2021-05-12 15:37] donnyyung commented on #1721
Hey @andrei-dascalu, I see that the port is in your workload (deployment, replicaSet, etc.) but the error about `telepresence: error: Service name="my-service" namespace="my-ns": unable to find target port "tx-8080` is saying it can't find "tx-8080" in the service.  Is there a chance you (or something) applied a change to the service which overwrote the edits Telepresence makes?

[2021-05-12 18:37] donnyyung commented on #1691
One other thing to consider when we fix this, if an operator set up the traffic-manager using a custom image and then they tell users they can use telepresence, if they don't set `TELEPRESENCE_REGISTRY`, even if they have the right version, telepresence will try to upgrade the agent to the datawire image bc we are checking both image names are equal (https://github.com/telepresenceio/telepresence/

[2021-05-13 10:01] andrei-dascalu commented on #1721
Hi @donnyyung I thought the same but it wasn't the case. At the time of the error I manually checked both deployment and pods themselves but they all had all the things Telepresence adds (volume/sidecar with the expected ports/annotations/etc).

I also had a peer debugging session with Peter and double checked that the last change since an intercept is the one that T2 does.

The pods did not resta

[2021-05-13 14:19] pavanfhw opened #1727 "Background process keeps exiting with return code 255"
Running this command:
`telepresence --verbose --namespace <namespace>  --swap-deployment <deployment> --expose 80   --run npm start`

The process go up and I can access the telepresence deployment fine. But after a small period (seconds, minutes) I always get:
[code]

I'm running telepresence from inside a docker container.
My internet connection is stable, it does not make sense to be always loos

[2021-05-13 14:55] peteroneilljr opened #1728 "[v2] --docker-run should exit when intercept name is already in use"
Problem: If an intercept name is already in use and you start an intercept with --docker-run for the same service, telepresence still tries to start the container and then the terminal becomes unresponsive.

To reproduce open 2 terminals:

Terminal 1 normal intercept: `telepresence intercept dataprocessingservice --port=3000`
Terminal 2 --docker run: `telepresence intercept dataprocessingservice -

[2021-05-13 15:28] peteroneilljr commented on #1721
Hi @donnyyung I looked at this with @andrei-dascalu the behavior and workaround look very similar to https://github.com/telepresenceio/telepresence/issues/1698 but the steps to get there are different. I would say the underlying problem is likely related.

[2021-05-13 19:26] aelath opened #1729 "telepresence --swap-deployment fails on pod init"
### What were you trying to do?

Trying to develop Spinnaker's gate application locally and run it against my development spinnaker cluster running in EKS.

### What did you expect to happen?

Successfully start a proxy pod and replace a running application pod.

### What happened instead?

Telepresence command hung for several minutes before error message and stacktrace got printed to the cli.
I

[2021-05-13 19:29] aelath commented on #1729
Alternating `Init:ErrImagePull` and `Init:ImagePullBackOff` being shown in the STATUS section. Makes sense that this would fail.

[2021-05-14 01:03] indrasvat commented on #1680
@thallgren, updated `minikube` to latest. Still the same issue.

[code]

[2021-05-14 19:48] andrei-dascalu commented on #1721
A couple more observations, not sure if relevant or not, but I've tried a similar setup in a different cluster with somewhat different results (at least statistically).

Cluster 1, where the reported issue happens:
- Azure, k8s 1.19
- using flux (but flux disabled for the service that was intercepted)
- frequency of issue: 100% (could happen as soon as 5 minutes after intercept or as late as ~ 10

[2021-05-15 11:29] Pavel-Durov commented on #1726
I'll have a go
Thanks :)

[2021-05-15 17:36] omkarmahadar opened #1731 "Telepresence is crashing when trying to connect to cluster."
### What were you trying to do?

Trying to connect to cluster via IDEs as I usually do.

### What did you expect to happen?

The connection is successfully made to cluster via IDEs. This has always happened without any issues. This is the first time it is giving such problems.

### What happened instead?

The process stopped and threw the respective errors after the below message-

"T: Starting ne

[2021-05-15 21:39] sig-abyreddy commented on #1553
I have a similar issue.
[code]

I tried changing the default timeouts to 60s but no luck. btw, I'm trying to connect to a GKE cluster over a VPN.

[2021-05-17 10:15] reorx commented on #1654
I encountered the same problem when trying to install [squashfuse](https://github.com/vasi/squashfuse), a simple way to fix this is to edit the formula file and remove the fuse restriction temporarily, here's what I did:

[code]

I think it should be the same as to telepresence, just find the .rb formula file and comment the restiction part.

[2021-05-17 16:44] #1713 closed, assigned to donnyyung

[2021-05-17 17:19] donnyyung commented on #1731
Hey there, have you been able to try our latest version of Telepresence (https://www.getambassador.io/docs/telepresence/latest/quick-start/). The version you are currently using is our legacy version and we've since put a lot of work into our new one and that's where most of our future efforts are going!

[2021-05-17 17:20] donnyyung commented on #1729
Hey there, I see you are using legacy Telepresence.  Have you tried giving https://www.getambassador.io/docs/telepresence/latest/quick-start/ a shot (there's also a link to the installation).

[2021-05-17 17:21] donnyyung commented on #1727
Hey there, I see that you are using our legacy Telepresence, have you had a change to give our newer version a shot? https://www.getambassador.io/docs/telepresence/latest/quick-start/ There's also a link to installation on that page!

[2021-05-17 19:06] khussey commented on #1697
This is fixed in Telepresence 2.2.2, which is now available.

[2021-05-17 19:06] #1697 closed

[2021-05-18 06:36] orxvan opened #1732 "[v2]connect is timeout"
Telepresence Version: 2.2.1
OS version: macOS 10.15.7
docker version:  19.03.12
kubectl version: 1.16.6

when I run ```kubectl get svc``` in my latop, I can list the svc in the remote cluster.
when I run ```telepresence connect```，it shows
[code]
The connector log is:
[code]

The daemon log is:
[code]

[2021-05-18 08:22] freebrowser1 commented on #1654
This does not work.
I edited  ~/homebrew/Library/Taps/homebrew/homebrew-core/Formula/sshfs.rb
and did `brew upgrade sshfs`

and got:
`
==> Upgrading 1 outdated package:
sshfs 2.10_2 -> 3.7.1
==> Upgrading sshfs 2.10_2 -> 3.7.1
libfuse: Linux is required for this software.
Error: sshfs: An unsatisfied requirement failed this build.
`
The .rb file:

`class Sshfs < Formula
  desc "File system client

[2021-05-18 08:34] pankrator commented on #1677
Sorry for the late response.
My Mac version is:

[code]

Yes, I am using Xcode command line tools and updated them.
As far as I know and found out, there is no brew for telepresence v2.

[2021-05-18 10:26] reorx commented on #1654
@freebrowser1 the`depends_on "libfuse"` line above the `on_macos do` should also be commented in this case.

[2021-05-18 14:56] metao1 opened #1733 "telepresence can't connect"
Looks like there's a bug in our code. Sorry about that!

Traceback (most recent call last):
  File "/usr/local/bin/telepresence/telepresence/cli.py", line 135, in crash_reporting
    yield
  File "/usr/local/bin/telepresence/telepresence/main.py", line 81, in main
    user_process = launch(
  File "/usr/local/bin/telepresence/telepresence/outbound/setup.py", line 111, in launch
    return launch_v

[2021-05-18 15:03] jhalleeupgrade opened #1734 "[v2] Telepresence 2 problem when intercepting pod using Kiam"
Requesting support for using Telepresence 2 with a Kubernetes cluster using Kiam (or similar).

Since Kiam validates auth based on source IP of the pod, authentication with aws fails in intercepted pods (authentication based on ec2 instance metadata).
Adding a traffic-manager role in Kiam's configuration would not work since we need fine-grained access on a "per-service" basis.

Thank you for the

[2021-05-18 16:47] donnyyung commented on #1732
Could you run `kubectl get pods -n ambassador` it seems like the traffic-manager is in a pending state which is why the port-forward isn't working.

[2021-05-19 01:35] khussey commented on #1716
We've decided against doing anything special to deal with `edgectl` components.

[2021-05-19 01:35] #1716 closed, assigned to thallgren

[2021-05-19 01:35] khussey commented on #1717
We've decided against documenting this migration path.

[2021-05-19 01:35] #1717 closed, assigned to thallgren

[2021-05-19 01:40] mildmojo opened #1736 "[v1] --expose LOCAL:REMOTE is ignored if LOCAL matches default (k8s) remote port"
## Expected

- If I have a remote kubernetes deployment whose pod listens on port 8000
- And I run telepresence: `telepresence --expose 8000:9001 --swap-deployment my-service ...`
- Telepresence [should forward](https://www.telepresence.io/reference/proxying.html) remote port 9001 to local port 8000

## Actual

Telepresence ignores the `--expose` option and forwards remote port 8000 to local port

[2021-05-19 02:00] msenmurugan opened #1737 "[v2] Telepresence support automountServiceAccountToken feature"
**Feature description:**

Every pod that will run in Kubernetes cluster will be associated with the service account. If the service account is not specified, then default service account will be used.

Service account will automatically mounted to the pod at _/var/run/secrets/kubernetes.io/token_. This feature can be disabled via automountServiceAccountToken: false. By default, it is true.

As par

[2021-05-19 02:56] orxvan commented on #1732
thx!!!!，the remote cluster block the docker.io，it's connected after transfered the image

[2021-05-19 12:56] donnyyung commented on #1732
Glad we figured out the issue :) closing since this is resolved.

[2021-05-19 12:56] #1732 closed, assigned to nobody

[2021-05-19 12:59] thallgren commented on #1737
So, are you saying that this folder isn't automatically mounted when you do an intercept? It is for me:
[code]

[2021-05-19 13:09] donnyyung commented on #1736
Hey there, I see that you are using the legacy version of Telepresence. Have you been able to try our newer version of Telepresence (https://www.getambassador.io/docs/telepresence/latest/quick-start/), it supports --port LOCAL:REMOTE as well.

[2021-05-19 13:13] msenmurugan commented on #1737
Hi @thallgren

Thanks for your verification. For some reason, Volume mount is not working for my intercepted service. Is there any specific command/flag should I need to add to intercept in order to get the existing volume mounts for the remote service to my local.

[2021-05-19 13:23] thallgren commented on #1737
Volume mounts are enabled by default (you can disable them using `--mount=false`) and should work if you have `sshfs` installed. On a Mac, you'll also need macFUSE of version >= 4.0.5. The intercept or list command should tell you why you don't get your volumes mounted.

[2021-05-19 14:30] mildmojo commented on #1736
I have existing tooling built on top of v1, and I do plan to check out v2 but haven't been able to find the time yet. I understand if dev resources are going to v2 right now.

[2021-05-19 22:12] spkane commented on #1654
This also worked well for me as a workaround. I was then able to `brew install telepresence` which I needed, but requires `sshfs` as well.

[2021-05-20 04:34] thallgren commented on #1736
@mildmojo In the latest 2.2.2 version of Telepresence, we provide a legacy mode that makes it possible to use commonly used commands from v1. Not sure if that makes it compatible enough for your tooling, but it could be worth looking at.

[2021-05-20 11:41] toheart commented on #1680
I ran into the same problem. please help!!!!

[2021-05-20 13:48] toheart commented on #1680
I use `kubectl run -it --rm --restart=Never busybox1 --image=busybox sh` in the master ;
telepresence2 work suddenly!!

[2021-05-20 17:09] mausch opened #1739 "[v2] Telepresence list is too slow"
I have a namespace `xx` with 41 deployments.
When I run `telepresence list -n xx` it takes 80 seconds to respond.

When I run it against my `default` namespace (8 deployments) it takes 3 seconds.

[code]

[2021-05-20 18:04] mausch opened #1740 "[v2] Failed to establish intercept"
with 2.2.1 :

[code]

whereas the equivalent command in 0.104 works fine:

[code]

[2021-05-20 20:14] donnyyung opened #1741 "Add helm chart to CI"
Before we can say a helm chart for the server-side components is officially supported, we need to add it to our circle CI to ensure it's linted and automatically publishes when we have new versions

[2021-05-21 09:23] isitinme opened #1742 "Swaping deployment with local image failed on "SSH to cluster failed to start""
### What were you trying to do?

Swap deployment into the cluster with local image

### What did you expect to happen?

Successful substitution

### What happened instead?

Python exception has been thrown

### Automatically included information

Command line: `[
  '/usr/local/bin/telepresence',
  '--swap-deployment',
  'galaxy',
  '--namespace',
  'ABC',
  '--docker-run',
  '--rm',
  '-it',
  '-v

[2021-05-21 16:55] kbfirebreather commented on #1691
Need to also be able to specify credentials for the alternative docker registry, if credentials are required for the docker registry.

[2021-05-21 21:54] tinawu0603 commented on #1649
@thallgren I'm getting the same thing on version 2.2.2.

I'm able to `curl -ik https://kubernetes.default` (get an expected 401 unauthorized response) but not the hello service in v2's readme. DNS resolution works but getting the following:
[code]

The cluster is hosted on AKS and I'm also on a company VPN if those helps to contextualize the problem.

[2021-05-22 21:28] gnanderson opened #1745 "SSHFS additional arg / option"
In my setup (Ubuntu 20.04 + latest patches)

I am unable to use `telepresence intercept [...] --docker-run [...]` - I receive a notification from the docker daemon that the operation has been denied with reason "file exists".

After reviewing some material around SSHFS the following patch to the SSHFS opts allows the `--docker-run` arg to be successful.

    diff --git a/pkg/client/connector/inter

[2021-05-22 21:51] gnanderson commented on #1745
I missed this system conf change I applied , which may complicate things:

    # /etc/fuse.conf - Configuration file for Filesystem in Userspace (FUSE)

    # Set the maximum number of FUSE mounts allowed to non-root users.
    # The default is 1000.
    #mount_max = 1000

    # Allow non-root users to specify the allow_other or allow_root mount options.
    user_allow_other

[2021-05-22 22:00] gnanderson commented on #1745
I guess it's a little unclear for me without being familiar with FUSE internals but this would seem to be overly permissive? (in terms of applying those options).

If I set `user_allow_other` at the system level to allow the `-o allow_other` option, it would appear to allow user(me) access to something they already have.

So that leads me back to why I need `-o allow_other` - if I want to mount th

[2021-05-23 07:42] thallgren commented on #1745
I discovered this a couple of days ago and created PR #1744. So a fix is underway.

[2021-05-23 19:00] KhaledSakr commented on #1638
That's great to hear. I'm assuming that by "a solution is in the making" you mean that you're not expecting PRs for this, so I won't dig further. But if you need more logs or any additional info, feel free to send me.

[2021-05-24 09:46] chenmeng1996 opened #1746 "when run "telepresence", this error occurs: "KeyError: 'command'""
### What were you trying to do?
I want to run telepresence in local macbook, and k8s cluster is in remote.

### What did you expect to happen?
Command "telepresence" can be successful.

### What happened instead?
Before this error,  there is another error. I solve this bu running command `sudo apt install socat` on the remote matchine. But the following error arise:

### Automatically included inf

[2021-05-24 15:24] jconnolly commented on #1654
Fails to fetch manifest data for me.

==> Downloading https://ghcr.io/v2/homebrew/core/sshfs/manifests/3.7.1
##O#- #
curl: (22) The requested URL returned error: 404
Error: Failed to download resource "sshfs_bottle_manifest"
Download failed: https://ghcr.io/v2/homebrew/core/sshfs/manifests/3.7.1

Curling it manually:
{"errors":[{"code":"UNAUTHORIZED","message":"authentication required"}]}

[2021-05-25 08:53] chenmeng1996 commented on #1746
I can run the command `telepresence --swap-deployment hello-world --docker-run --rm -it hello-dev` successful, but command  `telepresence` is always failed.

So I try [telepresence v2](https://github.com/telepresenceio/telepresence/tree/release/v2) which is rewrite by golang. I followerd DEVELOPING.md to compile, build image and push to my docker hub. Then run command `telepresence connect`, it is

[2021-05-26 09:45] fdelhamaide opened #1750 "telepresence intercept doesn't work"
When i try to make a telepresence connect or intercept, i get this error in traffic manager

[code]

Is it some configuration for traffic manager or client environment or gke to do to prevent that and make interception works ?

[2021-05-26 14:33] peteroneilljr commented on #1601
@thallgren sorry for the delay, but yes your suggestions will resolve this ticket!

[2021-05-26 14:57] nadilas opened #1751 "Install traffic-manager in selected namespace [v2]"
Based on the thread: https://datawire-oss.slack.com/archives/CAUBBJSQZ/p1621976587109400

In our clusters we can't have cluster wide roles, so in order to use Telepresence I need to be able to install traffic-manager in a specific namespace and not default to `ambassador`

[2021-05-26 20:11] LukeShu opened #1752 "[v2] daemon shutdown is racy"
I'd have sworn that there was a ticket that came out of this conversation with @esmet, but I can't find it, so I'm creating it now:

[Apr 7th at 13:48](https://datawire.slack.com/archives/C019LLD99K7/p1617824917382800):

[2021-05-26 23:12] LukeShu opened #1753 "[v2] Build with -trimpath"
The builds don't currently set `-trimpath`, which makes stack traces needlessly noisy.

[2021-05-27 03:24] chrisvfabio commented on #1723
Just adding to this, seems to only affect WSL for my team. The current workaround suggested by @thallgren is running the following command:

[code]

[2021-05-27 07:51] aholbreich commented on #1722
I would like to support this one and give more background.

Kafka is a sort of beast you don't want to run on your laptop, by that it's the perfect use-case for telepresence but not well supported yet.

With version 2.2.2. after the connection is established, you can connect to it via:
`main-cluster-kafka-bootstrap.kafka`  exactly how described in the docu...

the problem is, that the call to a bo

[2021-05-27 09:03] mhdqasim opened #1754 "Telepresence V2 : My DNS is disabled once telepresence connect"
I installed Telepresence V2.2 then after connect By :

 telepresence connect

I connect to remote cluster but My DNS is overridden by telepresence and not able to see it

[2021-05-27 11:24] ig0rsky opened #1755 "[v2] How to resolve + route connections to external service when connected to cluster"
In the docs, it says that the as soon as you connect to a cluster, you can reach the services living in the cluster.
However, I'm unable to reach an external service living outside the k8s cluster I'm connected to, but inside the same network, so there's connectivity. I can test this connectivity by execing into one of the pods and sending an HTTP request with curl. Is there a reason why this is n

[2021-05-27 18:09] #1060 closed

[2021-05-28 07:52] arning627 opened #1760 "Useing openVPN and telepresencs"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence']`
Version: `0.109`
Python version: `3.9.5 (de

[2021-05-31 09:25] fdelhamaide commented on #1750
problem comes from us, after understanding how port interception works, we fix everything.
for information, port forwarding was updated when traffic agent installation is done.
If you change your service after trafic agent installation, interception will not works anymore

[2021-05-31 09:25] #1750 closed, assigned to nobody

[2021-06-01 08:17] naty88 opened #1765 "SSH to the cluster failed to start."
### What were you trying to do?

I wanted to connect to Kubernetes service to start a cron job

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/bin/telepresence']`
Version: `0.109`
Python version: `3.8.5 (default, Jan 27 2

[2021-06-01 21:01] LukeShu opened #1767 "[v2] Hangs during `telepresence login`"
I've seen this a couple of times.  In 16 smoke-test runs (for 2.3.0-rc.2), I saw this once:

The `telepresence login` in smoke-test step 7 got stuck and hangs.  In `connector.log` I get
[code]
and some noise from kubectl port-forward about every 3 seconds.

If I Ctrl-C it (`telepresence login`), the connector immediately exits.  So the issue is that the connector is in the process of shutting down

[2021-06-01 22:18] khussey commented on #1621
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:18] #1621 closed

[2021-06-01 22:19] khussey commented on #1620
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:19] #1620 closed

[2021-06-01 22:19] khussey commented on #1745
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:19] #1745 closed, assigned to thallgren

[2021-06-01 22:20] khussey commented on #1711
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:20] #1711 closed, assigned to donnyyung

[2021-06-01 22:20] khussey commented on #1618
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:20] #1618 closed

[2021-06-01 22:21] khussey commented on #1622
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:21] #1622 closed

[2021-06-01 22:21] khussey commented on #1610
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:22] khussey commented on #1682
This is fixed in the 2.3.0 release, which is now available.

[2021-06-01 22:22] #1682 closed

[2021-06-03 03:30] djm-35 opened #1770 "Cannot establish telepresence with gogo (dodo) internet"
### What were you trying to do?

Use telepresence with `vpn-tcp` method and forcing proxying to an IP block in my cluster. I am attempting this after running telepresence a few times where it did not clean up the pod and my terminal became unresponsive. But I believe the primary suspect is using gogo inflight internet. The few times I have used them I have had VPN problems, however I tested my Ope

[2021-06-03 08:12] p4elkin commented on #1651
Also having this problem, does anyone know a workaround? It seems like even today macFUSE comes with libfuse2 and => sshfs 2.5 is the only available option (based on [this](https://groups.google.com/g/osxfuse-group/c/O8I7NbVTmOk/m/nerWE1MEAwAJ)).

I presume the maintainers must have managed to get it running themselves somehow? Are there any tips?

Thanks

[2021-06-03 08:27] thallgren commented on #1651
I install the latest stable of MacFUSE from here using the dmg installer: https://osxfuse.github.io/ (currently 4.1.2)

This is the subsequent output from `sshfs -V`:
[code]
It contains no mention of OSXFUSE.

[2021-06-03 09:32] wasd171 commented on #1721
Having a similar issue on Azure k8s 1.19.7

[2021-06-03 09:48] p4elkin commented on #1651
@thallgren thanks for checking in! However, for me mere installation of MacFUSE doesn't bring in sshfs (and the latest available link on the website leads to sshfs 2.5). Are you sure you haven't somehow built sshfs 2.10 manually?

[2021-06-03 21:04] thallgren commented on #1651
Not 100 sure, but I probably used brew when I installed sshfs.
[code]

[2021-06-04 00:18] AdamNowaczyk commented on #1671
@thallgren I have similar issue and cannot use External Dependencies, because my mongodb is running in the same cluster, however since it's replicaset it's using headless service. Looks like underlying resolution to pod dns is not handled by Telepresence (I'm using version 2).
Any suggestions on how to make that scenario work?

[2021-06-04 00:38] YuhomC commented on #1654
I tried to install bindfs through `brew install bindfs` it gave the same error :require FUSE!
All the methods above doesn't work for me.
Then I build from source. It works! Finally!

[2021-06-04 06:06] p4elkin commented on #1651
Okay, looks like I was able to pin it down after all:
* brew no longer offers the 2.10 version (at least couldn't find it w/ search), the 3.x version it ships isn't compatible with macos
* I've built it from [sources](https://github.com/libfuse/sshfs) using the `sshfs-2.10` tag.
* You need autotools installed but otherwise the process was just about following what `./configure` tells you to do
* O

[2021-06-04 10:33] wasd171 opened #1773 "[v2] Unable to download files over ~1 Mb"
Hi, I seem to have an issue with telepresence v2.3.0 on macOS 11.3. This issue was not present with telepresence v2.2.2

My service is exposed via ingress-nginx on domain konstantin.portal.careerlunch.com
I am using telepresence to forward traffic to my local Docker container
[code]

When accessing this server through domain, some requests are not being finished, they only terminate after 1 minute

[2021-06-04 13:46] thallgren opened #1774 "Prevent intercepts of headless services"
An attempt to intercept a workload attached to a headless service is reported as successful by Telepresence. It will even mount the remote volumes. The intercepts will however not work because changing the ports of the headless service has no effect. The request still arrives at the original container (of course, since a headless service won't do any proxying).

We should prevent this from happeni

[2021-06-04 14:49] thallgren commented on #1632
We have two alternatives:
1. Prevent that the intercept is allowed to proceed and report a false success. Instead, show an error and inform the user of possible alternatives.
2. Automatically replace the headless service with a service that acts as a proxy.

I think the second alternative is rather intrusive so my preference would be the first.

[2021-06-04 14:50] thallgren commented on #1774
Closing in favor of #1632

[2021-06-04 14:50] #1774 closed, assigned to thallgren

[2021-06-06 10:56] DanailMinchev opened #1775 "[v2] Failed to connect to OpenShift 3 ( using Minishift ) - getOutboundInfo: failed to get IP of cluster's DNS service"
Hello,

I am receiving the following error when trying to connect:

[code]

Here are more details on how I install my Minishift and connect to it:
[code]

Information about the system:
[code]

Thank you

[2021-06-06 15:43] thallgren commented on #1775
Hi @DanailMinchev . I'm not familiar with MiniShift. On an OpenShift cluster we normally find the DNS service with the name.namespace `dns-default.openshift-dns` and use it's IP. What's the best way to find the DNS IP for a MiniShift cluster?

[2021-06-06 16:02] trendsoa commented on #1751
same request here, we can not create clusterRole

[2021-06-06 17:15] DanailMinchev commented on #1775
Hi @thallgren , sorry, I don't know. I am very new to OpenShift / MiniShift. I didn't have the same problem with Telepresence 1 and was following https://www.openshift.com/blog/telepresence-local-development and https://www.telepresence.io/tutorials/openshift
I will be reading the docs to see if I can answer your question.
I also tried with these arguments while starting the cluster:
[code]
mainly

[2021-06-07 09:26] thallgren commented on #1638
@KhaledSakr the 2.3.0 version is out and it contains the solution that I mentioned before. Please giv it spin and check if it fulfills that promise.

[2021-06-07 09:36] thallgren commented on #1754
Hi @mhdqasim . Can you please try the 2.3.0 version? It should resolve this issue.

[2021-06-07 09:43] thallgren commented on #1680
This issue is made obsolete by the fact that Telepresence no longer use ssh.

[2021-06-07 09:43] #1680 closed

[2021-06-07 09:47] thallgren commented on #1649
Hi @sp0cket  @tinawu0603. Can you please try 2.3.0 and see if it resolves this issue? The 2.3.0 release contains a lot of improvements that should make Telepresence play better with various VPNs.

[2021-06-07 09:50] thallgren commented on #1623
Resolved by #1686

[2021-06-07 09:50] #1623 closed

[2021-06-07 13:50] raffis opened #1777 "network routing not working without rbac create services"
tp version: v2.3.0

Reproduce:
`telepresence connect` using an account with limited access and bindings/roles configured according https://www.getambassador.io/docs/telepresence/latest/reference/rbac/

curl my-service.my-namespace => timeout, service ip addr is routed via my default gw, no routing into the k8s cluster present.
The routing works correctly if I use an admin role with full api permis

[2021-06-07 14:02] thallgren commented on #1777
From the link that you included: "This documentation will not cover the full extent of permissions necessary to administrate Telepresence components in a cluster. Telepresence administration requires permissions for creating Service Accounts, ClusterRoles and ClusterRoleBindings, and for creating the traffic-manager deployment which is typically done by a full cluster administrator."

The `traffic

[2021-06-07 14:06] raffis commented on #1777
The service is there, it was installed using the helm chart.

[2021-06-07 14:43] thallgren commented on #1777
Ok, but that's the only service that `telepresence connect` will attempt to create. What other service do you see that's being created?

[2021-06-07 14:45] KhaledSakr commented on #1638
@thallgren Unfortunately, it's still not working. Still can't resolve the host. Here's the daemon.log: https://gist.github.com/KhaledSakr/4c26f8fb76de691f21951bd3e5f70a4a

[2021-06-07 16:28] thallgren commented on #1638
Sorry to hear that. What kind of Kubernetes cluster are you connecting to? Also, what's the output from `systemd-resolve --status` when you use 2.3.0? The output of `ip a show` might also be helpful.

[2021-06-07 16:49] KhaledSakr commented on #1638
It's an AKS cluster running v1.18.7.

This is the output of `systemd-resolve --status`
[code]

This is the output for `ip a show`
[code]

[2021-06-07 17:54] indrasvat commented on #1680
@thallgren, interesting. Should I update `telepresence` to latest and try the setup again?

[2021-06-07 18:21] Scoppio commented on #1654
how did you installed it from source? There isnt a make option for that

[2021-06-07 18:32] sp0cket commented on #1649
I tested on 2.3.0 and this bug seems not fixed.
logs from `connector.log`
[code]

[2021-06-07 18:37] sp0cket commented on #1649
And 2.1.3 works fine for me, right now

[2021-06-07 18:57] YuhomC commented on #1654
For bindfs installation, I just referred to the README document.
Please refer to https://github.com/libfuse/sshfs if you want to install sshfs

[2021-06-07 21:08] thallgren commented on #1638
Can you please enable debug logging for the daemon and check the traces (if any) that you see in the daemon.log when you curl the host? You can set the log level by adding:
[code]
to the file `~/.config/telepresence/config.yml`

[2021-06-07 21:16] thallgren commented on #1649
That log suggests a different problem than "Cannot access service.namespace" though. Here, apparently you succeed with the intercept but then the sshfs isn't mounted correctly. Are you using a service mesh of some sort? E.g. Istio or Kiam?

[2021-06-07 21:46] thallgren commented on #1680
Yes, please do.

[2021-06-07 22:25] thallgren commented on #1649
@sp0cket do you get any output from `kubectl  get nodes -o jsonpath={..spec.podCIDR}` on your workstation?

[2021-06-07 22:47] jkernagis2 opened #1779 "[v2] Volume mounts are empty / sshfs fails to connect when node specs do not include podCIDR(s)"
Original Slack thread: https://datawire-oss.slack.com/archives/CAUBBJSQZ/p1623100957271700

tl;dr - telepresence 2 intercept seems to work, but not volume mounts.

The following logs seem to be of note in the connector.log file:

[code]

I am able to connect via telnet from traffic manager to that IP/port - the following is from a shell attached to the traffic-manager pod, using the same IP/port t

[2021-06-08 02:04] sp0cket commented on #1649
Yes, I'm using Istio.
output from `podCIDR`:`10.42.10.0/24 10.42.6.0/24 10.42.7.0/24 10.42.8.0/24 10.42.3.0/24 10.42.5.0/24 10.42.9.0/24 10.42.0.0/24 10.42.2.0/24 10.42.1.0/24`

[2021-06-08 02:16] sp0cket commented on #1649
So maybe that's a different issue with `access service.namespace`?
I tested connect redis by redis-cli after `telepresence  --mapped-namespaces redis connect`
Output:`Could not connect to Redis at redis.redis:6379: Operation timed out`

[2021-06-08 04:43] thallgren commented on #1649
It's likely that DNS is blocked because you have an active intercept that Istio prevents from communicating. We are working on a solution for this in #1747.

[2021-06-08 11:31] thallgren commented on #1779
We will have at least a workaround for this when #1776 is released because it will give the user a chance to manually enter the relevant podCIDR's in the config.

[2021-06-08 12:31] betterphp commented on #1696
Workaround that works for our devs

[code]
Maybe do `common.yaml` and `operator.yaml` too

Obviously that won't help if you need to use rook locally.

[2021-06-08 12:49] raffis commented on #1777
Nothing else, don't see any service change. Also checked the k8s audit log which seems fine.
Fact is I tested it various times now, as soon as I remove the privilege services/create, tp quit, connect I can't access k8s services anymore. Re adding the privilege services/create, quit&connect and it works again.

[2021-06-08 14:40] lpinto-axway opened #1780 "Undefined symbol: COMP_get_type, version OPENSSL_1_1_0 in Ubuntu 20.04"
Getting this error where running telepresence 0.109 on Ubuntu 20.04.1 LTS

  File "/usr/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.8/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/usr/bin/telepresence/__main__.py", line 2, in <module>
  File "<frozen zipimport>", line 259, in load_module

[2021-06-08 16:04] hudelgado opened #1781 "Explicitly allow telepresence to not use cloud login"
Hello, Is it possible to use custom intercepts without login to the embassador cloud?

The current v2 of telepresence allows to be configured in a airgap cluster but this logic only runs if the cluster determines it cannot reach the ambassador cloud.

Is it possible to add a way to explicitly tell telepresence to not use internet?

Thanks

[2021-06-08 17:19] josecv commented on #1773
@wasd171 could I ask a favour? Please try [setting the `rootDaemon` log level to debug](https://www.getambassador.io/docs/telepresence/latest/reference/config/#laptop-side-configuration), reproducing the issue, and attaching the `daemon.log` file to this ticket. You can find the log file under `~/Library/Logs/telepresence` on MacOS or `~/.cache/telepresence/logs` on Linux

[2021-06-08 20:11] DanailMinchev commented on #1775
Thank you @thallgren for already fixing it 👍

[2021-06-09 11:31] lpinto-axway commented on #1780
The issue was due to a misconfigured ld library resolved by unsetting LD_LIBRARY_PATH.

[2021-06-09 11:31] #1780 closed, assigned to nobody

[2021-06-09 12:18] thallgren commented on #1777
Oh, I think I know what is happening. The client retrieves the service subnet by attempting to create a service with a bogus IP (this is basically the only way to ask the cluster for its subnet). When that succeeds, you get the correct subnet. When it fails, Telepresence assumes that the subnet can be derived from the IP of the DNS service `kube-dns.kube-system`. Apparently that's not true in your

[2021-06-09 19:15] chromey commented on #1691
We're also running a cluster with a private registry and no access to docker hub, so this feature would be very convenient, although the environment variable workaround works fine for our purposes as well.

[2021-06-09 21:00] thallgren commented on #1691
As a workaround, try setting the environment variable `TELEPRESENCE_MANAGER_NAMESPACE=xxx` prior to installing the traffic-manager and agents. The env is primarily for testing and I don't think it's well documented. The proper way to do this ought to be a cluster specific configuration setting.

[2021-06-09 21:02] thallgren commented on #1751
As a workaround, try setting the environment variable TELEPRESENCE_MANAGER_NAMESPACE=xxx prior to installing the traffic-manager and agents. The env is primarily for testing and I don't think it's well documented. The proper way to do this ought to be a cluster specific configuration setting.

[2021-06-10 05:29] qianlongzt opened #1785 "k8s custom dns domain support"
cluser init with custom dns domain, but telepresence don't know it
[code]

cat /etc/resolver/telepresence.local
[code]

but it should be

[code]

[2021-06-10 05:35] qianlongzt opened #1786 "k8s pod network cidr support"
in macOS and telepresence 2.3.0

in tun mode, i will see  service cidr route like this

[code]
but if i want direct connect to pod (example 10.32.0.0/12), no route to host.

i can do manual `sudo route -n add -net 10.32.0.0/12 10.96.0.0`, it work. but i want telepresence auto support it

[2021-06-10 08:38] raffis commented on #1777
Correct subnet with services/create:
[code]

Incorrect subnet without services/create:
[code]

[2021-06-10 10:28] thallgren commented on #1786
And Telepresence will support it when this PR is merged: #1776.

[2021-06-10 10:33] thallgren commented on #1777
Thanks @raffis. This makes perfect sense now. The IP is correct but that mask is 3 bits less than "normal" which gives you a much bigger subnet. We will provide a workaround for this pretty soon, that will allow you to add your own subnets #1776.

[2021-06-10 23:07] pmorch opened #1787 "Newbie very confused: Is "intercepting" with telepresence supported on Windows WSL 2 (or 1)? Prefer telepresence 0.x or 2.x?"
I've used a lot of open source projects, but as a newbie I find telepresence very confusing.

I'd like to humbly ask:

* Is "intercepting" a deployment running in k8s and replacing it with a local docker container supported/reliable with WSL2? `telepresence --swap-deployment hello-world --docker-run --rm -it myimage` seems to be working, but is documented as not being supported.
* Should I prefer

[2021-06-10 23:30] pmorch commented on #92
Doesn't (some of) telepresence work on Windows? Can this be closed? See also #1787

[2021-06-10 23:32] pmorch commented on #92
@mauch: I have no idea how it worked or not in WSL1 a long time ago.

But `inject-tcp` is documented in https://www.telepresence.io/reference/methods.html as:

If this sets up `LD_LIBRARY_PATH` to inject an `.so` shared library, then there is no way this is going to work for a Windows binary.

[Windows support](https://www.telepresence.io/reference/windows) says (among other [confusing things](htt

[2021-06-11 07:20] mauch commented on #92
@pmorch  I think you have the wrong @mausch :wink:

[2021-06-11 11:13] mausch commented on #92
So yes this bit of docs is correct :

Though to be a bit more clear the docs IMHO should say "Windows processes" instead of "Windows binaries".

Now, back to the original issue of "Windows support", it depends on whether you consider WSL part of Windows or not :slightly_smiling_face:

And also whether you want to support Windows processes.

WSL is not my daily driver tbh but I'm pretty sure telepr

[2021-06-12 17:35] nnqq opened #1790 "[v2] telepresence uninstall --everything Does nothing"
Hi

When i run (telepresence2)

[code]

Namespace `ambassador` and it pods was not deleted

[2021-06-12 20:48] thallgren commented on #1790
The `ambassador` namespace is not supposed to be deleted. It may contain resources that are related to ambassador but not to telepresence. But the `traffic-manager` service, deployment, and pod should be removed. If they aren't, then it's likely that there's some clue to why it didn't happen in the `connector.log` file.

[2021-06-12 21:02] nnqq commented on #1790
@thallgren ok, thank you. Is there a method to cleanup all things telepresence2 created on first start (namespace, maybe RBAC, etc) ?

[2021-06-13 04:31] thallgren commented on #1790
The `telepresence uninstall --everything` is that method. But we cannot know if `telepresence` actually created the namespace.

[2021-06-13 12:58] #1790 closed, assigned to nobody

[2021-06-14 19:45] efunk commented on #1779
Delivered in the Telepresence 2.3.1 GA release.

[2021-06-14 19:46] efunk commented on #1671
Delivered in the Telepresence 2.3.1 GA release.

[2021-06-14 19:46] #1671 closed

[2021-06-14 19:46] efunk commented on #1755
Delivered in the Telepresence 2.3.1 GA release.

[2021-06-14 19:46] #1755 closed, assigned to thallgren

[2021-06-14 19:46] efunk commented on #1786
Delivered in the Telepresence 2.3.1 GA release.

[2021-06-14 19:46] efunk commented on #1773
Delivered in the Telepresence 2.3.1 GA release.

[2021-06-14 19:46] #1773 closed, assigned to josecv

[2021-06-14 20:01] ig0rsky commented on #1755
@efunk Thanks!

[2021-06-14 21:35] #1718 closed, assigned to nobody

[2021-06-14 21:35] khussey commented on #1718
This has been done. We opted to rename the `master` branch to `release/v1` (and no longer have a `master` branch) instead.

[2021-06-14 22:01] jkernagis2 commented on #1779
@efunk Assuming what was Delivered is the "also-proxy" option from #1776 , I'm not sure this should have been closed given that was as far as I'm aware just a workaround for this issue.  Importantly, see @thallgren 's point: "We need to understand how to obtain the podCIDR(s) for systems that don’t include that in the nodes."

If this workaround ends up being THE way to get things to work when nod

[2021-06-14 23:15] thallgren commented on #1779
Reopening since #1776 is merely a way to work around the problem. We will come up with a proper solution where telepresence is able to find those subnets.

[2021-06-15 03:27] qianlongzt commented on #1786
use also-proxy work for me, https://www.telepresence.io/docs/latest/reference/config/#alsoproxy

but i found bug
[code]

i got 4 route, should be 2,right ?

10.32/12           10.32.0.1          UCS          utun2
10.32.0.1          10.32.0.0          UH           utun2
172.19.39.1        172.19.39.153      UH           utun2
172.19.39.153/32   172.19.39.1        UCS          utun2

[2021-06-15 03:49] qianlongzt commented on #1785
dns work for me https://www.telepresence.io/docs/latest/reference/config/#dns

[code]
but when i quit cluster, file `/etc/resolver/telepresence.k8s.local` not auto delete

[2021-06-15 10:14] thallgren commented on #1722
@peteroneilljr @aholbreich Starting with 2.3.0, the FQDNs are resolved in the cluster so in a perfect world, this ticket has been resolved now. Can you please try with 2.3.1 and check if the resolution works OK now?

[2021-06-15 10:53] aholbreich commented on #1722
@thallgren I need some time for it. Cannot promise to retest it soon because we are working with a workaround now.
 But I'll try to find time today or tomorrow.

[2021-06-16 08:54] imitbn opened #1793 "[v2] - Feature request - Optional auto leave of intercepts on termination"
An intercept runs interactively, so it might be possible to leave it on SIGTERM or something. Optional command's flag might specify such behavior.
It's needed for running applications from IDE using built-in features.

[2021-06-16 09:13] imitbn opened #1794 "[v2] DNS failures inside a Docker container after the first docker-run/intercept/leave cycle"
Telepresence 2.3.1
Docker Desktop for Windows 3.4.0 (WSL 2 engine disabled)
The first cycle of `docker run ...` and `telepresence intercept/leave` inside a container runs smoothly. But during subsequent cycles I get DNS-names resolution failures.
`
root@docker-desktop:/#telepresence intercept $SERVICE --namespace $NS --workload $SERVICE --port 8080 --mount=/tmp/telfs
Launching Telepresence Daemon

[2021-06-16 11:49] ManigandanMS opened #1795 "telepresence connect failure when using server versions older than 1.17."
I have remote kubernetes cluster and have done port forwarding to kube api port number 9443 on my local mac. I can execute kubectl commands which returns expected output. Have installed telepresence successfully but unable to connect. When i use telepresence connect i get below error

Connecting to traffic manager...
Disconnecting...done
telepresence: error: connector.Connect: failed to start traf

[2021-06-16 16:27] darinpp commented on #1795
I have the same problem
[code]
Here is the version
[code]
I'm using k3d/k3s
[code]

[2021-06-16 16:34] darinpp commented on #1795
And a log file if that helps
[code]

[2021-06-16 17:01] darinpp commented on #1795
Adding `v1beta1` to `AdmissionReviewVersions` seems to be fixing the connect. Haven't done much testing
[code]
and then I get successful connection
[code]

[2021-06-16 19:59] maxlegault opened #1796 "Traffic Agent injector doesn't support multiple ports"
I have a service that exposes multiple ports and I'm trying to intercept it in combination with the new mutating webhook that automatically injects the traffic agent as a sidecar. It was working previously because the name of the port was specified when I executed the `telepresence intercept`, but it doesn't work anymore with the webhook because the port name resolution seems to be required during

[2021-06-17 03:58] zoechou opened #1800 "[v2] fail to accessed my remote Kubernetes API server even if connect to cluster via telepresence"
I have use `telepresence connect` to connect to my remote kubernetes cluster,
my status is as below

[code]

but when i try apiServer

curl -ik https://kubernetes.default

i still receive "curl: (7) Failed to connect to kubernetes.default port 443: Operation timed out" error

[2021-06-17 06:54] ManigandanMS commented on #1795
@darinpp looks a good hack, thanks. I made similar change in my locate code base. How do I build it locally and get binary version of telepresence?

[2021-06-17 07:04] thallgren commented on #1795
@ManigandanMS @darinpp What type of cluster are you on? What version?

[2021-06-17 07:11] ManigandanMS commented on #1795
**Server version:**
Client Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.3-cisco", GitCommit:"cd619a4c9d3aa3e2b673e0a1a2e36a42a721f20c", GitTreeState:"clean", BuildDate:"2019-09-06T05:30:14Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.3-cisco", GitCommit:"cd619a4c9d3aa3e2b673e0a1a2e36a42a721

[2021-06-17 08:40] thallgren commented on #1795
Ok, that explains it. The `v1` version was introduced in a 1.16 version when `v1beta1` was deprecated. The `v1beta1` will be removed in the coming 1.22 version so I guess we'll need to add it conditionally.

[2021-06-17 10:06] thallgren commented on #1786
@qianlongzt yes, the subnets covered by other subnets should be removed. This will be fixed when #1801 is released.

[2021-06-17 12:06] justinfiore commented on #1795
I have the same issue.
My k8s cluster version:
[code]

[2021-06-19 15:50] hmoravec opened #1806 "How to add resources for traffic-agent to allow running in namespace with resource quotas"
Traffic agent container which is injected by telepresence to deployment for intercepted service does not specify resources so it is not possible to use it in namespace with resource quotas set where specifying resources is mandatory.

Is it possible to set the resources for traffic agent container?

[2021-06-20 00:04] DanailMinchev commented on #1775
Hi @thallgren ,

I have tried the new v2.3.2 version and it now works, thank you very much!

[code]

[2021-06-20 00:04] #1775 closed, assigned to thallgren

[2021-06-21 12:23] ManigandanMS commented on #1795
I have checked out the project and have this change on local laptop. How do I build and generate the artifact?

[2021-06-21 16:01] joaquindiez-taiger commented on #1188
I go the same problem, any solution?

[2021-06-21 23:46] gaughen opened #1808 "issue connecting to remote cluster"
Trying to 'telepresence connect' to my remote cluster and I get the following error:

`% telepresence connect`
`Launching Telepresence Daemon v2.3.2 (api v3)`
`telepresence: error: daemon service did not start (see /Users/patgaughen/Library/Logs/telepresence/daemon.log for more info)`
`% tail /Users/patgaughen/Library/Logs/telepresence/daemon.log`
`2021/06/21 16:42:57.3218 info     : No config fou

[2021-06-22 09:25] Himer opened #1809 "Invalid value: []string{"v1"}: must include at least one of v1beta1"
./telepresence connect

Launching Telepresence Daemon v2.3.2 (api v3)
Connecting to traffic manager...
Disconnecting...failed
Telepresence Daemon quitting...done
telepresence: error: connector.Connect: failed to start traffic manager: failed to create MutatingWebhookConfiguration agent-injector-webhook-ambassador.: MutatingWebhookConfiguration.admissionregistration.k8s.io "agent-injector-webhook-a

[2021-06-22 13:41] florianbellmann commented on #1654
Any process on this issue? I'd love to use sshfs on macOS :)

[2021-06-23 08:10] wojciechka opened #1810 "Regression: Unable to download large files via intercept after telepresence 2.3"
Hello,

I have been using telepresence v2.2.2 with a GKE cluster and an nginx ingress for a few weeks, using telepresence to develop frontend against backend already in the cluster.

The frontend is using react and TypeScript, using yarn and `yarn.lock` file to lock all the dependencies explicitly. We're using webpack dev server with hot reload for development and that is how telepresence was used

[2021-06-23 13:13] efunk commented on #1796
Resolved in Telepresence 2.3.2 GA

[2021-06-23 13:13] #1796 closed, assigned to nobody

[2021-06-23 13:14] efunk commented on #1752
Resolved in Telepresence 2.3.2 GA

[2021-06-23 13:14] #1752 closed, assigned to LukeShu

[2021-06-23 13:15] efunk commented on #1779
Resolved in Telepresence 2.3.2 GA

[2021-06-23 13:15] #1779 closed, assigned to thallgren

[2021-06-23 13:15] efunk commented on #1785
Resolved in Telepresence 2.3.2 GA

[2021-06-23 13:15] #1785 closed, assigned to thallgren

[2021-06-23 13:15] efunk commented on #1786
Resolved in Telepresence 2.3.2 GA

[2021-06-23 13:15] #1786 closed, assigned to thallgren

[2021-06-23 13:19] efunk commented on #1773
Resolved in Telepresence 2.3.2 GA

[2021-06-23 15:46] robross0606 commented on #1361
Further update, this has gotten even worse.  Now I cannot even attach to the debug instance via Port, auto-attach or any other method I can find.  I'm dead in the water again since VSCode appears to keep updating their debugger engine and breaking things completely.

[2021-06-24 06:58] MatanTubul opened #1813 "tswap with kubectl if failed on macOs"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--context', 'development', '--expose', '80'

[2021-06-24 16:55] sarumont opened #1814 "[v2] Cannot intercept service"
Using `0.109`, I can intercept a service in my remote dev cluster using:

[code]

Telepresence `2.3.2` fails using the following (equivalent?) command:

[code]

Giving the following error:

[code]

May be a bug, but it also may be user error. The documentation for v2 is quite lacking... Any ideas?

[2021-06-24 17:00] donnyyung commented on #1814
Assuming gateway is the name of the deployment and `gateway-service` is the name of the service, I think you want: `telepresence intercept gateway --service gateway-service --port 5050:5050 --namespace default -- npm run start:deb`

[2021-06-24 19:32] foleymic opened #1816 "[v2] NO_AGENT error when attempting to intercept"
Starting with version 2.3.0 of telepresence, I am getting the having the following error when attempting to intercept a workload - `Failed to establish intercept: intercept in error state NO_AGENT: No agent found for my-workload`

[code]

I see that the workload does indeed have the agent and it, along with my component are both up and running in the pod.  I only see this problem if I end up using

[2021-06-24 20:00] deveshgithub opened #1818 "transport: Error while dialing dial unix /tmp/telepresence-connector.socket: connect: connection refused"
### sw_vers
ProductName:	macOS
ProductVersion:	11.3.1
BuildVersion:	        20E241

### kubectl version

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16

[2021-06-24 20:35] foleymic commented on #1816
I forgot to mention that my k8s cluster is running in Google's GKE and I'm using google's kubectl (`gcloud components install kubectl`)

[2021-06-24 21:01] thallgren commented on #1816
@foleymic What exact version of telepresence are you using?

[2021-06-24 21:03] foleymic commented on #1816
Hi @thallgren.  I'm currently testing with v2.3.2
![image](https://user-images.githubusercontent.com/6004328/123332245-42171700-d50e-11eb-862d-5ef3bb87f9e2.png)

[2021-06-24 21:18] foleymic commented on #1816
Here are the logs from the traffic-agent -
[code]

The interesting line is this - `time="2021-06-24 21:12:02.7497" level=error msg="tcp 127.0.0.1:59038 -> 127.0.0.1:8080: unhandled connection control message: tcp 127.0.0.1:59038 -> 127.0.0.1:8080, code CONNECT_REJECT, len 0" PID=1 THREAD=/sidecar lis=":0"`.  Why is it trying to connect to my local instance when I'm only establishing the intercept

[2021-06-24 22:11] keithpenrod opened #1819 "Connecting to Internal K8s API server"
I have a cluster with an internal load balancer for the kubernetes API server. This means I need to be on my VPN in order to access the cluster (ie, use kubectl). Is there a way to have telepresence connect to the cluster through the VPN?

[2021-06-25 05:28] sp0cket commented on #1649
Tested on 2.3.2,  This issue seems not fixed

[2021-06-25 05:37] sp0cket commented on #1649
Update:
[code]
[code]
[code]

[2021-06-25 12:52] jamesbattersby commented on #1646
I have the same situation where the container I am debugging does things that are not triggered by incoming traffic, but from timers or other events.  I would need this to stop, so it doesn't interfere with my local debugging version.  In V1, swap-deployment was ideal.

[2021-06-25 14:56] sarumont commented on #1814
In this instance, `gateway-service` is the name of the container in the deployment. The service and deployment are both named `gateway`. So, modifying your command, I have tried:

[code]

with no success, obviously. The service is there, on port `5050`:

[code]

[2021-06-27 06:40] thallgren commented on #1816
Could it be that there is some other service that is trying to access the service that you're intercepting?

What happens if you do have a service running on port 8080 on your local machine when you create the intercept? Does it receive a request? If so, what is it?

[2021-06-27 11:23] foleymic commented on #1816
If there is nothing running that is listening to port 8080 on my laptop, I get this error.  If I start anything that can receive the request on port 8080, e.g. - `docker run -d -p 8080:80 --name nginx nginx` then the intercept works.  Also, this is only happening if I am logged in to Ambassador (where I use the preview-url or http-match options).  This uses the proprietary agent, so I can't debug

[2021-06-27 12:32] thallgren commented on #1816
Oh, sorry. Now I see what's happening. When you are using a preview-url (default when you're logged in), then the agent will do an initial check if the service supports http2. For some reason, that check takes very long to complete when there's no response at all at the other end. We'll need to investigate why that is.

[2021-06-27 23:11] foleymic commented on #1816
thanks @thallgren.  Is there something with my setup that can be contributing to this?  I'm just wondering why no one else has reported this issue.

[2021-06-28 07:25] youzeliang opened #1824 "apple time out"
I type it in my terminal .   kubectl apply -f https://raw.githubusercontent.com/telepresenceio/telepresence/master/docs/tutorials/hello-world.yaml

but it always show time out .

[2021-06-28 07:50] thallgren commented on #1824
I have no problem applying that manifest. Can you curl it from your mac? If so, can you do a `kubectl get pod`?

[2021-06-29 02:05] hirannair opened #1826 "[v2] Error when using telepresence in limited namespaces"
**What were you trying to do?**
Trying to connect telepresence to remote k8s cluster

**What did you expect to happen?**
Telepresence getting connected to the remote k8s cluster

**What happened instead?**
 It failed to connect

**Automatically included information**
In my specific kubernetes setup,I only have access to limited namespaces to run my applications.

Im getting the below error while t

[2021-06-29 04:23] olegsu commented on #1646
This is a good feature I used with telepresence 1 and miss in the new version.
In my use case I have an application that pulls data from DB or other 3rd parties APIs, so just overriding the default Kubernetes env vars won't help, but a most complete solution required I guess.

[2021-06-29 10:46] thallgren commented on #1819
Telepresence (v2) connects to the cluster using a `kubectl port-forward`. If that works when you are on your VPN, then Telepresence should work too unless your VPN somehow collides with the TUN-device that telepresence is using.

Are you seeing any specific problems when trying to use `telepresence connect`?

[2021-06-29 16:24] adamgoose commented on #1818
I'm running into the same thing. I suspect that the issue has more to do with the Kubernetes Cluster version, as we're both on 1.16.

[2021-06-29 17:40] adamgoose commented on #1818
Probably a dupe of #1809

[2021-06-29 17:58] sjones-vcd opened #1828 "telepresence failed to start"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/bin/telepresence', '--mount', '/tmp/coordinator', '--swap-deployment'

[2021-06-29 18:11] jdstrand opened #1829 "insecure installation instructions"
Looking at https://www.telepresence.io/docs/latest/install/, the installation instructions say to run curl under sudo to download the binary into a system directory, then chmod it. This is insecure since it allows for supply chain attacks. At a minimum, the site should publish checksums (ie, sha256 or sha512) for current and past binary versions with instructions on how to verify the download.

To

[2021-06-29 21:04] porg commented on #1654
@all I filed an issue at #libfuse/sshfs/issues/255 — My **TL;DR** here:
- Under macOS 11 Big Sur with its raised security settings regarding kernel extensions there seems to arise a chicken-egg-problem between macFUSE and sshfs when attempting to install via [brew](https://brew.sh).
- But it works when installing both via the PKG installers provided at https://osxfuse.github.io

**P.S.:** If that

[2021-06-29 22:22] tschmidt64-SC opened #1830 "Failed with docker-desktop as k8s cluster"
### What were you trying to do?

I was trying to run telepresence locally using docker-desktop as my k8s cluster

### What did you expect to happen?

I expected a pod to be created

### What happened instead?

Not entirely sure to be honest. Seems like it failed

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '-n', 'skygrid-hub-api', '--run', 'sleep', '10000

[2021-06-30 13:30] thallgren commented on #1824
Closing this due to lack of more info.

[2021-06-30 13:30] #1824 closed, assigned to nobody

[2021-06-30 13:33] thallgren commented on #1818
Closing as duplicate of #1809

[2021-06-30 13:33] #1818 closed, assigned to nobody

[2021-06-30 15:32] nneram opened #1832 "curl: (28) Failed to connect to verylargejavaservice.default port 8080: Connection timed out"
### What were you trying to do?

I'm trying to follow the [Proxy outbound traffic to my cluster](https://www.telepresence.io/docs/latest/howtos/outbound/) configuration

### What did you expect to happen?

[code]
### What happened instead?
[code]
### Included information

[code]

[code]

[code]

[code]

[code]

### Walkaround

Add service IP adresse to ip route:

[code]

[2021-06-30 20:15] porg commented on #1654
**Update**:
- Also https://github.com/JackSlateur/curlftpfs failed installation with the same false macFUSE dependency error.
- As all these cases have commonalities, I started a [discussion in the HomeBrew forums](https://github.com/Homebrew/discussions/discussions/1760). Lets see what comes out there.

[2021-06-30 23:18] porg commented on #1654
## Reason
@Homebrew member @carlocab answered at: https://github.com/Homebrew/discussions/discussions/1760#discussioncomment-945235

## Solution
As instructed on https://github.com/gromgit/homebrew-fuse
- I uninstalled all previous macFUSE dependent formulae.
- Then installed the homebrew-fuse versions, which all use as "-mac" suffix.
- Just try if your needed macFUSE plugin is available by `$ bre

[2021-07-01 02:40] tinder-robertcheng opened #1833 "Error starting Telepresence"

[2021-07-01 07:09] olegsu commented on #1691
We're running a local cluster with kind and all the images are pushed to the local registry, which speeds up the bootstraping process. So having the ability to set different registry would definitely help :-)

[2021-07-01 07:20] mel1nn commented on #1832
Same problem here.

[2021-07-01 07:58] thallgren commented on #1691
Try setting the environment variable `TELEPRESENCE_REGISTRY`. That's what we're using when we run our tests.

[2021-07-01 16:50] LukeShu commented on #1833
That's an interesting error.

Have you considered upgrading to Telepresence v2?

[2021-07-01 16:52] LukeShu commented on #1832
@thallgren

[2021-07-01 17:06] LukeShu commented on #1829
Hi!  Checksums aren't terribly effective at guarding against supply chain attacks; if the attacker is able to modify the binary, they are very likely to also be able to modify the checksum file; they are in fact stored in the same place after all.  Checksums are good for glitches, not attacks.  To properly guard against a supply chain attack, we'd need to use signatures.

And to be clear, this is

[2021-07-01 17:10] LukeShu commented on #1826
It seems that you do not have the necessary Kubernetes permissions to use Telepresence, which are documented at https://www.telepresence.io/docs/latest/reference/rbac/

Specifically what we're seeing here is that Telepresence needs permission to list services.  But there might be other permissions that you are missing too.

[2021-07-01 17:15] LukeShu commented on #1813
Please fill in the "please tell us" fields, so we know what to make of this.

[2021-07-01 17:20] LukeShu commented on #1810
That's weird that it doesn't work but doesn't appear to be generic networking issues (since generic networking issues are what I would suspect for regressions in 2.3.0 because of all the changes in that area in that version).

Grasping at straws for "websockets": I don't suppose `telepresence status` indicates that you're logged in?  It's a known issue that the smart agent does not work with webso

[2021-07-01 17:22] LukeShu commented on #1809
Which version of Kubernetes are you on?  Which version of `kubectl` do you have? (`kubectl version`)

[2021-07-01 17:26] LukeShu commented on #1808
That's all `daemon.log` says?  Are there other `daemon-{timestamp}.log` files that have more info?

Yeah, this is separate from #1760; telepresence v2 (and especially v2.3.0 and newer) work differently enough from v1 that we expect v2 to work with VPNs.

[2021-07-01 17:29] LukeShu commented on #1806
Something coming soon is the ability to install via a Helm chart in order to have more control over the install.  This would be a very good thing for us to include in that.

[2021-07-01 17:35] LukeShu commented on #1800
Does the IP of `kubernetes.default` resolve correctly (compare `getent hosts kubernetes.default` (GNU/Linux) or `dscacheutil -q host -a name kubernetes.default` (macOS) match the IP in `kubectl get services`?)

And what's your routing table look like? (`route -n` on GNU/Linux, `netstat -rn` on macOS)

[2021-07-01 17:42] LukeShu commented on #1809
I'm closing this as a duplicate of https://github.com/telepresenceio/telepresence/issues/1795 .  If you're seeing it with Kubernetes 1.17 or newer, please re-open it.

[2021-07-01 17:44] thallgren commented on #1832
@natdop can you please tell us more about your environment, in particular, what type of cluster are you using and what version?
I would also be interested to see the contents from the `daemon.log` at the time of failure.

[2021-07-01 17:45] LukeShu commented on #1795
@ManigandanMS wrote:

`make build` will generate the `./build-output/bin/telepresence` binary.  `make push-image` will build and push a `${TELEPRESENCE_REGISTRY}/tel2` Docker image.  You should probably run them together as `TELEPRESENCE_REGISTRY=… make build push-image` so that the version numbers in the binary and the Docker image match.

There's more info in `DEVELOPING.md`.

[2021-07-01 23:22] hirannair commented on #1826
Thanks @LukeShu for that. Went through that documentation to setup RBAC for users who has access to specific namespace.
Unfortunately it is not working for me.The code actually creates a ClusterRole that basically gives access to create/delete/update access to pods,svc,deployments etc.Thats a lot of access.Can i just make it work with only access to ambassador and my application namespace using Ro

[2021-07-02 02:28] arning627 opened #1834 "used vpn ,console output this"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence']`
Version: `0.109`
Python version: `3.9.5 (de

[2021-07-02 08:33] nneram commented on #1832
My cluster is running on two bare metal servers (dell) (1 master and 1 worker), my dev laptop use WSL2, so i tryed on an VM openstack with Ubuntu but I got the same error.

[code]

[code]
Log from WSL2 (Ubuntu 20.04.2 LTS)

[2021-07-02 13:19] thallgren commented on #1688
Closing this in favor of #1654 since I think it's better if we collect all brew install of sshfs/macFUSE in one ticket.

[2021-07-02 13:19] #1688 closed

[2021-07-02 13:19] thallgren commented on #1651
Closing this in favor of #1654 since I think it's better if we collect all brew install of sshfs/macFUSE in one ticket.

[2021-07-02 13:19] #1651 closed

[2021-07-02 17:34] Khaaz commented on #1814
Had the same issue as above. Apparently solved it by using `telepresence intercept <deploymentName> --service <serviceName> --port 3000:http --env-file telepresence.env`.
This is not what is written in the getting started and that's where I was confused. Any clarification on that?

[2021-07-04 07:32] thallgren commented on #1654
Thanks @porg for digging into this and finding a solution that actually works!

Here are the exact steps that I needed to take in order to make `sshfs` work with `telepresence` v2 after updating my mac to Big Sur 11.4:

1. Remove old sshfs, macfuse, osxfuse using `brew uninstall`
2. `brew install --cask macfuse`
3. `brew install gromgit/fuse/sshfs-mac`
4. `brew link --overwrite sshfs-mac`

Now `ss

[2021-07-05 05:22] #1105 closed

[2021-07-05 08:40] wojciechka commented on #1810
Then it seems I ran into some regression here. Happy to help more with debugging and/or troubleshooting with 2.3 versions.

I'm just not very familiar with telepresence 2.x, so any tips on getting more logs or debugging this would be useful.

I've been using earlier versions of telepresence years ago and just adopting the new version nowadays.

If you logged in you mean Ambassador Cloud, then no,

[2021-07-05 10:39] thallgren commented on #1810
You'll find the logs under `"/.cache/telepresence/logs` on a Linux box and under `~/Library/Logs/telepresence` on a macOS box. For more info regarding logging, please take a look at [Log Levels](https://www.telepresence.io/docs/latest/reference/config/#log-levels). Changing to `rootDaemon: debug` can be very helpful for cases like this.

We did have issues with GKE clusters in 2.3.0 and 2.3.1, but

[2021-07-05 11:53] mbaliuk-lohika-tix opened #1838 "Error while running telepresence"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--swap-deployment', 'orchestration', '--nam

[2021-07-05 22:01] ronaldmiranda commented on #1182
me too, im also experiencing this problem using local cluster with k3d

[2021-07-06 07:55] thallgren commented on #1182
@ronaldmiranda which version of telepresence are you using?

[2021-07-06 12:12] johnlanni opened #1840 "The daemon did not get the correct service subnet"
When I was using telepresence intercept, I found that it is possible to access pods' IPs locally, but not to access some services' IPs. I saw this from the daemon.log:

![image](https://user-images.githubusercontent.com/6763318/124596383-c8c7de80-de94-11eb-9459-71376561d39a.png)

Only added this service subnet: `10.96.0.0/16`

Then I read the code in `cmd/traffic/cmd/manager/internal/cluster/info.

[2021-07-06 12:23] ronaldmiranda commented on #1182
The latest

On Tue, 6 Jul 2021 at 04:55 Thomas Hallgren ***@***.***>
wrote:

[2021-07-06 13:08] ronaldmiranda commented on #1182
@thallgren Hello, just to explain more, im trying to run telepresence from my containerized development environment, i did everything about the --cap-add=NET_ADMIN, and bind-mounted the tun device.
i'm developing locally with k3d cluster.

when i try to start the intercept, the application works and im able to make the requests but somehow i cant access anything until i stop telepresence, because

[2021-07-06 13:17] thallgren commented on #1182
@ronaldmiranda,  can you please do the following in your container:
1.  `telepresence quit` (just to ensure that nothing is running).
2. Change the [log level](https://www.telepresence.io/docs/latest/reference/config/#log-levels) for the root daemon to "debug".
3. `telepresence connect`
4. Try something that causes a DNS failure.
5. `telepresence quit`
6. Provide the `~/.cache/telepresence/logs/da

[2021-07-06 13:24] ronaldmiranda commented on #1182
Daemon log:
[code]

resolv.conf
[code]

[2021-07-06 13:48] ronaldmiranda commented on #1182
@thallgren previously i didnt configured the debug, here  is:

[code]

[2021-07-07 08:19] tobiasfriden commented on #985
When can we expect the ability to manually configure timeout to be merged? (As mentioned in #939)
After switching to AWS Fargate (which has longer startup times) telepresence is currently unusable without this option

[2021-07-07 15:03] maxlegault opened #1846 "Mutating webhook approach only works for pods exposing a single port"
The mutating webhook approach that injects the Traffic Agent based on the `telepresence.getambassador.io/inject-traffic-agent: enabled` annotation is currently limited to pods that expose a single port. As soon as there are multiple ones, the webhook will fail to inject the Traffic Agent because it can't resolve which port should be intercepted. Since it's a common use case for a pod to expose mul

[2021-07-07 15:22] #1846 closed, assigned to nobody

[2021-07-07 15:23] maxlegault commented on #1846
This is a duplicate of https://github.com/telepresenceio/telepresence/issues/1796. Closing this as it's been solved by the `telepresence.getambassador.io/inject-service-port` annotation. The Traffic Agent managing multiple ports should be handled in another issue.

[2021-07-07 16:04] elliott-king opened #1847 "Telepresence v1 with VPN and `inject-tcp`"
### What were you trying to do?

Trying to telepresence while on a VPN using `--method inject-tcp`.

### What did you expect to happen?

I expected it to connect

### What happened instead?

It did not mount successfully. I also tried with telepresence v2. No luck - but V2 failed silently.

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--mount', 'false', '

[2021-07-07 17:03] cyrus-mc opened #1848 "V2: local only intercept"
I am not sure if this is an issue or a feature request.

When creating an intercept there is the option `local-only` which reads as `Declare a local-only intercept for the purpose of getting direct outbound access to the intercept's namespace`.

I take that to mean that all outbound traffic is routed through the cluster but service communication for the intercepted service won't be routed back to

[2021-07-08 07:32] johnlanni commented on #1840
[code]

This is the ClusterRole which subject to traffic-manager.
It seems a bug, traffic-manager does not have permission to create the bogus service.

[2021-07-08 09:07] wojciechka commented on #1810
Hi.

I have retried the whole procedure on a fresh GKE cluster and I have tried to gather more information on the setup itself:

- GKE version 1.19.9-gke.1900 ; node types N2 (4 CPU, 16 GB RAM), us-east1-c region
- nginx ingress controller version 0.32.0
- UI component versions can be found here: https://github.com/influxdata/ui/blob/master/package.json and https://github.com/influxdata/ui/blob/ma

[2021-07-08 09:29] mattrussell-sonocent opened #1850 "Can't join community Slack"
Attempting to follow the link to the community slack given on https://www.telepresence.io/docs/latest/faqs/:

https://a8r.io/slack

Doesn't allow signups for emails outside of certain specific domains:

![image](https://user-images.githubusercontent.com/45822724/124898496-27957100-dfd7-11eb-91fc-b54d8454a16c.png)

[2021-07-08 10:01] wojciechka commented on #1810
I have found a way to replicate most of the behavior, except that the happy path ends with an empty HTML page and a JS error - but it is distinguishable from when the problem with intercept / websockets happens.

Tested on Linux x64 with Debian 10 host (kernel 4.15.0-144-generic).

## Setting up webpack dev server locally (I was using `node` version `v12.22.1`, yarn version `v1.22.10`).

- (prereq

[2021-07-08 10:17] mattrussell-sonocent opened #1851 "error: Failed to establish intercept: the apply timed out."
I get an error running `telepresence intercept`:

[code]

(I don't think the timeout length is the issue, I've tried upping it with no luck)

Is there any way to get logs or additional debugging from telepresence to understand the problem?

[code]

[2021-07-08 10:20] thallgren commented on #1810
Would it be possible for you to provide the connector.log, daemon.log, and the logs from the traffic-manager pod after a run wit the above reproducer (I'd rather look at them first before setting everything up)?

[2021-07-08 13:02] wojciechka commented on #1810
Sure. here they are, both from 2.2.2 and 2.3.3:

[v2.2.2-connector.log.txt](https://github.com/telepresenceio/telepresence/files/6784688/v2.2.2-connector.log.txt)
[v2.2.2-daemon.log.txt](https://github.com/telepresenceio/telepresence/files/6784689/v2.2.2-daemon.log.txt)
[v2.2.2-traffic-manager-logs.txt](https://github.com/telepresenceio/telepresence/files/6784690/v2.2.2-traffic-manager-logs.txt)

[2021-07-08 14:13] josecv commented on #1851
@mattrussell-sonocent thanks for opening an issue.

Could you set the logging level to [debug](https://www.telepresence.io/docs/latest/reference/config/#log-levels) and upload the telepresence logs? You can find the logs in `/Users/$USER/Library/Logs` on MacOS or `/home/$USER/.cache/telepresence/logs` on Linux.
In addition, could you also add the `traffic-manager` logs? You can get them from the `

[2021-07-08 14:19] thallgren commented on #1810
Thanks @wojciechka . This is very helpful.

[2021-07-08 14:30] josecv commented on #1840
@johnlanni in addition to the clusterrole, the traffic-manager should have a `Role` in the `ambassador` namespace that allows it to create that bogus service -- if you do `kubectl get role -n ambassador`, do you see a `traffic-manager` role? I'm not super sure that what you're seeing is down to not being able to create the dummy service, I think in that case we wouldn't see the service CIDR being

[2021-07-08 15:26] josecv commented on #1840
@johnlanni disregard my previous (now deleted) comment -- it seems @thallgren beat me to the punch 😄 #1853 might be the fix.

Altering the `ClusterRole` shouldn't be necessary, as `telepresence` should have a `Role` in the `ambassador` namespace that allows it to create the dummy service -- it's just that for that to work, the dummy service needs to actually be created in the `ambassador` namespac

[2021-07-08 19:48] efunk commented on #1741
Released in Telepresence 2.3.3.

[2021-07-08 19:48] #1741 closed, assigned to donnyyung

[2021-07-08 19:50] efunk commented on #1708
Released in Telepresence 2.3.3.

[2021-07-08 19:50] #1708 closed, assigned to josecv

[2021-07-09 07:40] mattrussell-sonocent commented on #1851
@josecv thanks - here are the logs:
[connector.log](https://github.com/telepresenceio/telepresence/files/6789663/connector.log)
[daemon.log](https://github.com/telepresenceio/telepresence/files/6789664/daemon.log)
[traffic-manager.log](https://github.com/telepresenceio/telepresence/files/6789665/traffic-manager.log)

[2021-07-09 08:03] thallgren commented on #1851
I wonder why the `traffic-manager`s watch of `Nodes` is triggered over and over again at a fairly high pace.

[2021-07-09 08:14] thallgren commented on #1851
I see a tremendous amount of UDP calls to port 54915. I googled that port and found `"54915 | tcp,udp | logitech | Logitech Gaming Software - LCore.exe uses port 54915/udp. Disabling Arx control may stop the broadcasts."`. It shouldn't matter much, besides that it causes a lot of debug-level logging. It might have a negative impact on a limited network. Makes me wonder if we should recognize such

[2021-07-09 08:17] thallgren commented on #1851
@mattrussell-sonocent would it be possible to also check what's going on with the traffic agent? A `kubectl describe pod app-frontend-xxx` may give some hints. Sometimes a `kubectl logs app-frontend-xxx traffic-agent` is useful as well. With or without a `-p`.

[2021-07-09 11:13] mattrussell-sonocent commented on #1851
Info on the agent:
[glean-frontend-7488c77bf9-9vk9r.log.txt](https://github.com/telepresenceio/telepresence/files/6790850/glean-frontend-7488c77bf9-9vk9r.log.txt)
[glean-frontend-7488c77bf9-9vk9r.pod.txt](https://github.com/telepresenceio/telepresence/files/6790851/glean-frontend-7488c77bf9-9vk9r.pod.txt)

Is it expected the original pod remains up?

[code]

There was indeed some Logitech driver s

[2021-07-09 11:16] richarddli commented on #1850
Thanks for the report! This should be fixed now.

[2021-07-09 11:16] #1850 closed, assigned to nobody

[2021-07-09 11:29] mattrussell-sonocent commented on #1850
👍 Thanks, I was able to join.

[2021-07-09 12:21] thallgren commented on #1848
The `--local-only` is a way to establish DNS resolution for single label names, nothing else. If you declare a `--local-only` intercept to a namespace ("default" if no namespace), then you can access services in that namespace without qualifying them with a namespace name. E.g.e `hello` instead of `hello.default`. The option is intended to support the use case where a service is being developed bu

[2021-07-09 15:22] #1698 closed

[2021-07-09 15:22] efunk commented on #1698
Resolved in Telepresence 2.3.3

[2021-07-09 15:27] efunk commented on #1751
Released with Telepresence 2.3.3

[2021-07-09 15:27] #1751 closed, assigned to nobody

[2021-07-09 16:00] SemanticBeeng commented on #280
@natb1 is this support to work with latest `telepresence` 2? https://github.com/telepresenceio/telepresence/issues/1608#issuecomment-811420598

Trying to figure out if multiple ports can be exposed and cannot quite believe it cannot be.

[2021-07-09 16:49] cyrus-mc commented on #1816
I can confirm that I encountered this same error.

For completeness the intercept command I am running is:

`telepresence intercept helloworld --port 3000 -u=false --http-match=auto -- yarn run start`

This resulted in the same error noted in the `traffic-agent` above.

I have to start the local service first (`yarn run start`) before enabling the intercept. I also find that if I get into this err

[2021-07-09 19:12] nadilas commented on #1751
@efunk where can I find the documentation on the final implementation and it’s usage?

[2021-07-09 21:24] gaughen commented on #1808
the timestamped version of the log says the very same thing.  I'm happy to try and grab some additional info if you have any suggestions.  Let me know, will try and respond sooner this time :-)

[2021-07-11 02:18] thallgren commented on #1832
Thanks for that log. The `dns: buffer size too small` is new to me. Would it be possible for you to use [log-level debug](https://www.getambassador.io/docs/telepresence/latest/reference/config/#log-levels) for the root daemon and provide that?

[2021-07-11 08:01] thallgren commented on #1851
From the looks of it, the `traffic-agent` gets stuck somewhere before it creates the file that the readiness probe is looking for. A normal `traffic-agent` startup should log the message `Talking to manager v2.3.3` but it never does. In order to find out why that's happening, it would be helpful if you could turn on debug level logging for both the `traffic-manager` and `traffic-agent`.

For the `

[2021-07-11 08:10] thallgren commented on #1848
Regarding the "connection-origin": It is not possible for telepresence to make an outbound connection originate from a namespace unless a real (a non local) intercept is present in that namespace because there's no `traffic-agent` available that the connection can originate from. If you have that requirement, you must first deploy the pod that you intend to intercept or intercept some other pod in

[2021-07-11 08:12] thallgren commented on #1840
Closing this. Fix was delivered in 2.3.4.

[2021-07-11 08:12] #1840 closed, assigned to nobody

[2021-07-11 09:16] thallgren commented on #1819
Closing this due to lack of info.

[2021-07-11 09:16] #1819 closed, assigned to nobody

[2021-07-11 14:55] cyrus-mc commented on #1848
Thanks for the clarification.

[2021-07-12 07:35] mattrussell-sonocent commented on #1851
Attached (although there's not much coming out at debug level for either):
[traffic-agent.log](https://github.com/telepresenceio/telepresence/files/6799426/traffic-agent.log)
[traffic-manager.log](https://github.com/telepresenceio/telepresence/files/6799428/traffic-manager.log)

[2021-07-12 10:06] sichapman opened #1858 "Do not auto-update traffic manager if it is managed by Helm"
I had a traffic manager 2.3.3 installed via Helm chart, but when I connected to it with a 2.3.4 client the pod got upgraded automatically, which threw the Helm resources out of sync. Not only might that result in chart upgrade issues in future, but, depending on how the client does the upgrade, customisations made through Helm values may get undone ( I didn't check).

Since Helm is meant to be in

[2021-07-12 10:22] thallgren commented on #1851
Ok, that was disappointing. Can you please try with 2.3.4 (released on Friday)? I will give at least one additional piece of information in the traffic-manager log.

[2021-07-12 10:27] DanyHenriquez commented on #1182
Having the exact same issue

OSX Big Sur

`[💣  1] ❯ telepresence version
Client: v2.3.4 (api v3)`

[code]

[2021-07-12 10:50] thallgren commented on #1182
Ok, several reports here and I'm not sure what they have in common. @DanyHenriquez are you running `k3s` or `k3d`? Do you see the same i/o timeouts?

[2021-07-12 10:51] thallgren commented on #1182
Can someone give me a canonical set of steps to reproduce the problem on a mac?

[2021-07-12 16:30] keithpenrod commented on #1819
I've been using telepresence 0.105. I just tried 2.3.2 and after running telepresence connect, I tried to visit a site using a cluster name but it didn't seem to resolve. Does telepresence v2 allow cluster names to resolve locally, like with 0.105?

[2021-07-12 21:17] #1848 closed, assigned to thallgren

[2021-07-13 03:28] pbarnum commented on #1182
Same thing happening to me (with an almost identical daemon.log output as @DanyHenriquez). With a fresh install using `brew install telepresence`, I run `telepresence connect` which enables my pods DNS endpoints for about 5 seconds, after which all requests fail.

[2021-07-13 08:25] mattrussell-sonocent commented on #1851
[traffic-manager-2.3.4.log](https://github.com/telepresenceio/telepresence/files/6807123/traffic-manager-2.3.4.log)

[2021-07-13 09:19] johnlanni opened #1863 "Is there a plan to support dns query on SRV record?"
I found this code in `cmd/traffic/cmd/agent/client.go:120`.  It seems that telepresence's dns query only support the `A/AAAA` records, because use the `net.LookupHost` function.
[code]

But we use the `net.LookupSRV` function in our code. Since we want to use the dns SRV record to get the FQDN and port of the service through K8S service name.

Is there a plan to support this SRV query ?

[2021-07-13 09:46] thallgren commented on #1863
@johnlanni , there is no immediate plan to support SRV records but if there's a compelling reason to do so, then we might change that. Can you tell us more about your use case?

[2021-07-13 11:02] benfdking opened #1865 "Slight error in documentation for Helm Chart"
It appears that there is a slight error in the documentation. The description or property name is flipped.

`clientRbac.namespaces`
and
`clientRbac.namespaced`

![image](https://user-images.githubusercontent.com/9087625/125441093-495b0676-4aad-4a85-a999-38e9c893b71f.png)

[2021-07-13 13:13] chenaoxd commented on #1858
Agree that the traffic manager deployment shouldn't be auto-updated.

There're some example situations when not auto-updating is necessary:
1. When you're using linkerd multi-cluster, you need the `traffic-manager` to be linkerd injected to make the cross-cluster service mirror working. So you need to add a `linkerd.io/inject: enabled` annotation to the `traffic-manager` deployment. And this annot

[2021-07-13 13:28] josecv commented on #1858
Thanks for opening an issue! This will actually be fixed by #1845 which includes changes to keep the deployment from being updated if it is managed by Helm. I believe this should also cover scenarios 1 and 2 outlined by @chenaoXD which could be implemented by deploying the traffic manager through helm.

[2021-07-13 13:55] #1027 closed

[2021-07-13 13:57] #554 closed

[2021-07-14 02:40] johnlanni commented on #1863
@thallgren , we have many micro services in our system, and every service has one or more independent ports. We use `K8S Service` for service discovery,  since the `K8S Service` mechanism will automatically create the corresponding SRV record in coredns. Because the complete service address can be obtained by the name of the service through SRV dns query, we don’t need to remember the port of each

[2021-07-14 08:10] an-tex opened #1866 "[v2] root daemon crashes"
Hi,
I'm observing a consistent root daemon crash upon replaying (potentially big) events from cassandra over the vpn. Here's the daemon.log:

[code]

I guess the last line is the actual issue:
`telepresence: error: read from grpc.ClientStream failed: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (7369072 vs. 4194304)`

K8s Rev: v1.20.8
Telepresence: v2.3.4 (api

[2021-07-14 11:23] an-tex commented on #1866
@thallgren this might help https://github.com/kubernetes/kubernetes/pull/63977/files

[2021-07-14 14:36] thallgren commented on #1866
Thanks for the tip @an-tex . I just put up #1867 to make the size configurable.

[2021-07-14 20:06] archita-sarda opened #1868 "bug faced while trying to connect to local cluster"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence']`
Version: `0.104`
Python version: `3.7.7 (de

[2021-07-15 07:35] chenaoxd opened #1871 "[gRPC] DNS resolution failed for service"
GRPC will report DNS resolution failed when with `telepresence connect`ed on macos.

The error message is listed below:
[code]

[2021-07-15 08:12] ksripathi opened #1872 "Not able to completely automate the installation of telepresence using shell script"
Hello team,

there is no way to automate below command through shell script as its prompts for browser
`telepresence login`

also

when intercepting service it prompts for various inputs
`telepresence intercept`

is there a way in which we can set some ENV variables and avoid interrupts so that it can be fully automated

[2021-07-15 08:31] chenaoxd commented on #1871
After a period of trying, I found it's related to the gRPC C-Ares issues. Adding the `GRPC_DNS_RESOLVER=native` environment variable will resolve my issue. And here's the related issue: https://github.com/grpc/grpc/issues/19954.

Thanks and telepresence is a really good tool!

[2021-07-15 08:31] #1871 closed, assigned to nobody

[2021-07-15 12:25] skataboina opened #1874 "Telepresence disconnects from cluster after multiple intercepts"
Facing issue with telepresence(v2.2.2) connection
step 1: "telepresence connect"
step 2: Perform telepresence intercept multiple times
step 3: After some time "telepresence intercept" command doesn’t give any response
step 4: Reconnecting telepresence to cluster (telepresence quit & telepresence connect) to resolve the issue

[2021-07-15 13:41] nneram commented on #1832
Yes, I got this :
[code]

[2021-07-15 17:13] thallgren commented on #1866
Closing since this fix was just released in 2.3.5.

[2021-07-15 20:03] efunk commented on #1781
Resolved in Telepresence 2.3.5 GA

Please see: https://www.getambassador.io/docs/telepresence/latest/reference/config/#cloud .

[2021-07-15 20:03] #1781 closed, assigned to nobody

[2021-07-15 20:14] efunk commented on #1865
Resolved in Telepresence 2.3.5 GA

[2021-07-15 20:15] efunk commented on #1858
Resolved in Telepresence 2.3.5 GA

[2021-07-15 20:15] #1858 closed, assigned to nobody

[2021-07-16 07:15] akharlamov commented on #1754
I have the same issue with telepresence 2.3.4/Ubuntu 20.04.2

After `telepresence connect`, I can resolve FQDNs in the Kubernetes cluster. But all external domains are not resolved.

mysql.dev2 has address 10.106.220.114

;; connection timed out; no servers could be reached

I was able to intercept DNS traffic with Wireshark on the loopback interface.
I see 127.0.0.1->127.0.0.53 request and system

[2021-07-16 07:24] an-tex commented on #1866
@thallgren
thanks for handling it so swiftly. I've just updated to 2.3.5 but I'm still seeing the issue. I've tried the following configs in `~/Library/Application Support/telepresence/config.yml`:
[code]
and
[code]
and
[code]

The config seems to be loaded as when I remove it I get the warning `INFO[0000] No config found. Using default`.

The result is always the same, `daemon.log`:
[code]

I don

[2021-07-16 08:58] benfdking commented on #1865
Hey,

Sorry to be a nuisance and wish I was more competent so I could actually provide the solution rather than just the problem. Amazing and thank you for the quick turnaround.

I am wondering if one of the little errors was missed? (Not 100% sure I understand release and everything)

![image](https://user-images.githubusercontent.com/9087625/125921631-29b0feb2-ba8a-4e49-af11-ae7e5a7afd96.png)

T

[2021-07-16 11:20] thallgren commented on #1866
@an-tex, that's bad news. I have some difficulties reproducing the problem. Ideally, I'd like to write an automated test that verifies that it all works. Would it be possible for you to make some experiments in your setup?

[2021-07-16 11:52] an-tex commented on #1866
Yes of course, I'd be happy to help @thallgren . Let me know how. I can certainly build from a dev branch and test it. In the mean time I'll try to reproduce it on a smaller scale. By now I think the issue lies not in receiving big chunks but rather sending them (from the perspective of my local machine) as it seems to happen when bigger snapshots are saved into cassandra running in the remote k8s

[2021-07-16 12:01] svedatbegar opened #1878 "Telepresence intercept does not work for some requests"
### What were you trying to do?
I'm trying to intercept a service by following the guidelines/docs. I'm running a HTTP server on port 8080 locally.

### What did you expect to happen?
I expected all the requests going to the intercepted service to be rerouted to my local service.

### What happened instead?
While some of the requests are intercepted and rerouted to my local successfully, most of t

[2021-07-16 12:03] an-tex commented on #1866
A small update. The issue already occurs on e.g. POSTing >4mb files over REST

[2021-07-16 12:39] efunk commented on #1751
@nadilas apologies for taking so long to reply. You can find the latest release notes here: https://www.getambassador.io/docs/telepresence/latest/release-notes/
Scroll down to 2.3.3 and you will see "Feature: Traffic-manager in custom namespace"

Please let us know if you encounter any issues!

[2021-07-16 12:43] an-tex commented on #1866
Alright here's a small reproducible test case, start an nginx server in your cluster by kube apply:
[code]

connect to that cluster using telepresence and run
`dd if=/dev/zero count=1 bs=1m|http PUT http://nginx-test.default`

this will work as it's only a 1MB body. but trying
`dd if=/dev/zero count=1 bs=8m|http PUT http://nginx-test.default`
with an 8mb body will kill the root daemon with the ori

[2021-07-16 14:35] efunk commented on #1865
@benfdking thank you for bringing it to our attention. We will make sure this is fixed in our next release (2.3.6).

[2021-07-16 15:21] thallgren commented on #1866
Huge thanks @an-tex! I'll get right on that first thing next week.

[2021-07-16 16:50] thallgren commented on #1754
@mhdqasim can you please enable [debug logging](https://www.telepresence.io/docs/latest/reference/config/#log-levels) for the rootDaemon and provide the `daemon.log` down to the point where the timeouts start.

[2021-07-16 20:45] akharlamov commented on #1754
Attaching the log with DEBUG enabled. The file is produced by the latest version from release/v2 branch.
[daemon.log.gz](https://github.com/telepresenceio/telepresence/files/6833295/daemon.log.gz)

[2021-07-18 11:39] akharlamov opened #1883 "Telepresence 2.3.5 incorrectly detects service and pod IP ranges"
I am unable to reach Kubernetes services after successful `telepresence connect` due to incorrect routing configuration.

[code]

Now, if we look inside it is obvious routing is done for wrong subnets.
[code]
The actual service IP range is 10.96/12, not 10.96/16, pods IP range is 172.17/16 .

This is likely to the issue in traffic manager, as per logs:
[code]

[2021-07-18 11:50] akharlamov commented on #1883
Environment:
MacOS 11.4
Minikube 1.22
Telepresence 2.3.5

[2021-07-18 12:07] thallgren commented on #1883
I think your assumption is correct. The `traffic-manager` doesn't seem to have the permissions it needs. How was it installed in your cluster? Did you just rely on the auto-installer when doing a `telepresence connect` or did you use a helm chart? There ought to be a `Role` in the "ambassador" namespace that grants an attempt to create a dummy service in that namespace.

What output do you get fro

[2021-07-18 12:10] thallgren commented on #1883
and also, what's the output of:
[code]

[2021-07-18 15:15] thallgren opened #1885 "It is no longer possible to set the log-level in the root daemon."
When the root daemon starts running, it begins with setting up the `cobra.Command` hierarchy. During this process, it calls on a lot of things that it really ought not to call when it's the root daemon. The stack below is one example of this. When the intercept command starts, it attempts to load extensions which ends up doing a `client.GetConfig()`. That function is "onced" and when called this e

[2021-07-18 18:14] akharlamov commented on #1883
The issue was due incorrectly named role object in auto-installed. See https://github.com/telepresenceio/telepresence/pull/1887 for details.

However, I am not sure what is the reason for the discrepancy in the pod IP range. The minikube nodes are allocated from 10.244/16 space, but actual pods are in 172.17/16 range. But that may be an issue with minikube, not telepresence.

[2021-07-18 21:43] LukeShu commented on #1885
When did this regress?

[2021-07-18 21:44] thallgren commented on #1885
In 2.3.5, when the registry setting was introduced as a config.

[2021-07-19 12:57] skataboina commented on #1808
I am also facing the same issue, using telepresence version 2.3.x
I see below daemon logs during the operation
 debug   daemon/server-dns/Server : LookupHost "service1.namespace1" (from pkg/client/daemon/outbound.go:218)
 debug   daemon/server-dns/Server : QUERY[1] service1.namespace1. -> 192.168.10.27 (from pkg/client/daemon/dns/dns.go:83)
 debug   daemon/server-dns/Server : QUERY[28] service1.na

[2021-07-19 13:03] thallgren opened #1889 "Using telepresence intercept with --http-match=xxx yields a panic."
When running `telepresence intercept --http-match=xxx echo`, I get the following panic:
[code]

[2021-07-19 13:09] thallgren commented on #1889
The panic does not occur when using `--http-match=all`

[2021-07-19 13:54] thallgren opened #1890 "Regression: Preview URLs ends up at an Ambassador "Not Found" page."
Doing a `telepresence intercept <something>` as a logged in user followed by an attempt to use the resulting preview-url results in an Ambassador "Not Found!" page. The problem started with release 2.3.5.

[2021-07-19 19:09] donnyyung opened #1896 "make promote-to-stable work for pre-existing versions (macOS)"
We wanted to pin telepresence back to 2.3.4 while we were debugging some issues with 2.3.5, so we ran `make promote-to-stable`, which almost worked as expected but the script is hardcoded to use the BINDIR to make the tarball hash that it uploads to the git repo that is used for brew. https://github.com/telepresenceio/telepresence/blob/release/v2/packaging/homebrew-package.sh#L12

Since we were ro

[2021-07-20 08:41] iTaybb commented on #1632
I would like that feature as well.
Would like to help with the implementation if needed.

[2021-07-20 09:27] silvajp2 opened #1900 "Incorrect env resolution when using $(OTHER_ENV_VAR) syntax"
When using `telepresence --namespace staging --swap-deployment instance --run bash`

On a deployment which env contains:
[code]
Telepresence incorrectly escapes `$(POD_NAMESPACE)` instead of resolving it to the value of POD_NAMESPACE.

On the `traffic-agent` I got:
[code]

Instead of the correct:
[code]

[code]

[2021-07-20 11:27] dmanchon opened #1901 "Traffic agent sidecar configuration issue"
Hi Team, really cool project, i was playing with minikube and everything was fine, i could intercept traffic and
it makes everything so easy, but when i try against our dev cluster i got the following error:
- after: `telepresence intercept -n XX XXXX --port 8000 --env-file remote.env  # redacted`
- traffic-agent sidecar logs:
[code]
When i manually edit the deployment to add the "MANAGER_PORT" =

[2021-07-20 11:59] iTaybb opened #1902 "Support telepresence version --client"
When running `telepresnse version`, the cli attempts to get the local and remote server versions.
If there's no remote server configured, the cli might fail with:
[code]

Sometimes we only need the client information.
kubectl, for example, supports cli like `kubectl version --client`. It would be nice for telepresense to support the same.

[2021-07-20 17:54] #1865 closed, assigned to josecv

[2021-07-21 09:14] mcmarkj commented on #1851
Jumping on the back of this, I think this could be because the cluster's that Matt and I are trying to use are GKE clusters using Konnectivity instead of ssh tunnels. Is Telepresence capable of using [Konnectivity](https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/#konnectivity-service)?

[2021-07-21 09:42] wojciechka commented on #1810
Hi, is there anything else I could do to help with the issue? I've seen a few releases, I could give them a try, but I would need to set up a new cluster, so I wanted to first check if changes between 2.3.3 and 2.3.6 could include anything related to this issue?

[2021-07-21 12:34] thallgren commented on #1851
@mcmarkj thanks for the info. I'll investigate but I don't think Telepresence cares much about if ssh tunnels or Konnectivety is used. The only connection that is made between the telepresence client and the cluster nowadays is using gRPC over a kubectl port-forward. We are not using ssh tunnels anywhere.

[2021-07-21 12:43] thallgren commented on #1810
We have had some problems with DNS that were fixed in the latest 2.3.6 release but I doubt it is relevant to the problem you have here. We have some work planned to make websockets work OK though, so perhaps wait for that to arrive?

[2021-07-21 13:00] wojciechka commented on #1810
Thank for for the prompt response. Yes, I am happy to keep on using 2.2.2 and wait for further changes, I was simply making sure I did not miss on anything around this.

If you have a PR or any work that should improve it, I'm more than happy to help test if it solves my specific problem.

[2021-07-21 15:45] LukeShu commented on #1878
- When you are making requests with your browser or curl, are you
  making them to your intercepted service directly?
- Can you please post the `kubectl get -o yaml` instead of the
  `kubectl describe`? `describe` filters out some key details.
- Can you please post your `connector.log` and your `daemon.log`, even
  though they don't contain errors they might contain useful
  information.
- Can you

[2021-07-21 17:09] s-silvius opened #1906 "Unable to override telepresence deployment spec"
"telepresence connect" is not able to spawn "traffic-manager" deployment to cluster not having yet telepresence resources.

According to instructions user can just download binary
[code]
and run "telepresence connect" and it should install needed resources?

When I run "telepresence connect" traffic-manager POD get's installed but it fails to

"**Error: container has runAsNonRoot and image will ru

[2021-07-21 19:14] frankgu968 opened #1907 "Telepresence v2.3.x mutating webhook annotation results in ReplicaSet controller error"
When the [mutating webhook](https://www.getambassador.io/docs/telepresence/latest/reference/cluster-config/) is enabled with the annotation `telepresence.getambassador.io/inject-traffic-agent: enabled`, the cluster `replicaset-controller` throws error due to incorrect key:

[code]

It is clear that there is a string substitution problem in the resource path.

Upon closer inspection of the source,

[2021-07-21 22:04] vvazharksi commented on #1900
Same with status.hostIP. Any idea ?

[2021-07-22 15:18] #1885 closed, assigned to nobody

[2021-07-22 15:21] efunk commented on #1883
Closing this issue based on comments and fix delivered within https://github.com/telepresenceio/telepresence/pull/1884 in the 2.3.6 release.

[2021-07-22 15:21] #1883 closed, assigned to nobody

[2021-07-22 16:29] #1594 closed

[2021-07-22 16:34] alberthuang24 commented on #1810
I have the same problem when I close the websocket.

[2021-07-22 16:40] alberthuang24 commented on #1810
This happens when the request return value is too large.

![image](https://user-images.githubusercontent.com/20190812/126676121-62239375-ccec-40e0-abe3-d00abdea0d54.png)

[2021-07-22 16:49] alberthuang24 commented on #1810
Sorry, my problem seems to be fixed in the latest version. https://github.com/telepresenceio/telepresence/pull/1788

[2021-07-22 19:01] thallgren commented on #1906
You can [install with Helm](https://www.telepresence.io/docs/latest/install/helm/) if you like. Using `telepresence connect` is convenient if you run your own cluster or if you have admin rights on the cluster. Read more about the permission needed in the [Telepresence RBAC](https://www.telepresence.io/docs/latest/reference/rbac/) documentation.

[2021-07-23 11:22] donnyyung commented on #89
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:22] #89 closed

[2021-07-23 11:25] donnyyung commented on #161
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:25] #161 closed

[2021-07-23 11:27] donnyyung commented on #193
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:27] #193 closed

[2021-07-23 11:28] donnyyung commented on #195
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:28] #195 closed

[2021-07-23 11:29] donnyyung commented on #198
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:29] #198 closed

[2021-07-23 11:29] donnyyung commented on #241
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:29] #241 closed

[2021-07-23 11:32] donnyyung commented on #245
I've only seen these leaks on interrupted test runs in v2.  Probably still worth ensuring there's some automatic cleanup of _all_ test objects created in the cluster.

[2021-07-23 11:35] donnyyung commented on #247
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:35] #247 closed

[2021-07-23 11:35] donnyyung commented on #248
While this test no longer exists for Telepresence 2, we should probably ensure our current tests do work on an open shift cluster.

[2021-07-23 11:45] donnyyung commented on #249
I believe this is no longer an issue in Telepresence 2 since our CI runs on vm-linux, ubuntu-2004 in circle. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:45] #249 closed

[2021-07-23 11:45] donnyyung commented on #251
We have since released Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/).

[2021-07-23 11:45] #251 closed

[2021-07-23 11:51] donnyyung commented on #255
We currently support routing outbound of UDP, but don't yet support inbound (https://www.getambassador.io/docs/telepresence/latest/reference/tun-device/#both-tcp-and-udp).

[2021-07-23 11:54] donnyyung commented on #256
I don't see why this wouldn't work in v2 since it seems like there was a manual version running in tp1, but would require some validation to be sure.

[2021-07-23 11:56] donnyyung commented on #257
I believe this is no longer an issue in Telepresence 2, since `telepresence connect` and `telepresence intercept` are separate commands. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 11:56] #257 closed

[2021-07-23 11:57] donnyyung commented on #259
We almost have this with the smoke tests w/ the main exception that we don't check the preview-url since we had no way to authenticate at the time.  We should fix that in our tests.

[2021-07-23 12:13] donnyyung commented on #260
I believe this is no longer an issue in Telepresence 2, since you can use the `uninstall` command to remove agents and if telepresence quits while an intercept is in-place, then the intercept will be removed. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:13] #260 closed

[2021-07-23 12:21] donnyyung commented on #264
It seems there are a few issues here but the main issue of Telepresence not tunneling IPs in the pod range should no longer be an issue in Telepresence 2 (we also have the also-proxy feature https://www.getambassador.io/docs/telepresence/latest/reference/config/#alsoproxy).  If the root issue is still occurring in telepresence 2, please re-open.

Additionally, if you raised a sub-issue here that s

[2021-07-23 12:21] donnyyung commented on #264
It seems there are a few issues here but the main issue of Telepresence not tunneling IPs in the pod range should no longer be an issue in Telepresence 2 (we also have the also-proxy feature https://www.getambassador.io/docs/telepresence/latest/reference/config/#alsoproxy).  If the root issue is still occurring in telepresence 2, please re-open.

Additionally, if you raised a sub-issue here that s

[2021-07-23 12:21] #264 closed

[2021-07-23 12:21] donnyyung commented on #265
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:22] donnyyung commented on #267
I believe this is no longer an issue in Telepresence 2 since we don't use ssh. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:22] #267 closed

[2021-07-23 12:23] donnyyung commented on #272
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:23] #272 closed

[2021-07-23 12:23] donnyyung commented on #288
We should still do this for Telepresence 2.

[2021-07-23 12:24] donnyyung commented on #289
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:24] #289 closed

[2021-07-23 12:25] donnyyung commented on #294
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:25] #294 closed

[2021-07-23 12:25] donnyyung commented on #298
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:25] #298 closed

[2021-07-23 12:26] donnyyung commented on #309
I believe this is no longer an issue in Telepresence 2 since our docs should be up-to-date.

[2021-07-23 12:26] #309 closed

[2021-07-23 12:27] donnyyung commented on #315
As far as I can tell, anybody who opens a PR will have tests ran for Telepresence 2, so I don't think this is an issue that applies. Feel free to re-open if that's not the case!

[2021-07-23 12:27] #315 closed

[2021-07-23 12:28] donnyyung commented on #320
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:28] #320 closed

[2021-07-23 12:29] donnyyung commented on #321
I'm not sure if this still applies to Telepresence 2, so going to label this as a Telepresence 2 issue until we confirm that it's not an issue.

[2021-07-23 12:30] donnyyung commented on #322
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:30] #322 closed

[2021-07-23 12:31] donnyyung commented on #326
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:31] #326 closed

[2021-07-23 12:32] donnyyung commented on #331
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:32] #331 closed

[2021-07-23 12:32] donnyyung commented on #332
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:32] #332 closed

[2021-07-23 12:33] donnyyung commented on #337
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:33] #337 closed

[2021-07-23 12:38] donnyyung commented on #349
I don't think anybody has reported issues install Telepresence 2 on Jessie, here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/).

I'm going to close for now but please re-open if it is an issue!

[2021-07-23 12:38] #349 closed

[2021-07-23 12:39] donnyyung commented on #350
We have a https://www.telepresence.io/docs/latest/faqs/ :D

[2021-07-23 12:39] #350 closed

[2021-07-23 12:39] donnyyung commented on #352
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:39] #352 closed

[2021-07-23 12:40] donnyyung commented on #353
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:40] #353 closed

[2021-07-23 12:41] donnyyung commented on #355
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:41] #355 closed

[2021-07-23 12:42] donnyyung commented on #358
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:42] #358 closed

[2021-07-23 12:50] donnyyung commented on #360
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:50] #360 closed

[2021-07-23 12:50] donnyyung commented on #362
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:50] #362 closed

[2021-07-23 12:51] donnyyung commented on #363
This seems to be pretty much how Telepresence 2 works. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:51] #363 closed

[2021-07-23 12:52] donnyyung commented on #366
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:52] #366 closed

[2021-07-23 12:52] donnyyung commented on #371
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 12:52] #371 closed

[2021-07-23 13:02] donnyyung commented on #376
This is no longer a problem in Telepresence 2 since you can pass in docker args directly to `--docker-run`: https://www.telepresence.io/docs/latest/reference/docker-run/

[2021-07-23 13:02] #376 closed

[2021-07-23 13:04] donnyyung commented on #380
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:04] #380 closed

[2021-07-23 13:04] donnyyung commented on #380
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:05] donnyyung commented on #388
I'm not sure if this is still an issue on Telepresence 2 so adding a v2 label to this until we confirm it is or is not an issue.

[2021-07-23 13:07] donnyyung commented on #389
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:07] #389 closed

[2021-07-23 13:08] donnyyung commented on #386
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:08] #386 closed

[2021-07-23 13:08] donnyyung commented on #389
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:11] donnyyung commented on #394
We should try using telepresence on a docker-for-mac cluster, tagging this as a v2 issue until we verify it does / does not work.

[2021-07-23 13:14] donnyyung commented on #396
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:14] #396 closed

[2021-07-23 13:15] donnyyung commented on #403
We should still do this in Telepresence 2, sometimes telepresence fails to pull an image for the agent or manager and we should make that information more apparent to the user.

[2021-07-23 13:15] donnyyung commented on #406
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:15] #406 closed

[2021-07-23 13:18] iNoahNothing opened #1912 "SegFault when running telepresence current-cluster-id"
Telepresence will segfault hen running `telepresence current-cluster-id` with telepresence 2.3.6 on MacOS

[code]

[2021-07-23 13:19] donnyyung commented on #408
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:19] #408 closed

[2021-07-23 13:22] donnyyung commented on #411
I think forge has been mostly discontinued? But otherwise, Telepresence 2 does have a notion of a config file: https://www.getambassador.io/docs/telepresence/latest/reference/config . Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:22] #411 closed

[2021-07-23 13:24] donnyyung commented on #423
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:24] #423 closed

[2021-07-23 13:25] donnyyung commented on #424
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:25] #424 closed

[2021-07-23 13:25] donnyyung commented on #430
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:25] #430 closed

[2021-07-23 13:32] donnyyung commented on #433
We should still do this + I think we'll have a way to do this once we support Windows in CI since it'll use a similar mechanism for macOS.

[2021-07-23 13:34] donnyyung commented on #435
Not sure if this is still a TP2 issue, so marking as tp2 for now until we confirm  it is/ is not an issue.

[2021-07-23 13:35] donnyyung commented on #444
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:35] #444 closed

[2021-07-23 13:36] donnyyung commented on #445
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:36] #445 closed

[2021-07-23 13:38] donnyyung commented on #447
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:38] #447 closed

[2021-07-23 13:40] donnyyung commented on #394
Closing in favor of #449

[2021-07-23 13:40] #394 closed

[2021-07-23 13:40] donnyyung commented on #449
We should try using telepresence on a docker-for-mac cluster, tagging this as a v2 issue until we verify it does / does not work.

[2021-07-23 13:44] donnyyung commented on #455
A lot of these suggestions have been integrated into Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please open issues if you can think of future features or improvements that would make the UX better.

[2021-07-23 13:44] #455 closed

[2021-07-23 13:45] donnyyung commented on #456
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:45] #456 closed

[2021-07-23 13:46] donnyyung commented on #457
I don't think Telepresence 2 supports CentOS, so marking as v2 until we can confirm if it does/ does not.

[2021-07-23 13:48] donnyyung commented on #461
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:48] #461 closed

[2021-07-23 13:50] donnyyung commented on #458
We've gotten rid of a lot of these dependencies in Telepresence 2, the only dependency I can think of that isn't noted is macfuse / sshfs, but the binary informs you that it's missing and turns off mounts when it isn't present, so I believe we can close this as it doesn't appear to be an issue with Telepresence 2.

Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/

[2021-07-23 13:50] #458 closed

[2021-07-23 13:51] donnyyung commented on #464
Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:51] #464 closed

[2021-07-23 13:53] donnyyung commented on #470
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 13:53] #470 closed

[2021-07-23 13:55] donnyyung commented on #486
I think this might still be an issue on Telepresence 2. Attaching the `v2` label until we confirm it is / is not an issue.

[2021-07-23 14:02] donnyyung commented on #488
We should make this more apparent to the user in Telepresence 2, also noted on #288, since right now you can only tell you have insufficient permissions by telepresence failing and looking in the logs.

[2021-07-23 14:05] donnyyung commented on #489
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:05] #489 closed

[2021-07-23 14:05] donnyyung commented on #496
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:05] #496 closed

[2021-07-23 14:13] donnyyung commented on #503
I believe this is no longer an issue in Telepresence 2 since we do install telepresence in the end-to-end tests. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:13] #503 closed

[2021-07-23 14:14] donnyyung commented on #505
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:14] #505 closed

[2021-07-23 14:14] donnyyung commented on #522
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:14] #522 closed

[2021-07-23 14:14] donnyyung commented on #522
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:16] donnyyung commented on #523
When users report logs with Telepresence 2, they still obscure some information, so this still seems to be an issue.

[2021-07-23 14:17] donnyyung commented on #538
This is still a feature we should add to Telepresence 2.

[2021-07-23 14:18] donnyyung commented on #546
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:18] #546 closed

[2021-07-23 14:19] donnyyung commented on #547
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:19] #547 closed

[2021-07-23 14:22] donnyyung commented on #557
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:22] #557 closed

[2021-07-23 14:29] donnyyung commented on #109
We should still do this for Telepresence 2.

[2021-07-23 14:32] donnyyung commented on #571
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:32] #571 closed

[2021-07-23 14:32] donnyyung commented on #576
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:32] #576 closed

[2021-07-23 14:33] donnyyung commented on #584
We should still do this for Telepresence 2.

[2021-07-23 14:33] donnyyung commented on #602
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:33] #602 closed

[2021-07-23 14:35] donnyyung commented on #620
I believe this is no longer an issue in Telepresence 2, see https://www.telepresence.io/docs/latest/reference/intercepts/ for information about selective intercepts.

Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:35] #620 closed

[2021-07-23 14:37] donnyyung commented on #624
I believe this is no longer an issue in Telepresence 2 since we support statefulsets, replicasets, and deployments. Please open an issue if you have a request for a new workload to be supported. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/).

[2021-07-23 14:37] #624 closed

[2021-07-23 14:38] donnyyung commented on #628
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:38] #628 closed

[2021-07-23 14:38] donnyyung commented on #654
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:38] #654 closed

[2021-07-23 14:38] donnyyung commented on #657
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:38] #657 closed

[2021-07-23 14:39] donnyyung commented on #663
We should validate that our quickstart for Telepresence works on OpenShift clusters

[2021-07-23 14:40] donnyyung commented on #664
Closing since the work here is pretty much a duplicate of: https://github.com/telepresenceio/telepresence/issues/663

[2021-07-23 14:40] #664 closed

[2021-07-23 14:44] donnyyung commented on #673
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:44] #673 closed

[2021-07-23 14:44] donnyyung commented on #675
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:44] #675 closed

[2021-07-23 14:44] donnyyung commented on #679
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:44] #679 closed

[2021-07-23 14:45] donnyyung commented on #687
the Homebrew release should fail the circle job if errors are encountered so I believe we can close this issue.

[2021-07-23 14:45] #687 closed

[2021-07-23 14:45] donnyyung commented on #692
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:45] #692 closed

[2021-07-23 14:46] donnyyung commented on #737
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:46] #737 closed

[2021-07-23 14:47] donnyyung commented on #753
I'm not sure if this is still an issue with Telepresence 2, so we should test this and find out. Until then leaving this issue open.

[2021-07-23 14:48] donnyyung commented on #757
I think the logging format is better in Telepresence 2, so closing this ticket, but if you have ideas of ways we can improve the logs or further asks, please open a new issue!

[2021-07-23 14:48] #757 closed

[2021-07-23 14:49] donnyyung commented on #774
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:49] #774 closed

[2021-07-23 14:49] donnyyung commented on #785
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:49] #785 closed

[2021-07-23 14:51] donnyyung commented on #800
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:51] #800 closed

[2021-07-23 14:52] donnyyung commented on #816
We should probably still do this in Telepresence 2.

[2021-07-23 14:55] donnyyung commented on #818
I don't quite understand the use-case here. If you are using telepresence for a remote cluster than an internet connection is a must. I'm going to close for now, but here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), so if you still encounter this issue / have more details about how you'd expect it to work, please re-open!

[2021-07-23 14:55] #818 closed

[2021-07-23 14:56] donnyyung commented on #824
I believe this is no longer an issue in Telepresence 2, since you can use the `telepresence uninstall` command to clean up agents that have been applied to workloads, as well as the traffic-manager itself. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:56] #824 closed

[2021-07-23 14:57] donnyyung commented on #836
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 14:57] #836 closed

[2021-07-23 14:58] donnyyung commented on #875
I think this still may be an issue in Telepresence 2, so we should do some investigation before we close this ticket.

[2021-07-23 15:00] donnyyung commented on #884
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:01] donnyyung commented on #888
I believe this is no longer an issue in Telepresence 2, since you can intercept multiple services at once on one workstation. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:01] #888 closed

[2021-07-23 15:03] donnyyung commented on #893
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:03] #893 closed

[2021-07-23 15:03] donnyyung commented on #896
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:03] #896 closed

[2021-07-23 15:03] donnyyung commented on #900
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:03] #900 closed

[2021-07-23 15:06] donnyyung commented on #920
I believe this is no longer an issue in Telepresence 2 since you can use the `telepresence uninstall` command to uninstall agents + the traffic-manager. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:06] #920 closed

[2021-07-23 15:06] donnyyung commented on #924
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:06] #924 closed

[2021-07-23 15:07] donnyyung commented on #935
I believe this is no longer an issue in Telepresence 2. Here are the docs on RBAC with Telepresence: https://www.telepresence.io/docs/latest/reference/rbac/ .Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:07] #935 closed

[2021-07-23 15:09] donnyyung commented on #936
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:09] #936 closed

[2021-07-23 15:10] donnyyung commented on #972
I believe this is no longer an issue in Telepresence 2, we also have docs on how to configure timeouts in Telepresence: https://www.telepresence.io/docs/latest/reference/config/. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:10] #972 closed

[2021-07-23 15:12] donnyyung commented on #973
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:12] #973 closed

[2021-07-23 15:13] donnyyung commented on #985
I believe this is no longer an issue in Telepresence 2. since Telepresence now supports client configuration: https://www.telepresence.io/docs/latest/reference/config/ Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:13] #985 closed

[2021-07-23 15:14] donnyyung commented on #997
I think this is still a feature we could add to Telepresence v2

[2021-07-23 15:15] donnyyung commented on #1006
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:15] #1006 closed

[2021-07-23 15:17] donnyyung commented on #1007
I believe this is no longer an issue in Telepresence 2 since we mount that directory by default when intercepts are performed. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:17] #1007 closed

[2021-07-23 15:18] donnyyung commented on #1012
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:18] #1012 closed

[2021-07-23 15:19] donnyyung commented on #1014
I believe this is no longer an issue in Telepresence 2, since you can pass docker commands to `--docker-run` so adding `--rm` should fix this problem. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:19] #1014 closed

[2021-07-23 15:21] donnyyung commented on #1023
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:21] #1023 closed

[2021-07-23 15:22] donnyyung commented on #1024
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:22] #1024 closed

[2021-07-23 15:22] donnyyung commented on #1025
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:22] #1025 closed

[2021-07-23 15:23] donnyyung commented on #1026
I believe this problem is solved by selective intercepts in Telepresence 2: https://www.telepresence.io/docs/latest/reference/intercepts/

[2021-07-23 15:23] #1026 closed

[2021-07-23 15:24] donnyyung commented on #1028
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:24] #1028 closed

[2021-07-23 15:24] donnyyung commented on #1030
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:24] #1030 closed

[2021-07-23 15:25] donnyyung commented on #1031
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:25] #1031 closed

[2021-07-23 15:26] donnyyung commented on #1033
I believe this is no longer an issue in Telepresence 2 since we don't use iptables any longer. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:26] #1033 closed

[2021-07-23 15:28] donnyyung commented on #1034
I think we don't currently have memory limits for the agent or traffic-manager in Telepresence 2 so we should add this.

[2021-07-23 15:28] donnyyung commented on #1039
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:28] #1039 closed

[2021-07-23 15:28] donnyyung commented on #1041
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:28] #1041 closed

[2021-07-23 15:29] donnyyung commented on #1048
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-23 15:29] #1048 closed

[2021-07-23 18:43] msenmurugan commented on #1816
getting the same error with v2.3.6

`telepresence: error: Intercept "c1aa0b2b-bab3-472b-a5d0-47e0153d37bb:auth-server-default": Failed to establish intercept: intercept in error state NO_AGENT: No agent found for "auth-server"`

2021/07/23 14:40:14 Patching synced Namespace 955c9055-41a0-11e9-9849-4201c0a8ff08
2021/07/23 14:40:17.0337 debug   connector/background-manager/intercept-port-forward : w

[2021-07-23 19:53] kotyara85 opened #1915 "telepresence: error: Intercept: Failed to establish intercept: No supported Object Kind Found"
k8s version: 1.19.3
telepresence version:
[code]

status:
[code]

command I use:
[code]

kubectl get svc
[code]

[2021-07-23 21:33] nomcopter commented on #818
I use telepresence with [minikube](https://minikube.sigs.k8s.io/docs/) - a local cluster. It would be nice to be able to develop entirely locally using telepresence without an external internet connection.

[2021-07-23 21:45] itamarst commented on #109
For what it's worth in a different project (https://pythonspeedcom/fil) I ended up releasing packages that segfaulted even though all end to end tests passed in CI due to problem with packaging-specific build process, so this is worth doing.

[2021-07-23 22:11] thallgren commented on #818
@nomcopter that should be possible. Do you have problems doing that using v2?

[2021-07-23 23:08] seansabour opened #1916 "Telepresence fails to connect with no error in logs"
Hi i'm trying to get telepresence to connect to my EKS cluster and i have not had any luck getting this to work. I've tried reinstalling, clearing caches/logs, running as sudo, etc. I'm running on MacOS BigSur 11.3.1

[code]

[2021-07-23 23:09] nomcopter commented on #818
Oh that's exciting - haven't tried it yet. Right now v2 has some issues with our stack, so I won't be able to test that, but will add that to the list of reasons to upgrade.

[2021-07-24 07:52] LukeShu opened #1917 "If the config file doesn't exist, there's noise in the terminal"
[code]

[2021-07-24 07:54] LukeShu opened #1918 "cannot-launch-webbrowser error message should mention apikeys"
This case probably indicates that launching a local web browser won't work, we should point users at apikeys instead.
[code]

[2021-07-24 08:38] thallgren commented on #1916
@seansabour, please provide the answer to these questions:
1. Do you have permission to read the `/var/run` directory? (the first thing the daemon tries to do is to create a socket in that directory. The message is reported when that socket doesn't show up).
2. Before and after the this happens, if you do `ls -l /var/run`, do you see a `telepresence-daemon.socket` there?
3. Before and after the th

[2021-07-24 10:00] thallgren commented on #1915
What's the output from `telepresence list`?

[2021-07-24 10:01] thallgren commented on #1912
Resolved in 2.3.7

[2021-07-24 10:01] #1912 closed, assigned to thallgren

[2021-07-24 10:02] thallgren commented on #1907
Resolved in 2.3.7. Thanks @frankgu968 for the fix!

[2021-07-24 10:02] #1907 closed, assigned to nobody

[2021-07-24 10:06] thallgren commented on #1906
Closing this. Feel free to reopen if you think more is functionality is needed.  Documentation issues can be filed [here](https://github.com/telepresenceio/telepresence.io/issues)

[2021-07-24 10:06] #1906 closed, assigned to nobody

[2021-07-24 10:10] thallgren commented on #1890
Fixed in 2.3.6

[2021-07-24 10:10] #1890 closed, assigned to nobody

[2021-07-24 10:29] thallgren commented on #1739
Fixed in 2.3.7

[2021-07-24 10:29] #1739 closed, assigned to nobody

[2021-07-24 10:37] thallgren commented on #1754
Please try the new 2.3.7 release. It contains some improvements for the `systemd-resolved` based DNS resolver that I think might fix the problem reported here. It would be great to get that verified.

[2021-07-24 15:39] daviddawson commented on #1754
Hello, I have been tracking this problem for while. I can confirm that Telepresence version 2.3.7 resolves the names given out by the Strimzi managed bootstrap server, and the IP is correct.  The IP it is resolving though is not routeable from outside the cluster for me.

OS: Ubuntu 20.10
Systemd: 246
Kubernetes: Kind[v0.11.1], Cluster: v1.21.1
Docker: 20.10.7, build f0df350

[code]

The IP above

[2021-07-24 17:12] daviddawson commented on #1722
Hello, I have been tracking this problem for while. I can confirm that Telepresence version 2.3.7 resolves the names given out by the Strimzi managed bootstrap server, and the IP is correct. The IP it is resolving though is not routeable from outside the cluster for me.

OS: Ubuntu 20.10
Systemd: 246
Kubernetes: Kind[v0.11.1], Cluster: v1.21.1
Docker: 20.10.7, build f0df350

ping kafka-kafka-0.kaf

[2021-07-25 06:25] thallgren commented on #1722
Not sure what you mean with "not routable" in this case.  While you can use `ping` to test the DNS resolution, you shouldn't expect it to return any data because it uses ICMP. Telepresence will only support `TCP` and `UDP`.

[2021-07-25 07:07] thallgren commented on #2
Closing this ticket. Telepresence no longer require `kubectl`. Access to the cluster is required in order to establish an intercept. There's no way around that, but we do provide a helm-chart so that an admin can pre-install the traffic-manager and thereby limit the type of access that is required.

[2021-07-25 07:07] #2 closed

[2021-07-25 07:08] thallgren commented on #1874
Can you replicate this with the latest (2.3.7) version?

[2021-07-25 07:21] thallgren commented on #1828
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-25 07:21] #1828 closed, assigned to nobody

[2021-07-25 07:21] vsimon opened #1919 "Crash occurred in v2.3.7 telepresence"
on Big Sur. Noticing I’m no longer able to quit with v2.3.7. It was succeeding on v2.3.4. No sudo.

[code]

Not being able to quit, feels like a regression. In v2.3.4 it seemed quit worked more reliably.

The last interesting thing in connector.log is

[code]

*WORKAROUND*:

`rm /tmp/telepresence-connector.socket`

[2021-07-25 21:28] akharlamov commented on #1754
2.3.7 does not work for me still. However, I have pinpointed the root issue. On my machine, the defaultroute interface is configure with `~.` domain. Hence, when tel2 runs sanity check, the DNS request is still routed to the old DNS server.

Please, see PR  #1920 for the fix.

[2021-07-26 06:50] svedatbegar commented on #1878
I'm making the request to the external service, not to my local.

Gladly. Here's the `kubectl get` outputs of the resources:
[code]

Of course. Here are the logs for connector and daemon:
[code]

[code]

I can but this is a very long log. I'm posting a section of it while I'm experiencing the issue:
[code]

I also wanted to add my uWSGI Python logs for flavor:
[code]
You can see that I'm receiving

[2021-07-26 07:08] thallgren commented on #1919
The crash seems to indicate some kind of permission problem when reading from the cluster. There is indeed a resource type "svc", but you're not allowed to read it. Perhaps this [StackOverflow issue](https://stackoverflow.com/questions/51308341/error-the-server-doesnt-have-a-resource-type-svc) can be helpful to find the root problem.

That said, `telepresence` should not crash with a panic when th

[2021-07-26 07:25] thallgren commented on #1919
I created https://github.com/emissary-ingress/emissary/issues/3634 for the panic.

[2021-07-26 07:56] vsimon commented on #1919
I don't think this was/is a very deterministic error from my perspective. The user in kubecontext had the 'cluster-admin' role so it should have been permissive. TP was connected for an extended period of time over 8+ hours, when I returned, this error was in the connector logs and could not quit/connect anymore.

After deleting the socket file, I resumed being connected and it's working fine for

[2021-07-26 09:52] #1754 closed, assigned to nobody

[2021-07-26 10:00] thallgren commented on #1851
The #1921 PR will lessen the amount of data that the `traffic-manager` sends to the client as the result of watching the `Node` subnets. It will also lessen the amount of log output that the `traffic-manager` emits.

[2021-07-26 13:01] thallgren commented on #1900
@vvazharksi thanks for reporting this, and yep, I have a pretty good idea. See linked PR.

[2021-07-26 13:30] thallgren commented on #1834
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-26 13:30] #1834 closed, assigned to nobody

[2021-07-26 13:31] thallgren commented on #1847
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-26 13:31] #1847 closed, assigned to nobody

[2021-07-26 13:31] thallgren commented on #1830
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-26 13:31] #1830 closed, assigned to nobody

[2021-07-26 13:34] thallgren commented on #1760
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-26 13:34] #1760 closed, assigned to nobody

[2021-07-26 13:35] thallgren commented on #1733
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!