[2021-07-26 13:35] #1733 closed, assigned to nobody

[2021-07-26 13:37] thallgren commented on #1726
Closing this in favor of v2.

[2021-07-26 13:37] #1726 closed, assigned to nobody

[2021-07-26 13:37] thallgren commented on #1648
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-26 13:37] #1648 closed

[2021-07-26 13:37] thallgren commented on #1724
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-26 13:37] #1724 closed, assigned to nobody

[2021-07-26 13:38] thallgren commented on #1770
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-26 13:38] #1770 closed, assigned to nobody

[2021-07-26 13:45] daviddawson commented on #1722
Sorry, yes, I mean that the name->IP can resolve properly via DNS (I was using ping above just for a shorthand, dig gives the same IP results), but no traffic can route to the IP given out.  ping isn't relevant.

TCP traffic doesn't route though to 172.17.0.16, so curl blocks waiting for the socket

[2021-07-26 14:23] petermant commented on #1916
I have this issue as well, i.e. daemon fails to start and the daemon log is created but remains at 0 bytes. I have read perms for /var/run.  When it fails to start, there is no daemon.socket file.

My workaround was to run the daemon by hand, i.e. extract the command from the output above where it says "Need root privileges to run: ..." and run that with sudo, i.e. for me it is:

`% sudo /usr/loca

[2021-07-26 14:46] petermant opened #1923 "Telepresence connect command fails due to internet proxy issues"
My work computer runs MacOS BigSur and connects via a VPN and an internet proxy.

When running `telepresence connect`, the command fails due to an error - which appears to involve some automatic reporting which fails. The reporting failure causes / appears to cause the connect command to fail.

Terminal output appears as follows:

[code]
(The above is the entire content - i.e. there is no debug da

[2021-07-26 15:11] petermant opened #1924 "telepresence leave / telepresence status does not show shutdown status"
If you have a service running, and call telepresence leave, there is no feedback to show the 'leave' request was submitted, or that it is in progress, it simply returns you to the terminal as follows:

[code]

Attempting to setup the intercept again (immediately) shows that there is an issue because it conflicts with the intercept which was just left:

[code]

Calling status shows that the interce

[2021-07-26 19:28] andreykrupskii commented on #1607
Just a kind reminder, are there any updates on this issue? =)

[2021-07-26 20:05] seansabour commented on #1916
Hi @thallgren -

I finally got some more time to test this:
1) Yes i do have read permissions on /var/run directory.

2)
[code]

3)
[code]

[2021-07-26 20:08] seansabour commented on #1916
Another thing to note is that when run with sudo i see all the sockets get created with no errors, but I still cannot connect to my k8s cluster..

[code]

[2021-07-26 20:23] sbrunk opened #1925 "DNS issues with telepresence and microk8s"
I'm trying to use telepresence `v2.3.7` with [microk8s](https://microk8s.io/) running locally on ubuntu `21.04`, but I'm running into DNS issues.

Shortly after running `telepresence connect` DNS resolution doesn't work anymore as described in https://github.com/telepresenceio/telepresence/issues/1754. Sometimes it's also just very slow. After `telepresence quit` things quickly go back to normal.

[2021-07-26 21:13] thallgren commented on #1925
@sbrunk, please try our [nightly build](https://www.telepresence.io/docs/latest/install/#installing-nightly-versions-of-telepresence) tomorrow, Tuesday. It will contain a fix for #1754 which might make a difference.

[2021-07-26 21:29] LukeShu commented on #1916
@petermant wrote

So before launching the daemon, the CLI process creates the `daemon.log` file ahead of time to make sure the permissions are correct (now, looking at `rotatingfile.go` I'm not sure that's actually the correct thing for it to do, but that's what it does). So what I'm thinking is that `telepresence connect` is creating the file, but then the daemon can't open it.

Does it work when

[2021-07-27 02:58] 0x6a77 opened #1926 "Edge case error when targeting a container by port number"
if your matching/target container is at containers list index 0, but if there is a container at index 1 with no ports, then the "no ports" container will end up the selected one

[code]

[2021-07-27 07:11] Ennosigaeon commented on #1925
The problem still persists with the latest nightly build. The only difference: the DNS resolution of the host system is now permanently broken while being connected with telepresence. Once `telepresence quit` is executed, DNS resolution is working again.

[2021-07-27 08:00] vsimon commented on #1919
Second occurrence. Note there is also an error `AssumeRole operation: Signature expired`. I am assuming a role to access the cluster, the session I believe expires every 12 hours.

[code]

[2021-07-27 08:29] petermant commented on #1916
@LukeShu wrote

Yes, it seems to. When I do that, I get nothing in the terminal after the sudo pwd prompt, but in the daemon.log I get this:

[code]

...which looks OK, and the root daemon shows as running in telepresence status.

I then have this:

[code]

[2021-07-27 08:56] petermant opened #1928 "Telepresence list does not pick up kubens namespace"
When running `telepresence list`, I would expect the namespace set by kubens to be picked up by telepresence. The series of commands below shows the impact of adding the -n namespace option, which shouldn't be necessary if the selected one was picked up.

I've just started a new root daemon, so run connect to launch the user daemon:
[code]

Check that default is currently showing, before I do anyt

[2021-07-27 09:46] zoechou commented on #1800
hi,
after checking ip address

`
kubectl get services kubernetes -n default
`
|  NAME |   TYPE|  CLUSTER-IP |   EXTERNAL-IP|   PORT(S)|
|---|---|---|---|---|
|  kubernetes | ClusterIP  |   172.20.0.1 |  <none>  |  443/TCP |

`dscacheutil -q host -a name kubernetes.default`

|  NAME |   ip_address|
|---|---|
|  kubernetes.default | 172.20.0.1  |

and after connecting, i found my `ifconfig` had atta

[2021-07-27 10:24] zoechou opened #1929 "[v2] command --new-deployment from telepresence v1 is missing in v2"
according to [migrate-from-legacy](https://www.telepresence.io/docs/latest/install/migrate-from-legacy/)
there're only intercept commands migrated to v2,
is there any command related to --new-deployment ?

[2021-07-27 14:27] josecv commented on #433
Yep, we are planning on delivering #92 , which will include support for running Windows in CI -- at that point it should be easy to add tests for MacOS

[2021-07-27 14:29] zoechou commented on #1800
is it possible to use telepresence when needs to access kubernetes under VPN connection?

I've try to connect to local kubernetes with docker-desktop and perform intercepting without VPN connection, it works fine.
However, if i want to connect to remote kubernetes server on AWS EKS, which needs to access over `anyconnect VPN`,
i can perform `telepresence connect`, but none of the dns records are w

[2021-07-27 15:34] efunk commented on #1816
We resolved this with Telepresence 2.3.7 GA and Smart Agent 1.9.1.

[2021-07-27 15:34] #1816 closed, assigned to donnyyung

[2021-07-27 19:19] ipleten opened #1930 "[v2] MacOs mount doesn't work due to nodes PodCIDR differs form CIDR set by weave-net"
I have installed MacFUse 4.1.2 with sshfs 2.10
TP intercept says mount is created by it's empty.

mount shows nothing related to sshfs.
But I'm able to sshfs to my test linux box.

Connector.log has a bunch of:

'ip route get' route shows it should  be available via my default gateway and not any tunnel.

Cluster CIDR  is '100.96.0.0/11'  I see daemon was trying to add  some subntes but 100.123.x.

[2021-07-27 21:39] seansabour commented on #1916
I ended up figuring out what was causing all my connections to time out. Digging deeper into the route table on my mac i noticed i had an overlapping route setup by the VPN i was using that was causing issues. When i disabled the VPN and deleted the route i was able to successfully connect to the cluster. However, I still cannot run telepresence connect without sudo, unless i open a separate termi

[2021-07-27 22:05] ipleten commented on #1930
I believe bad routing happens due to we use weave-net  and I noticed that CIDR reported by nodes via k8s api is from different  range than pod gets.

[2021-07-28 00:26] tinder-robertcheng opened #1932 "Ignis startup error"

[2021-07-28 01:13] frankgu968 opened #1933 "[v2] Connection failure after 60s since first traffic sent to intercepted pod"
To reproduce the error, we have to trigger an initial proxied connection (ie. by hitting the service or by hitting any other cloud services in a connected shell). After the initial connection, if we continue to send proxied traffic within 60s between each request, then the connection is stable and continues to work. However, if we wait for more than precisely 60s between proxied requests, then we

[2021-07-28 01:53] vsimon commented on #1919
Another occurrence, this looks related to MFA expiring? `aws-vault: error: exec: Failed to get credentials for XXXXXXXX: AccessDenied: MultiFactorAuthentication failed with invalid MFA one time pass code.`

[code]

[2021-07-28 06:52] #1926 closed, assigned to nobody

[2021-07-28 12:01] amora-ut commented on #1901
Hi, same issue here!

[2021-07-28 12:32] thallgren commented on #1901
I don't understand why the `MANAGER_PORT` would be set to `"tcp://10.6.228.134:8080"` in the `traffic-agent` container. That seems like some kind of misconfiguration. Any idea where that value comes from? `telepresence` will not set that environment variable in the agent.

Telepresence will not perform an uninstall if a manifest that has been edited manually in a way that creates mismatches betwee

[2021-07-28 13:42] sarumont commented on #1814
Hrm, I'm still not getting any luck using the version @Khaaz posted, either, though with a different error:

[code]

[2021-07-28 13:49] thallgren commented on #1930
@ipleten I have no experience with weave-net. Do you have any idea how to find the correct pod CIDRs?

[2021-07-28 14:37] thallgren commented on #987
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-28 14:37] #987 closed

[2021-07-28 14:38] thallgren commented on #1086
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-28 14:38] #1086 closed

[2021-07-28 14:39] thallgren commented on #1090
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-28 14:39] #1090 closed

[2021-07-28 14:41] thallgren commented on #1095
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-28 14:41] #1095 closed

[2021-07-28 14:43] thallgren commented on #1103
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-28 14:43] #1103 closed

[2021-07-28 14:44] thallgren commented on #1106
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-28 14:44] #1106 closed

[2021-07-28 14:46] thallgren commented on #1135
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-07-28 14:46] #1135 closed

[2021-07-28 15:04] ipleten commented on #1930
It can be read from weave output but it's really wonky and would require access to kube-system NS. I wonder if it's possible to set whole `cluster-cidr` to be routed via tunnel instead of each subnet (like service-cidr)? Is there any limitations?  `--also-proxy cidr` would help but it was removed in tp2.

[2021-07-28 15:38] ipleten commented on #1930
Ok also-proxy available (RTFM https://www.getambassador.io/docs/telepresence/latest/reference/config/#alsoproxy).
I see it in status output as:

    - 100.96.0.0/11

And mount works now. But it's not very stable and often hangs up.

[2021-07-28 15:58] thallgren commented on #1930
@ipleten , I guess it would be enough to give the traffic-manager access to the kube-system NS, since that's the service responsible for finding the CIDRs, so I don't think that would be a blocker. What "weave-output" are you referring to?

[2021-07-28 16:01] thallgren opened #1934 "Ensure that CI-tests use a non-root user when running telepresence commands."
We've had regressions that went undetected because both the user and root daemons were started with root privileges.

[2021-07-28 16:13] ipleten commented on #1930
Weave creates daemonset and there is an `weave --local report` CLI command. I'm not sure if there is an endpoint which might be queries directly.
UPDATE:
`curl 127.0.0.1:6784/report  -H 'Accept: application/json`
https://github.com/weaveworks/weave/blob/master/weave#L1352

It returns a lot of things and one of them is a:

And `token` here is a subnet. Unfortunately weave docs are not fully at all.

[2021-07-28 17:56] ipleten opened #1935 "[v2] Not all env variables are set with intercept"
I'm running tp intercept on deployment with multiple containers and seems not all environment variables are set.
I definitely see some missing variable set to one of containers.

I think TP picks first container and copies env vars from it.
While it's possible to set annotation to [specify](https://kubernetes.io/docs/reference/labels-annotations-taints/#kubectl-kubernetes-io-default-container) def

[2021-07-28 18:06] tinder-nishantmehta opened #1936 "nnn"

[2021-07-28 18:21] vsimon commented on #1617
@LukeShu  Could we please highlight this issue because I think coordinating the exact version among teammates is easier said than done.

Depending on when someone runs `brew install ...` they will receive the latest version (there's currently no versioning with brew), so even if today the CI pipelines and teammates are all on the same version, when a new teammate joins the team on a later date and

[2021-07-28 18:34] ipleten opened #1937 "[v2] Provide a way to ensure mount is available already."
I believe mount is async operation and quite often I'm able to get shell before (and run scripts to obtain secrets before actual service start) mount is available leading to "file not found" error.

How about to check if serviceaccount mount is available via TELEPRESENCE_ROOT/var/run/secret/

[2021-07-29 04:29] vsimon commented on #1919
[code]

[2021-07-29 10:21] KenxinKun opened #1938 "Can't resolve DNS when running telepresence connect in Gitlab CI"
We're in the process of upgrading to Telepresence v2 and have encountered some inconsistent behaviour.

**Context:**
- Telepresence v2 installed via Terraform/Helm into kubernetes cluster
- managerRbac and clientRbac set to namespaced with appropriate namespaces and subjects
- httpbin deployments in the namespaces of interest for curl testing via telepresence connect
- our cluster uses Istio and a

[2021-07-29 12:20] petermant opened #1939 "Telepresence leave and re-add intercept fails"
I would expect to be able to add an intercept, leave the intercept, and then re-add the intercept - without having to force restart the entirety of telepresence.

If I add an intercept:

[code]

...do some stuff...then want to put it back so the pod in the container is used instead. So I call telepresence leave:

[code]

Note there is no feedback in the above to say whether it has worked or not. H

[2021-07-29 16:12] KenxinKun commented on #1938
Here's some hopefully useful logs:
[code]

[2021-07-29 17:13] matt-dw commented on #1939
Experiencing issue on MacOS Big Sur 11.4

[2021-07-29 19:11] KenxinKun commented on #1938
We also just tried this in the CI
[code]

[2021-07-29 19:28] maelvls commented on #1785
-> moved my question to its own issue: https://github.com/telepresenceio/telepresence/issues/1943

[2021-07-29 19:31] maelvls opened #1943 "How can I reproduce the --also-proxy feature that was in Telepresence 1?"
I can't seem to be able to use `include-suffixes`. I want to replicate the behavior of `--also-proxy` that is available in Telepresence 1. The flag `--also-proxy` allows me to give a hostname e.g.

[code]

I have a single cluster, `kind-kind`, and I added the following to my ~/.kube/config:

[code]

`telepresence status` still shows an empty `include suffixes:

[code]

Is that how I am supposed to

[2021-07-29 21:32] vicnoah opened #1944 "[v2] telepresence volume mount is empty"
Local:
![image](https://user-images.githubusercontent.com/20820831/127568855-399ff163-2c3b-4e05-a0f2-74741bbe4ebb.png)
![image](https://user-images.githubusercontent.com/20820831/127568824-6023e79a-d39d-4813-ba21-3474c274d8d1.png)

Pod:
![image](https://user-images.githubusercontent.com/20820831/127568520-5697165d-f0e3-4283-8c75-55a22c1c4506.png)

You can see that there is a file in the pod for th

[2021-07-29 23:12] YamenSarah opened #1945 "DNS lookup fails after intercept"
## Description:
On connect, the telepresence proxy works as expected. Once I intercept a service, DNS resolution from my local machine and the running container fails to work. Once I leave the intercept, DNS resolution starts to work again.

## Environment Information:
**Kubernetes Version**: 1.18 on AWS EKS
**Telepresence version**: 2.3.7, 2.3.6, 2.3.0 (I tried multiple versions)
**OS**: Mac OS B

[2021-07-30 16:40] scottslowe opened #1947 "Feature: ARM64 builds of the Telepresence client"
As the use of ARM64-based platforms increases (in particular, Apple's M-based Macs), it would be great to be able to offer native ARM64 binaries for those platforms.

[2021-07-30 18:37] #1889 closed, assigned to thallgren

[2021-07-30 19:10] scottslowe commented on #1947
As a data point: I was just able to compile a Darwin ARM64 build from the master branch with no apparent issues. I'll spend some time testing the build to make sure it works as expected.

[2021-08-01 13:10] shirlyf opened #1948 "Starting telepresence isn't working"
### What were you trying to do?

start telepresence

### What did you expect to happen?

I will be able to run my local server.

### What happened instead?

an error appeared.

### Automatically included information

Command line: `['/usr/bin/telepresence', '--swap-deployment', 'ng-server', '--expose', 'exit']`
Version: `0.109`
Python version: `3.8.5 (default, May 27 2021, 13:30:53)
[GCC 9.3.0]`
k

[2021-08-01 13:10] #1948 closed, assigned to nobody

[2021-08-02 07:23] an-tex commented on #1866
ping @thallgren :)

[2021-08-02 19:16] DanyHenriquez commented on #1182
@thallgren If you want i could setup a Google meet session with you to show you how we use it at our company and what we do to make the error occur. It will be with two DevOps engineers, myself and a colleague. I can also write Go so can help out with a PR if needed according to our results.

I am using this with a GKE cluster. The GKE cluster does not have autopilot enabled.

Steps to reproduce.

[2021-08-03 12:50] BjornM111 opened #1953 "[v2] Inconsistent performance for large requests"
# Description
The performance of big GET responses (>300KB) keeps dipping for us, with some services we even get incomplete responses. We've tested this on on two completely different machines (one running Ubuntu through WSL2 and one running Arch natively, in both cases we're connecting to a local kind cluster however) and we're getting similar results on both. Interestingly the problem goes away

[2021-08-03 13:03] cakuros commented on #1872
Hi!

With telepresence 2.3.7, you can now use `telepresence login --apikey <apikey>` to automate logins.  In your cloud account profile, there should be a new field for API keys where you can generate one.

The link is here: https://app.getambassador.io/cloud/settings/api-keys

[2021-08-03 16:09] ipleten commented on #1944
Might be related  to #1930.
Can you check if there is something related to sshfs in connector.log

[2021-08-03 17:57] LukeShu opened #1955 "Child processes only receive the first signal"
https://github.com/telepresenceio/telepresence/pull/1954/files#r681981325

[2021-08-03 20:31] #92 closed

[2021-08-04 09:00] kurimi1 opened #1959 "Local golang program can't connet k8s internal Elasticsearch"
### Description
---
I can connet ES by curl, but the program can't.
### How to reproduce
---
Telepresence version:v2.3.7 (api 3)
Kubernetes Version: 1.21.1
ES Version:7.12.1

golang cliet:
[code]
error:
`es init error: no active connection found: no Elasticsearch node available`

[2021-08-04 11:54] nneram commented on #1832
I had a problem with my WSL2 and I had to reinstall it as well as the ubuntu distribution (Still 20.04.2). It's now working with the last version :
[code]
I can't reproduce the bug

[2021-08-04 13:00] donnyyung opened #1960 "Remove need for ClusterID env variable"
We required ClusterID as an env variable when the traffic-manager couldn't talk to the kube api, it can now so we can have the traffic-manager get the clusterID itself instead of requiring users to input it, which can be awkward.

[2021-08-04 13:14] vicnoah commented on #1944
I don't know how to view the logs of sshfs.

[2021-08-04 14:59] ipleten commented on #1944
This is a telepresence's log. Its location depends on OS you are using.
assuming this is *nix  it might be somewhere it $HOME/telepresence/
you can use

`find /${HOME} -name 'connector.log'`
to find it

[2021-08-04 15:19] LukeShu opened #1961 "`telepresence logout` output is a little too error-y"
If you're not logged in, `telepresence logout` gives you an "error" message saying so.  But mentioning the logs for details is a little excessive in this specific case:
[code]

[2021-08-04 15:31] LukeShu opened #1962 "Misleading telepresence-connector.socket error message"
[code]
This can also mean that the process was in the process of shutting down, that it has already stopped handling gRPC but hasn't yet exited.

I think this convincing me that using existence of a socket to see whether the thing is running is a bad choice.

[2021-08-04 15:37] LukeShu opened #1963 "`telepresence quit` doesn't block right"
I got this error when smoke testing 2.4.0
[code]
That error message is misleading (https://github.com/telepresenceio/telepresence/issues/1962); what seems to be going on is that the daemon telling the connector to shut down, but isn't following that up with a call to `client.WaitForSocketToVanish`.  So then the next command in the tests hits a connector that is in the process of shutting down.

[2021-08-04 15:58] vicnoah commented on #1944
This is the content of the log.
`2021/08/04 23:48:55.7031 info    connector : --- (from pkg/client/connector/command.go:331)
2021/08/04 23:48:55.7033 info    connector : Telepresence Connector v2.3.7 (api v3) starting... (from pkg/client/connector/command.go:332)
2021/08/04 23:48:55.7033 info    connector : PID is 2752 (from pkg/client/connector/command.go:333)
2021/08/04 23:48:55.7033 info    con

[2021-08-04 16:00] vicnoah commented on #1944
This is the content of the log.
[connector.log](https://github.com/telepresenceio/telepresence/files/6932661/connector.log)

[2021-08-04 20:27] teejaded commented on #1814
Yeah it's not working for me either.  There is an assumption that the deployment labels should match the service selector, but I have some software that dynamically adds a label to a leader pod.

It would be nice if it believed me that I know what service to intercept.

[code]

[2021-08-05 03:49] kurimi1 commented on #1959
My fault，reference https://github.com/olivere/elastic/issues/810

[2021-08-05 03:49] #1959 closed, assigned to nobody

[2021-08-05 08:09] rymnc commented on #1878
Having a similar issue by using nginx ingress on gke with cloudflare for dns.

[2021-08-05 08:42] DanyHenriquez commented on #1182
@thallgren I have consulted here in my company. We can provide you with a free, isolated GKE cluster for testing purposes if needed

[2021-08-05 13:37] efunk commented on #1900
This was released in Telepresence 2.4.0. Please see the release notes: https://www.getambassador.io/docs/telepresence/latest/release-notes

[2021-08-05 13:37] #1900 closed, assigned to nobody

[2021-08-05 17:45] donnyyung commented on #786
I believe this is no longer an issue in Telepresence 2, since telepresence 2 doesn't have methods. We do have one other open ticket on Kafka that we believe has been resolved but it may be worth checking out + adding comments if you have problems using Telepresence 2: https://github.com/telepresenceio/telepresence/issues/1722 Here are the docs on how to install Telepresence (https://www.telepresen

[2021-08-05 17:45] #786 closed

[2021-08-05 17:46] donnyyung commented on #914
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-05 17:46] #914 closed

[2021-08-05 17:47] donnyyung commented on #1051
I believe this is no longer an issue in Telepresence 2, since we inject the traffic-agent as a sidecar instead of replacing the deployment. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-05 17:47] #1051 closed

[2021-08-05 17:48] donnyyung commented on #1059
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-05 17:48] #1059 closed

[2021-08-05 17:49] donnyyung commented on #1061
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-05 17:49] #1061 closed

[2021-08-05 17:49] donnyyung commented on #1064
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-05 17:49] #1064 closed

[2021-08-05 18:30] teejaded commented on #1814
It was relatively easy to bypass the labels check if svcName is specified.

https://github.com/teejaded/telepresence/commit/6aef2711a0ac4ac74ccb1bedfa87a8592b0e1a86

[2021-08-06 03:25] levindoneto commented on #873
I'm still having this issue on Ubuntu 18.04 and Telepresence 0.109.
![image](https://user-images.githubusercontent.com/12832687/128451465-80b0df00-7042-49c8-a011-b2ed584c934f.png)

[2021-08-06 06:45] 0x6a77 opened #1966 "how to mount oidc tokens when using irsa in eks"
any pods that do [this](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/) cannot get the aws automatic rotating oidc web identity token mounted to the local machine. this issue serves two purposes:

1. share a workaround (that will show up in the google search index for anyone else up against this)
[code]

(now we know the agent is running)

[code]

now

[2021-08-06 11:23] onmomo commented on #1795
@LukeShu Any chance to include this fix in the pre-release?

[2021-08-06 15:00] donnyyung commented on #1066
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:00] #1066 closed

[2021-08-06 15:00] donnyyung commented on #1068
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:00] #1068 closed

[2021-08-06 15:00] donnyyung commented on #1071
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:00] #1071 closed

[2021-08-06 15:00] donnyyung commented on #1072
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:00] #1072 closed

[2021-08-06 15:00] donnyyung commented on #1076
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:00] #1076 closed

[2021-08-06 15:01] donnyyung commented on #1080
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:01] #1080 closed

[2021-08-06 15:01] donnyyung commented on #1082
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/) which also include instructions for downloading old versions of Telepresence, please re-open if you still see this issue in our latest version!

[2021-08-06 15:07] donnyyung commented on #1088
Telepresence 2 no longer uses sshuttle, so I don't think this issue still applies. Telepresence has been re-architected https://www.telepresence.io/docs/latest/reference/architecture/ which may work better for the permission model you desire. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest

[2021-08-06 15:07] #1088 closed

[2021-08-06 15:07] donnyyung commented on #1091
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:07] #1091 closed

[2021-08-06 15:10] donnyyung commented on #1096
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:10] #1096 closed

[2021-08-06 15:12] donnyyung commented on #1099
I'm not sure if this is still an issue in docker-for-desktop, but adding an `exploration` and `v2` label for now so we can investigate further

[2021-08-06 15:12] donnyyung commented on #1100
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:12] #1100 closed

[2021-08-06 15:13] donnyyung commented on #1104
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:13] #1104 closed

[2021-08-06 15:13] donnyyung commented on #1107
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:13] #1107 closed

[2021-08-06 15:16] donnyyung commented on #1108
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:16] #1108 closed

[2021-08-06 15:17] donnyyung commented on #1109
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:17] #1109 closed

[2021-08-06 15:17] donnyyung commented on #1111
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:17] #1111 closed

[2021-08-06 15:18] donnyyung commented on #1112
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:18] #1112 closed

[2021-08-06 15:23] donnyyung commented on #1113
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:23] #1113 closed

[2021-08-06 15:26] donnyyung commented on #1116
I believe this is no longer an issue in Telepresence 2. Here is a helpful doc on how networking works in Telepresence 2 which may be helpful: https://www.telepresence.io/docs/latest/reference/tun-device/

Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:26] #1116 closed

[2021-08-06 15:26] donnyyung commented on #1117
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:27] #1117 closed

[2021-08-06 15:27] donnyyung commented on #1119
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:27] #1119 closed

[2021-08-06 15:28] donnyyung commented on #1122
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:28] #1122 closed

[2021-08-06 15:29] donnyyung commented on #1131
I'm not sure if this is still an issue with telepresence 2, so adding the `exploration` and `v2` label.

[2021-08-06 15:31] donnyyung commented on #1146
I believe this is no longer an issue in Telepresence 2 since Telepresence no longer uses sshuttle. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:31] #1146 closed

[2021-08-06 15:32] donnyyung commented on #1147
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:32] #1147 closed

[2021-08-06 15:33] donnyyung commented on #1152
Closing in favor of #538 but is still a feature we should add.

[2021-08-06 15:33] #1152 closed

[2021-08-06 15:33] donnyyung commented on #1159
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:33] #1159 closed

[2021-08-06 15:34] donnyyung commented on #1162
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:34] #1162 closed

[2021-08-06 15:34] donnyyung commented on #1168
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:34] #1168 closed

[2021-08-06 15:34] donnyyung commented on #1172
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:34] #1172 closed

[2021-08-06 15:34] donnyyung commented on #1173
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:34] #1173 closed

[2021-08-06 15:34] donnyyung commented on #1175
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:34] #1175 closed

[2021-08-06 15:35] donnyyung commented on #1178
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:35] #1178 closed

[2021-08-06 15:35] donnyyung commented on #1179
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:35] #1179 closed

[2021-08-06 15:35] donnyyung commented on #1180
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:35] #1180 closed

[2021-08-06 15:35] donnyyung commented on #1181
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:35] #1181 closed

[2021-08-06 15:37] donnyyung commented on #1184
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 15:37] #1184 closed

[2021-08-06 16:00] donnyyung commented on #1185
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:02] donnyyung commented on #1188
I believe this is no longer an issue in Telepresence 2 since we don't use ssh. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:02] #1188 closed

[2021-08-06 16:02] donnyyung commented on #1191
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:02] #1191 closed

[2021-08-06 16:02] donnyyung commented on #1192
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:02] #1192 closed

[2021-08-06 16:03] donnyyung commented on #1193
I believe this is no longer an issue in Telepresence 2, since you can configure the registry here: https://www.telepresence.io/docs/latest/reference/config/

Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:03] #1193 closed

[2021-08-06 16:04] donnyyung commented on #1196
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:04] #1196 closed

[2021-08-06 16:08] donnyyung commented on #1197
I believe this is no longer an issue in Telepresence 2 and users have been able to use it with openshift. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:08] #1197 closed

[2021-08-06 16:23] #1185 closed

[2021-08-06 16:25] donnyyung commented on #1198
We have instructions about how to run telepresence in a container here: https://www.telepresence.io/docs/latest/reference/inside-container/.

Please re-open if you run into any issues!

[2021-08-06 16:25] #1198 closed

[2021-08-06 16:32] donnyyung commented on #1200
I believe this is no longer an issue in Telepresence 2, since we don't use sshuttle. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:32] #1200 closed

[2021-08-06 16:32] donnyyung commented on #1202
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:32] #1202 closed

[2021-08-06 16:32] donnyyung commented on #1203
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:32] #1203 closed

[2021-08-06 16:33] donnyyung commented on #1204
I believe this is no longer an issue in Telepresence 2, see our updated RBAC docs here: https://www.telepresence.io/docs/latest/reference/rbac/.

Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 16:33] #1204 closed

[2021-08-06 16:35] donnyyung commented on #1206
We have made improvements with Telepresence 2 to work with various VPNs. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version and include which VPN you are using! Thank you!

[2021-08-06 16:35] #1206 closed

[2021-08-06 16:36] erdnaxeli commented on #1492
Hi,

I have the same issue. I run `telepresence connect`, then:
[code]

I run on fedara 34 with systemd-resolved and telepresence 2.3.0. I can see the resolved configuration:
[code]

Other DNS resolution works fine:
[code]

[2021-08-06 18:22] josecv commented on #1866
@an-tex Thomas is on holiday 🙂 but I believe #1951 should fix this issue, hopefully we'll be able to include it into the next release

[2021-08-06 18:51] akharlamov commented on #1925
@sbrunk Could you provide the output of the following command on your host when telepresence is connected?
* resolvectl
* iptables -t nat -L -n -v
* uname -a
* lsb_release

[2021-08-06 19:00] akharlamov opened #1967 "[v2] Mysql drivers hang when connect over telepresence bridge"
## The issue

I use telepresence to connect to a MySQL instance inside Minikube. It works fine until a long enough pause in conversation happens. The next query hangs indefinitely. That results in a Python interpreter being blocked to the point it does not handle signals. Checked with MySQLdb and mysql-python-connector.

On MySQLd side there are some indications that the protocol is broken.
[code]

[2021-08-06 19:17] donnyyung commented on #1209
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:17] #1209 closed

[2021-08-06 19:18] donnyyung commented on #1210
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:18] #1210 closed

[2021-08-06 19:18] donnyyung commented on #1211
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:18] #1211 closed

[2021-08-06 19:19] donnyyung commented on #1214
We don't have this feature in Telepresence 2, but if we do add it we'll keep your comments in mind Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/).

[2021-08-06 19:19] #1214 closed

[2021-08-06 19:19] donnyyung commented on #1216
I believe this is no longer an issue in Telepresence 2, since we don't have the vpn-tcp method. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:19] #1216 closed

[2021-08-06 19:22] donnyyung commented on #1220
I believe this is no longer an issue in Telepresence 2, since we have improved cidr guessing, no longer use sshuttle. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:22] #1220 closed

[2021-08-06 19:22] donnyyung commented on #1224
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:22] #1224 closed

[2021-08-06 19:24] donnyyung commented on #1226
I believe this is no longer an issue in Telepresence 2, since our log levels are customizable https://www.telepresence.io/docs/latest/reference/config/#log-levels. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:24] #1226 closed

[2021-08-06 19:25] donnyyung commented on #1232
Telepresence 2 requires there to be Kubernetes Services, but I'll mark this as an `exploration` since maybe it is a feature we want to add in the future.

[2021-08-06 19:32] donnyyung commented on #1234
We've recently released a developer preview of Telepresence 2 for windows, and we no longer use iptables, so I think it should work for.  Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please open a new issue if you encounter any problems or have feature requests!

[2021-08-06 19:32] #1234 closed

[2021-08-06 19:33] donnyyung commented on #1237
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:33] #1237 closed

[2021-08-06 19:34] donnyyung commented on #1250
I believe this is no longer an issue in Telepresence 2, since I don't believe you need to use sudo to run `make build`. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:34] #1250 closed

[2021-08-06 19:54] donnyyung commented on #1256
I believe this is no longer an issue in Telepresence 2, since we don't use torsocks. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:54] #1256 closed

[2021-08-06 19:54] donnyyung commented on #1260
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:54] #1260 closed

[2021-08-06 19:56] donnyyung commented on #1265
You're in luck! Telepresence 2 was designed this this in mind. Here's a doc talking about your specific issue: https://www.telepresence.io/docs/latest/howtos/preview-urls/ Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/)!

[2021-08-06 19:56] #1265 closed

[2021-08-06 19:56] donnyyung commented on #1267
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:56] #1267 closed

[2021-08-06 19:57] donnyyung commented on #1269
I believe this is no longer an issue in Telepresence 2 since we don't use ssh. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:57] #1269 closed

[2021-08-06 19:57] donnyyung commented on #1271
I believe this is no longer an issue in Telepresence 2 since we don't use sshuttle. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 19:57] #1271 closed

[2021-08-06 20:04] donnyyung commented on #1244
This shouldn't be an issue in telepresence 2 since you don't need `sudo` for make. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:04] #1244 closed

[2021-08-06 20:09] donnyyung commented on #1272
We have tried a number of VPNs on Telepresence 2 and have been successful. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please create an issue if our latest version doesn't work with your VPN, as well as which VPN your company uses.

[2021-08-06 20:09] #1272 closed

[2021-08-06 20:09] donnyyung commented on #1273
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:09] #1273 closed

[2021-08-06 20:10] donnyyung commented on #1274
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:10] #1274 closed

[2021-08-06 20:10] akharlamov commented on #1967
Environment:
* MacOS 11.4
* Minikube v1.22
* Python 3.8.6
* MySQL Connector 2.2.9

[2021-08-06 20:10] donnyyung commented on #1276
We have tried a number of VPNs with Telepresence 2 and have been successful. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please create an issue with the name of the VPN you are using if you encounter issues on our latest version

[2021-08-06 20:10] #1276 closed

[2021-08-06 20:16] donnyyung commented on #1279
I think this should work in Telepresence 2 but we should verify.

[2021-08-06 20:17] donnyyung commented on #1280
I believe this is no longer an issue in Telepresence 2 since we have had success with openvpn. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:17] #1280 closed

[2021-08-06 20:33] donnyyung commented on #1282
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:33] #1282 closed

[2021-08-06 20:34] donnyyung commented on #1283
Closing in favor of #1279

[2021-08-06 20:34] #1283 closed

[2021-08-06 20:34] donnyyung commented on #1284
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:34] #1284 closed

[2021-08-06 20:34] donnyyung commented on #1285
I believe this is no longer an issue in Telepresence 2, since we don't use SSH. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:34] #1285 closed

[2021-08-06 20:35] donnyyung commented on #1286
I believe this is no longer an issue in Telepresence 2, since we don't use SSH. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:35] #1286 closed

[2021-08-06 20:35] donnyyung commented on #1287
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-06 20:35] #1287 closed

[2021-08-07 10:44] mentos1386 commented on #1944
I had similar issue, solution was to do `echo user_allow_other >> /etc/fuse.conf`

[2021-08-07 10:47] mentos1386 commented on #1966
Workaround sadly didn't work for me.

Accessing other secrets than just `kubernetes.io` should work out of the box. I think this was the behavior of telepresence v1.

[2021-08-08 13:05] vicnoah commented on #1944
Thanks, that's right.

[2021-08-09 06:59] sbrunk commented on #1925
Thanks for looking into this @akharlamov. Here are the outputs (using telepresence v2.4.0):

<details>
  <summary>resolvectl</summary>

[code]
</details>

<details>
  <summary>iptables -t nat -L -n -v</summary>

[code]
</details>

uname -a
[code]
lsb_release -a
[code]

[2021-08-09 07:54] SayakMukhopadhyay opened #1968 "Windows install script is not setting current directory properly"
The windows install script is using `$current_directory` as a variable but this variable is never set. See
https://github.com/telepresenceio/telepresence/blob/7062d502eda784a299caf6f6d4e64f81c4cb8322/packaging/install-telepresence.ps1#L1-L8
This causes the `winfsp.msi` and `sshfs-win.msi` to be not installed.

I will submit a PR to fix this.

[2021-08-09 07:59] davix commented on #1272
Great to know there's new version 2! will try it

[2021-08-09 13:21] iNoahNothing opened #1970 "telepresence uninstall --everything does not Uninstall Traffic Agents Injected via Mutating Webhook"
## Summary

`telepresence uninstall --everything` is supposed to remove all Telepresence components from the cluster and revert it back to a pre-Telepresence state.

This works well when injecting the traffic agent via the normal injection mechanism but does not seem to correctly remove the traffic agent if it is installed via the [mutating webhook](https://www.getambassador.io/docs/telepresence/l

[2021-08-09 13:33] iNoahNothing opened #1971 "Telepresence should have a mechanism for updating the traffic manager after changing config.yml"
The [`config.yml`](https://www.getambassador.io/docs/telepresence/latest/reference/config/#global-configuration) file contains configurations that change how things on the laptop and cluster side are installed.

Some of these things affect the traffic manager `Deployment` (ex: setting the `image.webhookAgentImage` sets the `TELEPRESENCE_AGENT_IMAGE` env var in the `Deployment`) and require a redep

[2021-08-09 17:21] sarumont commented on #1814
Well, I even have matching labels:

[code]

[code]

and it still doesn't work. :)

[2021-08-09 18:34] teejaded commented on #1814
@sarumont Specifically the parts that need to match are the Deployment's `spec.template.metadata.labels` and the Service's `spec.selector`.  Your snippet is missing the relevant part of the Deployment.

For reference here's a call to FindMatchingService it _might_ be the one you're hitting:
https://github.com/telepresenceio/telepresence/blob/release/v2/pkg/client/connector/userd_trafficmgr/install

[2021-08-09 19:09] efunk opened #1973 "Add test to verify that the OSS version of Telepresence works without the cloud."
We need to ensure that we can start and run the OSS version of Telepresence without the cloud.

[2021-08-11 01:11] Damans227 opened #1980 "Running into an error: `daemon service did not start` on M1 Chip enabled MacBook"
When trying to follow the steps given in this [tutorial](https://www.getambassador.io/docs/telepresence/latest/quick-start/demo-node/)  on a new MacBook with M1 chip, I am running into an issue where telepresence daemon service wont start and throw the following error:

`telepresence: error: daemon service did not start (see "/root/.cache/telepresence/logs/daemon.log" for more info)`

**Environmen

[2021-08-11 07:56] petermant commented on #1980
This looks the same as 1916 - there's a workaround until it gets fixed, where you run the command by hand:
https://github.com/telepresenceio/telepresence/issues/1916#issuecomment-886749080

[2021-08-11 10:05] gc70ki opened #1981 "ll"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--namespace', 'default', '--method', 'injec

[2021-08-11 16:04] KenxinKun commented on #1658
We're seeing a similar behaviour with our `grpc-web-port` being renamed to `tm-grpc-web-por`.
When we attempt for the first time `telepresence intercept` on a clean deployment it works just fine but after a while it stops working (i.e. it returns the original service response, not the intercepted one), and the `telepresence uninstall` commands fails with not being able to find the renamed port.
Ou

[2021-08-11 16:29] frankgu968 commented on #1933
Update: tested this on 2.4.0 and the behavior is the same

[2021-08-11 20:12] akharlamov commented on #1967
@thallgren Any ideas?

[2021-08-11 20:17] donnyyung commented on #1973
Focusing on another high priority fix, so un-claiming this one.

[2021-08-12 08:33] Euthpic opened #1983 "How can I intercept the traffic which accesss deployment via pod Ip directly?"
Some of our deployments register pod ips in zookeeper and other deployments access them via pod ip instead of svc.
Therefore the traffic won't go through svc,loadbalance is under control of zookeeper.

It seems that telepresence only intercepts traffic when they go thourgh svc.Could u please consider that supporting intercept traffic which access deployment via pod ip directly?

[2021-08-12 18:39] cindymullins-dw commented on #1966
Per tech support mtg, we’re assuming you want a way to add AWS IAM roles to specific K8s pods and to have k8s service accounts be able to act as IAM users and use IAM permissions. Are you running an intercept or just trying to access the service directly through outbound, not utilizing the intercept?  It should work out of the box if you have an intercept running.  When you’re running an intercept

[2021-08-12 20:11] 0x6a77 commented on #1966
stepping back a bit: let's make the use case a data scientist using boto3 (amazon's python sdk for aws) to access cloudwatch and redshift. the simplest, safest way to do this is assume-role with a web identity provider: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html#assume-role-with-web-identity-provider

coincidentally, earlier this year eks offered irsa so that se

[2021-08-12 20:21] 0x6a77 commented on #1966
ps: i can chase this to a committed pr if you all agree on the strategy

[2021-08-13 15:09] TavaresDylan commented on #1944
Thanks , same problem same solution too

[2021-08-13 15:43] sarumont commented on #1814
I may have cut that snippet short - my deployment does have the proper `spec.template.metadata.labels`. Trying with a different service today (same Helm charts, so everything but the names/labels are the same):

`❯ kubectl get service hub-server -o yaml`

[code]

Note that I manually edited the `.spec.selector` to contain ALL of the labels, in order, as `FindMatchingService` seems to be checking t

[2021-08-13 16:12] cindymullins-dw commented on #1945
Per our Tech Support, could you try 2.4.0 and let us know if there's any change? There were some improvements made to how telepresence does DNS resolution that addressed a similar issue.

[2021-08-13 16:58] Damans227 commented on #1980
I see, thanks for sharing. I will try running the daemon service manually and verify if it comes up.

[2021-08-13 19:43] nazufel opened #1987 "Auto-Proxy Not Proxying Traffic to/from Subnets"
Hello,

Here is my `telepresence status` when connected to a remote cluster:

[code]

Here are my system settings:

[code]

Here is my problem:

I am attempting to use Telepresence to connect my local workstation to a remote GKE cluster, which works great! I expected, based on reading the docs, to be able to not only be able to access other services in the cluster with their internal cluster DNS n

[2021-08-14 21:09] ta-shi opened #1988 "Mysql service connection issue"
Environment:

- MacOS 11.4
- Minikube v1.22
- api-service framework: Spring boot

Kubernetes services:
 - mysql-service
 - api-service

`telepresence intercept api-services --port=8888`

The rest call works for a while but after few seconds MySQL connection fails with this error

`HikariPool-1 - Failed to validate connection com.mysql.cj.jdbc.ConnectionImpl@6046ae26 (No operations allowed after co

[2021-08-15 02:34] frankgu968 commented on #1933
After running some more tests, I've noticed that whenever the disconnection/hang behavior is observed on the intercept, some traffic to MGR (traffic manager?) does not get any response:
[code]

For reference, a successful request looks like this:
[code]

No other relevant log entries are present in the `connector.log` and the `traffic-agent` logs.

Given the precision of 60s and the lack of explic

[2021-08-16 11:23] vcjia opened #1989 "telepresence: error: Intercept: Intercept named "hello" not found"

[2021-08-16 12:14] thallgren commented on #1989
@k2let you'll need to provide some context here. What version of telepresence are you running.?What type of cluster are you using? Any other information that might be helpful such as log output etc.

[2021-08-16 12:58] thallgren commented on #1928
The problem is that the user-daemon (the connector) initializes itself from the kubeconfig during `telepresence connect` and then never reads the kubeconfig again after that. So in order to switch namespace to `pete`, the user must do:
[code]
This is of course not ideal. Telepresence must discover when the kubeconfig is modified and act accordingly.

[2021-08-16 13:51] sichapman opened #1990 "Support installing/connecting to agent in DeploymentConfig workloads"
As far as I can tell, Telepresence 2 combined with Openshift (4.7) seems to work fine with Deployments and StatefulSets but some of our pods are held in DeploymentConfigs, which do not appear in `telepresence list` as interceptable and `telepresence intercept` gives a not found error.

If I use the mutator webhook I can get the agent installed into the pod, but that still doesn't help connecting t

[2021-08-16 14:13] thallgren commented on #1939
Could the problem be that the second attempt initiates the creation of an intercept but then fails before it is complete? I can see how that would make the third attempt report that it already exists because although the second attempt timed out in the CLI, it might still be ongoing and actually succeed.

What happens if you do a `telepresence status` instead of the third attempt?

[2021-08-16 17:42] jason-edstrom commented on #753
I'm currently attempting this install with a raspberry pi K3s cluster and the traffic manager currently crashes in my setup.  Comes back with a CrashLoopback error.

[2021-08-17 00:31] frankgu968 opened #1993 "[v2] Persistent TCP connections failing after precisely 60s since session establishment"
This is a more generalized version of https://github.com/telepresenceio/telepresence/issues/1933

To replicate:
1. On a fresh k8s cluster (occurs on both EKS and GCP clusters), install a postgres instance
2. `telepresence connect` to the cluster
3. Run `psql -h pg-headless.default -p 5432 -U postgres -d postgres` and connect to the database
4. Run `select NOW()` and start a timer
Observe that afte

[2021-08-17 00:43] frankgu968 commented on #1993
Tested this with the Bitnami pg chart, CloudSQL, and RDS. Fairly certain this is a TCP-layer issue. This does not require any intercepts to be active; the traffic manager proxy seems to be the source of the issue.

[2021-08-17 01:14] vsimon commented on #1993
Thank you Frank. I was scratching my head today why mysql connections would inexplicably time out. Each time I quit/connect, things work..then after awhile i get timeouts until I quit/connect again. This is on 2.4.0.

Any known good versions in case rolling back can be a workaround?

[2021-08-17 02:20] frankgu968 commented on #1993
Since 2.3.x, the connection method was changed so the virtual network device configuration may be the culprit. We currently rolled back to 2.2.2 and the connections are mostly stable. I am investigating the issue as well as I suspect this has to do with some TCP-level stuff in the system. Will update this thread if/when I find out more about the issue.

[2021-08-17 06:03] thallgren commented on #1993
The problem was due to a hardcoded idle timer which made the traffic-manager terminate its end of the tunnel after 60 seconds. The problem is fixed in PR #1994.

[2021-08-17 06:09] thallgren commented on #1933
Closing as duplicate of #1993

[2021-08-17 06:09] #1933 closed, assigned to nobody

[2021-08-17 06:13] thallgren commented on #1988
If the timeout happens after 60 seconds, I think this will be fixed by #1994.

[2021-08-17 06:14] thallgren commented on #1967
I'm closing this as a duplicate of #1993. The 60 second delay problem will be fixed by PR #1994.

[2021-08-17 06:14] #1967 closed, assigned to nobody

[2021-08-17 07:36] thallgren commented on #1987
Both `ping` and `traceroute` use the ICMP protocol. Telepresence will currently only support TCP and UDP so that would explain why those commands don't work. Using `curl` should work though. Could it be that the subnets collide with some other device on your local workstation?

[2021-08-17 07:41] thallgren commented on #1981
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-17 07:41] #1981 closed, assigned to nobody

[2021-08-17 07:46] thallgren commented on #1980
Closing as duplicate of #1916

[2021-08-17 07:46] #1980 closed, assigned to nobody

[2021-08-17 10:59] thallgren commented on #1925
This output shows that telepresence isn't capable of using `systemd-resolved` and instead falls back to an override of the DNS-ip in /etc/resolv.conf which is odd.
[code]
 I wonder if microk8s affects our DNS sanity check somehow. Would it be possible for you to set the [rootDaemon log-level](https://www.telepresence.io/docs/latest/reference/config/#log-levels) to `debug` and provide the log entri

[2021-08-17 16:20] AlaaMouch commented on #1945
I had a similar issue, where system-wide non-cached DNS lookups took over +5s only when telepresence was intercepting requests.

Upgrading to `v2.4.0` fixed it for me! Many thanks :partying_face:

[2021-08-17 17:21] thallgren commented on #1989
Closing due to lack of relevant info.

[2021-08-17 17:21] #1989 closed, assigned to nobody

[2021-08-18 10:33] olegsu commented on #1646
Hey, I see this [comment](https://github.com/telepresenceio/telepresence/issues/1708#issuecomment-876701156) from #1708 saying that this was released. In fact in the case that your application does not expose service this is not working.
Do you guys have a plan to support this at some point? I love working with telepresence 2 but cant really continue to work with both version :-(

[2021-08-18 13:47] thallgren commented on #1646
@olegsu not sure I understand. #1708 is about the `--to-pod` flag. Not about stopping the main container.

[2021-08-18 14:40] olegsu commented on #1646
@thallgren Thanks for the clarification.
I am still wondering how to use Telepresence 2 to develop Kubernetes Controller for example :-)

[2021-08-18 14:45] scottillogical commented on #1646
@olegsu I use tp2 to develop a controller, but I just use tp connect so I can resolve services in my cluster.  I don't use tp intercept for controllers, only for apps that require http ingress.  I just remove/don't deploy the controller to the cluster and boot the controller up locally and it all works since it just needs to connect to the k8s api and a few services I deployed to k8s to work local

[2021-08-18 15:21] olegsu commented on #1646
@scottillogical thank you!! I will try this approach as well 👍

[2021-08-18 16:19] thallgren opened #1995 "Avoid pointless mention of daemon logs."
Output like this is pointless and hard to read:
[code]
Just writing the message would be a better user experience, e.g.
[code]

[2021-08-18 16:31] thallgren opened #1996 "Make it easy for the user to gather all relevant logs"
Provide a subcommand that helps the user to collect and zip the log output from the root and user daemons, the traffic manager, and if relevant from intercepting traffic agents. Example:

Collect all logs (best effort is made to guess the traffic-agent)
[code]

Collect logs for a specific daemon
[code]

Collect logs for the traffic manager
[code]

Collect logs from the traffic agent(s) for a workl

[2021-08-18 16:33] thallgren opened #1997 "Provide CLI to alter the Telepresence configuration"
We need a command similar to `kubectl config` to let the user view and update the configuration. It must work for both the `config.yml` and for the kubeconfig cluster extension.

[2021-08-18 19:23] thallgren commented on #1995
@rhs I added this ticket to capture what we discussed earlier about somehow categorizing errors so that we know when it's meaningful to point the user to the daemon logs. I think the "Intercept xxx not found" is a good example of when to avoid that because the message really says everything there is to say.

[2021-08-19 07:53] lpakula commented on #1646
My setup is more complex and telepresence 2 is not working well.

I have multiple microservices with celery containers (async tasks workers)
All celery containers have 0 replicas and are configured to scale up based on incoming tasks (rabbitmq)

Telepresence deployment swap just works, it's replacing deployment in the cluster with my local container which is consuming the tasks from the queue.

Wi

[2021-08-19 19:28] AlaaMouch commented on #1993
If anyone needs an urgent fix and can't wait until v2.4.1, this issue seems to be fixed in the latest [nightly release](https://www.telepresence.io/docs/latest/install/#installing-nightly-versions-of-telepresence).

[2021-08-20 06:03] svedatbegar commented on #1878
I've found the issue. Setting `http-keepalive = 65` in our uWSGI configs fixed it. I'll have to note that the connection failures without the keepalive config was not reflected in either uWSGI or telepresence logs, so we just started testing randomly with updating uWSGI config and found this out.

In our testing, we've found that if we sent a single request it almost always succeeded, but if there

[2021-08-20 06:03] #1878 closed, assigned to nobody

[2021-08-22 10:37] #1966 closed, assigned to nobody

[2021-08-23 06:10] thallgren opened #2007 "Redact sensitive log information"
Users that provide logs with a bug report often redact things in the log, such as IP-addresses, host names, and other information that they consider sensitive. Telepresence should provide a way to do that automatically. Part of this work could be to avoid or change how we log such info. For instance, instead of logging the IP of the traffic-manager, we could log `IP("traffic-manager", 10.20.12.11)

[2021-08-23 19:32] josecv commented on #1617
#2010 will make it so that `telepresence connect` will only result in a change to the traffic manager if the CLI is using a newer version than what is on the cluster -- I think this is a fairly reasonable solution, since it'll prevent a cycle of upgrades and downgrades. Does this sound reasonable to folks in this thread?

I suppose we ideally should also find a way to warn the user when the Traffi

[2021-08-23 19:40] vsimon commented on #1617
Thanks @josecv , yes, I'm supportive of it.

[2021-08-23 21:44] scholzj commented on #1722
I was playing with this today with Telepresence 2.4.0 and my result is a bit similar:
* The short address in the format `<pod-name>.<headless-service-name>.<namespace>` seems to resolve. But `<pod-name>.<headless-service-name>.<namespace>.svc` does not seem to resolve (i.e. with the `.svc` suffix). It would be great to have also the `.svc` addresses resolve - but it is not necessarily a blocker.
*

[2021-08-24 04:03] summersculture opened #2012 "Telepresence issue"
### What were you trying to do?
Telepresence and run `kickback`

(please tell us)

### What did you expect to happen?
start telepresence

(please tell us)

### What happened instead?
Show this error message

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `[

[2021-08-24 11:53] shemlar opened #2013 "TELEPRESENCE failure 24-8-2021"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence']`
Version: `0.109`
Python version: `3.9.2 (de

[2021-08-24 14:38] musaib072 commented on #1996
can you tell me in which folder or file this issue is present . I want to work on it

[2021-08-24 20:41] thallgren commented on #2013
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-24 20:41] #2013 closed, assigned to nobody

[2021-08-24 20:46] thallgren commented on #1943
You should use [also-proxy](https://www.telepresence.io/docs/latest/reference/config/#alsoproxy) to proxy subnets that aren't part of the cluster. The hostname doesn't need to be proxied. A DNS lookup for a name known in the cluster will be resolved correctly because the actual lookup is made in the cluster.

[2021-08-25 07:00] thallgren commented on #2012
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:00] #2012 closed, assigned to nobody

[2021-08-25 07:01] thallgren commented on #1765
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:01] #1765 closed, assigned to nobody

[2021-08-25 07:02] thallgren commented on #1742
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:02] #1742 closed, assigned to nobody

[2021-08-25 07:02] thallgren commented on #1609
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:02] #1609 closed

[2021-08-25 07:02] thallgren commented on #1489
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:02] #1489 closed

[2021-08-25 07:03] thallgren commented on #1433
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:03] #1433 closed

[2021-08-25 07:03] thallgren commented on #1421
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:03] #1421 closed

[2021-08-25 07:03] thallgren commented on #1382
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:03] #1382 closed

[2021-08-25 07:04] thallgren commented on #1316
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:04] #1316 closed

[2021-08-25 07:04] thallgren commented on #1309
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:04] #1309 closed

[2021-08-25 07:05] thallgren commented on #1305
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:05] #1305 closed

[2021-08-25 07:06] thallgren commented on #1301
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:06] #1301 closed

[2021-08-25 07:07] thallgren commented on #1480
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:07] #1480 closed

[2021-08-25 07:07] thallgren commented on #1461
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:07] #1461 closed

[2021-08-25 07:08] thallgren commented on #1458
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:08] #1458 closed

[2021-08-25 07:08] thallgren commented on #1454
I believe this is no longer an issue in Telepresence 2. Here are the docs on how to install Telepresence (https://www.telepresence.io/docs/latest/install/), please re-open if you still see this issue in our latest version!

[2021-08-25 07:08] #1454 closed

[2021-08-25 16:38] nazufel commented on #1987
I will check on that this week. Thanks for the response!

[2021-08-25 23:48] ming08108 opened #2018 "DNS resolution fails when running in docker"
[code]

[code]

Running in an Ubuntu 20.04 WSL2 environment. DNS resolution works fine when intercepting outside the docker image.

[2021-08-26 12:07] sokoow opened #2019 "agent-injector-webhook-ambassador not starting on kube 1.16"
I get this when trying to launch on kube 1.16:

[code]

[2021-08-26 12:11] wojciechka commented on #1810
Just confirmed that this is resolved and telepresence 2.4.0 works with the webpack dev server setup that we have.

However, after some more tests it seems that there are still cases where the browser freezes.

I have managed to reproduce it when forcing reload of the page 2-3 times. The download gets stuck on one or more of the assets - so far it has been one of the larger JavaScript files.

It is

[2021-08-26 16:34] nazufel commented on #1987
I was able to test using other tools that support TCP and I can confirm that Telepresence works as expected! `curl` didn't work because I was trying to reach a database cluster that isn't listening on port 80. If I use the database's native client, then I get responses back like I expect through Telepresence.

I should have tried that tool before opening the ticket. Thanks for the response and hel

[2021-08-26 16:34] #1987 closed, assigned to nobody

[2021-08-26 16:36] cindymullins-dw opened #2020 "[label: friction] User requests clarification on Footnote about namespaces"
DOCS-issue: In Telepresence Onboarding session of 8/26, Tomer Lev commented that their org relies on namespace set up.  They're concerned about this footnote and asked for clarification as to if/how namespaces will be supported and which features re namespaces would not be supported in future versions.

https://www.getambassador.io/docs/telepresence/latest/reference/routing/#footnotes

1: A future

[2021-08-26 19:36] brookelynne opened #2021 "Make kubernetesZone configurable"
DNS routing is partially broken for my cluster due to our cluster suffix not being `.local`. Please make the kubernetesZone configurable:
https://github.com/telepresenceio/telepresence/blob/64e6bb8e30a0389cd4ac8f992b89a414167382a1/pkg/client/daemon/outbound.go#L22

[2021-08-26 21:44] thallgren commented on #2020
That remark is still valid. The reason is that from a network standpoint, telepresence puts the workstation that performs an intercept "in a pod in the cluster". Outgoing traffic from the workstation must originate from that pod's namespace, or it will in many cases be blocked. If we allow that a workstation has multiple concurrent intercepts in more than one namespace, then there's no way to dete

[2021-08-26 21:54] thallgren commented on #2021
This should be a per-cluster setting in our kubeconfig extension.

[2021-08-26 21:59] thallgren commented on #2019
Closing as duplicate of #1795

[2021-08-26 21:59] #2019 closed, assigned to nobody

[2021-08-27 02:27] johnlanni opened #2023 "Subnet retrieval should be more flexible"
Hi, when I enable the Calico CNI in k8s , the subnet of the pods’ IPs can’t be obtained by telepresence exactly.  I found some information about the Pod’s CIDR and Calico:

https://docs.projectcalico.org/networking/get-started-ip-addresses
https://github.com/projectcalico/calico/issues/2592#issuecomment-489233638

It seems we must enable the Host-local IPAM, then Calico will use the Node.Spec.PodC

[2021-08-30 16:36] thallgren opened #2026 "Helm Upgrade.Run() sometimes hang indefinitely in Storage.Create()"
The `Upgrade.Timeout` doesn't apply to all things in `Upgrade.Run()` as a consequence, the call sometimes hang indefinitely (see stack-trace below). The call to `Ugrade.Run()` should probably be made from a separate goroutine limited by the `timeouts.helm` config setting to avoid a hanging user daemon.
[code]

[2021-08-30 18:57] stefan-culafic-ck opened #2027 "Error log"
### What were you trying to do?
Start local dev environment
(please tell us)

### What did you expect to happen?
Start local dev environment
(please tell us)

### What happened instead?
swap-deployment failed
(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `

[2021-08-31 12:40] efunk commented on #1993
Fix released with Telepresence 2.4.1.

[2021-08-31 12:40] #1993 closed, assigned to thallgren

[2021-08-31 12:41] efunk commented on #1988
This should be fixed in Telepresence 2.4.1. Please reopen if you still see the issue.

[2021-08-31 12:41] #1988 closed, assigned to nobody

[2021-08-31 12:42] efunk commented on #1960
Resolved in Telepresence 2.4.1

[2021-08-31 12:42] #1960 closed, assigned to donnyyung

[2021-08-31 12:43] efunk commented on #1928
Resolved in Telepresence 2.4.1.

[2021-08-31 12:43] #1928 closed, assigned to thallgren

[2021-08-31 12:47] efunk commented on #1617
Resolved in Telepresence 2.4.1.

[2021-08-31 12:47] #1617 closed

[2021-08-31 12:48] efunk commented on #1973
Resolved.

[2021-08-31 12:48] #1973 closed, assigned to donnyyung

[2021-08-31 13:28] donnyyung commented on #1997
Taking this over from Thomas since he's focusing on our log improvement items.

[2021-08-31 15:14] nneram commented on #1832
I couldn't make the latest (2.4.1) version run:
[code]

I stay on the v2.3.7 which work fine for me

[2021-08-31 17:14] YamenSarah commented on #1945
Unfortunately, this did not resolve my issue. The logs look identical as well.

[2021-09-01 09:06] thallgren commented on #2027
There's not much we can do with a bug report like this. We need to know how it failed. Was it a timeout? A permission problem? A network problem? All this tells us is "swap-deployment failed".

Is there any way we can reproduce the failure?

[2021-09-01 13:15] sbrunk commented on #1925
Thanks @thallgren I've attached the start of a [daemon.log](https://github.com/telepresenceio/telepresence/files/7091278/daemon.log) with loglevel `debug`.

[2021-09-01 18:08] 0x6a77 opened #2033 "sshfs hangs macos on "resource busy" — forces reboot"
if you find that `telepresence intercept` on a mac freezes file system access, forcing a reboot, where the root cause is `sshfs` freezes on resource busy, the ultimate cause may be that your target pod's `traffic-agent` has mounted one of your volumes in `tel_app_mounts` with `df: /tel_app_mounts/<VOLUME>: Permission denied`

the traffic agent should not try to mount volumes where it doesn't have

[2021-09-01 18:11] 0x6a77 opened #2034 "telepresence won't mount secrets if those are the only workload volumes"
this is due to a bug i caused in the pr for #1966. i have a fix coming for this soon.

until the fix releases, the workaround is to mount a dummy configmap as a volume on the target workload. this is an easy and harmless way to get the secrets mounted again if secrets are the only volumes in the workload

[2021-09-01 19:54] 0x6a77 commented on #2034
nope, this bug is caused by the underlying permissions issue in #2033. if the traffic-agent has no underlying permissions issues, the secrets volumes get mounted even if they are the only volumes present

[2021-09-01 19:54] #2034 closed, assigned to nobody

[2021-09-01 20:43] 0x6a77 commented on #2033
btw, since someone will have to touch this part of the code (and test that sshfs doesn't hang), we can also use this as a chance to reduce overall sshfs hang-failures for other causes like network latency/reliability. adding `-o reconnect,ServerAliveInterval=1` to the sshfs invocation probably will increase stability for a tiny performance cost

[2021-09-02 12:24] thallgren commented on #2021
We will retrieve the correct kubernetesZone from the cluster instead of making it configurable.

[2021-09-02 13:48] efunk commented on #2026
Resolved in Telepresence 2.4.2 GA

[2021-09-02 13:48] #2026 closed, assigned to nobody

[2021-09-02 14:05] thallgren commented on #1916
@seansabour @petermant this problem with telepresence being unable to connect unless you start the root daemon manually, is that related to M1?

[2021-09-02 14:35] maxlegault opened #2039 "The daemon tries to resolve localhost as a service in the cluster"
After intercepting a service in `my-namespace` and setting the log level to debug, I see a bunch of debug log entries in the daemon logs for calls made on my machine to `localhost`. It looks like it's trying to resolve `localhost` as a service in `my-namespace` based on the log output:

[code]

[2021-09-02 15:13] petermant commented on #1916
No, I don't think it is related to M1. My machine has a Core i7 in it.

[2021-09-02 15:55] jceb commented on #1607
It would be great to get a solution for this issue. It's currently hindering me from using version 2.

[2021-09-02 18:54] rotty3000 commented on #1944
FYI another +1 on the issue and the proposed solution.

However, another related issue really troubled me. It was not clear to me that if you specify a mount, it must NOT exist.

In other words, if you specify a mount point of say `/tmp/` and that exists, it would not mount for me at all, even with the fuse permission. I had to specify a mount path that didn't previously exist, then telepresence w

[2021-09-03 10:46] thallgren commented on #2027
Closing due to lack of info.

[2021-09-03 10:46] #2027 closed, assigned to nobody

[2021-09-03 14:32] thallgren commented on #1945
I think the underlying problem here is that when you create an intercept, Telepresence will route all DNS lookups to the `traffic-agent` of the intercepted pod instead of sending them to the `traffic-manager`. So, instead of using the `traffic-manager` to resolve the DNS query, it now uses the `traffic-agent`. For some reason, the `traffic-agent` cannot resolve the queries.
@YamenSarah I see from

[2021-09-03 15:38] #2021 closed, assigned to thallgren

[2021-09-03 16:07] maelvls commented on #1943
That makes sense. I'll try this out!

[2021-09-03 16:07] #1943 closed, assigned to nobody

[2021-09-03 19:43] josecv commented on #1810
Okay so after a long investigation, here's what I think is happening; I'll start with some detailed steps on how I reproduce the problem, then my analysis of it.

## Repro

1. First you need some kind of local server that will serve large files; I did this in the simplest way possible:
[code]
1. Now we need two services -- one that will serve the large files and one that will consume them. I did t

[2021-09-04 04:58] #2039 closed, assigned to thallgren

[2021-09-04 05:38] thallgren commented on #1916
@seansabour @petermant If possible, please try the latest nightly build. It contains some changes related to the daemon start process. If it doesn't fix the problem, then at least it might provide some more info about what's causing it.

[2021-09-04 05:42] thallgren commented on #1917
Closed by #1946

[2021-09-04 05:42] #1917 closed, assigned to thallgren

[2021-09-04 05:44] thallgren commented on #1866
Closed by #1951

[2021-09-04 05:44] #1866 closed, assigned to thallgren

[2021-09-04 05:50] thallgren commented on #8
I believe this was fixed in #1857.

[2021-09-04 05:50] #8 closed

[2021-09-04 05:55] thallgren commented on #135
Closing as I believe Telepresence v2 works on any Linux running amd64.

[2021-09-04 05:55] #135 closed

[2021-09-04 05:57] thallgren commented on #191
This is no longer and issue in Telepresence v2. Just start whatever shell that is desired.

[2021-09-04 05:57] #191 closed

[2021-09-04 06:01] thallgren commented on #523
Closing as duplicate of #2007

[2021-09-04 06:01] #523 closed

[2021-09-04 06:09] thallgren commented on #1659
Closed by datawire/homebrew-blackbird#14

[2021-09-04 06:09] #1659 closed

[2021-09-04 13:50] yinxiulong opened #2049 "telepresence 2.4 version Request pod timeout"
After the telepresence connect connection is successful, the kubernetes service can be accessed, but the pod cannot be accessed through IP. This causes the spingcloud feign to request other microservices time out

[2021-09-04 14:41] yinxiulong opened #2050 "The service is accessed through the IP address and port of the pod container"
After the telepresence connect connection is successful, I want to directly access the services in the container through the IP and port of the pod, rather than through the service. What should I do?

[2021-09-06 09:57] saurav28 opened #2054 "Debugging java app in a K8S pod using telepresence"
I am trying to debug a java application deployed in K8S cluster in Kyma.
https://kyma-project.io/

I am trying to use telepresence for this

I have installed telepresence and have swapped the deployment.

Below are the logs while connecting

    T: Forwarding remote port 8080 to local port 8080.

T: Connected. Flushing DNS cache.
T: Setup complete. Launching your command.

The default interactive

[2021-09-07 11:02] thallgren commented on #1810
@josecv great investigation and conclusions. So very helpful. Thanks!

I think #2056 will address all the items in your "What do" list and I'm able to successfully run the `kubectl exec -ti ${WRK_POD_NAME} -- wrk -c 2 -t 2 -d 2m http://echo-easy.default/file` command, albeit with an added `--timeout 30s` since I got request timeouts without that (which is normal, I'm on a slow network).

[2021-09-07 13:00] petur commented on #1925
I have this same problem (ubuntu 20.04). However, after making this change, things seem to somewhat work:

[code]

The `telepresence connect` command takes a very long time to run, but once finished things seem to be set up correctly.

`resolvectl status` shows the DNS config:

[code]

DNS queries using full name work:

[code]

But not using the service.namespace form:

[code]

[2021-09-08 14:58] #1995 closed, assigned to thallgren

[2021-09-08 15:00] efunk opened #2059 "Dependabot security vulnerabilities"
Dependabot has identified some security vulnerabilities: https://github.com/telepresenceio/telepresence/security/dependabot

We need to review these to determine if we are impacted by the vulnerabilities. Regardless of impact, we should update the dependencies to remove the alerts.

[2021-09-08 21:15] markgarrigan opened #2061 "nil local IP and nil remote IP"
Is it normal or expected to have `<nil>` in the local and remote IPs?

[code]

After I connect and try `curl -ik https://kubernetes.default` I get `curl: (7) Failed to connect to kubernetes.default port 443: Operation timed out`

[2021-09-09 13:50] efunk opened #2062 "Too many steps to deal with expired login"
Reported by Matt Turner:

Telepresence friction point. Telepresence 2.4.2
Telepresence login state =  Ambassador Cloud  : Login expired (or otherwise no-longer-operational)

As a user I would expect telepresence login  would resolve this state.

Instead the user must:
telepresence login
telepresence quit
telepresence logout
telepresence login
to resolve.

[2021-09-09 15:04] efunk commented on #2059
Resolved by Jose.

[2021-09-09 15:04] #2059 closed, assigned to josecv

[2021-09-09 15:33] markgarrigan commented on #2061
This also happens with a AKS cluster that we have...
[code]

[2021-09-09 21:00] daviddawson commented on #1722
I just revisited this, and its possible to configure strimzi to work with this.  It's quite manual and clunky, but does work

[code]

The kafka bootstrap then serves this address out as the broker, which will work both in the cluster and via telepresence.

[2021-09-09 21:03] scholzj commented on #1722
@daviddawson Which version of Telepresence did you used? I did this as well => that worked around the first point I raised. But I run into the second issue afterwards - that it resolved the address, but didn't route any traffic.

[2021-09-10 08:38] daviddawson commented on #1722
@scholzj
[code]

I used kafkajs to test, connecting to the bootstrap server at 'kafka-kafka-bootstrap.infra:9092'

[2021-09-10 09:23] thallgren commented on #2061
Unfortunately yes, that's normal the way things stand right now. What's shown is your config, not the real data. We need to fix that.

[2021-09-10 20:48] seansabour commented on #1916
hi @thallgren i just tested with the latest build and I didn't see much of a difference...

[code]

[2021-09-12 00:53] #2061 closed, assigned to nobody

[2021-09-12 07:34] thallgren opened #2071 "Add Linux without systemd.resolved to set of CI-platforms."
There is currently no CI-tests that verifies the functionality of the overriding DNS-resolver used on Linux systems that doesn't have a systemd-resolved configured.

[2021-09-12 07:39] thallgren opened #2072 "Add verification that nightly builds are downloadable."
Catch regressions in related to how we publish nightly builds so that we don't rely on users to do that for us.

[2021-09-12 09:25] NurlashKO opened #2073 "Confusing CLI behavior with Kubernetes Flags"
After specifying any connection flag(s), for example:
[code]
All those flags must be included in the proceeding calls:
[code]
[code]

It happens due to this check:
https://github.com/telepresenceio/telepresence/blob/release/v2/pkg/client/connector/userd_k8s/k8s_config.go#L150
[code]
It makes sense because of the next case:
[code]
However, developer experience still suffers because of the lots of f

[2021-09-12 09:52] NurlashKO commented on #2073
Another, and probably even better solution, is pushing those flags that were used in initial `connect` statement to all following cli calls.

[2021-09-13 05:10] thallgren opened #2075 "Add backward compatibility tests to CI."
Telepresence consists of several components that communicate through gRPC. We need CI-tests to verify that all changes to all components are backward compatible.

[2021-09-13 05:27] thallgren commented on #2073
I think part of the problem is that `telepresence list`, `telepresence intercept`, and other commands, can be invoked without first doing a `telepresence connect`, in which case the connect is implicit. Passing flags to the command becomes ambiguous if flags from the initial connect are also in effect. Should those flags be combined or overridden? And if it's the latter, then how do I override so

[2021-09-13 05:46] thallgren commented on #2054
It sounds like you're trying to use port 8080 for the debugger to connect to the process. The debugged process must serve its http requests on that port, not the debugger.
It also sounds like you're using an older version of telepresence (the current version will intercept, not "swap" a deployment).
You can find examples on how to debug a java application here: https://www.telepresence.io/docs/lat

[2021-09-13 05:46] #2054 closed, assigned to nobody

[2021-09-13 05:50] thallgren commented on #2049
How do you obtain the IP of the pod?
What does the URL look like when you try to access the pod?

[2021-09-13 06:37] deceive3w commented on #1492
are you still having this issue?
need solution

[2021-09-14 01:47] yinxiulong commented on #2049
Pod IP obtained by kubernetes command

[code]
The previous telepresence version 0.109 can be accessed through the IP of the pod. Now version 2.4 cannot be accessed through pod IP.

[2021-09-14 01:50] yinxiulong commented on #2049
Assume that the pod IP is 10.58.153.187. Telepresence version 0.109 can be accessed in this way
[code]
Telepresence version 2.4 cannot be accessed through this address.

[2021-09-14 07:16] xakraz opened #2076 "Json output"
We have embedded telepresence in our tool belt.

For ease of use, it would be nice if `telepresence` cli was able **to format it's output in json** like many tools already do (`kubectl`, aws, gcloud, ...)

[2021-09-14 11:21] GinoPane commented on #1485
Any updates on this?
Workaround works fine though. Should we consider the workaround an "official" way of handling this?

[2021-09-14 18:02] tzneal opened #2081 "v2 fails to forward ports the way that v1 did using --docker-run"
I am using kind for kubernetes.  ubuntu-net is just ubuntu:latest with netcat installed.

# Using Telepresence v1

```telepresence --swap-deployment myapp --expose 3000:80 --docker-run -it --rm ubuntu-net /bin/sh```

I then run `nc -l -p 3000` to launch netcat in that shell.

I can then run `curl http://myapp/` from a shell exec'd into another deployment and netcat receives the GET request

# Usin

[2021-09-15 06:47] NurlashKO commented on #2073
@thallgren Thank you for your comment!
Disallowing `kubectl` flags from mentioned commands sounds perfect to me.
I will work on it this weekend.

I have one more question related to the `list/intercept + connect` behavior.
I am personally not a big fan of it.
The reason being that from their signature it is hard to deduce that new k8s resources might be created, hence easier to execute them in a w

[2021-09-15 15:39] thallgren commented on #1916
@seansabour I don't see the log output that I would have expected. It changed in a commit that was merged 7 days ago. In particular, the `(see "/Users/sean.sabour/Library/Logs/telepresence/daemon.log" for more info)` should not be there. Can you check again and include the output from `telepresence version`?

[2021-09-15 16:47] frankgu968 opened #2084 "[v2] traffic-manager high CPU usage after some undetermined amount of usage"
The single `traffic-manager` instance deployed on our cluster suffers from pinned CPU usage. This causes all requests to fail and existing connections to time out. Our only recourse at the moment is to restart the `traffic-manager` and re-establish the intercepts.

Our traffic volume: <20 intercepts and <80rps total; each request volume is small (kB).

The `traffic-manager` starts off fine and sho

[2021-09-15 17:57] thallgren commented on #1916
Or, just try the 2.4.3 release which is being published right now.

[2021-09-15 21:36] efunk commented on #1970
Resolved in Telepresence 2.4.3 GA.

[2021-09-15 21:36] #1970 closed, assigned to nobody

[2021-09-15 22:22] suprita23 opened #2085 "When VPN is connected, the services are unreachable even though telepresence is connected to cluster"
When VPN is connected, the services are unreachable even though telepresence is connected to cluster.

Root Daemon: Running
  Version     : v2.2.2 (api 3)
  Primary DNS : ""
  Fallback DNS: ""
User Daemon: Running
  Version           : v2.2.2 (api 3)
  Ambassador Cloud  : Logged out
  Status            : Connected
  Kubernetes server : https://0.0.0.0:55836
  Kubernetes context: k3d-diablo-poc
  T

[2021-09-15 22:25] suprita23 commented on #2085
VPN is Cisco AnyConnect.
Once VPN is disconnected, same curl command works.

[2021-09-16 07:16] Hiroki111 opened #2086 "Can't install older versions of Telepresence"
According to [this page](https://www.telepresence.io/docs/v2.2/install/), an older version of Telepresence can be installed from `https://app.getambassador.io/download/tel2/darwin/amd64/x.y.z/telepresence` (for Mac OS), where `x.y.z` is supposed to be the version you need.

However, when I visited `https://app.getambassador.io/download/tel2/darwin/amd64/0.109/telepresence`, I got `403 Forbidden` e

[2021-09-16 07:33] thallgren commented on #2086
You are looking at the docs for Telepresence v2. For v1 installs, you'll need to consult in the old docs:
https://www.telepresence.io/docs/v1/reference/install/.

[2021-09-16 08:34] #2086 closed, assigned to nobody

[2021-09-16 08:43] Hiroki111 opened #2087 "Can't install version 1 of Telepresence"
https://www.telepresence.io/docs/v1/reference/install/

This page says that v1 of telepresence can be installed to Mac by

[code]

The 1st command didn't throw any error, but running `brew install datawire/blackbird/telepresence-legacy` gave me the error below

[code]
When I ran `brew uninstall sshfs-mac`:

[code]

When I ran `brew uninstall s3fs-mac`,
[code]

When I ran `brew uninstall mp3fs-mac`

[2021-09-16 11:21] thallgren commented on #2087
I think v1 suffers from the same problem as v2 when it comes to sshfs/osxfuse. Perhaps [the same solution](https://www.telepresence.io/docs/latest/troubleshooting/#volume-mounts-are-not-working-on-macos) can be applied?

[2021-09-16 11:23] thallgren commented on #2085
We've rewritten the telepresence network parts completely since version 2.2.2. Please try the latest 2.4.3 and check if the problems persist.

[2021-09-16 14:08] thallgren opened #2089 "Update to datawire/ambassador/v2"
Telepresence should upgrade to the coming `datawire/ambassador/v2` package because it will get rid of lots of redundant implicit dependencies and reports of vulnerabilities (false positives, but anyway).

[2021-09-16 14:13] thallgren commented on #2089
Some issues must be resolved in the [datawire/go-mkopensource](/datawire/go-mkopensource) module before this can happen. I submitted PR datawire/go-mkopensource#2 but there's also a problem with third-party inclusions in k8s.io/utils (reported to Luke).

[2021-09-16 15:49] suprita23 commented on #2085
I see same problem with 2.4.3 as well..

Root Daemon: Running
  Version   : v2.4.3 (api 3)
  DNS       :
    Remote IP       : 10.43.0.10
    Exclude suffixes: [.arpa .com .io .net .org .ru]
    Include suffixes: []
    Timeout         : 4s
  Also Proxy: (0 subnets)
User Daemon: Running
  Version           : v2.4.3 (api 3)
  Ambassador Cloud  : Logged out
  Status            : Connected
  Kubernet

[2021-09-16 16:07] frankgu968 commented on #2084
Update: I managed to pull the pprof outputs from when the `traffic-manager` is at max CPU. It looks like there is some sort of race condition in the `watchable.(*AgentMap).coalesce` function that is deadlocking some goroutines:

![Screenshot 2021-09-16 085615](https://user-images.githubusercontent.com/9001524/133646711-2576fec3-d959-44bc-a581-d4ab17f8664e.png)
![Screenshot 2021-09-16 085557](https

[2021-09-17 03:27] tinder-robertcheng opened #2091 "Keep getting this error when attempting to proxy my module"

[2021-09-17 12:48] Hiroki111 commented on #2087
@thallgren
That solution worked. Thank you!

[2021-09-17 12:48] #2087 closed, assigned to nobody

[2021-09-17 14:47] tzneal opened #2092 "[v2] Large requests hang/become very slow"
Large requests never finish. This may be a duplicate of #1953 , but I've included a reproducing test case.  This may be related to an interaction between kind & telepresence, I haven't tested on any other cluster.

### install a kind cluster
[code]

### install the test service (https://gist.github.com/tzneal/44fa4d0e44e79ca9d711de76de16d97a)
[code]

### intercept
[code]

### run the intercepted s

[2021-09-17 14:57] tzneal commented on #2092
Something weird is going on, the transfer is hanging because the TCP window is full.

![wireshark-tcp](https://user-images.githubusercontent.com/64753/133804210-c905a0e0-c4a3-4fcc-a8f3-96db2d28159c.PNG)

[2021-09-17 15:21] thallgren commented on #2092
Thanks for providing this reproducer @tzneal . Can I assume that you've tested this with the 2.4.3 release (went out yesterday)?

[2021-09-17 15:24] tzneal commented on #2092
Yup, I just downloaded a fresh copy this morning to test with.
[code]

[2021-09-17 15:26] thallgren commented on #2092
Great. This just moved to the very top of my list.

[2021-09-17 15:40] tzneal commented on #2092
Hopefully it's not just an oddity of my setup.  I've been looking into it as well and set rootDaemon to debug level logs.  You can look at the timestamps and see at around 10:29 it goes a little weird and then it's only keep alives.

[code]

[2021-09-18 11:12] ytfrank opened #2095 "dns not work on windows10"
Still failed to parse the k8s service name after executing "telepresenece connect" successfully:

io.netty.resolver.dns.DnsResolveContext$SearchDomainUnknownHostException: Search domain query failed. Original hostname: 'redis-cs.svc.cluster.local' failed to resolve 'redis-cs.svc.cluster.local' after 7 queries
  at io.netty.resolver.dns.DnsResolveContext.finishResolve(DnsResolveContext.java:718)

W

[2021-09-18 17:03] thallgren commented on #2095
@ytfrank Can you please run `telepresence loglevel debug`, reproduce the issue, and then provide the resulting `daemon.log` file? You'll find the log files under `%USERPROFILE%\AppData\Local\telepresence\logs` on a windows box.

[2021-09-20 05:37] sachinkumarsingh092 commented on #1809
@LukeShu can you please close this.

[2021-09-20 05:39] #1809 closed, assigned to nobody

[2021-09-20 08:39] petermant commented on #1916
I have the same thing as before, on the 2.4.3 version - although as you say, the logging output is different:

[code]

Then in the logs folder there is a single new file, daemon.log - which has 0 bytes.

[2021-09-21 04:19] tedyage opened #2097 "telepresence: error: Intercept: rpc error: code = NotFound"
I have successfully connected the traffic-manager in the kubernetes cluster, And I have registered into the ambassador cloud with my api key using command: `telepresence login --apikey [apikey]`.
After that, I execute the intercept command `telepresence intercept hello-world -n telepresence -p 8000:8000 -env-file=service.env` in order to make a preview Url intercept into an existing service 'hello

[2021-09-21 04:26] thallgren commented on #2085
Could it be that your VPN is configured so that it collides with the subnets used by your cluster (often 10.43.0.0/16 and 10.42.0.0/24)? Telepresence [creates a VIF](https://www.telepresence.io/docs/latest/reference/tun-device/) that makes those subnets available on your workstation.

[2021-09-21 05:26] frankgu968 commented on #2084
Did some profiling and tests. The CPU hogging is a result of reading from a close channel in the `AgentMap.coalesce` function. The most likely culprit is [this case](https://github.com/telepresenceio/telepresence/blob/5cae5bfc66357914ed15ba5b9ef9f272184b6197/cmd/traffic/cmd/manager/internal/watchable/generated_agentmap.go#L352) in the for-select loop of the goroutine.

Basically, if there is any `

[2021-09-21 06:46] hrdcdr1337 opened #2099 "[v2] also-proxy is not working properly"
Hi, I've experienced issues with also-proxy feature on linux. After start the intercept also-proxy addresses are available but not respond on open ports.

How to reproduce
1. Check service availability without intercepts:
[code]

[code]
2. Add also-proxy for `https://ifconfig.me/` to ~/.kube/config
[code]

[code]

3. Run intercept or connect
[code]

[code]

4. Check the same as before:
[code]

[co

[2021-09-21 09:54] danielbryantuk commented on #2062
I bumped into the same issue today. Running `telepresence login` did not open my browser and appeared to do nothing.

After Thomas mentioned this ticket and I followed the steps above, the issue was resolved

[2021-09-21 11:19] thallgren commented on #2099
The ping command will not work because it uses ICMP which is not supported by telepresence VIF. It currently supports TCP and UDP only. It's odd that curl doesn't work though. What's the output of:
[code]

[2021-09-21 13:28] hrdcdr1337 commented on #2099
hey @thallgren thank you for rapid answer. The command you provided works well and return server ip
[code]

[2021-09-22 06:34] ytfrank commented on #2095
@thallgren
Sorry for the late repay!
You could search "redis-cs.svc.cluster.local" in the daemon.log.

Thank you very much!

[daemon.log](https://github.com/telepresenceio/telepresence/files/7208205/daemon.log)

[2021-09-22 07:32] ytfrank commented on #2095
@thallgren
Add some infos:
The cluster's dns server(kube-dns) is listening in 10.96.0.10:53
kube-dns                  ClusterIP   10.96.0.10      <none>        53/UDP,53/TCP,9153/TCP         336d   k8s-app=kube-dns

![image](https://user-images.githubusercontent.com/9721811/134301121-654ba827-d51a-4bfb-a5f8-4a1b6c3ceefe.png)

[2021-09-22 07:34] thallgren commented on #2095
The name `redis-cs.svc.cluster.local` missing a namespace component. Names are usually `<name>.<namespace>.svc.cluster.local`. This is just `<name>.svc.cluster.local`.

The logs show that the DNS-query is sent over to your cluster and that the cluster fails to find it.

From what machine do you run the telnet command that works?

[2021-09-22 07:39] thallgren commented on #2095
Another thing that I note is that the queries are for "AAAA" records (IPv6 address) and "CNAME" (Alias from one name to another) only. There's never a query for an "A" record (IPv4 address). I would assume that telnet tries (and succeeds) the "A" record.

[2021-09-22 07:50] ytfrank commented on #2095
@thallgren
Sorry for the confuse...
Yeah, the full name is "redis-cs.testXXX.svc.cluster.local", while testXXX is the name of the namespace and and is global replaced in the log file for the  security issue.
The cmd "telnet redis-cs.testXXX.svc.cluster.local 6379" is OK in the same windows machine which encountered the dns issue when starting the tomcat process.

And how to see there is no query f

[2021-09-22 11:39] ytfrank commented on #2095
@thallgren

OK, I saw the the types in types.go. Meanwhile, dns works well in Mac, and I also only saw the type 1 & 28 in the log file of Mac:

6451 2021-09-22 19:33:06.2220 debug   daemon/server-dns/Server : LookupHost "redis-cs.test82.svc.cluster.local"
6452 2021-09-22 19:33:06.2641 debug   daemon/server-dns/Server : QUERY[1] redis-cs.test82.svc.cluster.local. -> 10.104.12.83
6453 2021-09-22 19:

[2021-09-22 12:01] thallgren commented on #2095
Where does the query originate from?

[2021-09-22 14:12] josecv opened #2103 "Requesting an intercepted pod by IP bypasses intercept when agent was injected and service has numeric ports"
As of the current state of the `release/v2` branch, the following service will have a traffic agent injected:

[code]

If I intercept this service and request it by DNS name, it will work:

[code]

However, if I try to reach that same intercepted pod directly by IP, I'll get a reply from the actual application:

[code]

[2021-09-22 14:34] thallgren commented on #1810
There are still issues with large file transfers. See #1953 and #2092.

[2021-09-22 23:57] ytfrank commented on #2095
It's from the log file of Mac:
/Users/apple/Library/Logs/telepresence/daemon.log.

Here is the doc of dns of telepresence, but I cannot find how it works in the windows.
https://www.telepresence.io/docs/latest/reference/routing/#dns-resolution

[daemon.log](https://github.com/telepresenceio/telepresence/files/7214429/daemon.log)

[2021-09-23 07:11] mastery-sanket-nagare opened #2109 "Not able to telepresence to a remote cluster"
Trying to telepresence to a remote cluster on windows as well WSL2 and failing miserably to do so.

Getting the following errors in connector.log

![image](https://user-images.githubusercontent.com/64788037/134333984-007bc475-2af3-468b-897b-1a697bff8a47.png)

Although the current context is set, telepresence always tries to connect to the ambassador namespace.

Here is the command that I am trying

[2021-09-23 07:12] Schille commented on #1935
We've faced the same troubles with missing _environment variables_ during an _intercept_ with _--docker-run_.
We're using an _oauth2 reverse proxy_ as sidecar for JWT validation and claim/header mapping, i.e. all traffic passes the sidecar before entering the application container.

![oauth2-sidecar](https://user-images.githubusercontent.com/676722/134465919-a93e2230-0096-4d3a-9119-b695ba0f04ee.pn

[2021-09-23 07:38] thallgren commented on #2095
Sorry, I was unclear. I want to know what process it is that makes the original request to "redis-cs.svc.cluster.local" on Windows.
Two reasons for that:

1. On Windows, the URL is  "redis-cs.svc.cluster.local". It lacks namespace. On Mac it contains the namespace "test82".
2. On Windows, there's no query for the A-record.

I don't think it's likely that Telepresence is the cause of those differen

[2021-09-23 14:54] ytfrank commented on #2095
@thallgren
Sorry for the confuse!
 Actually, It's the same java process on Windows and Mac, and both of them request to "redis-cs.test82.svc.cluster.local". "test82" was removed in the damon log of Windows.
Yeah, the only difference is no query for the A-record (only QTYPE[5] & QTYPE[28]) on Windows 10 when starting the java process in IntelliJ IDEA.

[2021-09-23 15:01] thallgren commented on #2095
Are you saying that Telepresence removed "test82" from the DNS query? I really can't see that happening.

[2021-09-23 15:21] donnyyung opened #2110 "Fix `stat on <mount point>/var failed` flake"
This test sometimes fails (I think on windows only) but it's a flake an usually passes on future re-runs. We should figure out why that is and fix it.
[code]

[2021-09-23 15:24] ytfrank commented on #2095
No, "test82" was removed by I manually  before uploading the log file.  The original info is the same.
Below is the original info in the log file on Windows:

2021-09-22 13:56:48.7621 debug   daemon/server-dns/Server : LookupHost "redis-cs.test82.svc.cluster.local"
2021-09-22 13:56:49.2292 debug   daemon/server-router/TUN reader : -- POOL udp 10.96.0.0:52444 -> 10.96.0.10:53, count now is 14
2021-

[2021-09-23 15:33] #2103 closed, assigned to nobody

[2021-09-23 21:17] #2084 closed, assigned to thallgren

[2021-09-23 23:22] thallgren commented on #2095
Telepresence works fine on my laptop and it also passes our CI-tests on Windows.

I honestly don't think this is a telepresence issue. I can't see neither Telepresence nor the OS would change the DNS queries from a type `A` to a type `CNAME`. That must be something that the app is doing differently on Windows.

[2021-09-23 23:47] ytfrank commented on #2095
Yeah, I think so. Will try another process on windows 10.
Thanks very much!

[2021-09-24 09:12] thallgren commented on #2095
Closing, as we agree that this isn't a telepresence problem. Feel free to reopen if you find new things that points to Telepresence.

[2021-09-24 09:12] #2095 closed, assigned to nobody

[2021-09-24 13:30] ilovechai opened #2114 "Helm unable to install traffic-manager on kube cluster"
I'm unable to install traffic manager in my kube cluster
[code]
Helm and kubectl version
[code]

[2021-09-24 14:44] donnyyung opened #2115 "Add telemetry around timeouts"
**Please describe your use case / problem.**
We should add Telemetry around timeouts so we know what timeouts people are hitting and what they are set to, so we can ensure A. our defaults are good and B. update our defaults if people seem to be hitting timeouts frequently.

**Describe the solution you'd like**
Similar to how we send telemetry at various points, we should add telemetry when a user

[2021-09-27 05:24] mastery-sanket-nagare commented on #2109
@thallgren Could you please help me out here?

[2021-09-27 05:50] ilovechai commented on #2114
Support for `MutatingWebhookConfiguration` have been added in kubuernetes version 1.17 or above.

[2021-09-27 05:50] #2114 closed, assigned to nobody

[2021-09-27 14:53] tzneal commented on #2092
I saw some commits that looked semi-relevant to this issue, so I pulled a nightly to test but the issue is still there:

[code]

[2021-09-27 15:43] xavidop commented on #2033
Hello!

we are facing this issue as well!

this is the log from a `traffic-agent`:

[code]
Here is the full log [out.log](https://github.com/telepresenceio/telepresence/files/7237960/out.log)

So having that issue, our laptops stop working and the only way to have everything up and running is just restarting the laptop.

I had to rollback to 2.4.1 version on the traffic-manager and it seems workin

[2021-09-27 17:32] efunk commented on #1996
Resolved in Telepresence 2.4.4 GA

[2021-09-27 17:32] #1996 closed, assigned to donnyyung

[2021-09-27 17:33] efunk commented on #2023
Resolved in Telepresence 2.4.4 GA

[2021-09-27 17:33] #2023 closed, assigned to nobody

[2021-09-27 21:13] josecv commented on #2109
@mastery-sanket-nagare Are you trying to set up telepresence in a different namespace? If so, check out [this doc](https://www.telepresence.io/docs/latest/reference/config/#manager) which should help you set the namespace to connect to -- at that point it should stop trying the `ambassador` namespace and try the one you're setting.

Of course, you'll need `secrets` permissions on that namespace

[2021-09-28 10:18] tobiasfriden opened #2120 "Cannot change service port without uninstalling traffic-agent from the deployment"
**Describe the bug**
I am running a service with multiple ports. According to the telepresence documentation [here](https://www.telepresence.io/docs/latest/reference/intercepts/) it is possible to change the port using the `--port` flag.

However, everytime I change the port I get the error message:
[code]
meaning I have to reinstall the traffic-agent (which takes several minutes) everytime I want

[2021-09-29 07:00] ghost commented on #1492
Hi,
A workaround:
[code]

[2021-09-29 08:04] tobiasfriden commented on #2120
To make matters worse, sometimes the command to uninstall traffic-agent fails with:
[code]
It seems like the prefix `tm-` is for some reason added to the serviceName which I have specified. The only solution in this case is to recreate the deployment which is not feasible to do in a production environment

[2021-09-29 08:26] movsb opened #2121 "Intercepts multiple ports in a service"
**Please describe your use case / problem.**

I have a service with two ports, GRPC and HTTP. I want to intercept both of the ports. Currently, I don't know how.

**Describe the solution you'd like**

I'd like the `-p` flag of `intercept` can have multiple ports specified.

[code]

**Describe alternatives you've considered**

**Versions (please complete the following information)**
  - Output of `

[2021-09-29 13:20] waffle999 opened #2122 "telepresence fails on Mac (docker for Mac + Kubernetes)"
I followed the tutorial to install telepresence on https://www.telepresence.io
But it always fails at the "verifying" part.

Steps to reproduce the behavior:
1. `telepresence connect`
2. `curl -ik https://kubernetes.default.svc.cluster.local` / `curl -ik https://kubernetes.default`

this will result in `curl: (7) Failed to connect to kubernetes.default.svc.cluster.local port 443: Operation timed o

[2021-09-29 20:02] donnyyung commented on #2121
Hey @movsb thanks for the issue. We already have an issue open for this so I will close this + link to the duplicated ticket: https://github.com/telepresenceio/telepresence/issues/1607

[2021-09-29 20:02] donnyyung commented on #2121
Duplicate of https://github.com/telepresenceio/telepresence/issues/1607

[2021-09-29 20:02] #2121 closed, assigned to nobody

[2021-09-29 20:04] donnyyung commented on #2120
Hey @tobiasfriden , I think the problem you are surfacing here is essentially this issue: https://github.com/telepresenceio/telepresence/issues/1607

We made some changes to our architecture that should enable us to add this feature soon!

[2021-09-29 20:06] tobiasfriden commented on #2120
@donnyyung yes that's exactly what I would need, great news! Closing this then.

[2021-09-29 20:06] #2120 closed, assigned to nobody

[2021-09-30 00:06] KimDoubleB commented on #1916
Is this problem solved?
The same error occurs to me.

-----

System environments
- alpine linux 3.14.2

when use telepresence v2.4.4
[code]

when use telepresence v2.3.7
[code]

[2021-10-01 05:32] KimDoubleB opened #2124 "`telepresence connect` fails - `failed to scan connector logs`"
**Describe the bug**

Hi. I have recently learned Telepresence and applied it to the development environment.

Currently, alpine linux are being used. I installed telepresence and executed the command `telepresence connect`, but the following error occurred.

[code]

There was no telepresence error for the same kubernetes environment in Mac Big Sur, not alpine linux.

Is it an error because telepr

[2021-10-01 06:21] KimDoubleB commented on #2124
I solved this problem through `Running Telepresence inside a container` among official documents.
There must be a difference in the network kernel interface(`/dev/net/tun`). I've solved it, so I'll close the issue.

[2021-10-01 06:21] #2124 closed, assigned to nobody

[2021-10-01 13:14] petermant opened #2126 "Telepresence gather logs fails because telepresence itself fails"
Running telepresence 2.4.4 fails, so I tried running gather logs to add them to an existing issue which I was testing ([1916](https://github.com/telepresenceio/telepresence/issues/1916)).

Gather logs then fails with the same error as the telepresence command itself. Output and reproduction commands are below.

[code]

**Expected behavior**
The logs are collected without errors

**Versions (please

[2021-10-01 13:52] donnyyung commented on #2126
Hey there, will try to improve this behavior but the command without any flags does try to collect logs from things in the cluster which does require the traffic-manager to be present (which seems like it the issue here).

In the meantime, if you use:
[code]
It will get the logs from the daemons only.

[2021-10-01 14:04] petermant commented on #2126
That does help, certainly:

[code]

Thanks. Perhaps it could catch the exception and fall back to operating if those options were selected.

[2021-10-01 14:17] petermant commented on #1916
I've retested this on 2.4.4 and it still occurs. Logs are attached in case this helps.
[telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/7267822/telepresence_logs.zip)

[2021-10-01 15:50] donnyyung commented on #2126
Yup, that's what I'm going to add :) It will make it into our next release that will be happening next week.

[2021-10-01 17:20] dmitriy0404 opened #2127 "Windows 10 DNS resolver works wrong"
**Steps to reproduce**

1. I connected to telepresence via `telepresence connect` command
2. I try to make a curl request to service1 (from default namespace) `curl http://service1` it fails because I need to specify the namespace
3. I try to make a curl request to service `curl http://service1.default` it passed
4. I intercept service2 (service1 and service2 are in default namespace) via the comm

[2021-10-02 08:41] tedyage opened #2129 "Unable to connect to the remote cluster network after running telepresence connect on win10"
**Describe the bug**
When I ran the command `telepresence connect --kubeconfig .\.kube\config --cache .\kube\cache`, I saw the response was successful.
`Launching Telepresence Root Daemon
Launching Telepresence User Daemon
Connected to context kubernetes-admin@kubernetes (https://192.168.1.134:6443)`
But I couldn't access the url https://kubernetes.default with curl after I ran the command before.

[2021-10-04 14:18] mikesmithgh opened #2130 "Specifying a relative --mount path silently fails"
**Describe the bug**

If a user incorrectly specifies a relative path instead of absolute path, the relative path directory is created as an empty directory without any volume mounts. The documentation for --mount clearly states that this should be an absolute path, however, unfamiliar users may not realize this. The ask here is to convey a meaningful error or warning to the user so that it is qui

[2021-10-04 21:20] Ethan-99 commented on #2122
I am experiencing the same issue. In my case I can confirm that the curl is hitting the correct Cluster IP of the default kubernetes service and then times out:

[code]

[code]

I am on a VPN that is necessary to remotely access the cluster.

i should also note that I tried this with several versions of telepresence, not just v2.4.4, all with the same results.
[daemon.log](https://github.com/telep

[2021-10-05 12:51] JuanRamino opened #2132 "[v2] Windows 10 cli commands never terminate"
Hi,

After upgrading from 2.4.3 to 2.4.4 all commands used in CLI never terminate.
For example `telepresence version`  remains hanging.
Downgrade to 2.4.3 solve the issue.

Thanks

[2021-10-05 17:13] edude03 opened #2133 "Can telepresence be made to work with Flagger?"
**Please describe your use case / problem.**
We use [flagger](https://flagger.app/) for canary deployments in staging and production, but in staging we use Telepresence for debugging.

The problem is that both flagger and telepresence patch the service / deployment to work, and after they apply their patches telepresence doesn't work anymore.

**Describe the solution you'd like**
There are two way

[2021-10-05 19:52] Ethan-99 opened #2134 "[v2] Intercept not intercepting traffic with Container Approach (Docker, MacOS)"
**Describe the bug**
I am attempting to use the telepresence container approach to intercept traffic to an example application following the steps in the documentation. The intercept is created successfully, but the traffic is still going to the cluster pod and not my local service that is intercepting.

**To Reproduce**
Dockerfile:
[code]

Docker run command:
[code]

Tp commands (now in docker co

[2021-10-05 21:00] Arkessler opened #2135 "[v2] empty TELEPRESENCE_ROOT(MacOS) - Missing Pod CIDRs in watch-cluster-info"
**Describe the bug**

While attempting to run telepresence 2.4.4 with the `--mount=true` flag from my MacOS Big Sur 11.4 system, I am unable to mount volumes from my targeted remote pod to my local container. When navigating to $TELEPRESENCE_ROOT, I only see an empty folder, whereas I would expect to see all the volumes listed in $TELEPRESENCE_MOUNTS. The error logs suggest to me that this is an i

[2021-10-05 21:02] Arkessler commented on #2135
Potentially related issues:

https://github.com/telepresenceio/telepresence/issues/1654

https://github.com/telepresenceio/telepresence/issues/1453

[2021-10-06 08:42] PopChicken commented on #2122
Same issue. It works sometimes, but I found no regularity. I'm using fresh Ubuntu 20.04 LTS with all VPNs or proxies turned off.

[2021-10-06 09:55] PopChicken commented on #2122
Seems like the DNS service didn't auto-fallback for an unknown name. Everything works with DNS created by Telepresence specified.

[2021-10-06 13:20] andrey-gava opened #2136 "After connect dns wont work. Lost all connection to cluster and Internet until quit."
**Describe the bug**
Traffic Manager installed with HELM:
`helm install --create-namespace  traffic-manager -n ambassador ./telepresence-2.4.4.tgz --set agentInjector.webhook.admissionReviewVersions="{v1,v1beta1}" --atomic --debug`

When run
`telepresence connect `
it report that connected to cluster. But after that all dns query cant be resolved. Any kubectl commands to cluster timed out
Curl to

[2021-10-06 13:47] andrey-gava commented on #2136
![изображение](https://user-images.githubusercontent.com/59727632/136214929-86d4cd07-c890-4af5-882f-8daecb75e977.png)

![изображение](https://user-images.githubusercontent.com/59727632/136214972-ae96d712-6db4-49b0-88a8-726795560cd8.png)
[code]

[2021-10-06 14:48] Ethan-99 commented on #2134
I realized that `--network=host` does not work as intended for Docker for Mac. Instead I replaced it with `-p 8080:8080`.

Now when I run `curl localhost:8080` in both the container and on my host, it returns the updated response.

However, this did not fix the problem of telepresence not intercepting the traffic. I just wanted to cross this off a list of possible reasons why.

[2021-10-06 15:47] dcd000 commented on #1863
Hi. We have the same problem.
In deed for a Statefulset with a Headless Services the SRV type dns lookup is the primary way to access it, as the number of nodes may increase or decrease dynamically and the SRV recorsets keep track of the nodes.
Certainly this is a must if you want to work with statefulsets in kubernetes.

[2021-10-06 17:04] Arkessler commented on #2135
Whelp, decided to dig a little deeper, and I eventually got it working with some workarounds!! Looking at the logs, I noticed there was a disconnect between the proxied CIDRs and the pod IP being queried during volume mounting (IPs have changed from my original logs as I've redeployed the pod)

Daemon.log
[code]

Connector.log
[code]

So, I added the pod IP explicitly to my kubeconfig using `also-

[2021-10-07 01:20] Ethan-99 commented on #2122
@PopChicken Can you elaborate on how you specified to use DNS created on Telepresence if that solved the issue on your machine?

[2021-10-07 02:50] PopChicken commented on #2122
**For Ubuntu**, try to edit /etc/resolv.conf. You can first use the command `resolvectl status` to see your DNS list and find whether the DNS of Telepresence was created.
However, Telepresence won't fall back too. All DNS resolutions will be invalid except Telepresence's.

[2021-10-07 10:28] joelhoisko opened #2139 "Can't download Telepresence CLI for Linux, SSL_ERROR_ZERO_RETURN"
**Describe the bug**
I tried to install the Telepresence CLI as per the [docs](https://www.telepresence.io/docs/latest/howtos/intercepts/). I tried to download the binary with the supplied `curl` command, but nothing downloads and it fails with `SSL_ERROR_ZERO_RETURN`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. When I run `sudo curl -fL https://app.getambassador.io/download/tel2/

[2021-10-07 10:31] joelhoisko commented on #2139
Actually it just started to download for a bit, but then stopped. It seems to be going up and down.
![image](https://user-images.githubusercontent.com/10163775/136367768-b4fe6e74-84bd-4a61-bfbf-92c988f26a48.png)

[2021-10-07 12:34] rishinair19 opened #2140 "Add an option to disable public/tcp intercept"
**Please describe your use case / problem.**

We're looking to implement telepresence but have a concern that running services will be impacted by mistake. Basically, we want to disable the public intercept which intercepts all requests. I’m aware that we can login to telepresence and create a personal intercept but we're worried that a user might just forget to login and interrupt the service com

[2021-10-07 17:07] velykanov opened #2142 "DNS resolution failure"
Hello everyone!

I'm not sure if that's a bug but feels like it is.

I'm trying to send a grpc query from code which I'm debugging in intellij to another pod in cluster which always fails with the same "DNS resolution error".
Telepresence status however shows networking to the cluster is enabled:
[code]

I'm intercepting service using the following command (was also playing with `--context` and `-

[2021-10-07 19:08] #2134 closed, assigned to nobody

[2021-10-07 19:25] Ethan-99 opened #2143 "[v2] Unable to connect to k8s services despite being connected to cluster with telepresence (MacOS)"
**Describe the bug**
I am unable to access k8s services after successfully connecting to my EKS cluster with `telepresence connect`. Any curl requests resolve to the correct k8s service ip address, but nothing gets returned and the request times out. Additionally (and likely related), intercepts are failing to route traffic to my locally running service. Possible important note is that I on on a G

[2021-10-07 19:49] andrewnazarov opened #2144 "[v2] Can't resolve DNS names during telepresence intercept and after telepresence leave"
**Describe the bug**
I can't resolve any DNS names after doing a successful intercept. Neither `<service_name>` nor `<service_name>.<namespace_name>` can't be resolved. All curl requests end up with a `Could not resolve host` error. In addition, the DNS resolution of `<service_name>.<namespace_name>` doesn't work even after `telepresence leave`.

**To Reproduce**
Initially after doing `telepresenc

[2021-10-08 05:31] andrewnazarov commented on #2127
It looks quite similar to my issue(https://github.com/telepresenceio/telepresence/issues/2144). However, I'm on MacOS.

[2021-10-08 11:05] gll910802 commented on #1675
check out your source code version
and the file 'packaging/build-telepresence.py' exist or not in the path

[2021-10-08 14:01] thallgren commented on #2144
The fact that you need to restart telepresence makes me suspect that the DNS cache isn't flushing correctly. Did this behavior change from 2.4.3 to 2.4.4?

[2021-10-08 15:38] thallgren commented on #2136
From the looks of it, the DNS server sends LookupHost requests to the traffic-manager that then times out. It would be interesting to see the log (with loglevel debug turned on) for the `traffic-manager` pod in the ambassador namespace.

[2021-10-08 15:40] thallgren commented on #2142
Would it be possible for you to try the 2.4.4 release, turn on debug logging with `telepresence loglevel debug` and then gather all logs using the `telepresence gather-logs` command?

[2021-10-08 15:52] velykanov commented on #2142
Sure, I'll upgrade tp and will share logs early next week

[2021-10-09 13:02] amolerca commented on #1722
As  @scholzj points out [here](https://github.com/strimzi/strimzi-kafka-operator/issues/2656#issuecomment-730452898), since version 0.20.0 of Strimzi, you can actually [configure your `Kafka` objects with a `useServiceDnsDomain` property](https://strimzi.io/docs/operators/latest/full/using.html#property-listener-config-dns-reference), which defines whether or not to add the `.cluster.local` suffix

[2021-10-09 19:30] JCzz opened #2149 "inux/arm64: failed to start traffic manager - No existing Traffic Manager found"
telepresence version                                                                                                                           1 ↵
[code]

kubectl version
[code]

Out of the box installation:

`brew install datawire/blackbird/telepresence`

`telepresence connect`

[code]

Note: running
- `telepresence gather-logs` reports the same error
- `kubectl` is working

Printing log: `/Users

[2021-10-09 20:09] JCzz commented on #1682
Same issue in:
[code]

[2021-10-09 22:26] thallgren commented on #1029
@JCzz are you seeing issues with Istio or Knative? If you do, please elaborate. If not, please close this ticket again.

[2021-10-10 22:26] davemaier commented on #1607
Pushing this a bit. Would really nice to have!

[2021-10-11 04:05] thallgren commented on #1722
@amolerca , does a name like that resolve correctly if you add ".svc" to the list of [include-suffixes](https://www.telepresence.io/docs/latest/reference/config/#dns)?

[2021-10-11 08:33] velykanov commented on #2142
Good day @thallgren
Can you please tell me if there is a way to increase maximum message size?
`telepresence gather-logs` command throws the following error `telepresence: error: error getting logs from kubernetes components: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (8133251 vs. 4194304)` and size of logs is growing and I cannot even send you a gathered zip

[2021-10-11 08:55] andrewnazarov commented on #2144
@thallgren I haven't tried 2.4.3. I skipped some versions and started playing with the most recent.

[2021-10-11 09:00] andrey-gava commented on #2136
[connector.log](https://github.com/telepresenceio/telepresence/files/7321059/connector.log)
[daemon.log](https://github.com/telepresenceio/telepresence/files/7321060/daemon.log)
[pod.log](https://github.com/telepresenceio/telepresence/files/7321065/pod.log)

[2021-10-11 09:08] andrey-gava commented on #2136
And this one after full delete of traffic-manager helm package from cluster, and trying to connect from scratch
[connector.log](https://github.com/telepresenceio/telepresence/files/7321109/connector.log)
[daemon.log](https://github.com/telepresenceio/telepresence/files/7321110/daemon.log)
[pod.log](https://github.com/telepresenceio/telepresence/files/7321111/pod.log)

[2021-10-11 10:58] PopChicken commented on #1607
Really need this feature :D. It cannot be used on the cluster of my company because of this.

[2021-10-11 14:11] Ethan-99 commented on #2143
Update:

As a test, I was able to connect to my cluster _without_ being connected to my VPN. Upon doing so, I was able to correctly curl the default kubernetes service, indicating that the connection problem is with the VPN.

[code]

However, I still cannot intercept traffic to my locally running service, which seems to be a separate problem from the VPN. Here is the code snippet. I've attached ne

[2021-10-11 15:43] amolerca commented on #1722
@thallgren Why shouldn't it work? Both `.svc.cluster.local` and `.svc` are valid suffixes at Kubernetes; the configuration I mention simply forces Strimzi to use the first one in order to advertise Kafka brokers, which is the one that Telepresence understands by default. I'd be surprised if adding suffixes to the `include-suffixes` list overrode this behavior.

[2021-10-11 19:58] thallgren commented on #2142
@velykanov you can try setting [maxReceiveSize](https://www.telepresence.io/docs/latest/reference/config/#grpc) to something larger and see if that helps.
@donnyyung I think we might want to consider sending splitting large logs into a stream of messages.

[2021-10-11 20:03] thallgren commented on #1722
@amolerca I'm not saying that it shouldn't work. I'm just trying to figure out why it doesn't. My theory is that Telepresence's DNS resolver (the one running on your workstation) doesn't recognize `svc` as a valid domain name so a name ending with it will never be dispatched to the cluster. Adding it to the `include-suffixes` would force it to be recognized and if that works, then a) we know where

[2021-10-11 20:17] FedericoJurio commented on #2136
Today I started with this same issue in MacOS

[2021-10-11 20:24] thallgren commented on #2136
The traffic-manager pod isn't able to resolve any of the lookups. It seems to go into a loop where the pod queries your workstation's DNS resolver (which would assume that your cluster is using the same DNS resolver as your workstation), which in turn sends the query to the pod. Could that be the case?

[2021-10-11 23:15] SomaticIT commented on #1944
Hello,

I got a similar issue on WSL 2.
`/etc/fuse.conf` already contains `user_allow_other`.

Here is the content of `connector.log`:
[code]

[2021-10-12 05:55] Abhijit070590 opened #2150 "Issue when running telepresense"
### What were you trying to do?

(please tell us)

### What did you expect to happen?

(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--namespace', 'mercari-admin-mod-jp-dev', '

[2021-10-12 08:03] andrey-gava commented on #2136
@thallgren
I'm not an expert in networks.
As far as I can tell my laptop use the same DNS IP (nmcli device show "main_interface") as the K8S nodes in /etc/resolv.conf
My laptop use systemd-resolver.
K8S nodes doesn't use systemd-resolver.

And kubelet on nodes have in config this lines:
[code]

But I don't understand how it matters? Doesn't DNS queries from my laptop should go to the traffic-manag

[2021-10-12 08:45] thallgren commented on #2136
It's not entirely clear to me what your setup looks like. Are you running the cluster locally on your laptop? If so, then it would be at least theoretically possible that the Kubernetes DNS falls back to using your laptops DNS.

Can you do the `nslookup kubernetes.default` from the traffic-manager pod while telepresence is connected?

[2021-10-12 10:02] andrey-gava commented on #2136
My cluster running on separate vm's in another subnet.
After telepresence is connected I lost connection to cluster. Cluster API become unresponsive. Cant reach cluster API IP:PORT with telnet. I had try to do it from another host, but still no luck either.

[2021-10-12 10:50] thallgren commented on #2136
So, when telepresence is connected, you cannot reach your cluster from another host? That's very odd.

When you talk about separate VM's, are those VM's hosted on the same machine that runs telepresence? If so, what's the output of `ip a` on that host?

[2021-10-12 11:05] andrey-gava commented on #2136
I run telepresence cli on my laptop and connect to remote cluster(installed on vm's on standalone vspehere machine). And yes, after execute` telepresence connect` kubernetes api unreachable.
More, I just tried to enter container from the node by doing `docker exec`, but cant do it either, because ssh connections wont work. Not just to k8s nodes, but what is strange to any host. So its not just DNS

[2021-10-12 12:09] velykanov commented on #2142
@thallgren after finding that pod needs to have `telepresence.getambassador.io/inject-traffic-agent: enabled` annotation I've tried once again and that didn't help yet

Please find file with gathered logs here https://mega.nz/file/Q6pQVBCC#zqR3oznzKyQ7ojI1hg17R8609c41xJvFuQ8AhUXDx4o

[2021-10-13 09:36] rzseattle commented on #2136
Got the same symptoms. After the "telepresence connect" command computer losing connection with the kubernetes master node server. It's impossible to connect  via ssh or http. Even if I check user daemon it has the status "Not connected, error talking to cluster". After telepresence quit everything is getting back to a normal state.

[2021-10-13 13:38] FedericoJurio commented on #2136
From my side, I was able to fix it by upgrading everything in brew (`brew upgrade`) but the scenario could be different since I'm using a legacy version of telepresence (0.109). My guess is that an update in the system screwed the DNS resolution while using telepresence.

[2021-10-13 15:37] Ethan-99 commented on #2143
Another update: I was able to resolve the issue with the intercepts by using the mutating webhook as my workload is being handled by ArgoCD.

https://www.telepresence.io/docs/latest/reference/cluster-config/#mutating-webhook

Leaving this issue open however, as I still cannot use telepresence while connected to my VPN.

[2021-10-14 15:34] an-tex commented on #2092
I have the same issue with requests 2MB (maxReceiveSize is set appropriately). It's pretty hard to pinpoint but falling back to telepresence-legacy it works straight out of the box :(

[2021-10-14 19:22] #1833 closed, assigned to nobody

[2021-10-14 19:23] #1932 closed, assigned to nobody

[2021-10-14 19:23] #2091 closed, assigned to nobody

[2021-10-15 00:31] #1936 closed, assigned to nobody

[2021-10-15 03:04] thallgren opened #2158 "Failure to find agent to uninstall should not refer to logfiles"
When making an attempt to uninstall an agent from an existing workload that doesn't have an agent installed, the user is faced with an unhelpful "See logs for details" although the first message printed contains all relevant info e.g:
[code]

[2021-10-15 12:52] thallgren commented on #2092
This will be addressed in our coming 2.4.5 release. If you want, you can try out our release candidate: `https://app.getambassador.io/download/tel2/linux/amd64/2.4.5-rc.1/telepresence` (swap linux for darwin on a macOS). Both the telepresence client and the traffic-manager must be reinstalled for the fix to kick in.

[2021-10-15 12:56] thallgren commented on #2143
@Ethan-99 can you please check if the subnet(s) used by your VPN collide with the subnets used by the Telepresence TUN device? A `netstat -r` when both are connected will show the subnets.

[2021-10-15 14:10] Ethan-99 commented on #2143
@thallgren sure, here is the output. I am no expert on networking. I know that the `utun2` device is the VPN and the `utun3` is the telepresence TUN.

[code]

[2021-10-15 14:21] an-tex commented on #2092
I gave the 2.4.5-rc.1 a quick spin with a local k3d cluster and it seems to work! Had quite a few error logs in the traffic manager along the lines of:
`2021-10-15 14:15:32.5099 error   httpd/conn=127.0.0.1:8081 :    CONN tcp 10.43.0.0:54110 -> 10.43.227.61:80 stream to-conn loop ended because context canceled` but it did't seem to affect the connections. Thanks @thallgren :)

[2021-10-15 14:34] thallgren commented on #2092
@an-tex thanks for reporting that. I'll investigate why those lines are printed.

[2021-10-15 14:37] thallgren commented on #2143
It seems your VPN and your Cluster (and hence, telepresence) uses the exact same subnets. Does telepresence use the same subnets when the VPN is disconnected?

[code]

[2021-10-15 14:40] thallgren commented on #2143
Another thing that would be interesting to see here is the output of `grep -i subnet <the daemon.log file>`.

[2021-10-15 15:18] Ethan-99 commented on #2143
Yes, looks like telepresence does use the same subnets when the VPN is disconnected:
[code]

Output of `grep -i subnet telepresence_logs/daemon.log`:
[code]

One interesting thing I noticed is that telepresence will not create the TUN device after disconnecting from the VPN. I needed to restart my machine.

Steps to reproduce:
1. connect to VPN
2. telepresence connect
3. telepresence quit
4. disco

[2021-10-15 15:44] thallgren commented on #2143
That explains why it doesn't work. A `telepresence connect` will give your workstation access to the cluster's network by exposing the cluster's subnets (using the TUN-device). If your cluster uses the same, or overlapping, subnet as something else (your VPN), then there's a conflict.

I'm not sure what we can do about that. One option would be to add an ability to actually move the subnets to som

[2021-10-15 18:10] Bwvolleyball commented on #1654
Does anyone happen to know the developer id for the sshfs dependency?  As a workaround to needing to click install, it's be nice to be able to to it via CLI. Sometimes that allow button is fickle, it has not popped up for me yet.

I'm referencing these commands:

https://apple.stackexchange.com/questions/398514/no-allow-button-in-security-and-privacy-preferences

[2021-10-18 12:36] tzneal commented on #2092
@thallgren  I did some testing this morning and this looks like it's resolved in the 2.4.5 release. Thanks!

[2021-10-18 17:56] Ethan-99 commented on #2143
What's strange to me is that the `10.201/19` and `172.20` entries are not there when I am just connected to the VPN. The entries are only added to the `utun2` device _after_ running telepresence connect. Could the telepresence TUN device also be making changes to the VPN `utun2`?

After connecting to the VPN:
[code]

Connected to the VPN and then running `telepresence connect`
[code]

[2021-10-19 07:27] DrogoNevets commented on #1682
I am getting this issue on a M1 MacMini too

[2021-10-19 11:29] SGudbrandsson commented on #1182
I'm trying telepresence out and connecting is successful, but after that my internet is out.
I'm unable to connect to services inside the cluster as well.

I'm running on Ubuntu 20.04

Here are my logs
[code]
Resolv.conf
[code]

[2021-10-19 14:13] donnyyung opened #2162 "Improve Windows Installer"
**Please describe your use case / problem.**
We should make our windows installer more legit and not have this warning when installing it:
“Do you want to allow this app from an unknown publisher to make changes to your device?"

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descript

[2021-10-19 14:44] tzneal commented on #2081
No longer having an issue, believe the problem was on mu end.

[2021-10-19 14:44] #2081 closed, assigned to nobody

[2021-10-19 17:24] khussey commented on #2007
Support for this was added in the 2.4.5 release, which is now available.

[2021-10-19 17:24] #2007 closed, assigned to thallgren, donnyyung

[2021-10-19 17:26] khussey commented on #1632
This was fixed in the 2.4.5 release, which is now available.

[2021-10-19 17:26] #1632 closed

[2021-10-19 17:26] khussey commented on #2092
Closing now that the 2.4.5 release is available.

[2021-10-19 17:26] #2092 closed, assigned to thallgren

[2021-10-19 18:29] khussey commented on #1953
This is fixed in the 2.4.5 release, which is now available.

[2021-10-19 18:29] #1953 closed, assigned to thallgren

[2021-10-19 18:29] khussey commented on #1810
This has been fixed in the 2.4.5 release, which is now available.

[2021-10-19 18:29] #1810 closed, assigned to josecv

[2021-10-19 23:09] treyhyde commented on #2085
I might be seeing something similar.  It creates a route with netmask of /17 which will only get 50% of the /16 the is the kube VPC.

[2021-10-20 08:01] linnal commented on #2097
Were you able to find what the problem was? I'm having almost the same error with the last version.

[code]

[2021-10-20 09:02] linnal opened #2163 "Telepresence intercept times out [v2.4.5]"
This started with the new version, in 2.4.4 it was working.
I am able to connect to my local kubernetes cluster. When I do intercept it times out, I increased the configuration timeout to 2m but it did not change anything.

Steps to reproduce the behavior:
[code]

Even though telepresence times out, the agent is being created and this is the logs:
[code]

Telepresence connector Logs
[code]

**Vers

[2021-10-20 15:25] luminoso commented on #2163
I have the same behavior, but using Fedora Linux.

The connection hang starts to happen inside the cluster too, containter-to-cointainer, not just on the from the "remote" telepresence to the cluster

[2021-10-20 16:11] velykanov commented on #2142
Hi @thallgren, sorry for bothering you but I wonder if there is some kind of solution you can provide me with in this case?

[2021-10-20 17:26] tanersener opened #2165 "Telepresence connect breaks the DNS settings if host is on VPN"
**Describe the bug**
The latest version v2.4.5 works well when I'm not on VPN. But, if I run `telepresence connect` after connecting to VPN, then my VPN specific DNS settings are being reverted to my non-VPN settings. Additionally, `telepresence connect` doesn't fail but `telepresence intercept whoami` command I run after that fails.

I looked at #2085 and #2143 too. I believe my case is different

[2021-10-20 20:02] actualrockstar opened #2167 "Telepresence DNS resolution fails in containers run with --docker-run in WSL2"
**Describe the bug**
When running a Telepresence intercept with the `--docker-run` flag in WSL2, all cluster-based DNS resolution fails. Containers run with `--docker-run` are not able to perform outbound service calls.

**To Reproduce**
Steps to reproduce the behavior:
1. In WSL2 Ubuntu terminal, I ran `telepresence connect`.
2. I ran `telepresence intercept {service} -p 8080 --docker-run -- -it

[2021-10-22 14:59] imitbn commented on #1794
There is no such issue with Telepresence 2.4.5 and Docker Desktop for Windows 4.1.1

[2021-10-22 14:59] #1794 closed, assigned to nobody

[2021-10-22 18:01] miquella opened #2169 "TELEPRESENCE_ROOT doesn't contain any of the mounted secrets"
**Describe the bug**

When attempting to intercept a service, the `$TELEPRESENCE_ROOT` directory is empty and doesn't contain any of the pod's mounts.

During a previous debugging session, a question was raised around whether it could be related to the pod's `securityContext` as it was failing to create symlinks for the secrets (v2.4.3 or v2.4.4 was being used at the time). However, those log mess

[2021-10-23 04:39] thallgren opened #2170 "An attempt to install the traffic-manager with insufficient privileges results in a timeout."
**Describe the bug**

Telepresence will make an attempt to install the `traffic-manager` unless its already installed when an attempt is made to connect. That currently fails with a timeout if the user lacks the privileges needed to install it and an advice the user to increase the timeout and/or look in the log files for more information is printed. The `connector.log` contains this line:

[code]

[2021-10-25 16:50] Ethan-99 opened #2173 "[v2] HTTPS traffic is not being routed to cluster service once traffic-agent sidecar is injected into pod"
**Describe the bug**
I am using the mutating webhook to inject a traffic agent into my workload. When the traffic-agent is injected, traffic to the service, regardless of whether it is being intercepted to my local service, is not able to reach to running application.
A curl request returns a `503 service unavailable`. I can confirm that the TLS secret is being injected into the sidecar container,

[2021-10-25 18:53] r-mironov commented on #1607
+1

[2021-10-26 13:39] Nitaym opened #2174 "`telepresence leave` doesn't recognize an intercepted service shown in `telepresence list`"
**Describe the bug**
Telepresence is intercepting a service on the cluster, but it seems that there is no way to stop the interception
`telepresence leave map-proxy` returns that there is no intercept named map-proxy.

See attached image:
![image](https://user-images.githubusercontent.com/19125/138889101-cf619223-6c79-445e-9f76-2b377eabe693.png)

I ended up reinstalling the cluster (luckily it's n

[2021-10-26 14:46] Nitaym commented on #2174
I think I found the issue. It seems my Root & User Daemon were running on a previous version, and did not update.
I've ran `telepresence version` after I restarted my computer.

I did not manage to restore the cluster though.

Maybe add a feature request to verify that versions match when running any telepresence command.

[2021-10-26 18:32] efunk opened #2177 "Resolve Dependabot alerts with telepresence"
Dependabot identified a potential vulnerability to address:

https://github.com/telepresenceio/telepresence/security/dependabot/tools/src/ko/go.mod/github.com%2Fcontainerd%2Fcontainerd/open

[2021-10-26 19:08] elig-salt commented on #1607
This would be incredible !

Unfortunately, this causes us to only use Telepresence for about 50% of our services (which only use gRPC).
Most of our services are moving to gRPC (so we have both HTTP and gRPC), but even then -
many of our services will always have both (some have legacy TCP protocols like `Akka` as well - a third protocol) so if we run `Telepresence intercept` some of the functional

[2021-10-26 19:17] jiezhang0917 commented on #2142
Same issue here. And my logs look similar to velykanov's.

[2021-10-26 19:37] josecv commented on #1916
@petermant hmm i see lines like the following in your connector.log files:

[code]

Could you try installing the traffic manager yourself via helm? See the README [here](https://github.com/telepresenceio/telepresence/tree/release/v2/charts/telepresence) for instructions on doing so -- if there's something preventing your traffic manager from starting up, it will be a little more transparent if you

[2021-10-26 19:56] jiezhang0917 opened #2178 "telepresence leave or quit does not clean up the container that's brought up with --docker-run when intercept"
**Describe the bug**
I usually run telepresence intercept with a docker container by attaching `--docker-run` option. The issue is when quit telepresence or leave an intercept, it doesn't cleanup the container that's running automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. Run telepresence intercept with `--docker-run` option.
2. Then leave the intercept or just do telepresence

[2021-10-26 22:48] YamenSarah commented on #1945
Closing out, our issue was indeed caused by our istio mesh requiring MTLS traffic.
Thanks for the help.

[2021-10-26 22:48] #1945 closed, assigned to nobody

[2021-10-27 13:16] Ethan-99 commented on #2173
I think what is happening is the TLS is getting terminated in the sidecar before reaching the actual application, which is expecting to terminate TLS itself, as it is running a HTTPS secure server with nodejs.

Is there anything I can do in the agent configuration to get this to work without needing to alter my application? Removing the `getambassador.io/inject-terminating-tls-secret: insights-ui-

[2021-10-27 17:30] jiezhang0917 commented on #2163
Same issue here. I'm using `ambassador-telepresence-agent:1.11.3` as the traffic agent image. My telepresence versions are:
Root Daemon: v2.4.4 (api v3)
User Daemon: v2.4.4 (api v3)

[2021-10-27 20:24] josecv commented on #2163
hi @linnal could you share some more logs please? it'd be great if you could do something like the following:

[code]
And then upload the `telepresence_logs.zip` file

It looks as though the local end is disconnecting from the cluster (hence the `session "6b4d45c6-c8e3-41f0-be85-d9bb476a12b2" not found` errors), so i'd like to get some more info on why that's happening

[2021-10-28 18:16] seansabour commented on #1916
Just an update, met with Cindy and Noah today. In the meeting i showed that with a fresh install of telepresence  2.4.6-nightly-b4c29d4b the following issues occurred:
On first connect attempt
[code]

After this I manually created the connector.log file and re-ran the connect:
[code]

Tried to look for logs to show why the daemon did not start, but both connector and daemon logs were empty.

If i

[2021-10-28 21:13] NickPiscizelly commented on #1945
@YamenSarah How did you configure traffic-agent to use mTLS and work with Istio?

[2021-10-29 00:33] jiezhang0917 commented on #2163
I didn't realize that the traffic manager of mine is on version 2.4.5. So I downgraded it to 2.4.4 and then intercept timeout issue was resolved. Thanks for @josecv's help from the telepresence channel.

[2021-10-30 00:51] jiezhang0917 opened #2187 "Xdebug with local container is not working"
**Describe the bug**
I intercepted a service with `--docker-run` and I was able to call my service with localhost:8080. But the xdebug did not stop at the breakpoint.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the intercept with `--docker-run` option
2. Set a breakpoint in the code
3. Call the service with curl
4. It didn't stop at the breakpoint

**Expected behavior**
Code executio

[2021-11-01 09:39] petermant commented on #1916
We have been struggling with the fact that Telepresence doesn't work when McAfee system extensions were enabled - so we always had to disable them before starting work. Then they'd randomly switch back on and I'd get high CPU usage (which I'm still intending to raise as a separate defect, but it gets so high that I cannot collect logs when it happens).

However, as part of trying to discover what

[2021-11-01 14:49] SomaticIT commented on #1944
Any news?

[2021-11-01 14:51] rotty3000 commented on #1944
just in case, @SomaticIT and you tried with a directory which _does not exist_ before mounting? (see my comment)

[2021-11-01 17:35] iNoahNothing opened #2188 "Telepresence Errors with NO_AGENT if Local Service is not Running on Port"
Telepresence will return an error when trying to run an intercept if you have not yet started the local service before running `telepresence intercept`

[code]

## Replicator

This can be easily replicated using the example quote service from Emissary

1.  Deploy the quote service
[code]

2. Try to run an intercept
[code]

3. See the error and run `telepresence list` to see that the agent is insta

[2021-11-01 17:38] SomaticIT commented on #1944
Yes, i retried to be sure.

[2021-11-02 00:32] mouniraboud opened #2190 "Unable to intercept traffic"
Steps to reproduce the behavior:
1. when I do telepresence intercept xxxxx -n xxxxxx --port 9081:http --env-file <FILE>--mount=false
2. the traffic is not getting intercepted at all  (it used to run with the same command but suddenly it stopped)
1. When I run 'telepresence uninstall --everything'
2. I see 'telepresence: error: 1 error occurred:
        * Deployment name="xxxx" namespace="xxxxx": u

[2021-11-02 07:35] aommm opened #2191 "Cannot connect Telepresence to a specific namespace"
**Describe the bug**
Hi!

I used to be able to `curl http://my-service` in Telepresence 1:
[code]

But with Telepresence 2, it seems like the `--namespace` option is no longer available.
Do we always have to specify the namespace name when connecting to services now?
[code]

This is something between a question and a feature request. Apologies if I didn't use the correct channel!

[2021-11-02 10:32] thallgren commented on #2191
Namespace is available in Telepresence 2, but not as an argument to connect. The connect puts your workstation "in the cluster" in a namespace agnostic manner. When you create an intercept (in some namespace), then the network mappings change so that your workstation is "in the cluster and in the intercepted namespace".

If you want your workstation to be in a namespace but you don't want to inter

[2021-11-02 10:32] #2191 closed, assigned to nobody

[2021-11-02 10:36] thallgren commented on #2190
What does `telepresence list` show after the first step? Do you see anything of interest in the logs?

(` --env-file --mount=false` looks odd as `--env-file` requires an argument, but I guess you forgot to write that).

[2021-11-02 13:41] mouniraboud commented on #2190
I managed to make work again but i still think there is a bug in telepresence
I edited deployment yaml file deleted the side car manually than re-intercept it worked fine but still have no idea why this happened

[2021-11-02 13:50] thallgren commented on #2190
I'm closing this ticket since there's no information here that we can act on. Feel free to reopen it with more details around the problem if it happens again. If you're uncertain that you've encountered a bug, please join #telepresence on our [Slack channel](https://datawire-oss.slack.com/).

[2021-11-02 13:50] #2190 closed, assigned to nobody

[2021-11-02 16:08] rkrzewski opened #2193 "Outgoing connection stalls indefinitely when particular service has not been contacted in over 60 seconds, subsequent connection succeeds"
I am very impressed with Telepresence and it's really great when it works, alas it does not work reliably for me. My initial observation was that some time after running `telepresence connect` some requests to te services in the cluster start to fail, but issuing a couple retires usually fixes the problem for some time. Running `telepresence quit; telepresence connect` also temporarily fixes the p

[2021-11-02 18:04] mouniraboud commented on #2190
the list give the interceptor that i create and seems to be working fine but when I hit the svc it is not sending the traffic to my pc and yeah i m including the path in the command
as i said i managed to solve the issue but in a weird way

[2021-11-02 18:15] elig-salt commented on #2165
I think we're having the same problem, using a VPN - and recently Telepresence just stopped working.. couldn't even curl to https://kubernetes.default after `telepresence connect`

[2021-11-03 08:54] thallgren commented on #2193
I'm looking at the logs and I see that the service that Telepresence connects to closes the connection after 60 seconds. The traffic-manager log shows this line:
[code]
The conn-to-stream loop reads from the connection and writes things on the stream that sends the message to your workstation.

In essence, this means that the peer closed the connection. So that raises the question, what is it that

[2021-11-03 10:04] rkrzewski commented on #2193
In this particular instance the server was a HTTP service, more precisely JAX-RS endpoint in a Wildfly server, and the client was Postman (API testing tool). I suppose the connection might stay open because of HTTP/1.1 pipelining, but I highly doubt that Postman is using that, since modern browsers don't.

I was trying to find the simplest reproduction, but my experience with Telepresence on my lo

[2021-11-03 11:52] thallgren commented on #2193
@rkrzewski Here are a couple of things that you could try.
1. Install the new 2.4.6 release (released yesterday). It contains modifications that might be significant if you run a local API server.
2. Directly after `telepresence connect`, and before you try accessing the service, enter `telepresence loglevel trace`. This will result in an abundance of network related logging in the `daemon.log` an

[2021-11-03 12:56] efunk commented on #1947
Fixed and released in Telepresence 2.4.6 GA

[2021-11-03 12:56] #1947 closed, assigned to donnyyung

[2021-11-03 13:32] andrey-gava commented on #2136
I have an update. After upgrading to v2.4.6 part of functionality works
After execute `telepresence connect` ssh works and I can even `curl -ik https://kubernetes.default` which return the answer.
[code]
But I can only curl svc by its IP despite nslookup of this svc are resolves successful.
[code]
[connector.log](https://github.com/telepresenceio/telepresence/files/7467862/connector.log)
[daemon.l

[2021-11-03 21:12] Danny-m08 opened #2194 "Optional image flag for connect command"
**Please describe your use case / problem.**
Being behind corporate VPN often prohibits the ability to pull from dockerhub. To get around this we must log off VPN, pull from dockerhub, push the image to an docker registry internal to corporate proxy and use this image tag. This feature request is to support an optional --image flag to telepresence connect command in order for us to specify which i

[2021-11-04 12:56] rkrzewski commented on #2193
I did an update to 2.4.6 and tried reproduce the bug I've encountered earlier.
There seems to be an improvement because I was able to push images to docker images in the cluster without problems, which was failing really badly before. I did the test in the office over LAN, and I'll retry it from home over a VPN to check if that is a factor.
However I as able to reproduce the problem with connectio

[2021-11-04 14:09] thallgren commented on #2193
Judging from the logs, the client sends TCP keep-alive probes every second. The dialer in the traffic-manager that we forward to will send such probes every 15 second, so it's hard to understand why the service decides to disconnect after 60 seconds. Is there anyway you can find out at what rate the service needs the keep-alives to stay happy and not close the connection?

I have no problem keepin

[2021-11-04 14:53] kflynn opened #2196 "Telepresence should set User-Agent on Scout requests"
When reporting back to check for updates, Telepresence should set the `User-Agent` header to something like `Telepresence $version`.

[2021-11-04 17:22] mtrimolet commented on #2135
Seems related to #1779

[2021-11-04 17:36] mtrimolet commented on #1779
_(Copied from slack, 21/09/01)_
Hello ! I’ve been having a similar issue, i.e. sshfs throws an “i/o timeout” in _connector.log_, and the mounted volume appears empty. But with some varying detail though :
- the `podCIDR(s)` commands are properly returning a subnet per node, but the ip used by sshfs matches none of these subnets (though it answers to telnet, as in original issue)

- interesting log

[2021-11-04 21:42] thallgren commented on #2135
The strategy that the traffic-manager uses when finding the pod CIDRs is configurable through the Helm chart. See [Install With Helm](https://www.telepresence.io/docs/latest/install/helm/) for information on how to install the traffic-manager that way. Also, take a look at the Helm chart [README](/telepresenceio/telepresence/tree/release/v2/charts/telepresence) for more info on what values that ca

[2021-11-05 08:50] thallgren commented on #2174
Adding a version match check is a good idea so I created #2198.

[2021-11-05 08:50] #2174 closed, assigned to nobody

[2021-11-05 12:37] mtrimolet commented on #2135
Thank you @thallgren , it allowed me to configure _traffic-manager_ with `podCIDRStrategy: coverPodIPs` (I appear to have a configuration mismatch between configured `podCIDRs` and effective pod IPs), which works perfectly

[2021-11-05 15:11] Arkessler commented on #2135
Thank you for the reply @thallgren ! (and for the README update!) That makes sense, and is good to know about, but unfortunately we don't currently fully support helm in our internal automation tooling. The plan for this POC was to rely on the deployment that gets triggered by `telepresence connect` . Is it a general best practice to install `telepresence` via Helm instead? Will the helm install g

[2021-11-05 17:28] rkrzewski commented on #2193
Initially I was confused about the TCP keep-alives you wrote about, because I had a mistaken belief that modern browsers don't use use a  single TCP connection for sending multiple HTTP requests to the server (HTTP `Connection: keep-alive`). Browsers actually do that, and what they don't use, is HTTP pipelining ie sending a sequence of multiple HTTP requests over a TCP socket without waiting for a

[2021-11-05 17:58] jiezhang0917 opened #2201 "Telepresence is blocking private network requests"
**Describe the bug**
2 days ago I did a telepresence intercept and left it there. Today when I try to call a private url with vpn connected, it ended up with timeout error.

**To Reproduce**
This issue happend to me and my colleague several times. It's hard to say which way would trigger it.
Possible steps to reproduce the behavior:
1. Intercept a service with telepresence.
2. Leave it there for o

[2021-11-05 19:45] rkrzewski commented on #2193
I took another look at the packet dumps attached above, and I think that there's some merit to my hypothesis that Telepresence does not forward the information about remote service closing the connection to the client.

First of all, the remote service is running on Wildfly, and the HTTP component, undertow does close connections afer 60s of inactivity. I believe that `no-request-timeout` property

[2021-11-05 21:13] thallgren commented on #2193
@rkrzewski I'll look into this first thing on Monday. Great research!

[2021-11-08 10:02] wasd171 commented on #2193
We encountered a similar issue but with Node.js: connection get closed on one side but it's not propagated via telepresence, subsequent reconnections work. PR https://github.com/telepresenceio/telepresence/pull/2202 seems to fix it!

[2021-11-08 12:55] Tarjei400 commented on #1682
Same here I have 2.4.6 and getting timeout to install traffic manage:
![image](https://user-images.githubusercontent.com/1921727/140745555-41153951-910a-4163-ac9d-08d5e7a3b922.png)
![image](https://user-images.githubusercontent.com/1921727/140745615-1d349978-5c98-4be0-a9ad-273c08d426ec.png)

[2021-11-08 14:40] Tarjei400 opened #2205 "K8s with windows node"
**Describe the bug**
When cluster has windows node's, traffic-manager might be allocated to windows node and then fails to get up.
Would be nice to have a way to add a node-selector for traffic-manager

[code]
[code]
Events:
  Type     Reason                  Age                    From     Message
  ----     ------                  ----                   ----     -------
  Normal   SandboxChanged

[2021-11-08 14:56] Tarjei400 commented on #2205
Just in case it can be resolved by adding taints most likely, but still I consider this as an undocumented bug.

Leaving it here if someone will find himself in similar problem:

[code]

[2021-11-08 16:23] mayaaravotwm opened #2206 "kuma support"
hello,
we have kong ingress as our ingress controller on our aws eks cluster, and kuma as our service mesh - we have kuma sidecar added to each pod in the namespace.

whenever we intercept a service (without preview url), we can access only the local service from outside and not the remotely.
is there a way that we can intercept the local service with some header (or something else) so we can stil

[2021-11-08 16:40] efunk commented on #2188
This has been fixed with Smart Agent 1.11.4

[2021-11-08 16:40] #2188 closed, assigned to donnyyung, josecv

[2021-11-09 00:36] guillaumed-unity opened #2207 "Telepresence fail to connect to traffic manager gRPC timed out"
Facing an issue trying to use telepresence on a GKE Cluster:
When  Running `telepresence --connect`
Telepresence fails to establish the gRPC connection with the Traffic Manager.

I can confirm that the traffic manager and ambassador namespace are correctly deployed in the cluster.

I looked around the docs but did not find anything related to that issue

The GKE cluster is only accessible by conne

[2021-11-09 18:08] SomaticIT commented on #1944
For you information, the issue was coming from a misconfiguration of the `podCIDRStrategy`.
We fixed the issue by installing the `traffic-manager` manually with the `podCIDRStrategy: coverPodIPs` value.
The issue is covered here: #2135.

[2021-11-09 20:30] #2193 closed, assigned to nobody

[2021-11-09 21:05] ipleten commented on #1930
It might be solved via https://github.com/telepresenceio/telepresence/issues/2135
I'd need to recheck it.

[2021-11-10 10:16] rkrzewski commented on #2193
Can I test this change using a nightly build? I was looking at the docs but it's not clear to me how to discover which nightly builds are published (what is the git hash), also https://www.telepresence.io/docs/latest/install/ mentions installing the client, but I have installed TrafficManager using Helm. All I was able to find is an open issue https://github.com/telepresenceio/telepresence.io/issu

[2021-11-10 10:19] TomerG2 opened #2208 "Failing to swap (macOs Big Sur 11.6, Tele 0.108)"
### What were you trying to do?

Tried swapping a pod.

### What did you expect to happen?

Swap successfully.

### What happened instead?

The telepresence fails to swap

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--context', 'dev', '--expose', '80', '--swap-deployment', 'backend']`
Version: `0.108`
Python version: `3.7.7 (default, Dec 27 2020, 16:49:3

[2021-11-10 14:17] TomerG2 commented on #2208
I noticed the issue occurs only when I'm connected to my home Wifi,
If I use my iPhone's hotspot the swap works.

Note:
I've doubled checked my home wifi has an internet connection with good speeds (250Mbs D/50Mbs U)

[2021-11-12 01:02] tmotley commented on #2165
+1

We are seeing this behavior too 😞

[2021-11-15 13:29] leoll2 commented on #1723
Any update on this? I observe sporadically failing sockets causing telepresence to stop working until it's fully restarted.

[2021-11-16 20:25] alan994 opened #2215 "Intercept sidecar calls"
**Describe the bug**
I'm trying to connect telepresence with my app service running in the k8s pod. In the same pod, I have a sidecar (Dapr) that is communicating with my app on `localhost`. When I run `telepresence intercept` and call Dapr from my service running locally communication works because I ran `kubectl port-forward dapr-service`. So my local machine is seeing Dapr at `localhost`. But,

[2021-11-16 22:55] jiezhang0917 commented on #2187
It turns out to be a misconfiguration of xdebug on my end. Sorry about that.

[2021-11-16 22:55] #2187 closed, assigned to nobody

[2021-11-17 08:10] BogdanAndreiRoman opened #2216 "Handle path redirect, path regex"
**Please describe your use case / problem.**
I'm using Ambassador Stack Edge Hello with the name of the branch as a context URL (example.com/feature1/web/, example.com/feature2/web/) and do path_redirect, this breaks traffic agent routing and Telepresence can't be used.

AES mapping example:
getambassador.io/config: |
              ---
              apiVersion: ambassador/v2
              kind: Ma

[2021-11-17 20:38] openJT commented on #2124
Only way I was able to run it was inside a container also... On a mac
https://www.getambassador.io/docs/telepresence/latest/reference/inside-container/
Thanks for the tip @KimDoubleB

[2021-11-17 22:04] advance512 commented on #1795
We are limited to using microk8s based on v1.13 and will not be able to update for a few months.
Because of this bug, we cannot use v2 of telepresence.
Any chance this will be fixed soon? seems like a small patch.

[2021-11-18 15:13] jagitch commented on #2207
I install socat on every k8s node solved this problem
`yum install -y socat`

[2021-11-19 13:21] Jay-Funk commented on #753
Unfortunately I did not find the arm64 installation for linux.

Following @ark3 instructions I was able to build the image myself.
The instructions only changed a little bit:
- Instead of `make version` I performed a `make build` followed by a `make install`
- This created the image in the _go_ folder. After adding a soft link to the _/usr/local/bin/_ directory it's working fine.

[2021-11-20 00:38] chongkai opened #2225 "Panic on slice bounds out of range"
**Describe the bug**
Telepresence intercept terminates unexpectedly, and this panic is seen in the daemon.log:

panic: runtime error: slice bounds out of range [:28275] with capacity 1520
goroutine 845 [running]:
github.com/telepresenceio/telepresence/v2/pkg/vif/udp.Header.Payload(...)
        github.com/telepresenceio/telepresence/v2/pkg/vif/udp/header.go:57
github.com/telepresenceio/telepresence

[2021-11-22 15:57] douglascamata opened #2228 "Problem intercepting Service created by a Helm chart and Argo Rollouts"
**Describe the bug**

Intercepting a workload that is created by a Helm chart and using Argo Rollouts doesn't easily discover the related Service.

**To Reproduce**
Steps to reproduce the behavior:

I have a Helm chart that creates a service named `nginx-gitlab-example-v2`.

1.  Ambassador's Developer Control Plane recommended that I used `telepresence intercept nginx-gitlab-example-v2-stable --na

[2021-11-23 09:48] levitomer opened #2234 "Issue running telepresence"
### What were you trying to do?

run `bin/tele tomerlevi-dev --swap-deployment tomerlevi-dev-web-api`

### What did you expect to happen?

running telepresence with `--swap-deployment tomerlevi-dev-web-api`

### What happened instead?

use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command line: `['/usr/local/bin/telepresence', '--namespac

[2021-11-23 13:07] alan994 commented on #1721
Any update on this? I think I have this issue too.

@andrei-dascalu @peteroneilljr @donnyyung @thallgren

[2021-11-23 22:00] zzbennett commented on #1607
In the meantime, if multiple ports are not supported, it would be great if telepresence could throw an error if multiple `--port` args are passed, instead of just taking the last one in the list

(also throwing on to the pile that lack of multiple port support is a blocker for as well as our services expose both http and grpc ports, both of which need to be intercepted)

[2021-11-23 22:38] donnyyung commented on #2062
In 2.4.7, `telepresence login` will get you a new token once your token is expired.  There is an issue with the refresh tokens that we still need to debug + find a fix for (so login frequency will decrease once we fix that), but this UX should be better than getting stuck in this weird semi-logged-in state

[2021-11-27 00:53] SomaticIT commented on #1607
👍  Would be awesome!

[2021-11-29 08:36] s1apped opened #2242 "Config.yaml configuration not applied"
**Describe the bug**
Intercept timeouts every time.

I have updated the config.yaml with below but it's not working. I have deleted everything and started from scratch but intercept still times out after default 2m

![image](https://user-images.githubusercontent.com/32245059/143833376-fc6469c5-c59e-46ae-8e56-1dacffd9f863.png)

**Versions (please complete the following information):**

Client: v2.4

[2021-11-29 08:53] thallgren commented on #2242
Could it be that you're using "config.yaml" instead of "config.yml" as the message suggests?

[2021-11-29 11:59] #2242 closed, assigned to nobody

[2021-11-29 13:48] richardscarrott commented on #1556
@brunobevilaqua did you ever find a solution to this?

[2021-11-29 13:54] brunobevilaqua commented on #1556
@richardscarrott I have, thanks Richard

[2021-11-29 13:54] #1556 closed

[2021-11-29 13:57] richardscarrott commented on #1556
Hi @brunobevilaqua, could you share your solution, did you try telepresence v2?...we're using v1 and I was hoping it'd be possible to get it running on an M1 chip but I get the exact same error as you have in your attached logs.

[2021-11-30 12:05] andrewnazarov commented on #2144
It seems that v2.4.7 doesn't have this problem. I'm looking forward to getting this working.

[2021-11-30 12:05] #2144 closed, assigned to nobody

[2021-11-30 12:19] andrewnazarov opened #2244 "[v2] Telepresence leave can't find an intercept after sleep mode"
For a successful intercept after the sleep mode `telepresence leave` returns `telepresence: error: Intercept named "my_service" not found` and I can't stop intercepting with this command.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `telepresence intercept notifications --port 8080`
2. I see that the interception is created:
[code]
3. I go to the sleep mode for a while
4. Then I run `

[2021-11-30 12:26] andrewnazarov commented on #2244
It seems the interception stopped working because my calls hit the real service that is deployed to a K8s cluster. However, `telepresence list` still shows that the interception is `ACTIVE` which is wrong.

Also, I can see the following message in a traffic-agent container:
[code]
This is more likely a time my laptop went into sleep mode.

[2021-11-30 12:44] andrewnazarov commented on #2244
Ok, it seems it caches some information or cannot update it.

Also, I noticed that after the situation that I just described I can't do any other intercepts - it gets stuck and the client failed with a timeout later on. And `telepresence list` keeps showing the old info that traffic-agent is not installed even though it is installed correctly according to traffic-agent logs.

I managed to fix the

[2021-11-30 14:14] andrewnazarov commented on #2244
I modified the initial message.

[2021-11-30 14:17] andrewnazarov commented on #2244
I can't reproduce the error anymore. Sleep mode or a network outage up to an hour lead to all Internet addresses being unreachable until I do `telepresence quit`. Probably it should be an additional issue for this behaviour.

[2021-11-30 14:26] andrewnazarov opened #2245 "[v2] A network outage or sleep mode during telepresence intercept makes all Internet addresses unreachable"
**Describe the bug**
Basically, if I disconnect from the network or get into sleep mode, all Internet network addresses will become unreachable until I do `telepresence quit`. As a side effect, the intercepting also stops working.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `telepresence intercept my_service --port my_port`
2. Go to the sleep mode or disconnect from the network
3. Ge

[2021-12-01 16:15] QuinnBast commented on #920
The uninstall command posted above just tries to install the traffic-manager again.

Launching Telepresence Root Daemon
Launching Telepresence User Daemon
...

[2021-12-01 18:37] bpfoster commented on #1646
This is an issue for us too.  Telepresence 2 solves problems we had with v1, but is a non-starter for some workloads because of this.  I find myself having to switch between v1 and v2 which is certainly not ideal.  Need some way to swap or disable the existing deployment entirely.

[2021-12-02 07:30] TsubasaEX opened #2247 "telepresence: error: connection error"
**Describe the bug**
I'm using 2.4.6 and 2.4.7 to try to connect to my kubernetes.
I use telepresence connect, the result shows the connection success
But after this, I use telepresecne status or any other commands, it keeps reporting errors.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Versions (please complete the following information):**
[co

[2021-12-02 16:54] douglascamata opened #2248 "Daemons shutdown when intercepting without previously connecting or starting the local process"
**Describe the bug**

Daemons are shutting down and the intercept isn't being created whenever I try to run the `intercept` command without having previously started the daemons or the local process (that should receive intercepted traffic).

if I previously start the daemons with `telepresence connect` I see the CONN errors, but the intercept gets created and the daemon does not quit.

**To Repro

[2021-12-02 18:24] JCzz opened #2249 "Have to use --kubeconfig ~/.kube/config with all commands"
I need to use `--kubeconfig ~/.kube/config` with all commands.

And in "telepresence connect"  if I dont use  "--kubeconfig ~/.kube/config" I get:
`telepresence: error: connector.Connect: initial cluster check failed: the server has asked for the client to provide credentials`

So I keep adding "--kubeconfig ~/.kube/config":
`telepresence connect --kubeconfig ~/.kube/config`
`telepresence list --k

[2021-12-02 19:49] josecv commented on #2249
@JCzz do you have a `$KUBECONFIG` environment variable set, and if so is it set to something different than `~/.kube/config`?

[2021-12-02 21:31] JCzz commented on #2249
@josecv

Yes, I do have multiple files in my $KUBECONFIG like:

echo $KUBECONFIG
`~/.kube/config:~/.kube/ubuntu_local:~/.kube/ubuntu_internet`

I have tried making `~/.kube/config` only containing my local KinD cluster - but same result.

[2021-12-02 21:53] josecv commented on #2249
oh interesting, I don't think we have any logic to handle cases with multiple kubeconfigs, so that's probably what's causing this

[2021-12-02 23:20] luminoso commented on #1721
I don't know if it makes sense, but for me its solved since 2.7.6 if I recall correctly

[2021-12-03 09:18] VitalyArt commented on #2208
@TomerG2 Hi, where did you download version 0.108 or older? I can't find. Please share

[2021-12-04 17:22] JCzz opened #2251 "v2.4.8 (api v3): rm failed with remove /var/run/telepresence-daemon.socket"
MacOs: 12.0.1

Telepresence version: v2.4.8 (api v3)

kubectl version --short
[code]

telepresence connect
[code]

Note: tried to restart terminal and force quit

This worked:
`sudo rm /var/run/telepresence-daemon.socket`

[2021-12-05 17:48] JCzz opened #2252 "Deployment already being used for intercept with a different service - Knative"
Env:
telepresence version
[code]

kubectl version --short
[code]

# Trying to intercept Knative service

curl http://helloworld-go.default.127.0.0.1.sslip.io
Hello Hello Knative Serving is up and running with Kourier!!!

[code]

telepresence list
[code]

intercept
[code]

Tried:
[code]
Ok  checked, as it says it is already in use  running, so I try to run the following on my local machine in the s

[2021-12-07 13:06] eridiumdev opened #2255 "Service-less deployments in Telepresence2"
**Please describe your use case / problem.**
With Telepresence1, one could swap a deployment, e.g.
[code]
And it would work, even if deployment is not backed by any Service.

In Telepresence2, this results in following error:
[code]

**Describe the solution you'd like**
I understand, this is not the most common use case, in my example, app inside a pod is subscribed to a RabbitMQ queue, and `swap-

[2021-12-07 14:28] thallgren commented on #2248
The expected behavior is that the daemons return the state they had before you do a `telepresence intercept`. If they weren't started, they will quit when the intercept ends. If they were running (as the result of a `telepresence connect`), the will continue running and will exit when you do a `telepresence quit`.

The connection error seems to indicate that you start an intercept on port 9090 but

[2021-12-07 14:33] thallgren commented on #2247
@TsubasaEX it would be very helpful if you could run `telepresence loglevel debug`, reproduce the error, and then provide a new zip with the resulting logs.

[2021-12-08 05:51] TsubasaEX commented on #2247
Have tried to use telepresence 2.4.8 too. Still same problem happened.

[2021-12-08 09:01] andrewnazarov commented on #2255
We have the same use case with many microservices using rabbitMQ and we would like to have a possibility (a flag maybe) to scale down/remove the remote pod.

[2021-12-08 09:54] thallgren commented on #2248
@douglascamata I obviously misread this bug-report. Please convey the exact message that you get when you do a `telepresence intercept` without a preceeding `telepresence connect`.

I think the interesting part of the `connector.log` will be found before the line:
[code]
There should be something there to indicate why the intercept failed.

The `daemon.log` might be useful too, to see what's going

[2021-12-08 11:15] douglascamata commented on #2248
@thallgren after an upgrade of the **Traffic Manager** to **1.11.6**, the logs have changed. So I went through both scenarios again (with pre-started daemons and without). Here are the requested details:

## No daemons started

The output of my intercept creation:

[code]

In `connector.log` file I have:

[code]

And in the `daemon.log`:

[code]

At the end, the daemons aren't running (confirmed w

[2021-12-08 11:21] thallgren commented on #2248
Ok, so it's probably the intercept timeout of 5 seconds that is far too short given that the smart-agent actually spend that time trying to figure out if the client supports http2 (when no client is started yet). That's a bug for sure.

@douglascamata can you try increasing the "timeouts.intercept" in "/Users/douglascamata/Library/Application Support/telepresence/config.yml to at least 10 seconds

[2021-12-08 11:23] douglascamata commented on #2248
@thallgren I'll try this. Not very confident it will work out though because I see the timeout error below in both scenarios.
[code]

[2021-12-08 11:32] douglascamata commented on #2248
Wow, increasing the timeout to 15s solved the issue. 🎉

[2021-12-09 02:01] michaelfortunato opened #2258 "Unable to intercept a service on Ubuntu 20.04"
I cannot get telepresence intercept to work. Every time I try to hit api-gateway.art-flex-apps, the request timeouts.

Here is the command I issued
[code]
## Logs
Here are my logs: [telepresence_logs.zip](https://github.com/telepresenceio/telepresence/files/7681617/telepresence_logs.zip)

### Log snippet
Here is the log snippet for the traffic agent running on the api-gateway pod

[code]

## Servi

[2021-12-09 02:45] TsubasaEX commented on #2247
The problem seems to happen on ubuntu.

And it's weird that telepresence status shows differently after we tried to use telepresence connect from time to time. Attached the telepresence statuses here for reference. But none of the statuses here works even the one with correct proxy information, we still can't get access to remote services.

[2021-12-09 02:53] TsubasaEX commented on #2251
I am encountering the same problem here on ubuntu with telepresence v2.4.8.
And after getting the error, I can't get access to remote services on kubernetes.
Removing the socket and reconnection doesn't work here.
Do we have any solution for this?

[2021-12-09 03:31] TsubasaEX commented on #1182
Encountering the same problem on ubuntu 18.04 with telepresence v2.4.5, v2.4.8 and v2.4.9 nightly version.
But not k3s with k8s.
Completely can't get access to internet network. There're many FALLBACK logs and daemon/server-dns/legacy/Server : read udp 127.0.0.1:48556->127.0.0.53:53: i/o timeout.

[code]
Resolv.conf
[code]
[code]

[2021-12-09 17:42] 0x2C6 opened #2261 "Connection hands after inspect"
**Describe the bug**
On the M1 MacBook pro sometimes when connecting to telepresence it blocks all the network activity. You can even cant curl to inner services or use browsers connections as well. when it happens, telepresence-related commands also hang (ex: telepresence list). But it's definitely there is no issue with internet connectivity. Have the same problem with one of my coworkers as wel

[2021-12-09 19:06] andrewnazarov commented on #2255
This is also related to https://github.com/telepresenceio/telepresence/issues/1646

[2021-12-11 17:21] raphaelauv opened #2262 "Compatibility with KIND ( kind.sigs.k8s.io )"
**Please describe your use case / problem.**

is telepresence compatible with local kubernetes : KIND ?

https://github.com/kubernetes-sigs/kind/issues/2571

**Describe the solution you'd like**

I would like to acces a service inside KIND

**Versions (please complete the following information)**

Client: v2.4.9 (api v3)
Root Daemon: v2.4.9 (api v3)
User Daemon: v2.4.9 (api v3)

Thank you

[2021-12-13 15:19] ChardyT opened #2263 "connecting to my telepresence dev deployment failed"
### What were you trying to do?
i was trying to connect t o my dev environment
(please tell us)

### What did you expect to happen?
i was expecting to start my project
(please tell us)

### What happened instead?

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence.log)

### Automatically included information

Command li

[2021-12-14 02:41] beyonderyue opened #2264 "Can't connect to mysql in k8s cluster"
**Describe the bug**
telepresence: 2.4.9
k8s: 1.21.0
mysql in k8s: 5.7.32

After telepresence connect, I try to connect mysql locally with navicat, but I can't connect it

**To Reproduce**
Steps to reproduce the behavior:
1 Deploy mysql in k8s, and mysql works well
2 telepresence connect to k8s
3 Try to connect to mysql using navicat locally
4 Always timeout

**Expected behavior**
connect to mysql

[2021-12-14 13:12] imitbn commented on #1793
There is such feature:
`telepresence intercept [service] -- [COMMAND]`

[2021-12-14 13:12] #1793 closed, assigned to nobody

[2021-12-14 16:19] vadasambar commented on #1182
I am facing the same issue as @DanyHenriquez outlined here https://github.com/telepresenceio/telepresence/issues/1182#issuecomment-891269188

## Problem
- Internet connection becomes super slow to non-existent when I run telepresence

## Steps to reproduce
- Spin up a GKE cluster (no auto-pilot). Command I used to spin up the GKE cluster
[code]
- Install [keptn](https://github.com/keptn/keptn) ([i

[2021-12-16 10:24] MichZem opened #2267 "crash during telepresence swap command"
### What were you trying to do?

telepresence --swap-deployment csp-onboarding --namespace ara-csp-mzamir --expose 8210:8210 --run-shell --method inject-tcp

### What did you expect to happen?

to debug from IDEA (intelliJ)

### What happened instead?

It crashed  ....

(please tell us - the traceback is automatically included, see below.
use https://gist.github.com to pass along full telepresence

[2021-12-16 10:31] MichZem commented on #1501
me neither ... My OS is **MacOS BigSure 11.6.2**
Does anyone have a working workaround ?